USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_FillMissingPatchCounts]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_FillMissingPatchCounts] AS
BEGIN
	
	IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_MissingPatchCounts]') AND type in (N'U'))
	BEGIN
		print 'need to add procedure to create table'
	END

    -- Truncate the table to remove any existing data
    TRUNCATE TABLE [SUSDB_Reports].[dbo].[tb_MissingPatchCounts];

    -- Insert the new data
    WITH CTE_Updates AS (
        SELECT
            [MsrcSeverity] AS Stat,
            COUNT(*) AS Value
        FROM [SUSDB_Reports].[dbo].[vw_UpdatesNeededByComputer]
        GROUP BY [MsrcSeverity]
        
        UNION ALL
        
        SELECT
            'ComputersNeedingUpdates' AS Stat,
            COUNT(DISTINCT [ComputerID]) AS Value
        FROM [SUSDB_Reports].[dbo].[vw_UpdatesNeededByComputer]

		UNION ALL
        
        SELECT
            'TotalComputers' AS Stat,
            COUNT(DISTINCT [ComputerID]) AS Value
        FROM [SUSDB].[dbo].[tbComputerTarget]

    )
    INSERT INTO [SUSDB_Reports].dbo.tb_MissingPatchCounts (Stat, Value)
    SELECT Stat, Value FROM CTE_Updates;
	IF @@ROWCOUNT > 0
	BEGIN
        EXEC [dbo].[sp_UpdateLastUpdatedTable] @Item = N'tb_MissingPatchCounts';
			EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = N'@@ROWCOUNT inserted during sp_FillMissingPatchCounts', @Source = N'tb_MissingPatchCounts';
	END
	ELSE
	BEGIN
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = N'error adding records', @Source = N'tb_MissingPatchCounts';
	END
END
GO
