USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTable_DailySummariesPerUpdateTable]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[sp_CreateTable_DailySummariesPerUpdateTable]
AS
BEGIN
    -- Check if the table exists
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME = 'tb_DailySummariesPerUpdate')
    BEGIN
        -- Create the table if it does not exist
		CREATE TABLE [dbo].[tb_DailySummariesPerUpdate](
			[Date] [datetime] NOT NULL,
			[UpdateId] [uniqueidentifier] NOT NULL,
			[RevisionNumber] [int] NOT NULL,
			[DefaultTitle] [nvarchar](200) NOT NULL,
			[DefaultDescription] [nvarchar](1500) NULL,
			[ClassificationId] [uniqueidentifier] NOT NULL,
			[ArrivalDate] [datetime] NOT NULL,
			[CreationDate] [datetime] NOT NULL,
			[IsDeclined] [bit] NOT NULL,
			[IsWsusInfrastructureUpdate] [bit] NOT NULL,
			[MsrcSeverity] [nvarchar](20) NOT NULL,
			[PublicationState] [nvarchar](9) NULL,
			[UpdateType] [nvarchar](256) NOT NULL,
			[UpdateSource] [nvarchar](15) NOT NULL,
			[KnowledgebaseArticle] [nvarchar](15) NULL,
			[SecurityBulletin] [nvarchar](15) NULL,
			[InstallationCanRequestUserInput] [bit] NOT NULL,
			[InstallationRequiresNetworkConnectivity] [bit] NOT NULL,
			[InstallationImpact] [nvarchar](25) NOT NULL,
			[InstallationRebootBehavior] [nvarchar](20) NOT NULL,
			[Classification] [nvarchar](200) NULL,
			[NoStatus] [int] NOT NULL,
			[NotApp] [int] NOT NULL,
			[Needed] [int] NOT NULL,
			[Installed] [int] NOT NULL,
			[Failed] [int] NOT NULL
		) ON [PRIMARY]
    END
END
GO
