USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTable_LastUpdatedTable]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateTable_LastUpdatedTable]
AS
BEGIN

    -- Check if the table exists
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME = 'tb_LastUpdated')
    BEGIN
        -- Create the table if it does not exist
		CREATE TABLE [SUSDB_Reports].[dbo].[tb_LastUpdated](
			[Item] [nvarchar](100) NULL,
			[Date] [datetime] NOT NULL
		) ON [PRIMARY]
		END
END
GO
