USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTable_UpdatesNeededByComputerHistory]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateTable_UpdatesNeededByComputerHistory]
AS
BEGIN
    -- Check if the table exists
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME = 'tb_UpdatesNeededByComputerHistory')
    BEGIN
        -- Create the table if it does not exist
		CREATE TABLE [dbo].[tb_UpdatesNeededByComputerHistory](
			[DATE] [datetime] NOT NULL,
			[UpdateID] [uniqueidentifier] NOT NULL,
			[UpdateTitle] [nvarchar](200) NULL,
			[ComputerName] [nvarchar](255) NULL,
			[ComputerID] [nvarchar](256) NOT NULL,
			[SummarizationState] [nvarchar](50) NULL,
			[DefaultTitle] [nvarchar](200) NULL,
			[DefaultDescription] [nvarchar](1500) NULL,
			[IsDeclined] [bit] NULL,
			[MsrcSeverity] [nvarchar](20) NULL,
			[UpdateType] [nvarchar](256) NULL,
			[SecurityBulletin] [nvarchar](15) NULL,
			[InstallationCanRequestUserInput] [bit] NULL,
			[InstallationRequiresNetworkConnectivity] [bit] NULL,
			[InstallationImpact] [nvarchar](25) NULL,
			[InstallationRebootBehavior] [nvarchar](20) NULL,
			[ComputerTargetGroupId] [uniqueidentifier] NULL,
			[UpdateApprovalId] [uniqueidentifier] NULL,
			[Action] [nvarchar](11) NOT NULL,
			[KB] [nvarchar](200) NULL,
			[TargetGroupName] [nvarchar](256) NULL,
			[ComputerDomain] [nvarchar](255) NULL
		) ON [PRIMARY]
    END
END
GO
