USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateSystemIssuesReport]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateSystemIssuesReport]
AS
BEGIN
    -- Clear the table
    TRUNCATE TABLE dbo.tb_Systems_Issues_Reporting;

    -- Insert data into the table from the view with conditions
    INSERT INTO dbo.tb_Systems_Issues_Reporting (
        ComputerId, FullDomainName, IPAddress, TargetGroupName, Total, NoStatus, NotApp, Needed, Failed, Installed, EffectiveLastDetectionTime, LastReportedStatusTime, LastSyncTime, LastSyncResult, IsRegistered, OSMajorVersion, OSMinorVersion, OSBuildNumber, OSServicePackMajorNumber, OSServicePackMinorNumber, OSLocale, ComputerMake, ComputerModel, BiosVersion, BiosName, BiosReleaseDate, ProcessorArchitecture, LastReceivedStatusRollupNumber, LastSentStatusRollupNumber, SamplingValue, CreatedTime, SuiteMask, OldProductType, NewProductType, SystemMetrics, ClientVersion, TargetGroupMembershipChanged, OSDescription, OEM, DeviceType, FirmwareVersion, InsertionDateTime
    )
    SELECT
        ComputerId, FullDomainName, IPAddress, TargetGroupName, Total, NoStatus, NotApp, Needed, Failed, Installed, EffectiveLastDetectionTime, LastReportedStatusTime, LastSyncTime, LastSyncResult, IsRegistered, OSMajorVersion, OSMinorVersion, OSBuildNumber, OSServicePackMajorNumber, OSServicePackMinorNumber, OSLocale, ComputerMake, ComputerModel, BiosVersion, BiosName, BiosReleaseDate, ProcessorArchitecture, LastReceivedStatusRollupNumber, LastSentStatusRollupNumber, SamplingValue, CreatedTime, SuiteMask, OldProductType, NewProductType, SystemMetrics, ClientVersion, TargetGroupMembershipChanged, OSDescription, OEM, DeviceType, FirmwareVersion, GETDATE()
    FROM
        SUSDB_Reports.dbo.vw_SummaryStatus_Computer
    WHERE
        EffectiveLastDetectionTime <= DATEADD(day, -10, GETDATE()) OR
        LastReportedStatusTime <= DATEADD(day, -10, GETDATE()) OR
        LastSyncTime <= DATEADD(day, -10, GETDATE());
END;
GO
