USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateDailyStats]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateDailyStats]
AS
BEGIN

	DECLARE @RowsAffected INT;
    DECLARE @Message NVARCHAR(500);

	-- Run stored procedure to create table if not present
	EXEC [dbo].[sp_CreateTable_DailySummariesPerComputerTable];
	EXEC [dbo].[sp_CreateTable_DailySummariesPerUpdateTable];
	EXEC [dbo].[sp_CreateTable_DailySummariesPerDownstreamServer];
	EXEC [dbo].[sp_CreateTable_UpdatesNeededByComputerHistory];
	EXEC [dbo].[sp_UpdateDownstreamServerFriendlyNameList];
	EXEC [dbo].[sp_CreateTable_UpdateSummaryByDomain];

	-- Insert computer stats into computer summaries table
	INSERT INTO [dbo].[tb_DailySummariesPerComputer]
	SELECT GetDate() AS DATE, *
	FROM [dbo].[vw_SummaryStatus_Computer];
	IF @@ROWCOUNT > 0
	BEGIN
        EXEC [dbo].[sp_UpdateLastUpdatedTable] @Item = N'tb_DailySummariesPerComputer';
		SET @Message = CAST(@@ROWCOUNT AS NVARCHAR(10)) + ' rows inserted during sp_CreateDailyStats';
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = @Message, @Source = N'tb_DailySummariesPerComputer';
	END
	ELSE
	BEGIN
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = N'error adding records', @Source = N'tb_DailySummariesPerComputer';
	END


	-- Insert computer stats into update summaries table
	INSERT INTO [dbo].[tb_DailySummariesPerUpdate]
	SELECT GetDate() AS DATE, *
	FROM [dbo].[vw_SummaryStatus_Update];
	IF @@ROWCOUNT > 0
	BEGIN
        EXEC [dbo].[sp_UpdateLastUpdatedTable] @Item = N'tb_DailySummariesPerUpdate';
		SET @Message = CAST(@@ROWCOUNT AS NVARCHAR(10)) + ' rows inserted during sp_CreateDailyStats';
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = @Message, @Source = N'tb_DailySummariesPerUpdate';
		END
	ELSE
	BEGIN
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = N'error adding records', @Source = N'tb_DailySummariesPerUpdate';
	END

	-- Insert downstream server stats into update summaries table
	INSERT INTO [dbo].[tb_DailySummariesPerDownstreamServer]
	SELECT GetDate() AS DATE, *
	FROM [dbo].[vw_DownstreamServers];
	IF @@ROWCOUNT > 0
    BEGIN
	    EXEC [dbo].[sp_UpdateLastUpdatedTable] @Item = N'tb_DailySummariesPerDownstreamServer';
		SET @Message = CAST(@@ROWCOUNT AS NVARCHAR(10)) + ' rows inserted during sp_CreateDailyStats';
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = @Message, @Source = N'tb_DailySummariesPerDownstreamServer';
		END
	ELSE
	BEGIN
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = N'error adding records', @Source = N'tb_DailySummariesPerDownstreamServer';
	END

	-- Insert Update Details into update history table
	INSERT INTO [dbo].[tb_UpdatesNeededByComputerHistory]
	SELECT GetDate() AS DATE, *
	FROM [dbo].[vw_UpdatesNeededByComputer];
	IF @@ROWCOUNT > 0
    BEGIN
	    EXEC [dbo].[sp_UpdateLastUpdatedTable] @Item = N'tb_UpdatesNeededByComputerHistory'
		SET @Message = CAST(@@ROWCOUNT AS NVARCHAR(10)) + ' rows inserted during sp_CreateDailyStats';
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = @Message, @Source = N'tb_UpdatesNeededByComputerHistory';
		END
	ELSE
	BEGIN
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = N'error adding records', @Source = N'tb_UpdatesNeededByComputerHistory';
	END

	-- Insert Domain Details into update history table
	TRUNCATE TABLE [dbo].[tb_UpdateSummaryByDomain]
	INSERT INTO [dbo].[tb_UpdateSummaryByDomain] ([Domain],[Systems],[Critical],[Important],[Moderate],[Low],[Unspecified])
	SELECT [Domain],[Systems],[Critical],[Important],[Moderate],[Low],[Unspecified]
	FROM [dbo].[vw_UpdateSummaryByDomain];
	IF @@ROWCOUNT > 0
    BEGIN
	    EXEC [dbo].[sp_UpdateLastUpdatedTable] @Item = N'tb_UpdateSummaryByDomain'
		SET @Message = CAST(@@ROWCOUNT AS NVARCHAR(10)) + ' rows inserted during sp_CreateDailyStats';
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = @Message, @Source = N'tb_UpdateSummaryByDomain';
		END
	ELSE
	BEGIN
		EXEC [SUSDB_Reports].[dbo].[sp_InsertMessage] @Message = N'error adding records', @Source = N'tb_UpdateSummaryByDomain';
	END

END
GO
