USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTable_DailySummariesPerDownstreamServer]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_CreateTable_DailySummariesPerDownstreamServer]
AS
BEGIN
    -- Check if the table exists
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME = 'tb_DailySummariesPerDownstreamServer')
    BEGIN
        -- Create the table if it does not exist
		CREATE TABLE [dbo].[tb_DailySummariesPerDownstreamServer](
			[Date] [datetime] NOT NULL,
			[TargetID] [int] NULL,
			[AccountName] [nvarchar](255) NOT NULL,
			[AccountServerID] [uniqueidentifier] NULL,
			[LastSyncTime] [datetime] NULL,
			[RollupLastSyncTime] [datetime] NULL,
			[LastRollupTime] [datetime] NULL,
			[Version] [nvarchar](32) NULL,
			[IsReplica] [bit] NOT NULL,
			[UpdateCount] [int] NULL,
			[DeclinedUpdateCount] [int] NULL,
			[ApprovedUpdateCount] [int] NULL,
			[NotApprovedUpdateCount] [int] NULL,
			[UpdatesWithStaleUpdateApprovalsCount] [int] NULL,
			[ExpiredUpdateCount] [int] NULL,
			[CriticalUpdatesNotApprovedForInstallCount] [int] NULL,
			[WsusUpdatesNotApprovedForInstallCount] [int] NULL,
			[UpdatesWithClientErrorsCount] [int] NULL,
			[UpdatesWithServerErrorsCount] [int] NULL,
			[UpdatesNeedingFilesCount] [int] NULL,
			[UpdatesNeededByComputersCount] [int] NULL,
			[UpdatesUpToDateCount] [int] NULL,
			[CustomComputerTargetGroupCount] [int] NULL,
			[ComputerTargetCount] [int] NULL,
			[ComputerTargetsNeedingUpdatesCount] [int] NULL,
			[ComputerTargetsWithUpdateErrorsCount] [int] NULL,
			[ComputersUpToDateCount] [int] NULL
		) ON [PRIMARY]
    END
END
GO
