USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[spGetUpdatesRequiredByUpdate]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROCEDURE [dbo].[spGetUpdatesRequiredByUpdate]
    @updateID uniqueidentifier,
    @revisionNumber   int,
    @preferredCulture nvarchar(16)=N'en',
    @apiVersion int = 0x00020000
AS
    SET NOCOUNT ON
    DECLARE @localRevisionID int
    DECLARE @resultUpdatesTable TABLE (RevisionID int)
    SELECT @localRevisionID=R.RevisionID 
    FROM [SUSDB].dbo.tbRevision AS R
    INNER JOIN [SUSDB].dbo.tbUpdate AS U ON R.LocalUpdateID=U.LocalUpdateID
    WHERE R.RevisionNumber=@revisionNumber AND U.UpdateID=@updateID
    IF @localRevisionID IS NULL
    BEGIN
        RAISERROR('The specified update could not be found.', 16, 40)
        RETURN(1)
    END
    INSERT INTO @resultUpdatesTable
    SELECT DISTINCT M.RevisionID
    FROM [SUSDB].dbo.vwMinimalUpdate AS M
    INNER JOIN [SUSDB].dbo.tbInstalledUpdateSufficientForPrerequisite AS N ON N.LocalUpdateID=M.LocalUpdateID  
    INNER JOIN [SUSDB].dbo.tbPrerequisite AS P ON P.PrerequisiteID=N.PrerequisiteID  
    WHERE M.IsLatestRevision=1
          AND P.RevisionID=@localRevisionID
    
 SELECT 
    CASE 
        WHEN ISNUMERIC(vU.KnowledgebaseArticle) = 1 THEN 'KB' + vU.KnowledgebaseArticle
        ELSE vU.KnowledgebaseArticle 
    END AS [KB],
	vU.[DefaultTitle] AS [Title],
	vU.UpdateId
 FROM 
 @resultUpdatesTable AS U 
    JOIN [SUSDB].dbo.vwMinimalUpdate AS M ON M.RevisionID = U.RevisionID 
	LEFT JOIN [SUSDB].[PUBLIC_VIEWS].[vUpdate] AS vU ON vU.[UpdateId] = M.UpdateID and vU.[RevisionNumber] = M.RevisionNumber
ORDER BY 
    M.CreationDate DESC;
GO
