USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMessage]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertMessage]
    @Message nvarchar(500),
    @Source nvarchar(100)
AS
BEGIN
	EXEC [dbo].[sp_CreateTable_MessagesTable];

    INSERT INTO [dbo].[tb_Messages] ([date], [message], [source])
    VALUES (GETDATE(), @Message, @Source)
END
GO
