USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDownstreamServerFriendlyNameList]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateDownstreamServerFriendlyNameList]
AS
BEGIN

	-- Create table if not present
	EXEC [dbo].[sp_CreateTable_UpdatesNeededByComputerHistory];

	-- Insert Records if not already in the list
	INSERT INTO [dbo].[tb_DownstreamFriendlyName] ([AccountServerID], [AccountName], [FriendlyName])
	SELECT [AccountServerID], [AccountName], [AccountName] AS [FriendlyName]
	FROM [SUSDB_Reports].[dbo].[vw_DownstreamServers] AS DS
	WHERE NOT EXISTS (
		SELECT 1
		FROM [dbo].[tb_DownstreamFriendlyName] AS DFN
		WHERE DFN.[AccountServerID] = DS.[AccountServerID]
	)
	 
END
GO
