USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateLastUpdatedTable]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateLastUpdatedTable]
    @Item nvarchar(100)
AS
BEGIN

	EXEC [SUSDB_Reports].[dbo].[sp_CreateTable_LastUpdatedTable];
    
	-- Enable transaction
    BEGIN TRANSACTION;

    MERGE INTO [SUSDB_Reports].[dbo].[tb_LastUpdated] AS target
    USING (SELECT @Item AS Item) AS source
    ON target.Item = source.Item
    WHEN MATCHED THEN
        -- If the item exists, update the Date
        UPDATE SET [Date] = GETDATE()
    WHEN NOT MATCHED THEN
        -- If the item does not exist, insert a new record
        INSERT ([Item], [Date])
        VALUES (source.Item, GETDATE());

    -- Commit transaction
    COMMIT TRANSACTION;
END
GO
