USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTable_DailySummariesPerComputerTable]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_CreateTable_DailySummariesPerComputerTable]
AS
BEGIN
    -- Check if the table exists
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME = 'tb_DailySummariesPerComputer')
    BEGIN
        -- Create the table if it does not exist
        CREATE TABLE [dbo].[tb_DailySummariesPerComputer](
            [Date] [datetime] NOT NULL,
            [ComputerId] [nvarchar](256) NOT NULL,
            [FullDomainName] [nvarchar](255) NULL,
            [IPAddress] [nvarchar](56) NULL,
            [TargetGroupName] [nvarchar](256) NOT NULL,
            [Total] [int] NULL,
            [NoStatus] [int] NULL,
            [NotApp] [int] NULL,
            [Needed] [int] NULL,
            [Failed] [int] NULL,
            [Installed] [int] NULL,
            [EffectiveLastDetectionTime] [datetime] NULL,
            [LastReportedStatusTime] [datetime] NULL,
            [LastSyncTime] [datetime] NULL,
            [LastSyncResult] [int] NOT NULL,
            [IsRegistered] [bit] NOT NULL,
            [OSMajorVersion] [int] NULL,
            [OSMinorVersion] [int] NULL,
            [OSBuildNumber] [int] NULL,
            [OSServicePackMajorNumber] [int] NULL,
            [OSServicePackMinorNumber] [int] NULL,
            [OSLocale] [nvarchar](10) NULL,
            [ComputerMake] [nvarchar](64) NULL,
            [ComputerModel] [nvarchar](64) NULL,
            [BiosVersion] [nvarchar](64) NULL,
            [BiosName] [nvarchar](64) NULL,
            [BiosReleaseDate] [datetime] NULL,
            [ProcessorArchitecture] [nvarchar](50) NULL,
            [LastReceivedStatusRollupNumber] [int] NOT NULL,
            [LastSentStatusRollupNumber] [int] NOT NULL,
            [SamplingValue] [int] NOT NULL,
            [CreatedTime] [datetime] NOT NULL,
            [SuiteMask] [smallint] NOT NULL,
            [OldProductType] [tinyint] NOT NULL,
            [NewProductType] [int] NOT NULL,
            [SystemMetrics] [int] NOT NULL,
            [ClientVersion] [nvarchar](23) NULL,
            [TargetGroupMembershipChanged] [bit] NOT NULL,
            [OSDescription] [nvarchar](256) NULL,
            [OEM] [nvarchar](64) NULL,
            [DeviceType] [nvarchar](64) NULL,
            [FirmwareVersion] [nvarchar](64) NULL
        ) ON [PRIMARY]
    END
END
GO
