USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTable_MessagesTable]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateTable_MessagesTable]
AS
BEGIN
    -- Check if the table exists
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME = 'tb_Messages')
    BEGIN
        -- Create the table if it does not exist
		CREATE TABLE [dbo].[tb_Messages](
			[date] [datetime2] NULL,
			[message] [nvarchar](500) NULL,
			[source] [nvarchar](50) NULL
		) ON [PRIMARY]
		END
END
GO
