USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTable_UpdateSummaryByDomain]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateTable_UpdateSummaryByDomain]
AS
BEGIN
    -- Check if the table exists
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME = 'tb_UpdateSummaryByDomain')
    BEGIN
        -- Create the table if it does not exist
		CREATE TABLE [dbo].[tb_UpdateSummaryByDomain](
			[Domain] [nvarchar](255) NULL,
			[Systems] [int] NULL,
			[Critical] [int] NULL,
			[Important] [int] NULL,
			[Moderate] [int] NULL,
			[Low] [int] NULL,
			[Unspecified] [int] NULL
		) ON [PRIMARY]
    END
END
GO
