USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[spGetUpdatesThatSupersedeUpdate]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 CREATE PROCEDURE [dbo].[spGetUpdatesThatSupersedeUpdate]
    @updateID uniqueidentifier,
    @revisionNumber int,
    @preferredCulture nvarchar(16)=N'en',
    @apiVersion int = 0x00020000
AS
    SET NOCOUNT ON
    DECLARE @resultUpdatesTable TABLE (RevisionID int)
    INSERT INTO @resultUpdatesTable
    SELECT DISTINCT M.RevisionID
    FROM [SUSDB].dbo.vwMinimalUpdate AS M
    INNER JOIN [SUSDB].dbo.tbRevisionSupersedesUpdate AS S ON M.RevisionID=S.RevisionID
    WHERE M.IsLatestRevision=1  
          AND S.SupersededUpdateID=@updateID
    
 SELECT 
    CASE 
        WHEN ISNUMERIC(vU.KnowledgebaseArticle) = 1 THEN 'KB' + vU.KnowledgebaseArticle
        ELSE vU.KnowledgebaseArticle 
    END AS [KB],
	vU.[DefaultTitle] AS [Title],
	vU.UpdateId
 FROM 
 @resultUpdatesTable AS U 
    JOIN [SUSDB].dbo.vwMinimalUpdate AS M ON M.RevisionID = U.RevisionID 
	LEFT JOIN [SUSDB].[PUBLIC_VIEWS].[vUpdate] AS vU ON vU.[UpdateId] = M.UpdateID and vU.[RevisionNumber] = M.RevisionNumber
ORDER BY 
    M.CreationDate DESC;

 




 
GO
