USE [SUSDB_Reports]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTable_DownstreamFriendlyName]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_CreateTable_DownstreamFriendlyName]
AS
BEGIN
    -- Check if the table exists
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND TABLE_NAME = 'tbDownstreamFriendlyName')
    BEGIN
        -- Create the table if it does not exist
		CREATE TABLE [dbo].[tbDownstreamFriendlyName](
			[AccountServerID] [uniqueidentifier] NOT NULL,
			[AccountName] [nvarchar](255) NOT NULL,
			[Site] [nvarchar](50) NULL,
			[FriendlyName] [nvarchar](255) NULL,
			[IsCloud] [bit] NULL,
		 CONSTRAINT [PK_tbDownstreamFriendlyName] PRIMARY KEY CLUSTERED 
		(
			[AccountServerID] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
		) ON [PRIMARY]
    END
END
GO
