USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_DiagSkippedDomains]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_DiagSkippedDomains]
AS
SELECT
    ci.CollectionID,
    ci.InventoryID,
    ci.DomainName,
    ci.CollectionDateTime,
    ci.ComputerName AS CollectedFrom,
    ci.StartTime,
    ci.EndTime,
    DATEDIFF(SECOND, ci.StartTime, ci.EndTime) AS DurationSeconds,
    -- Check if there were any objects collected for this domain
    (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = ci.CollectionID) AS ObjectCount,
    (SELECT COUNT(*) FROM ADData.AD_Log l WHERE l.CollectionID = ci.CollectionID AND l.Level = 'Warning') AS WarningCount,
    'Domain was skipped during collection - check AD_Log for details' AS Notes
FROM ADData.CollectionInfo ci
WHERE NOT EXISTS (
    SELECT 1 FROM ADData.AD_Domain d
    WHERE d.CollectionID = ci.CollectionID
);
GO
