USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_EnterpriseCA]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_EnterpriseCA](
	[ForestName] [nvarchar](255) NOT NULL,
	[CAName] [nvarchar](255) NOT NULL,
	[DNSHostName] [nvarchar](255) NULL,
	[CAType] [nvarchar](100) NULL,
	[CACertificate] [nvarchar](max) NULL,
	[CACertificateDN] [nvarchar](1024) NULL,
	[CertificateTemplates] [nvarchar](max) NULL,
	[Flags] [int] NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADData_EnterpriseCA] PRIMARY KEY CLUSTERED 
(
	[ForestName] ASC,
	[CAName] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_EnterpriseCA_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_EnterpriseCA_CollectionID] ON [ADData].[AD_EnterpriseCA]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_EnterpriseCA_ForestName]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_EnterpriseCA_ForestName] ON [ADData].[AD_EnterpriseCA]
(
	[ForestName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_EnterpriseCA]  WITH CHECK ADD  CONSTRAINT [FK_ADData_EnterpriseCA_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_EnterpriseCA] CHECK CONSTRAINT [FK_ADData_EnterpriseCA_Collection]
GO
