USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_GroupMember_Flat]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_AD_GroupMember_Flat]
AS
SELECT
    gf.GroupSID,
    gf.MemberSID,
    gf.MemberType,
    CASE gf.MemberType
        WHEN 1 THEN 'User'
        WHEN 2 THEN 'Group'
        WHEN 3 THEN 'Computer'
        ELSE 'Unknown'
    END AS MemberTypeName,
    gf.NestingLevel,
    gf.PathToMember,
    ADData.fn_ConvertSIDPathToNames(gf.PathToMember, gf.CollectionID) + ' -> ' + m.SamAccountName AS PathToMemberNames,
    gf.ComputedDate,
    g.SamAccountName AS GroupName,
    g.DisplayName AS GroupDisplayName,
    m.SamAccountName AS MemberName,
    m.DisplayName AS MemberDisplayName,
    gf.CollectionID,
    c.InventoryID
FROM ADData.AD_GroupMember_Flat gf
INNER JOIN ADData.CollectionInfo c ON gf.CollectionID = c.CollectionID
LEFT JOIN ADData.AD_Object g ON gf.GroupSID = g.SID_String AND gf.CollectionID = g.CollectionID
LEFT JOIN ADData.AD_Object m ON gf.MemberSID = m.SID_String AND gf.CollectionID = m.CollectionID;
GO
