USE [NTFSPerms]
GO
/****** Object:  View [ADData].[vw_CollectionStatsWithInfo]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [ADData].[vw_CollectionStatsWithInfo] AS
SELECT
    ci.CollectionID,
    ci.InventoryID,
    COALESCE(ci.DomainName, ci.ComputerName) AS DomainName,
    ci.ComputerName,
    ci.CollectionDateTime,
    ISNULL(cs.ObjectCount, 0) AS ObjectCount,
    ISNULL(cs.UserCount, 0) AS UserCount,
    ISNULL(cs.GroupCount, 0) AS GroupCount,
    ISNULL(cs.ComputerCount, 0) AS ComputerCount,
    ISNULL(cs.GroupMembershipCount, 0) AS GroupMembershipCount,
    ISNULL(cs.FlatMembershipCount, 0) AS FlatMembershipCount,
    ISNULL(cs.FspCount, 0) AS FspCount,
    ISNULL(cs.TrustCount, 0) AS TrustCount,
    ISNULL(cs.TotalRecords, 0) AS TotalRecords,
    cs.ComputedDate AS StatsComputedDate
FROM ADData.CollectionInfo ci
LEFT JOIN ADData.CollectionStats cs ON ci.CollectionID = cs.CollectionID;

GO
