USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_OptionalFeature]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_OptionalFeature](
	[ForestName] [nvarchar](255) NOT NULL,
	[FeatureName] [nvarchar](128) NOT NULL,
	[FeatureGUID] [uniqueidentifier] NULL,
	[IsEnabled] [bit] NOT NULL,
	[RequiredForestLevel] [int] NULL,
	[RequiredForestLevelName] [nvarchar](50) NULL,
	[RequiredDomainLevel] [int] NULL,
	[Description] [nvarchar](1024) NULL,
	[DistinguishedName] [nvarchar](2048) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADData_OptionalFeature] PRIMARY KEY CLUSTERED 
(
	[ForestName] ASC,
	[FeatureName] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_OptionalFeature_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_OptionalFeature_CollectionID] ON [ADData].[AD_OptionalFeature]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_OptionalFeature_FeatureGUID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_OptionalFeature_FeatureGUID] ON [ADData].[AD_OptionalFeature]
(
	[FeatureGUID] ASC
)
WHERE ([FeatureGUID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_OptionalFeature_IsEnabled]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_OptionalFeature_IsEnabled] ON [ADData].[AD_OptionalFeature]
(
	[IsEnabled] ASC
)
WHERE ([IsEnabled]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_OptionalFeature] ADD  DEFAULT ((0)) FOR [IsEnabled]
GO
ALTER TABLE [ADData].[AD_OptionalFeature]  WITH CHECK ADD  CONSTRAINT [FK_ADData_OptionalFeature_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_OptionalFeature] CHECK CONSTRAINT [FK_ADData_OptionalFeature_Collection]
GO
