USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_Domain_Current]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  /*
   * v_AD_Domain_Current
   *
   * Purpose:
   * Returns only the most recent AD inventory for each domain based on
   * CollectionDateTime. Useful for joining to NTFS permissions data
   * where you want current AD state, not historical.
   *
   * Partitions by: DomainSID (unique identifier for a domain)
   * Orders by: CollectionDateTime DESC (newest first)
   */
  CREATE VIEW [ADData].[v_AD_Domain_Current]
  AS
  WITH RankedDomains AS (
      SELECT
          d.DomainName,
          d.DomainSID,
          d.DomainGUID,
          d.NetBIOSName,
          d.DistinguishedName,
          d.ForestName,
          d.ParentDomain,
          d.DomainMode,
          d.DomainModeLevel,
          d.PDCEmulator,
          d.RIDMaster,
          d.InfrastructureMaster,
          d.ChildDomains,
          d.DomainControllers,
          d.ReadOnlyReplicaDirectoryServers,
          d.WhenCreated,
          d.WhenChanged,
          c.InventoryID,
          c.CollectionDateTime,
          ROW_NUMBER() OVER (
              PARTITION BY d.DomainSID
              ORDER BY c.CollectionDateTime DESC
          ) AS RowNum
      FROM ADData.AD_Domain d
      INNER JOIN ADData.CollectionInfo c ON d.CollectionID = c.CollectionID
  )
  SELECT
      DomainName,
      DomainSID,
      DomainGUID,
      NetBIOSName,
      DistinguishedName,
      ForestName,
      ParentDomain,
      DomainMode,
      DomainModeLevel,
      PDCEmulator,
      RIDMaster,
      InfrastructureMaster,
      ChildDomains,
      DomainControllers,
      ReadOnlyReplicaDirectoryServers,
      WhenCreated,
      WhenChanged,
      InventoryID,
      CollectionDateTime
  FROM RankedDomains
  WHERE RowNum = 1;
GO
