USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_Forest]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_AD_Forest]
AS
SELECT
    f.ForestName,
    f.ForestGUID,
    f.RootDomain,
    f.ForestMode,
    f.ForestModeLevel,
    f.SchemaMaster,
    f.DomainNamingMaster,
    f.Domains,
    f.GlobalCatalogs,
    f.Sites,
    f.SiteLinks,
    f.SchemaVersion,
    f.ExchangeSchemaVersion,
    f.WhenCreated,
    c.InventoryID,
    c.CollectionDateTime
FROM ADData.AD_Forest f
INNER JOIN ADData.CollectionInfo c ON f.CollectionID = c.CollectionID;
GO
