USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_DiagUnresolvedFSPs]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_DiagUnresolvedFSPs]
AS
SELECT
    fsp.SID_String,
    fsp.DistinguishedName,
    -- Extract domain SID portion (all parts except last RID)
    LEFT(fsp.SID_String,
        LEN(fsp.SID_String) - CHARINDEX('-', REVERSE(fsp.SID_String))
    ) AS DomainSID,
    -- Check if we can identify the domain from collected domain info
    d.DomainName AS IdentifiedDomain,
    d.NetBIOSName AS IdentifiedNetBIOS,
    ci.InventoryID,
    ci.DomainName AS CollectedInDomain,
    fsp.CollectionID
FROM ADData.AD_ForeignSecurityPrincipal fsp
INNER JOIN ADData.CollectionInfo ci ON fsp.CollectionID = ci.CollectionID
LEFT JOIN ADData.AD_Domain d ON
    fsp.SID_String LIKE d.DomainSID + '-%'
    AND d.CollectionID IN (SELECT CollectionID FROM ADData.CollectionInfo WHERE InventoryID = ci.InventoryID)
WHERE fsp.SourceDomainName IS NULL;
GO
