USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_CollectionSummary]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_CollectionSummary]
AS
SELECT
    c.CollectionID,
    c.InventoryID,
    c.DomainName,
    c.CollectionDateTime,
    c.StartTime,
    c.EndTime,
    DATEDIFF(SECOND, c.StartTime, c.EndTime) AS DurationSeconds,
    c.ComputerName,
    c.Who,
    c.SourceDatabase,
    (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = c.CollectionID AND o.ObjectType = 1) AS UserCount,
    (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = c.CollectionID AND o.ObjectType = 2) AS GroupCount,
    (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = c.CollectionID AND o.ObjectType = 3) AS ComputerCount,
    (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = c.CollectionID AND o.ObjectType = 4) AS ContactCount,
    (SELECT COUNT(*) FROM ADData.AD_GroupMembership gm WHERE gm.CollectionID = c.CollectionID) AS DirectMembershipCount,
    (SELECT COUNT(*) FROM ADData.AD_GroupMember_Flat gf WHERE gf.CollectionID = c.CollectionID) AS FlatMembershipCount,
    (SELECT COUNT(*) FROM ADData.AD_ForeignSecurityPrincipal fsp WHERE fsp.CollectionID = c.CollectionID) AS FSPCount,
    (SELECT COUNT(*) FROM ADData.AD_Trust t WHERE t.CollectionID = c.CollectionID) AS TrustCount,
    (SELECT COUNT(*) FROM ADData.AD_Domain d WHERE d.CollectionID = c.CollectionID) AS DomainInfoCount,
    (SELECT COUNT(*) FROM ADData.AD_Forest f WHERE f.CollectionID = c.CollectionID) AS ForestInfoCount
FROM ADData.CollectionInfo c;
GO
