USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_ExecutionTime]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_ExecutionTime](
	[ExecutionID] [int] NOT NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[DurationSeconds] [decimal](18, 6) NOT NULL,
	[Operation] [nvarchar](100) NOT NULL,
	[Target] [nvarchar](255) NULL,
	[Domain] [nvarchar](255) NULL,
	[RecordCount] [int] NULL,
	[RecordsPerSec] [decimal](18, 2) NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_ADData_ExecutionTime] PRIMARY KEY CLUSTERED 
(
	[ExecutionID] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
