USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_Computers]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [ADData].[v_AD_Computers]
AS
SELECT
    SID_String,
    SamAccountName,
    DisplayName,
    DomainName,
    DistinguishedName,
    ObjectGUID,
    CanonicalName,
    Description,
    WhenCreated,
    WhenChanged,
    Enabled,
    LastLogonTimestamp,
    PasswordLastSet,
    AccountExpires,
    -- New Computer Attributes
    DNSHostName,
    OperatingSystem,
    OperatingSystemVersion,
    OperatingSystemServicePack,
    OperatingSystemHotfix,
    -- Security Attributes
    IsCriticalSystemObject,
    ServicePrincipalName,
    UserAccountControl,
    -- Collection Info
    CollectionID,
	InventoryID,
    CollectionDateTime,
    CollectedFrom
FROM ADData.v_AD_Object
WHERE ObjectType = 3;
GO
