USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_Log]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_AD_Log]
AS
SELECT
    l.LogID,
    l.Timestamp,
    l.Level,
    l.Category,
    l.Message,
    l.Context,
    l.ExceptionMessage,
    l.ExceptionType,
    c.InventoryID,
    c.ComputerName AS MachineName,
    c.Who AS UserName
FROM ADData.AD_Log l
INNER JOIN ADData.CollectionInfo c ON l.CollectionID = c.CollectionID;
GO
