USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_DiagOrphanedMemberships]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_DiagOrphanedMemberships]
AS
SELECT
    gm.GroupSID,
    gm.MemberSID,
    g.SamAccountName AS GroupName,
    g.DomainName AS GroupDomain,
    CASE
        -- Well-known SIDs
        WHEN gm.MemberSID LIKE 'S-1-1-%' THEN 'Well-Known (World Authority)'
        WHEN gm.MemberSID LIKE 'S-1-2-%' THEN 'Well-Known (Local Authority)'
        WHEN gm.MemberSID LIKE 'S-1-3-%' THEN 'Well-Known (Creator Authority)'
        WHEN gm.MemberSID LIKE 'S-1-5-1' THEN 'Well-Known (Dialup)'
        WHEN gm.MemberSID LIKE 'S-1-5-2' THEN 'Well-Known (Network)'
        WHEN gm.MemberSID LIKE 'S-1-5-3' THEN 'Well-Known (Batch)'
        WHEN gm.MemberSID LIKE 'S-1-5-4' THEN 'Well-Known (Interactive)'
        WHEN gm.MemberSID LIKE 'S-1-5-6' THEN 'Well-Known (Service)'
        WHEN gm.MemberSID LIKE 'S-1-5-7' THEN 'Well-Known (Anonymous)'
        WHEN gm.MemberSID LIKE 'S-1-5-9' THEN 'Well-Known (Enterprise DCs)'
        WHEN gm.MemberSID LIKE 'S-1-5-10' THEN 'Well-Known (Self)'
        WHEN gm.MemberSID LIKE 'S-1-5-11' THEN 'Well-Known (Authenticated Users)'
        WHEN gm.MemberSID LIKE 'S-1-5-15' THEN 'Well-Known (This Organization)'
        WHEN gm.MemberSID LIKE 'S-1-5-18' THEN 'Well-Known (SYSTEM)'
        WHEN gm.MemberSID LIKE 'S-1-5-32-%' THEN 'Well-Known (BUILTIN)'
        -- Check if from different forest (SID not matching any domain SID in inventory)
        WHEN NOT EXISTS (
            SELECT 1 FROM ADData.AD_Domain d
            WHERE d.CollectionID IN (SELECT CollectionID FROM ADData.CollectionInfo WHERE InventoryID = ci.InventoryID)
            AND gm.MemberSID LIKE d.DomainSID + '-%'
        ) THEN 'External Forest (not collected)'
        ELSE 'Unknown/Deleted Object'
    END AS ProbableCause,
    ci.InventoryID,
    ci.DomainName AS CollectionDomain,
    gm.CollectionID
FROM ADData.AD_GroupMembership gm
INNER JOIN ADData.CollectionInfo ci ON gm.CollectionID = ci.CollectionID
LEFT JOIN ADData.AD_Object g ON gm.GroupSID = g.SID_String AND gm.CollectionID = g.CollectionID
WHERE NOT EXISTS (
    SELECT 1 FROM ADData.AD_Object o
    INNER JOIN ADData.CollectionInfo c2 ON o.CollectionID = c2.CollectionID
    WHERE o.SID_String = gm.MemberSID
    AND c2.InventoryID = ci.InventoryID
);
GO
