USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_GroupMembership]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     VIEW [ADData].[v_AD_GroupMembership]
AS
SELECT
    gm.GroupSID,
    gm.MemberSID,
    g.SamAccountName AS GroupName,
    g.DisplayName AS GroupDisplayName,
    m.SamAccountName AS MemberName,
    m.DisplayName AS MemberDisplayName,
    m.ObjectType AS MemberObjectType,
    CASE m.ObjectType
        WHEN 1 THEN 'User'
        WHEN 2 THEN 'Group'
        WHEN 3 THEN 'Computer'
        ELSE 'Unknown'
    END AS MemberTypeName,
    c.InventoryID,
	gm.CollectionID,
    m.DNSHostName AS MemberDNSHostName,           -- Better than SamAccountName
    m.DomainName AS MemberDomainName,             -- Which domain
    m.OperatingSystem AS MemberOperatingSystem,   -- OS info
    m.Enabled AS MemberEnabled,                   -- Account status
	  -- For unresolved SIDs:
    CASE
        WHEN gm.MemberSID = 'S-1-5-20' THEN 'NETWORK SERVICE'
        WHEN gm.MemberSID = 'S-1-5-19' THEN 'LOCAL SERVICE'
        WHEN gm.MemberSID = 'S-1-5-18' THEN 'SYSTEM'
        WHEN m.SamAccountName IS NULL THEN gm.MemberSID
        ELSE NULL
    END AS WellKnownSIDName

FROM ADData.AD_GroupMembership gm
INNER JOIN ADData.CollectionInfo c ON gm.CollectionID = c.CollectionID
LEFT JOIN ADData.AD_Object g ON gm.GroupSID = g.SID_String AND gm.CollectionID = g.CollectionID
LEFT JOIN ADData.AD_Object m ON gm.MemberSID = m.SID_String AND gm.CollectionID = m.CollectionID;
GO
