USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_KMSService]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_KMSService](
	[DomainName] [nvarchar](255) NOT NULL,
	[TargetHostname] [nvarchar](255) NOT NULL,
	[Port] [int] NOT NULL,
	[Priority] [int] NULL,
	[Weight] [int] NULL,
	[TTL] [int] NULL,
	[ResolvedIP] [nvarchar](45) NULL,
	[RecordSource] [nvarchar](50) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADData_KMSService] PRIMARY KEY CLUSTERED 
(
	[DomainName] ASC,
	[TargetHostname] ASC,
	[Port] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_KMSService_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_KMSService_CollectionID] ON [ADData].[AD_KMSService]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_KMSService_DomainName]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_KMSService_DomainName] ON [ADData].[AD_KMSService]
(
	[DomainName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_KMSService] ADD  DEFAULT ((1688)) FOR [Port]
GO
ALTER TABLE [ADData].[AD_KMSService] ADD  DEFAULT ('DNS') FOR [RecordSource]
GO
ALTER TABLE [ADData].[AD_KMSService]  WITH CHECK ADD  CONSTRAINT [FK_ADData_KMSService_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_KMSService] CHECK CONSTRAINT [FK_ADData_KMSService_Collection]
GO
