USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_SiteLink]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_SiteLink](
	[SiteLinkName] [nvarchar](128) NOT NULL,
	[Cost] [smallint] NULL,
	[ReplicationInterval] [smallint] NULL,
	[Options] [int] NULL,
	[Schedule] [varchar](500) NULL,
	[Description] [nvarchar](1024) NULL,
	[TransportType] [varchar](10) NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[UseNotification] [bit] NULL,
	[TwoWaySync] [bit] NULL,
	[CompressionDisabled] [bit] NULL,
	[SiteCount] [int] NULL,
	[SiteList] [nvarchar](max) NULL,
 CONSTRAINT [PK_ADData_SiteLink] PRIMARY KEY CLUSTERED 
(
	[SiteLinkName] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_SiteLink_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_SiteLink_CollectionID] ON [ADData].[AD_SiteLink]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_SiteLink_Cost]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_SiteLink_Cost] ON [ADData].[AD_SiteLink]
(
	[Cost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_SiteLink_ObjectGUID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_SiteLink_ObjectGUID] ON [ADData].[AD_SiteLink]
(
	[ObjectGUID] ASC
)
WHERE ([ObjectGUID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_SiteLink] ADD  DEFAULT ((0)) FOR [UseNotification]
GO
ALTER TABLE [ADData].[AD_SiteLink] ADD  DEFAULT ((0)) FOR [TwoWaySync]
GO
ALTER TABLE [ADData].[AD_SiteLink] ADD  DEFAULT ((0)) FOR [CompressionDisabled]
GO
ALTER TABLE [ADData].[AD_SiteLink]  WITH CHECK ADD  CONSTRAINT [FK_ADData_SiteLink_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_SiteLink] CHECK CONSTRAINT [FK_ADData_SiteLink_Collection]
GO
