USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[CollectionInfo]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[CollectionInfo](
	[CollectionID] [uniqueidentifier] NOT NULL,
	[InventoryID] [uniqueidentifier] NOT NULL,
	[ComputerName] [nvarchar](255) NOT NULL,
	[DomainName] [nvarchar](255) NOT NULL,
	[CollectionDateTime] [datetime2](7) NOT NULL,
	[Who] [nvarchar](255) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[ImportDateTime] [datetime2](7) NOT NULL,
	[SourceDatabase] [nvarchar](500) NULL,
	[ModuleVersion] [nvarchar](50) NULL,
 CONSTRAINT [PK_ADData_CollectionInfo] PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID]),
 CONSTRAINT [UQ_ADData_CollectionInfo_InventoryDomain] UNIQUE NONCLUSTERED 
(
	[CollectionID] ASC,
	[InventoryID] ASC,
	[DomainName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
ALTER TABLE [ADData].[CollectionInfo] ADD  DEFAULT (sysutcdatetime()) FOR [ImportDateTime]
GO
