USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[CollectionStats]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[CollectionStats](
	[CollectionID] [uniqueidentifier] NOT NULL,
	[ObjectCount] [int] NOT NULL,
	[UserCount] [int] NOT NULL,
	[GroupCount] [int] NOT NULL,
	[ComputerCount] [int] NOT NULL,
	[ContactCount] [int] NOT NULL,
	[GroupMembershipCount] [int] NOT NULL,
	[FlatMembershipCount] [int] NOT NULL,
	[FspCount] [int] NOT NULL,
	[TrustCount] [int] NOT NULL,
	[DomainCount] [int] NOT NULL,
	[ForestCount] [int] NOT NULL,
	[SiteCount] [int] NOT NULL,
	[SubnetCount] [int] NOT NULL,
	[DomainControllerCount] [int] NOT NULL,
	[TotalRecords]  AS (((([ObjectCount]+[GroupMembershipCount])+[FlatMembershipCount])+[FspCount])+[TrustCount]) PERSISTED,
	[ComputedDate] [datetime2](7) NOT NULL,
	[DurationMs] [int] NULL,
 CONSTRAINT [PK_ADData_CollectionStats] PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [ObjectCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [UserCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [GroupCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [ComputerCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [ContactCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [GroupMembershipCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [FlatMembershipCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [FspCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [TrustCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [DomainCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [ForestCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [SiteCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [SubnetCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT ((0)) FOR [DomainControllerCount]
GO
ALTER TABLE [ADData].[CollectionStats] ADD  DEFAULT (sysutcdatetime()) FOR [ComputedDate]
GO
ALTER TABLE [ADData].[CollectionStats]  WITH CHECK ADD  CONSTRAINT [FK_ADData_CollectionStats_CollectionInfo] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[CollectionStats] CHECK CONSTRAINT [FK_ADData_CollectionStats_CollectionInfo]
GO
