USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_Groups]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [ADData].[v_AD_Groups]
    AS
    SELECT
        SID_String,
        SamAccountName,
        DisplayName,
        DomainName,
        DistinguishedName,
        ObjectGUID,
        CanonicalName,
        Description,
        WhenCreated,
        WhenChanged,
        Mail,
        GroupType,
        GroupScope,
        ManagedBy,
        -- New Security Attribute
        IsCriticalSystemObject,
        -- Collection Info
        InventoryID,
        CollectionDateTime,
        CollectedFrom
    FROM ADData.v_AD_Object
    WHERE ObjectType = 2;
    
GO
