USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_Users]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [ADData].[v_AD_Users]
AS
SELECT
    SID_String,
    SamAccountName,
    DisplayName,
    UserPrincipalName,
    DomainName,
    DistinguishedName,
    ObjectGUID,
    CanonicalName,
    Description,
    WhenCreated,
    WhenChanged,
    Enabled,
    LastLogonTimestamp,
    PasswordLastSet,
    AccountExpires,
    PasswordNeverExpires,
    GivenName,
    Surname,
    Mail,
    Department,
    Title,
    Manager,
    EmployeeID,
    -- New User Attributes
    EmployeeNumber,
    EmployeeType,
    -- Security Attributes
    ServicePrincipalName,
    UserAccountControl,
    PasswordExpired,
    -- Collection Info
    InventoryID,
    CollectionDateTime,
    CollectedFrom
FROM ADData.v_AD_Object
WHERE ObjectType = 1;
GO
