USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_Forest]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_Forest](
	[ForestName] [nvarchar](255) NOT NULL,
	[ForestGUID] [uniqueidentifier] NULL,
	[RootDomain] [nvarchar](255) NULL,
	[ForestMode] [nvarchar](100) NULL,
	[ForestModeLevel] [int] NULL,
	[SchemaMaster] [nvarchar](255) NULL,
	[DomainNamingMaster] [nvarchar](255) NULL,
	[Domains] [nvarchar](max) NULL,
	[GlobalCatalogs] [nvarchar](max) NULL,
	[Sites] [nvarchar](max) NULL,
	[SiteLinks] [nvarchar](max) NULL,
	[SchemaVersion] [int] NULL,
	[ExchangeSchemaVersion] [int] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADData_Forest] PRIMARY KEY CLUSTERED 
(
	[ForestName] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
