USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_Trust]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_Trust](
	[SourceDomain] [nvarchar](255) NOT NULL,
	[TargetDomain] [nvarchar](255) NOT NULL,
	[TrustType] [nvarchar](50) NOT NULL,
	[TrustDirection] [nvarchar](50) NOT NULL,
	[TrustAttributes] [int] NULL,
	[IsTransitive] [bit] NOT NULL,
	[FlatName] [nvarchar](50) NULL,
	[WhenCreated] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADData_Trust] PRIMARY KEY CLUSTERED 
(
	[SourceDomain] ASC,
	[TargetDomain] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
