USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_GroupMember_Flat]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_GroupMember_Flat](
	[GroupSID] [nvarchar](200) NOT NULL,
	[MemberSID] [nvarchar](200) NOT NULL,
	[MemberType] [int] NOT NULL,
	[NestingLevel] [int] NOT NULL,
	[PathToMember] [nvarchar](max) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[ComputedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ADData_GroupMember_Flat] PRIMARY KEY CLUSTERED 
(
	[GroupSID] ASC,
	[MemberSID] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
