USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_TrustedRootCA]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_TrustedRootCA](
	[ForestName] [nvarchar](255) NOT NULL,
	[CAName] [nvarchar](255) NOT NULL,
	[CACertificate] [nvarchar](max) NULL,
	[CertificateSubject] [nvarchar](1024) NULL,
	[CertificateThumbprint] [nvarchar](128) NULL,
	[ContainerType] [nvarchar](50) NOT NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[CertificateNotBefore] [datetime2](7) NULL,
	[CertificateNotAfter] [datetime2](7) NULL,
 CONSTRAINT [PK_ADData_TrustedRootCA] PRIMARY KEY CLUSTERED 
(
	[ForestName] ASC,
	[CAName] ASC,
	[ContainerType] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_TrustedRootCA_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_TrustedRootCA_CollectionID] ON [ADData].[AD_TrustedRootCA]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_TrustedRootCA_ContainerType]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_TrustedRootCA_ContainerType] ON [ADData].[AD_TrustedRootCA]
(
	[ContainerType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_TrustedRootCA_ForestName]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_TrustedRootCA_ForestName] ON [ADData].[AD_TrustedRootCA]
(
	[ForestName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_TrustedRootCA]  WITH CHECK ADD  CONSTRAINT [FK_ADData_TrustedRootCA_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_TrustedRootCA] CHECK CONSTRAINT [FK_ADData_TrustedRootCA_Collection]
GO
