USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_SiteSettings]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_SiteSettings](
	[SiteName] [nvarchar](128) NOT NULL,
	[InterSiteTopologyGenerator] [nvarchar](2048) NULL,
	[InterSiteTopologyGeneratorName] [nvarchar](128) NULL,
	[Options] [int] NULL,
	[Schedule] [varchar](500) NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[IsAutoTopologyDisabled] [bit] NULL,
	[IsTopologyCleanupDisabled] [bit] NULL,
	[IsMinHopsDisabled] [bit] NULL,
	[IsDetectStaleDisabled] [bit] NULL,
	[IsInterSiteAutoTopologyDisabled] [bit] NULL,
	[IsGroupCachingEnabled] [bit] NULL,
 CONSTRAINT [PK_ADData_SiteSettings] PRIMARY KEY CLUSTERED 
(
	[SiteName] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_SiteSettings_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_SiteSettings_CollectionID] ON [ADData].[AD_SiteSettings]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_SiteSettings_ISTG]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_SiteSettings_ISTG] ON [ADData].[AD_SiteSettings]
(
	[InterSiteTopologyGeneratorName] ASC
)
WHERE ([InterSiteTopologyGeneratorName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_SiteSettings_ObjectGUID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_SiteSettings_ObjectGUID] ON [ADData].[AD_SiteSettings]
(
	[ObjectGUID] ASC
)
WHERE ([ObjectGUID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsAutoTopologyDisabled]
GO
ALTER TABLE [ADData].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsTopologyCleanupDisabled]
GO
ALTER TABLE [ADData].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsMinHopsDisabled]
GO
ALTER TABLE [ADData].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsDetectStaleDisabled]
GO
ALTER TABLE [ADData].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsInterSiteAutoTopologyDisabled]
GO
ALTER TABLE [ADData].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsGroupCachingEnabled]
GO
ALTER TABLE [ADData].[AD_SiteSettings]  WITH CHECK ADD  CONSTRAINT [FK_ADData_SiteSettings_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_SiteSettings] CHECK CONSTRAINT [FK_ADData_SiteSettings_Collection]
GO
