USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_ForeignSecurityPrincipal]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_ForeignSecurityPrincipal](
	[SID_String] [nvarchar](200) NOT NULL,
	[SourceDomainName] [nvarchar](255) NULL,
	[DistinguishedName] [nvarchar](2048) NULL,
	[IsResolved] [bit] NOT NULL,
	[LastResolveAttempt] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADData_FSP] PRIMARY KEY CLUSTERED 
(
	[SID_String] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
