USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_ExecutionTime]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_AD_ExecutionTime]
AS
SELECT
    et.ExecutionID,
    et.Timestamp,
    et.DurationSeconds,
    et.Operation,
    et.Target,
    et.Domain,
    et.RecordCount,
    et.RecordsPerSec,
    et.Details,
    c.InventoryID
FROM ADData.AD_ExecutionTime et
INNER JOIN ADData.CollectionInfo c ON et.CollectionID = c.CollectionID;
GO
