USE [NTFSPerms]
GO
/****** Object:  UserDefinedFunction [ADData].[fn_ConvertSIDPathToNames]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [ADData].[fn_ConvertSIDPathToNames]
(
	@SIDPath NVARCHAR(MAX),
	@CollectionID UNIQUEIDENTIFIER
)
RETURNS NVARCHAR(MAX)
AS
BEGIN
	DECLARE @Result NVARCHAR(MAX) = '';
	DECLARE @SID NVARCHAR(200);
	DECLARE @Name NVARCHAR(256);
	DECLARE @Pos INT;
	DECLARE @Delimiter NVARCHAR(10) = ' -> ';
	DECLARE @Path NVARCHAR(MAX) = @SIDPath;

	-- Handle NULL or empty input
	IF @Path IS NULL OR LEN(@Path) = 0
		RETURN NULL;

	-- Process each SID in the path
	WHILE LEN(@Path) > 0
	BEGIN
		-- Find the delimiter position
		SET @Pos = CHARINDEX(@Delimiter, @Path);

		IF @Pos > 0
		BEGIN
			SET @SID = LEFT(@Path, @Pos - 1);
			SET @Path = SUBSTRING(@Path, @Pos + LEN(@Delimiter), LEN(@Path));
		END
		ELSE
		BEGIN
			SET @SID = @Path;
			SET @Path = '';
		END

		-- Look up the name for this SID
		SELECT @Name = SamAccountName
		FROM ADData.AD_Object
		WHERE SID_String = @SID AND CollectionID = @CollectionID;

		-- Use SID if name not found
		IF @Name IS NULL
			SET @Name = @SID;

		-- Append to result
		IF LEN(@Result) > 0
			SET @Result = @Result + @Delimiter;
		SET @Result = @Result + @Name;
	END

	RETURN @Result;
END

GO
