USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_Log]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_Log](
	[LogID] [int] NOT NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Level] [nvarchar](20) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Context] [nvarchar](max) NULL,
	[ExceptionMessage] [nvarchar](max) NULL,
	[ExceptionType] [nvarchar](500) NULL,
 CONSTRAINT [PK_ADData_Log] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
