USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_NTAuthCA]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_NTAuthCA](
	[ForestName] [nvarchar](255) NOT NULL,
	[CertificateSubject] [nvarchar](1024) NOT NULL,
	[CACertificate] [nvarchar](max) NULL,
	[CertificateThumbprint] [nvarchar](128) NOT NULL,
	[CertificateIndex] [int] NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[CertificateNotBefore] [datetime2](7) NULL,
	[CertificateNotAfter] [datetime2](7) NULL,
 CONSTRAINT [PK_ADData_NTAuthCA] PRIMARY KEY CLUSTERED 
(
	[ForestName] ASC,
	[CertificateThumbprint] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_NTAuthCA_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_NTAuthCA_CollectionID] ON [ADData].[AD_NTAuthCA]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_NTAuthCA_ForestName]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_NTAuthCA_ForestName] ON [ADData].[AD_NTAuthCA]
(
	[ForestName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_NTAuthCA]  WITH CHECK ADD  CONSTRAINT [FK_ADData_NTAuthCA_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_NTAuthCA] CHECK CONSTRAINT [FK_ADData_NTAuthCA_Collection]
GO
