USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_Object]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [ADData].[v_AD_Object]
AS
SELECT
    o.SID_String,
    o.ObjectType,
    CASE o.ObjectType
        WHEN 1 THEN 'User'
        WHEN 2 THEN 'Group'
        WHEN 3 THEN 'Computer'
        WHEN 4 THEN 'Contact'
        ELSE 'Unknown'
    END AS ObjectTypeName,
    o.SamAccountName,
    o.DisplayName,
    o.UserPrincipalName,
    o.DomainName,
    o.DistinguishedName,
    o.ObjectGUID,
    o.CanonicalName,
    o.Description,
    o.WhenCreated,
    o.WhenChanged,
    o.Enabled,
    o.LastLogonTimestamp,
    o.PasswordLastSet,
    o.AccountExpires,
    o.PasswordNeverExpires,
    o.GivenName,
    o.Surname,
    o.Mail,
    o.Department,
    o.Title,
    o.Manager,
    o.EmployeeID,
    -- New User Attributes
    o.EmployeeNumber,
    o.EmployeeType,
    -- Group Attributes
    o.GroupType,
    o.GroupScope,
    o.ManagedBy,
    -- New Computer Attributes
    o.DNSHostName,
    o.OperatingSystem,
    o.OperatingSystemVersion,
    o.OperatingSystemServicePack,
    o.OperatingSystemHotfix,
    -- Security Attributes
    o.SIDHistory,
    -- New Security Attributes
    o.IsCriticalSystemObject,
    o.ServicePrincipalName,
    o.UserAccountControl,
    o.PasswordExpired,
    -- Foreign Security Principal
    o.IsForeignSecurityPrincipal,
    c.InventoryID,
	c.CollectionID,
    c.CollectionDateTime,
    c.ComputerName AS CollectedFrom
FROM ADData.AD_Object o
INNER JOIN ADData.CollectionInfo c ON o.CollectionID = c.CollectionID;
GO
