USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_FlattenStats]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_FlattenStats](
	[FlattenStatsID] [int] IDENTITY(1,1) NOT NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[InventoryID] [uniqueidentifier] NULL,
	[ComputedDate] [datetime2](7) NOT NULL,
	[DurationSeconds] [decimal](10, 2) NOT NULL,
	[TotalMemberships] [int] NOT NULL,
	[DirectMemberships] [int] NOT NULL,
	[NestedMemberships] [int] NOT NULL,
	[UniqueGroups] [int] NOT NULL,
	[UniqueMembers] [int] NOT NULL,
	[MaxNestingLevel] [int] NOT NULL,
	[UserCount] [int] NULL,
	[GroupCount] [int] NULL,
	[ComputerCount] [int] NULL,
	[ObjectCount] [int] NULL,
	[FspCount] [int] NULL,
	[TrustCount] [int] NULL,
	[ContactCount] [int] NULL,
 CONSTRAINT [PK_ADData_FlattenStats] PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC,
	[FlattenStatsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
