USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_DomainController]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_DomainController](
	[ServerName] [nvarchar](128) NOT NULL,
	[SiteName] [nvarchar](128) NOT NULL,
	[InvocationId] [uniqueidentifier] NULL,
	[Options] [int] NULL,
	[IsGlobalCatalog] [bit] NOT NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[DisableInboundReplication] [bit] NULL,
	[DisableOutboundReplication] [bit] NULL,
	[DisableNTDSConnTranslation] [bit] NULL,
	[IsRODC] [bit] NULL,
	[MasterNCs] [nvarchar](max) NULL,
 CONSTRAINT [PK_ADData_DomainController] PRIMARY KEY CLUSTERED 
(
	[ServerName] ASC,
	[SiteName] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_DC_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_DC_CollectionID] ON [ADData].[AD_DomainController]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_DC_InvocationId]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_DC_InvocationId] ON [ADData].[AD_DomainController]
(
	[InvocationId] ASC
)
WHERE ([InvocationId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_DC_IsGlobalCatalog]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_DC_IsGlobalCatalog] ON [ADData].[AD_DomainController]
(
	[IsGlobalCatalog] ASC
)
WHERE ([IsGlobalCatalog]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_DC_ObjectGUID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_DC_ObjectGUID] ON [ADData].[AD_DomainController]
(
	[ObjectGUID] ASC
)
WHERE ([ObjectGUID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_DC_SiteName]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_DC_SiteName] ON [ADData].[AD_DomainController]
(
	[SiteName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_DomainController] ADD  DEFAULT ((0)) FOR [IsGlobalCatalog]
GO
ALTER TABLE [ADData].[AD_DomainController] ADD  DEFAULT ((0)) FOR [DisableInboundReplication]
GO
ALTER TABLE [ADData].[AD_DomainController] ADD  DEFAULT ((0)) FOR [DisableOutboundReplication]
GO
ALTER TABLE [ADData].[AD_DomainController] ADD  DEFAULT ((0)) FOR [DisableNTDSConnTranslation]
GO
ALTER TABLE [ADData].[AD_DomainController] ADD  DEFAULT ((0)) FOR [IsRODC]
GO
ALTER TABLE [ADData].[AD_DomainController]  WITH CHECK ADD  CONSTRAINT [FK_ADData_DomainController_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_DomainController] CHECK CONSTRAINT [FK_ADData_DomainController_Collection]
GO
