USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_DiagValidationSummary]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_DiagValidationSummary]
AS
SELECT
    ci.InventoryID,
    MIN(ci.CollectionDateTime) AS CollectionDateTime,
    COUNT(DISTINCT ci.DomainName) AS DomainsInCollection,
    -- Count of orphaned memberships (excluding well-known SIDs)
    (
        SELECT COUNT(*)
        FROM ADData.AD_GroupMembership gm
        INNER JOIN ADData.CollectionInfo c2 ON gm.CollectionID = c2.CollectionID
        WHERE c2.InventoryID = ci.InventoryID
        AND NOT EXISTS (
            SELECT 1 FROM ADData.AD_Object o
            INNER JOIN ADData.CollectionInfo c3 ON o.CollectionID = c3.CollectionID
            WHERE o.SID_String = gm.MemberSID
            AND c3.InventoryID = ci.InventoryID
        )
        AND gm.MemberSID NOT LIKE 'S-1-1-%'     -- World
        AND gm.MemberSID NOT LIKE 'S-1-2-%'     -- Local
        AND gm.MemberSID NOT LIKE 'S-1-3-%'     -- Creator
        AND gm.MemberSID NOT LIKE 'S-1-5-1'     -- Dialup
        AND gm.MemberSID NOT LIKE 'S-1-5-2'     -- Network
        AND gm.MemberSID NOT LIKE 'S-1-5-3'     -- Batch
        AND gm.MemberSID NOT LIKE 'S-1-5-4'     -- Interactive
        AND gm.MemberSID NOT LIKE 'S-1-5-6'     -- Service
        AND gm.MemberSID NOT LIKE 'S-1-5-7'     -- Anonymous
        AND gm.MemberSID NOT LIKE 'S-1-5-9'     -- Enterprise DCs
        AND gm.MemberSID NOT LIKE 'S-1-5-10'    -- Self
        AND gm.MemberSID NOT LIKE 'S-1-5-11'    -- Authenticated Users
        AND gm.MemberSID NOT LIKE 'S-1-5-15'    -- This Organization
        AND gm.MemberSID NOT LIKE 'S-1-5-18'    -- SYSTEM
        AND gm.MemberSID NOT LIKE 'S-1-5-32-%'  -- BUILTIN
    ) AS OrphanedMemberships,
    -- Count of unresolved FSPs
    (
        SELECT COUNT(*)
        FROM ADData.AD_ForeignSecurityPrincipal fsp
        INNER JOIN ADData.CollectionInfo c2 ON fsp.CollectionID = c2.CollectionID
        WHERE c2.InventoryID = ci.InventoryID
        AND fsp.SourceDomainName IS NULL
    ) AS UnresolvedFSPs,
    -- Count of NULL SID objects
    (
        SELECT COUNT(*)
        FROM ADData.AD_Object o
        INNER JOIN ADData.CollectionInfo c2 ON o.CollectionID = c2.CollectionID
        WHERE c2.InventoryID = ci.InventoryID
        AND o.SID_String IS NULL
    ) AS ObjectsWithNullSID,
    -- Count of skipped domains
    (
        SELECT COUNT(*)
        FROM ADData.CollectionInfo c2
        WHERE c2.InventoryID = ci.InventoryID
        AND NOT EXISTS (SELECT 1 FROM ADData.AD_Domain d WHERE d.CollectionID = c2.CollectionID)
    ) AS SkippedDomains,
    -- Overall status
    CASE
        WHEN (
            SELECT COUNT(*) FROM ADData.AD_Object o
            INNER JOIN ADData.CollectionInfo c2 ON o.CollectionID = c2.CollectionID
            WHERE c2.InventoryID = ci.InventoryID AND o.SID_String IS NULL
        ) > 0 THEN 'ERROR: Objects with NULL SID'
        WHEN (
            SELECT COUNT(*)
            FROM ADData.AD_GroupMembership gm
            INNER JOIN ADData.CollectionInfo c2 ON gm.CollectionID = c2.CollectionID
            WHERE c2.InventoryID = ci.InventoryID
            AND NOT EXISTS (
                SELECT 1 FROM ADData.AD_Object o
                INNER JOIN ADData.CollectionInfo c3 ON o.CollectionID = c3.CollectionID
                WHERE o.SID_String = gm.MemberSID AND c3.InventoryID = ci.InventoryID
            )
            AND gm.MemberSID NOT LIKE 'S-1-[1-5]%'
        ) > 0 THEN 'WARNING: Orphaned memberships (external forest?)'
        ELSE 'OK'
    END AS ValidationStatus
FROM ADData.CollectionInfo ci
GROUP BY ci.InventoryID;
GO
