USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_SiteSubnet]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_SiteSubnet](
	[SiteName] [nvarchar](128) NOT NULL,
	[SubnetName] [nvarchar](50) NOT NULL,
	[SiteDistinguishedName] [nvarchar](2048) NULL,
	[SubnetDistinguishedName] [nvarchar](2048) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADData_SiteSubnet] PRIMARY KEY CLUSTERED 
(
	[SiteName] ASC,
	[SubnetName] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_SiteSubnet_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_SiteSubnet_CollectionID] ON [ADData].[AD_SiteSubnet]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_SiteSubnet_Site]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_SiteSubnet_Site] ON [ADData].[AD_SiteSubnet]
(
	[SiteName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_SiteSubnet_Subnet]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_SiteSubnet_Subnet] ON [ADData].[AD_SiteSubnet]
(
	[SubnetName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_SiteSubnet]  WITH CHECK ADD  CONSTRAINT [FK_ADData_SiteSubnet_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_SiteSubnet] CHECK CONSTRAINT [FK_ADData_SiteSubnet_Collection]
GO
