USE [NTFSPerms]
GO
/****** Object:  Table [ADData].[AD_CertificateTemplate]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADData].[AD_CertificateTemplate](
	[ForestName] [nvarchar](255) NOT NULL,
	[TemplateName] [nvarchar](255) NOT NULL,
	[DisplayName] [nvarchar](255) NULL,
	[TemplateOID] [nvarchar](255) NULL,
	[SchemaVersion] [int] NULL,
	[MinorRevision] [int] NULL,
	[MajorRevision] [int] NULL,
	[RASignaturesRequired] [int] NULL,
	[MinKeySize] [int] NULL,
	[EnrollmentFlags] [int] NULL,
	[PrivateKeyFlags] [int] NULL,
	[CertificateNameFlags] [int] NULL,
	[ValidityPeriod] [nvarchar](100) NULL,
	[RenewalPeriod] [nvarchar](100) NULL,
	[ExtendedKeyUsage] [nvarchar](max) NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADData_CertificateTemplate] PRIMARY KEY CLUSTERED 
(
	[ForestName] ASC,
	[TemplateName] ASC,
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ADData_CertificateTemplate_CollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_CertificateTemplate_CollectionID] ON [ADData].[AD_CertificateTemplate]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ADData_CertificateTemplate_ForestName]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ADData_CertificateTemplate_ForestName] ON [ADData].[AD_CertificateTemplate]
(
	[ForestName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [ADData].[AD_CertificateTemplate]  WITH CHECK ADD  CONSTRAINT [FK_ADData_CertificateTemplate_Collection] FOREIGN KEY([CollectionID])
REFERENCES [ADData].[CollectionInfo] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [ADData].[AD_CertificateTemplate] CHECK CONSTRAINT [FK_ADData_CertificateTemplate_Collection]
GO
