USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_Trust]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_AD_Trust]
AS
SELECT
    t.SourceDomain,
    t.TargetDomain,
    t.TrustType,
    t.TrustDirection,
    t.TrustAttributes,
    t.IsTransitive,
    t.FlatName,
    t.WhenCreated,
    c.InventoryID,
    c.CollectionDateTime
FROM ADData.AD_Trust t
INNER JOIN ADData.CollectionInfo c ON t.CollectionID = c.CollectionID;
GO
