USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_DiagObjectsNullSID]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_DiagObjectsNullSID]
AS
SELECT
    o.SID_String,
    o.ObjectType,
    CASE o.ObjectType
        WHEN 1 THEN 'User'
        WHEN 2 THEN 'Group'
        WHEN 3 THEN 'Computer'
        WHEN 4 THEN 'Contact'
        ELSE 'Unknown'
    END AS ObjectTypeName,
    o.SamAccountName,
    o.DistinguishedName,
    o.DomainName,
    ci.InventoryID,
    o.CollectionID
FROM ADData.AD_Object o
INNER JOIN ADData.CollectionInfo ci ON o.CollectionID = ci.CollectionID
WHERE o.SID_String IS NULL;
GO
