USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_ForeignSecurityPrincipal]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_AD_ForeignSecurityPrincipal]
AS
SELECT
    fsp.SID_String,
    fsp.SourceDomainName,
    fsp.DistinguishedName,
    fsp.IsResolved,
    fsp.LastResolveAttempt,
    c.InventoryID,
    c.CollectionDateTime AS CollectedDate,
    c.DomainName AS CollectedFromDomain
FROM ADData.AD_ForeignSecurityPrincipal fsp
INNER JOIN ADData.CollectionInfo c ON fsp.CollectionID = c.CollectionID;
GO
