USE [NTFSPerms]
GO
/****** Object:  View [ADData].[v_AD_Domain]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ADData].[v_AD_Domain]
AS
SELECT
    d.DomainName,
    d.DomainSID,
    d.DomainGUID,
    d.NetBIOSName,
    d.DistinguishedName,
    d.ForestName,
    d.ParentDomain,
    d.DomainMode,
    d.DomainModeLevel,
    d.PDCEmulator,
    d.RIDMaster,
    d.InfrastructureMaster,
    d.ChildDomains,
    d.DomainControllers,
    d.ReadOnlyReplicaDirectoryServers,
    d.WhenCreated,
    d.WhenChanged,
    c.InventoryID,
    c.CollectionDateTime
FROM ADData.AD_Domain d
INNER JOIN ADData.CollectionInfo c ON d.CollectionID = c.CollectionID;
GO
