USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_OptionalFeature]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_OptionalFeature](
	[ForestName] [nvarchar](255) NOT NULL,
	[FeatureName] [nvarchar](128) NOT NULL,
	[FeatureGUID] [uniqueidentifier] NULL,
	[IsEnabled] [bit] NOT NULL,
	[RequiredForestLevel] [int] NULL,
	[RequiredForestLevelName] [nvarchar](50) NULL,
	[RequiredDomainLevel] [int] NULL,
	[Description] [nvarchar](1024) NULL,
	[DistinguishedName] [nvarchar](2048) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [ADImport].[AD_OptionalFeature] ADD  DEFAULT ((0)) FOR [IsEnabled]
GO
