USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_Domain]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_Domain](
	[DomainName] [nvarchar](255) NOT NULL,
	[DomainSID] [nvarchar](200) NOT NULL,
	[DomainGUID] [uniqueidentifier] NULL,
	[NetBIOSName] [nvarchar](50) NULL,
	[DistinguishedName] [nvarchar](2048) NULL,
	[ForestName] [nvarchar](255) NULL,
	[ParentDomain] [nvarchar](255) NULL,
	[DomainMode] [nvarchar](100) NULL,
	[DomainModeLevel] [int] NULL,
	[PDCEmulator] [nvarchar](255) NULL,
	[RIDMaster] [nvarchar](255) NULL,
	[InfrastructureMaster] [nvarchar](255) NULL,
	[ChildDomains] [nvarchar](max) NULL,
	[DomainControllers] [nvarchar](max) NULL,
	[ReadOnlyReplicaDirectoryServers] [nvarchar](max) NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[SysvolReplicationMethod] [nvarchar](20) NULL,
	[SysvolMigrationState] [nvarchar](50) NULL,
	[DFSRExists] [bit] NULL,
	[FRSExists] [bit] NULL,
	[DFSRFlags] [int] NULL,
	[GPOTotalCount] [int] NULL,
	[GPOHealthyCount] [int] NULL,
	[GPOOrphanedGPCCount] [int] NULL,
	[GPOOrphanedGPTCount] [int] NULL,
	[GPOVersionMismatchCount] [int] NULL,
	[GPOOverallHealth] [nvarchar](20) NULL,
	[SYSVOLAccessible] [bit] NULL,
	[DefaultDomainPolicyExists] [bit] NULL,
	[DefaultDCPolicyExists] [bit] NULL,
 CONSTRAINT [PK_ADImport_Domain] PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC,
	[DomainSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
