USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_SiteServer]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_SiteServer](
	[ServerName] [nvarchar](128) NOT NULL,
	[SiteName] [nvarchar](128) NOT NULL,
	[DNSHostName] [nvarchar](512) NULL,
	[ServerReference] [nvarchar](2048) NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
