USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_ForeignSecurityPrincipal]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_ForeignSecurityPrincipal](
	[SID_String] [nvarchar](200) NOT NULL,
	[SourceDomainName] [nvarchar](255) NULL,
	[DistinguishedName] [nvarchar](2048) NULL,
	[IsResolved] [bit] NOT NULL,
	[LastResolveAttempt] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [ps_CollectionID]([CollectionID])
GO
