USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_SiteLinkSite]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_SiteLinkSite](
	[SiteLinkName] [nvarchar](128) NOT NULL,
	[SiteName] [nvarchar](128) NOT NULL,
	[SiteLinkDistinguishedName] [nvarchar](2048) NULL,
	[SiteDistinguishedName] [nvarchar](2048) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
