USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_SiteSubnet]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_SiteSubnet](
	[SiteName] [nvarchar](128) NOT NULL,
	[SubnetName] [nvarchar](50) NOT NULL,
	[SiteDistinguishedName] [nvarchar](2048) NULL,
	[SubnetDistinguishedName] [nvarchar](2048) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
