USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_KMSService]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_KMSService](
	[DomainName] [nvarchar](255) NOT NULL,
	[TargetHostname] [nvarchar](255) NOT NULL,
	[Port] [int] NOT NULL,
	[Priority] [int] NULL,
	[Weight] [int] NULL,
	[TTL] [int] NULL,
	[ResolvedIP] [nvarchar](45) NULL,
	[RecordSource] [nvarchar](50) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [ADImport].[AD_KMSService] ADD  DEFAULT ((1688)) FOR [Port]
GO
ALTER TABLE [ADImport].[AD_KMSService] ADD  DEFAULT ('DNS') FOR [RecordSource]
GO
