USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_NTAuthCA]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_NTAuthCA](
	[ForestName] [nvarchar](255) NOT NULL,
	[CertificateSubject] [nvarchar](1024) NOT NULL,
	[CACertificate] [nvarchar](max) NULL,
	[CertificateThumbprint] [nvarchar](128) NOT NULL,
	[CertificateNotBefore] [nvarchar](50) NULL,
	[CertificateNotAfter] [nvarchar](50) NULL,
	[CertificateIndex] [int] NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
