USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_ExecutionTime]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_ExecutionTime](
	[ExecutionID] [int] NOT NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[DurationSeconds] [decimal](18, 6) NOT NULL,
	[Operation] [nvarchar](100) NOT NULL,
	[Target] [nvarchar](255) NULL,
	[Domain] [nvarchar](255) NULL,
	[RecordCount] [int] NULL,
	[RecordsPerSec] [decimal](18, 2) NULL,
	[Details] [nvarchar](max) NULL
) ON [ps_CollectionID]([CollectionID])
GO
