USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_TrustedRootCA]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_TrustedRootCA](
	[ForestName] [nvarchar](255) NOT NULL,
	[CAName] [nvarchar](255) NOT NULL,
	[CACertificate] [nvarchar](max) NULL,
	[CertificateSubject] [nvarchar](1024) NULL,
	[CertificateThumbprint] [nvarchar](128) NULL,
	[CertificateNotBefore] [nvarchar](50) NULL,
	[CertificateNotAfter] [nvarchar](50) NULL,
	[ContainerType] [nvarchar](50) NOT NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
