USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_EnterpriseCA]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_EnterpriseCA](
	[ForestName] [nvarchar](255) NOT NULL,
	[CAName] [nvarchar](255) NOT NULL,
	[DNSHostName] [nvarchar](255) NULL,
	[CAType] [nvarchar](100) NULL,
	[CACertificate] [nvarchar](max) NULL,
	[CACertificateDN] [nvarchar](1024) NULL,
	[CertificateTemplates] [nvarchar](max) NULL,
	[Flags] [int] NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
