USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_SiteLink]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_SiteLink](
	[SiteLinkName] [nvarchar](128) NOT NULL,
	[Cost] [smallint] NULL,
	[ReplicationInterval] [smallint] NULL,
	[Options] [int] NULL,
	[Schedule] [varchar](500) NULL,
	[Description] [nvarchar](1024) NULL,
	[TransportType] [varchar](10) NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[UseNotification] [bit] NULL,
	[TwoWaySync] [bit] NULL,
	[CompressionDisabled] [bit] NULL,
	[SiteCount] [int] NULL,
	[SiteList] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ADImport].[AD_SiteLink] ADD  DEFAULT ((0)) FOR [UseNotification]
GO
ALTER TABLE [ADImport].[AD_SiteLink] ADD  DEFAULT ((0)) FOR [TwoWaySync]
GO
ALTER TABLE [ADImport].[AD_SiteLink] ADD  DEFAULT ((0)) FOR [CompressionDisabled]
GO
