USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_DomainController]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_DomainController](
	[ServerName] [nvarchar](128) NOT NULL,
	[SiteName] [nvarchar](128) NOT NULL,
	[InvocationId] [uniqueidentifier] NULL,
	[Options] [int] NULL,
	[IsGlobalCatalog] [bit] NOT NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[DisableInboundReplication] [bit] NULL,
	[DisableOutboundReplication] [bit] NULL,
	[DisableNTDSConnTranslation] [bit] NULL,
	[IsRODC] [bit] NULL,
	[MasterNCs] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ADImport].[AD_DomainController] ADD  DEFAULT ((0)) FOR [DisableInboundReplication]
GO
ALTER TABLE [ADImport].[AD_DomainController] ADD  DEFAULT ((0)) FOR [DisableOutboundReplication]
GO
ALTER TABLE [ADImport].[AD_DomainController] ADD  DEFAULT ((0)) FOR [DisableNTDSConnTranslation]
GO
ALTER TABLE [ADImport].[AD_DomainController] ADD  DEFAULT ((0)) FOR [IsRODC]
GO
