USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_CertificateTemplate]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_CertificateTemplate](
	[ForestName] [nvarchar](255) NOT NULL,
	[TemplateName] [nvarchar](255) NOT NULL,
	[DisplayName] [nvarchar](255) NULL,
	[TemplateOID] [nvarchar](255) NULL,
	[SchemaVersion] [int] NULL,
	[MinorRevision] [int] NULL,
	[MajorRevision] [int] NULL,
	[RASignaturesRequired] [int] NULL,
	[MinKeySize] [int] NULL,
	[EnrollmentFlags] [int] NULL,
	[PrivateKeyFlags] [int] NULL,
	[CertificateNameFlags] [int] NULL,
	[ValidityPeriod] [nvarchar](100) NULL,
	[RenewalPeriod] [nvarchar](100) NULL,
	[ExtendedKeyUsage] [nvarchar](max) NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
