USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_SiteSettings]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_SiteSettings](
	[SiteName] [nvarchar](128) NOT NULL,
	[InterSiteTopologyGenerator] [nvarchar](2048) NULL,
	[InterSiteTopologyGeneratorName] [nvarchar](128) NULL,
	[Options] [int] NULL,
	[Schedule] [varchar](500) NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[IsAutoTopologyDisabled] [bit] NULL,
	[IsTopologyCleanupDisabled] [bit] NULL,
	[IsMinHopsDisabled] [bit] NULL,
	[IsDetectStaleDisabled] [bit] NULL,
	[IsInterSiteAutoTopologyDisabled] [bit] NULL,
	[IsGroupCachingEnabled] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [ADImport].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsAutoTopologyDisabled]
GO
ALTER TABLE [ADImport].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsTopologyCleanupDisabled]
GO
ALTER TABLE [ADImport].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsMinHopsDisabled]
GO
ALTER TABLE [ADImport].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsDetectStaleDisabled]
GO
ALTER TABLE [ADImport].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsInterSiteAutoTopologyDisabled]
GO
ALTER TABLE [ADImport].[AD_SiteSettings] ADD  DEFAULT ((0)) FOR [IsGroupCachingEnabled]
GO
