USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_ADFSConfiguration]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_ADFSConfiguration](
	[ForestName] [nvarchar](255) NOT NULL,
	[ServiceType] [nvarchar](50) NOT NULL,
	[ServiceName] [nvarchar](255) NULL,
	[FederationServiceName] [nvarchar](255) NULL,
	[AzureTenantId] [nvarchar](128) NULL,
	[AzureObjectId] [nvarchar](128) NULL,
	[DomainName] [nvarchar](255) NULL,
	[ServiceBindingInfo] [nvarchar](1024) NULL,
	[Keywords] [nvarchar](max) NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
