USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_Subnet]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_Subnet](
	[SubnetName] [nvarchar](50) NOT NULL,
	[SiteName] [nvarchar](128) NULL,
	[Description] [nvarchar](1024) NULL,
	[Location] [nvarchar](1024) NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[SiteObjectDN] [nvarchar](2048) NULL
) ON [PRIMARY]
GO
