USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_Trust]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_Trust](
	[SourceDomain] [nvarchar](255) NOT NULL,
	[TargetDomain] [nvarchar](255) NOT NULL,
	[TrustType] [nvarchar](50) NOT NULL,
	[TrustDirection] [nvarchar](50) NOT NULL,
	[TrustAttributes] [int] NULL,
	[IsTransitive] [bit] NOT NULL,
	[FlatName] [nvarchar](50) NULL,
	[WhenCreated] [datetime2](7) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL
) ON [ps_CollectionID]([CollectionID])
GO
