USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_GroupMember_Flat]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_GroupMember_Flat](
	[GroupSID] [nvarchar](200) NOT NULL,
	[MemberSID] [nvarchar](200) NOT NULL,
	[MemberType] [int] NOT NULL,
	[NestingLevel] [int] NOT NULL,
	[PathToMember] [nvarchar](max) NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[ComputedDate] [datetime2](7) NOT NULL
) ON [ps_CollectionID]([CollectionID])
GO
