USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_Object]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_Object](
	[SID_String] [nvarchar](200) NOT NULL,
	[ObjectType] [int] NOT NULL,
	[SamAccountName] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](500) NULL,
	[UserPrincipalName] [nvarchar](500) NULL,
	[DomainName] [nvarchar](255) NOT NULL,
	[DistinguishedName] [nvarchar](2048) NOT NULL,
	[ObjectGUID] [uniqueidentifier] NULL,
	[CanonicalName] [nvarchar](2048) NULL,
	[Description] [nvarchar](max) NULL,
	[WhenCreated] [datetime2](7) NULL,
	[WhenChanged] [datetime2](7) NULL,
	[Enabled] [bit] NULL,
	[LastLogonTimestamp] [datetime2](7) NULL,
	[PasswordLastSet] [datetime2](7) NULL,
	[AccountExpires] [datetime2](7) NULL,
	[PasswordNeverExpires] [bit] NULL,
	[GivenName] [nvarchar](256) NULL,
	[Surname] [nvarchar](256) NULL,
	[Mail] [nvarchar](500) NULL,
	[Department] [nvarchar](256) NULL,
	[Title] [nvarchar](256) NULL,
	[Manager] [nvarchar](2048) NULL,
	[EmployeeID] [nvarchar](100) NULL,
	[GroupType] [int] NULL,
	[GroupScope] [int] NULL,
	[ManagedBy] [nvarchar](2048) NULL,
	[SIDHistory] [nvarchar](max) NULL,
	[IsForeignSecurityPrincipal] [bit] NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[EmployeeNumber] [nvarchar](50) NULL,
	[EmployeeType] [nvarchar](50) NULL,
	[DNSHostName] [nvarchar](255) NULL,
	[OperatingSystem] [nvarchar](255) NULL,
	[OperatingSystemVersion] [nvarchar](100) NULL,
	[OperatingSystemServicePack] [nvarchar](100) NULL,
	[OperatingSystemHotfix] [nvarchar](255) NULL,
	[IsCriticalSystemObject] [bit] NULL,
	[ServicePrincipalName] [nvarchar](max) NULL,
	[UserAccountControl] [int] NULL,
	[PasswordExpired] [bit] NULL,
 CONSTRAINT [PK_ADImport_Object] PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC,
	[SID_String] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
ALTER TABLE [ADImport].[AD_Object] ADD  DEFAULT ((0)) FOR [IsForeignSecurityPrincipal]
GO
