USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_Log]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_Log](
	[LogID] [int] NOT NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[Level] [nvarchar](20) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Context] [nvarchar](max) NULL,
	[ExceptionMessage] [nvarchar](max) NULL,
	[ExceptionType] [nvarchar](500) NULL
) ON [ps_CollectionID]([CollectionID])
GO
