USE [NTFSPerms]
GO
/****** Object:  Table [ADImport].[AD_GroupMembership]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ADImport].[AD_GroupMembership](
	[GroupSID] [nvarchar](200) NOT NULL,
	[MemberSID] [nvarchar](200) NOT NULL,
	[CollectionID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ADImport_GroupMembership] PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC,
	[GroupSID] ASC,
	[MemberSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_CollectionID]([CollectionID])
) ON [ps_CollectionID]([CollectionID])
GO
