USE [NTFSPerms]
GO
/****** Object:  Table [app].[ApiKeys]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[ApiKeys](
	[ApiKeyId] [uniqueidentifier] NOT NULL,
	[KeyHash] [varbinary](64) NOT NULL,
	[KeySalt] [varbinary](32) NOT NULL,
	[KeyPrefix] [nvarchar](8) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUsedAt] [datetime2](7) NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_ApiKeys] PRIMARY KEY CLUSTERED 
(
	[ApiKeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApiKeys_KeyPrefix]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApiKeys_KeyPrefix] ON [app].[ApiKeys]
(
	[KeyPrefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [app].[ApiKeys] ADD  DEFAULT (newid()) FOR [ApiKeyId]
GO
ALTER TABLE [app].[ApiKeys] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [app].[ApiKeys] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
