USE [NTFSPerms]
GO
/****** Object:  Table [app].[Uploads]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[Uploads](
	[UploadId] [uniqueidentifier] NOT NULL,
	[OriginalFilename] [nvarchar](500) NOT NULL,
	[FileSizeBytes] [bigint] NOT NULL,
	[UploadedBy] [nvarchar](256) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[SourceIP] [nvarchar](45) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[StatusMessage] [nvarchar](max) NULL,
	[ValidationResult] [nvarchar](max) NULL,
	[ImportProgress] [int] NULL,
	[CurrentPhase] [nvarchar](100) NULL,
	[StartedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[FilePath] [nvarchar](1000) NULL,
	[ErrorDetails] [nvarchar](max) NULL,
	[HangfireJobId] [nvarchar](100) NULL,
	[ValidationStatus] [nvarchar](20) NOT NULL,
	[ValidationMessage] [nvarchar](max) NULL,
	[ValidationCompletedAt] [datetime2](7) NULL,
	[MergeStatus] [nvarchar](20) NOT NULL,
	[MergeMessage] [nvarchar](max) NULL,
	[MergeCompletedAt] [datetime2](7) NULL,
	[RowsProcessed] [bigint] NULL,
	[TotalRows] [bigint] NULL,
	[PhaseStartedAt] [datetime2](7) NULL,
	[AutoProcessingOverride] [nvarchar](20) NULL,
	[UploadType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Uploads] PRIMARY KEY CLUSTERED 
(
	[UploadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Uploads_Status]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Uploads_Status] ON [app].[Uploads]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uploads_UploadedAt]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Uploads_UploadedAt] ON [app].[Uploads]
(
	[UploadedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Uploads_UploadedBy]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Uploads_UploadedBy] ON [app].[Uploads]
(
	[UploadedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Uploads_UploadType]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Uploads_UploadType] ON [app].[Uploads]
(
	[UploadType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [app].[Uploads] ADD  DEFAULT (newid()) FOR [UploadId]
GO
ALTER TABLE [app].[Uploads] ADD  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [app].[Uploads] ADD  DEFAULT ('NotValidated') FOR [ValidationStatus]
GO
ALTER TABLE [app].[Uploads] ADD  DEFAULT ('NotMerged') FOR [MergeStatus]
GO
