USE [NTFSPerms]
GO
/****** Object:  Table [app].[Logs]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[Logs](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](3) NOT NULL,
	[Facility] [tinyint] NOT NULL,
	[Severity] [tinyint] NOT NULL,
	[SeverityName] [nvarchar](15) NOT NULL,
	[Hostname] [nvarchar](255) NOT NULL,
	[AppName] [nvarchar](100) NOT NULL,
	[ProcessId] [int] NULL,
	[MessageId] [nvarchar](50) NULL,
	[CorrelationId] [uniqueidentifier] NULL,
	[UploadId] [uniqueidentifier] NULL,
	[UserId] [nvarchar](256) NULL,
	[SourceIP] [nvarchar](45) NULL,
	[Category] [nvarchar](100) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Logs_Category]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Logs_Category] ON [app].[Logs]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_CorrelationId]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Logs_CorrelationId] ON [app].[Logs]
(
	[CorrelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_Severity]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Logs_Severity] ON [app].[Logs]
(
	[Severity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_Timestamp]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Logs_Timestamp] ON [app].[Logs]
(
	[Timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Logs_UploadId]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Logs_UploadId] ON [app].[Logs]
(
	[UploadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [app].[Logs] ADD  DEFAULT (sysutcdatetime()) FOR [Timestamp]
GO
ALTER TABLE [app].[Logs] ADD  DEFAULT ('NTFSPermsUploader') FOR [AppName]
GO
