USE [NTFSPerms]
GO
/****** Object:  Table [app].[ImportStatistics]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[ImportStatistics](
	[StatId] [bigint] IDENTITY(1,1) NOT NULL,
	[UploadId] [uniqueidentifier] NOT NULL,
	[InventoryId] [uniqueidentifier] NOT NULL,
	[TableName] [nvarchar](128) NOT NULL,
	[RecordsImported] [bigint] NOT NULL,
	[DurationMs] [bigint] NOT NULL,
 CONSTRAINT [PK_ImportStatistics] PRIMARY KEY CLUSTERED 
(
	[StatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [app].[ImportStatistics]  WITH CHECK ADD  CONSTRAINT [FK_ImportStatistics_Uploads] FOREIGN KEY([UploadId])
REFERENCES [app].[Uploads] ([UploadId])
ON DELETE CASCADE
GO
ALTER TABLE [app].[ImportStatistics] CHECK CONSTRAINT [FK_ImportStatistics_Uploads]
GO
