USE [NTFSPerms]
GO
/****** Object:  Table [app].[Configuration]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[Configuration](
	[ConfigKey] [nvarchar](100) NOT NULL,
	[ConfigValue] [nvarchar](max) NULL,
	[IsEncrypted] [bit] NOT NULL,
	[LastModifiedBy] [nvarchar](256) NOT NULL,
	[LastModifiedAt] [datetime2](7) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [app].[Configuration] ADD  DEFAULT ((0)) FOR [IsEncrypted]
GO
ALTER TABLE [app].[Configuration] ADD  DEFAULT (sysutcdatetime()) FOR [LastModifiedAt]
GO
