USE [NTFSPerms]
GO
/****** Object:  Table [app].[BannerMessages]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [app].[BannerMessages](
	[BannerMessageId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](2000) NOT NULL,
	[MessageType] [nvarchar](20) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](256) NOT NULL,
	[LastModifiedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BannerMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [app].[BannerMessages] ADD  DEFAULT (newid()) FOR [BannerMessageId]
GO
ALTER TABLE [app].[BannerMessages] ADD  DEFAULT ((0)) FOR [IsEnabled]
GO
ALTER TABLE [app].[BannerMessages] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [app].[BannerMessages] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [app].[BannerMessages] ADD  DEFAULT (sysutcdatetime()) FOR [LastModifiedAt]
GO
