USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFolderAccessUsers]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * 011_usp_GetFolderAccessUsers.sql
 *
 * Stored Procedure: Get All Users with Access to a Folder
 *
 * Purpose:
 * Combines NTFS permissions (fsapp schema) with AD inventory (ADData)
 * to show all users (direct and via group membership) who have access to a folder.
 *
 * Parameters:
 *   @FolderPath   - Full path to the folder (UNC or local)
 *   @InventoryID  - Optional. NULL = use latest inventory
 *
 * Returns:
 *   Result set with user access details including:
 *   - Account name and display name
 *   - Account type (User Direct, User via Group, Group)
 *   - Domain and email
 *   - Access type (Allow/Deny)
 *   - Permissions (Full Control, Modify, Read, etc.)
 *   - Group membership path (if via group)
 *   - Nesting level
 *
 * Dependencies:
 *   - fsapp.CollectionInfo
 *   - fsapp.vw_FolderAttributes
 *   - fsapp.SIDs
 *   - fsapp.Folders
 *   - fsapp.ACE
 *   - ADData.AD_Object (external schema)
 *   - ADData.AD_GroupMember_Flat (external schema)
 *   - ADData.AD_Domain (external schema)
 *
 * Version: 1.8.0
 * Created: 2025-12-06
 * Modified: 2025-12-16 - Filter BUILTIN group members by computer's domain CollectionID
 *                      - Use AD_Domain.CollectionID to scope BUILTIN group membership
 *                      - Match CollectionID between AD_GroupMember_Flat and AD_Object
 *                      - Use OUTER APPLY for ao_direct to find cross-domain groups
 *                      - Allow group membership expansion from any collection for domain groups
 */

CREATE   PROCEDURE [dbo].[usp_GetFolderAccessUsers]
    @FolderPath NVARCHAR(MAX),
    @InventoryID UNIQUEIDENTIFIER = NULL  -- NULL = latest inventory
AS
BEGIN
    SET NOCOUNT ON;

    -- Get the latest inventory if not specified
    IF @InventoryID IS NULL
    BEGIN
        SELECT TOP 1 @InventoryID = ci.InventoryID
        FROM [fsapp].[CollectionInfo] AS ci
        INNER JOIN [fsapp].[vw_FolderAttributes] AS fa
            ON ci.InventoryID = fa.InventoryID
        WHERE fa.[Path] = @FolderPath
        ORDER BY ci.CollectionDateTime DESC;
    END;

    -- Return empty result if no inventory found
    IF @InventoryID IS NULL
    BEGIN
        RAISERROR('No inventory found for the specified folder path.', 16, 1);
        RETURN;
    END;

    -- Get the computer's domain CollectionID for filtering BUILTIN group members
    -- BUILTIN groups (S-1-5-32-*) are local to each machine and exist in every
    -- AD collection with the same SID. We must filter by CollectionID to get
    -- only members from the computer's domain.
    -- Note: CollectionInfo stores NetBIOS name, AD_Domain has the mapping
    DECLARE @ComputerDomainCollectionID INT;
    SELECT @ComputerDomainCollectionID = ad.CollectionID
    FROM [fsapp].[CollectionInfo] ci
    INNER JOIN [ADData].[AD_Domain] ad ON ci.DomainName = ad.NetBIOSName
    WHERE ci.InventoryID = @InventoryID;

    -- ========================================================================
    -- CTE to convert binary SID to string format for joining to ADData
    -- ========================================================================
    ;WITH SIDStrings AS (
        SELECT
            s.SidID,
            s.InventoryID,
            s.AccountName,
            s.AccountType,
            'S-' +
            CAST(CAST(SUBSTRING(s.Sid, 1, 1) AS INT) AS VARCHAR(10)) + '-' +
            CAST(
                CAST(SUBSTRING(s.Sid, 3, 1) AS BIGINT) * 1099511627776 +
                CAST(SUBSTRING(s.Sid, 4, 1) AS BIGINT) * 4294967296 +
                CAST(SUBSTRING(s.Sid, 5, 1) AS BIGINT) * 16777216 +
                CAST(SUBSTRING(s.Sid, 6, 1) AS BIGINT) * 65536 +
                CAST(SUBSTRING(s.Sid, 7, 1) AS BIGINT) * 256 +
                CAST(SUBSTRING(s.Sid, 8, 1) AS BIGINT)
            AS VARCHAR(20)) +
            CASE WHEN LEN(s.Sid) > 8 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 12, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 11, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 10, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 9, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END +
            CASE WHEN LEN(s.Sid) > 12 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 16, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 15, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 14, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 13, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END +
            CASE WHEN LEN(s.Sid) > 16 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 20, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 19, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 18, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 17, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END +
            CASE WHEN LEN(s.Sid) > 20 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 24, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 23, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 22, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 21, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END +
            CASE WHEN LEN(s.Sid) > 24 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 28, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 27, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 26, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 25, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END AS SID_String
        FROM [fsapp].[SIDs] s
        WHERE s.InventoryID = @InventoryID
    ),

    -- ========================================================================
    -- Direct ACE permissions on the folder
    -- ========================================================================
    DirectPermissions AS (
        SELECT
            f.Path AS FolderPath,
            ace.LocalACEID,
            ace.FileSystemRightsMask,
            ace.AccessControlType,
            ace.IsInherited,
            ace.InheritanceFlags,
            ace.PropagationFlags,
            ss.SidID,
            ss.AccountName,
            ss.AccountType,
            ss.SID_String,
            'Direct' AS PermissionSource
        FROM [fsapp].[Folders] f
        INNER JOIN [fsapp].[ACE] ace ON f.InventoryID = ace.InventoryID
                              AND f.LocalFolderID = ace.LocalFolderID
        INNER JOIN SIDStrings ss ON ace.IdentitySID = ss.SidID
        WHERE f.InventoryID = @InventoryID
          AND f.Path = @FolderPath
    )

    -- ========================================================================
    -- Final result: Direct permissions + expanded group members
    -- ========================================================================
    SELECT
        dp.FolderPath,
        COALESCE(ao_member.SamAccountName, ao_direct.SamAccountName, dp.AccountName) AS AccountName,
        COALESCE(ao_member.DisplayName, ao_direct.DisplayName) AS DisplayName,
        CASE
            WHEN gm.MemberSID IS NOT NULL THEN 'User (via Group)'
            WHEN dp.AccountType = 'User' THEN 'User (Direct)'
            WHEN dp.AccountType = 'Group' THEN 'Group'
            ELSE COALESCE(dp.AccountType, 'Unknown')
        END AS AccountType,
        COALESCE(ao_member.DomainName, ao_direct.DomainName) AS DomainName,
        COALESCE(ao_member.Mail, ao_direct.Mail) AS Email,

        CASE dp.AccessControlType
            WHEN 0 THEN 'Allow'
            WHEN 1 THEN 'Deny'
            ELSE 'Unknown'
        END AS AccessType,

        CASE dp.FileSystemRightsMask
            WHEN 2032127 THEN 'Full Control'
            WHEN 1179817 THEN 'Read & Execute'
            WHEN 1180095 THEN 'Read'
            WHEN 1180063 THEN 'Read'
            WHEN 1245631 THEN 'Modify'
            WHEN 278 THEN 'Write'
            WHEN -1 THEN 'Full Control (Generic)'
            WHEN -536805376 THEN 'Full Control (Generic)'
            ELSE 'Custom (' + CAST(dp.FileSystemRightsMask AS VARCHAR(20)) + ')'
        END AS Permissions,

        dp.FileSystemRightsMask AS PermissionMask,
        dp.IsInherited,

        CASE
            WHEN gm.MemberSID IS NOT NULL
            THEN dp.AccountName + ' -> ' + COALESCE(ao_member.SamAccountName, gm.MemberSID)
            ELSE NULL
        END AS GroupMembershipPath,
        gm.NestingLevel

    FROM DirectPermissions dp
    -- Look up the direct ACE identity from any collection
    -- Use OUTER APPLY to get the best match (prefer non-FSP, then by CollectionID)
    OUTER APPLY (
        SELECT TOP 1
            ao.SamAccountName,
            ao.DisplayName,
            ao.DomainName,
            ao.Mail,
            ao.CollectionID
        FROM ADData.AD_Object ao
        WHERE ao.SID_String = dp.SID_String
        ORDER BY
            ao.IsForeignSecurityPrincipal ASC,  -- Prefer non-FSP entries
            CASE WHEN ao.CollectionID = @ComputerDomainCollectionID THEN 0 ELSE 1 END  -- Prefer computer's domain
    ) ao_direct
    -- Expand group membership
    -- For BUILTIN groups: use computer's domain collection only
    -- For domain groups: use any collection (cross-domain trusts are valid)
    LEFT JOIN ADData.AD_GroupMember_Flat gm
        ON dp.SID_String = gm.GroupSID
       AND gm.MemberType = 1
       AND (
           (dp.SID_String LIKE 'S-1-5-32-%' AND gm.CollectionID = @ComputerDomainCollectionID)
           OR dp.SID_String NOT LIKE 'S-1-5-32-%'
       )
    -- Look up member details from the same collection as the membership data
    LEFT JOIN ADData.AD_Object ao_member
        ON gm.MemberSID = ao_member.SID_String
       AND gm.CollectionID = ao_member.CollectionID

    WHERE
        (dp.AccountType = 'User' AND gm.MemberSID IS NULL)
        OR (dp.AccountType = 'Group' AND gm.MemberSID IS NULL)
        OR gm.MemberSID IS NOT NULL

    ORDER BY
        dp.AccessControlType,
        AccountType,
        AccountName;

END;
GO
