USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_PreparePartitionForImport]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[usp_PreparePartitionForImport]
      @InventoryID UNIQUEIDENTIFIER = NULL,
      @CollectionID UNIQUEIDENTIFIER = NULL,
      @ErrorMessage NVARCHAR(4000) = NULL OUTPUT
  AS
  BEGIN
      SET NOCOUNT ON;
      DECLARE @ReturnCode INT = 0;
      DECLARE @PartitionKey UNIQUEIDENTIFIER;

      SET @PartitionKey = COALESCE(@InventoryID, @CollectionID);

      IF @PartitionKey IS NULL
      BEGIN
          SET @ErrorMessage = 'Either @InventoryID or @CollectionID must be provided';
          RETURN 1;
      END

      BEGIN TRY
          PRINT 'Preparing partition for ID: ' + CAST(@PartitionKey AS NVARCHAR(50));
          EXEC @ReturnCode = dbo.usp_Partition_AddForInventoryID
              @InventoryID = @PartitionKey,
              @ErrorMessage = @ErrorMessage OUTPUT;

          IF @ReturnCode <> 0
              PRINT 'Warning: Could not create dedicated partition. Data will use existing partition.';
          ELSE
              PRINT 'Partition ready for import.';
      END TRY
      BEGIN CATCH
          SET @ErrorMessage = ERROR_MESSAGE();
          SET @ReturnCode = ERROR_NUMBER();
          PRINT 'Error preparing partition: ' + @ErrorMessage;
      END CATCH

      RETURN @ReturnCode;
  END
GO
