USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_LogMigrationEvent]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * 007_usp_LogMigrationEvent.sql - Sprint-35 Migration Utility
 */

CREATE   PROCEDURE [dbo].[usp_LogMigrationEvent]
    @InventoryID       UNIQUEIDENTIFIER,
    @Severity          VARCHAR(20),
    @Source            NVARCHAR(100),
    @Message           NVARCHAR(MAX),
    @Path              NVARCHAR(4000) = NULL,
    @ErrorCode         INT = NULL,
    @AdditionalData    NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT OFF;

    DECLARE @ReturnCode INT = 0;

    BEGIN TRY
        INSERT INTO [fsapp].[EventLog] (
            [InventoryID], [Timestamp], [Severity], [Source], [Message],
            [Path], [ErrorCode], [ThreadID], [AdditionalData]
        )
        VALUES (
            @InventoryID, SYSDATETIMEOFFSET(), @Severity, @Source, @Message,
            @Path, @ErrorCode, @@SPID, @AdditionalData
        );

        PRINT '[' + @Severity + '] ' + @Source + ': ' + @Message;

    END TRY
    BEGIN CATCH
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'WARNING: Failed to log event - ' + ERROR_MESSAGE();
    END CATCH

    RETURN @ReturnCode;
END
GO
