USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_ComputeStats_DomainSummary]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ComputeStats_DomainSummary]
    @InventoryID    UNIQUEIDENTIFIER = NULL,
    @Force          BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Usage VARCHAR(50) = 'DomainSummary';
    DECLARE @StartTime DATETIME2 = SYSUTCDATETIME();
    DECLARE @ProcessedCount INT = 0;
    DECLARE @ErrorCount INT = 0;
    DECLARE @CurrentInventoryID UNIQUEIDENTIFIER;
    DECLARE @JSONData NVARCHAR(MAX);
    DECLARE @Message NVARCHAR(4000);
    DECLARE @InventoryCount INT;

    -- Variables for JSON construction (declared once, outside loop)
    DECLARE @DomainsJSON NVARCHAR(MAX);
    DECLARE @TotalDomains INT;
    DECLARE @TotalUniqueSIDs INT;
    DECLARE @TotalExplicitACEs BIGINT;

    -- Temp table to hold inventories to process
    CREATE TABLE #InventoriesToProcess (
        InventoryID UNIQUEIDENTIFIER PRIMARY KEY
    );

    -- Temp table for domain stats (declared once, cleared each iteration)
    CREATE TABLE #DomainStats (
        DomainSID NVARCHAR(200),
        DomainName NVARCHAR(255),
        NetBIOSName NVARCHAR(50),
        UniqueSIDCount INT,
        ExplicitACECount INT
    );

    -- Determine which inventories to process
    IF @InventoryID IS NOT NULL
    BEGIN
        -- Specific inventory requested
        IF NOT EXISTS (SELECT 1 FROM fsapp.CollectionInfo WHERE InventoryID = @InventoryID)
        BEGIN
            SET @Message = 'InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) + ' not found in fsapp.CollectionInfo';
            RAISERROR(@Message, 16, 1);
            RETURN 1;
        END

        IF @Force = 1 OR NOT EXISTS (
            SELECT 1 FROM fsapp.Stats
            WHERE InventoryID = @InventoryID AND Usage = @Usage
        )
        BEGIN
            INSERT INTO #InventoriesToProcess (InventoryID)
            VALUES (@InventoryID);
        END
        ELSE
        BEGIN
            PRINT 'Stats already exist for InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) + '. Use @Force=1 to recompute.';
            RETURN 0;
        END
    END
    ELSE
    BEGIN
        -- Process all inventories missing this stat (or all if @Force=1)
        IF @Force = 1
        BEGIN
            INSERT INTO #InventoriesToProcess (InventoryID)
            SELECT InventoryID FROM fsapp.CollectionInfo;
        END
        ELSE
        BEGIN
            INSERT INTO #InventoriesToProcess (InventoryID)
            SELECT c.InventoryID
            FROM fsapp.CollectionInfo c
            WHERE NOT EXISTS (
                SELECT 1 FROM fsapp.Stats s
                WHERE s.InventoryID = c.InventoryID AND s.Usage = @Usage
            );
        END
    END

    -- Check if there's anything to do
    IF NOT EXISTS (SELECT 1 FROM #InventoriesToProcess)
    BEGIN
        PRINT 'No inventories to process.';
        RETURN 0;
    END

    -- Get count for display (must use variable, not subquery in PRINT)
    SELECT @InventoryCount = COUNT(*) FROM #InventoriesToProcess;
    PRINT 'Processing ' + CAST(@InventoryCount AS VARCHAR(10)) + ' inventory(s)...';

    -- Process each inventory
    DECLARE cur CURSOR LOCAL FAST_FORWARD FOR
        SELECT InventoryID FROM #InventoriesToProcess;

    OPEN cur;
    FETCH NEXT FROM cur INTO @CurrentInventoryID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            -- Clear temp table and variables for this iteration
            DELETE FROM #DomainStats;
            SET @DomainsJSON = NULL;
            SET @TotalDomains = 0;
            SET @TotalUniqueSIDs = 0;
            SET @TotalExplicitACEs = 0;
            SET @JSONData = NULL;

            -- Get domain stats
            INSERT INTO #DomainStats (DomainSID, DomainName, NetBIOSName, UniqueSIDCount, ExplicitACECount)
            SELECT
                s.DomainSID,
                d.DomainName,
                d.NetBIOSName,
                COUNT(DISTINCT s.SidID) AS UniqueSIDCount,
                COUNT(ace.LocalACEID) AS ExplicitACECount
            FROM fsapp.SIDs s
            LEFT JOIN ADData.v_AD_Domain_Current d
                ON s.DomainSID = d.DomainSID
            LEFT JOIN fsapp.ACE ace
                ON s.SidID = ace.IdentitySID
                AND s.InventoryID = ace.InventoryID
                AND ace.IsInherited = 0
            WHERE s.InventoryID = @CurrentInventoryID
                AND s.IsWellKnown = 0
            GROUP BY
                s.DomainSID,
                d.DomainName,
                d.NetBIOSName;

            -- Build domains JSON array
            SET @DomainsJSON = (
                SELECT
                    DomainSID AS domainSID,
                    DomainName AS domainName,
                    NetBIOSName AS netBIOSName,
                    UniqueSIDCount AS uniqueSIDCount,
                    ExplicitACECount AS explicitACECount
                FROM #DomainStats
                ORDER BY ExplicitACECount DESC
                FOR JSON PATH
            );

            -- Compute summary totals
            SELECT
                @TotalDomains = COUNT(*),
                @TotalUniqueSIDs = ISNULL(SUM(UniqueSIDCount), 0),
                @TotalExplicitACEs = ISNULL(SUM(ExplicitACECount), 0)
            FROM #DomainStats;

            -- Build final JSON
            SET @JSONData = (
                SELECT
                    1 AS [version],
                    JSON_QUERY(ISNULL(@DomainsJSON, '[]')) AS domains,
                    JSON_QUERY('{"totalDomains":' + CAST(@TotalDomains AS VARCHAR(20)) +
                               ',"totalUniqueSIDs":' + CAST(@TotalUniqueSIDs AS VARCHAR(20)) +
                               ',"totalExplicitACEs":' + CAST(@TotalExplicitACEs AS VARCHAR(20)) + '}') AS summary
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            );

            -- Handle empty results (no non-well-known SIDs)
            IF @JSONData IS NULL
            BEGIN
                SET @JSONData = '{"version":1,"domains":[],"summary":{"totalDomains":0,"totalUniqueSIDs":0,"totalExplicitACEs":0}}';
            END

            -- Delete existing stat if present
            DELETE FROM fsapp.Stats
            WHERE InventoryID = @CurrentInventoryID AND Usage = @Usage;

            -- Insert new stat
            INSERT INTO fsapp.Stats (InventoryID, Usage, JSONData, ComputedAt)
            VALUES (@CurrentInventoryID, @Usage, @JSONData, SYSUTCDATETIME());

            SET @ProcessedCount = @ProcessedCount + 1;
            PRINT '    Computed ' + @Usage + ' for ' + CAST(@CurrentInventoryID AS NVARCHAR(50));

        END TRY
        BEGIN CATCH
            SET @ErrorCount = @ErrorCount + 1;
            SET @Message = 'Error computing ' + @Usage + ' for ' + CAST(@CurrentInventoryID AS NVARCHAR(50)) +
                          ': ' + ERROR_MESSAGE();
            PRINT @Message;

            -- Log error to EventLog
            BEGIN TRY
                INSERT INTO fsapp.EventLog (InventoryID, [Timestamp], Severity, [Source], [Message])
                VALUES (@CurrentInventoryID, SYSUTCDATETIME(), 'ERROR', 'usp_ComputeStats_DomainSummary', @Message);
            END TRY
            BEGIN CATCH
                -- Ignore logging errors
            END CATCH
        END CATCH

        FETCH NEXT FROM cur INTO @CurrentInventoryID;
    END

    CLOSE cur;
    DEALLOCATE cur;

    -- Log summary
    DECLARE @Duration INT = DATEDIFF(SECOND, @StartTime, SYSUTCDATETIME());
    SET @Message = 'Completed: ' + CAST(@ProcessedCount AS VARCHAR(10)) + ' inventory(s) processed, ' +
                   CAST(@ErrorCount AS VARCHAR(10)) + ' error(s) in ' + CAST(@Duration AS VARCHAR(10)) + ' second(s)';
    PRINT @Message;

    -- Log success to EventLog for each processed inventory (or summary if batch)
    IF @InventoryID IS NOT NULL AND @ProcessedCount > 0 AND @ErrorCount = 0
    BEGIN
        BEGIN TRY
            INSERT INTO fsapp.EventLog (InventoryID, [Timestamp], Severity, [Source], [Message])
            VALUES (@InventoryID, SYSUTCDATETIME(), 'INFO', 'usp_ComputeStats_DomainSummary',
                    'Successfully computed DomainSummary stats');
        END TRY
        BEGIN CATCH
            -- Ignore logging errors
        END CATCH
    END

    DROP TABLE #DomainStats;
    DROP TABLE #InventoriesToProcess;

    RETURN @ErrorCount;
END

GO
