USE [NTFSPerms]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetExplicitACEIdentities]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetExplicitACEIdentities]
(
    @InventoryID UNIQUEIDENTIFIER
)
RETURNS TABLE
AS
RETURN
(
    WITH
    -- Convert binary SIDs to string format inline for better performance
    SIDStrings AS (
        SELECT
            s.SidID,
            s.InventoryID,
            s.AccountName,
            s.Sid,
            -- SID string conversion (inline for performance)
            'S-' +
            CAST(CAST(SUBSTRING(s.Sid, 1, 1) AS INT) AS VARCHAR(10)) + '-' +
            CAST(
                CAST(SUBSTRING(s.Sid, 3, 1) AS BIGINT) * 1099511627776 +
                CAST(SUBSTRING(s.Sid, 4, 1) AS BIGINT) * 4294967296 +
                CAST(SUBSTRING(s.Sid, 5, 1) AS BIGINT) * 16777216 +
                CAST(SUBSTRING(s.Sid, 6, 1) AS BIGINT) * 65536 +
                CAST(SUBSTRING(s.Sid, 7, 1) AS BIGINT) * 256 +
                CAST(SUBSTRING(s.Sid, 8, 1) AS BIGINT)
            AS VARCHAR(20)) +
            CASE WHEN LEN(s.Sid) > 8 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 12, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 11, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 10, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 9, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END +
            CASE WHEN LEN(s.Sid) > 12 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 16, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 15, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 14, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 13, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END +
            CASE WHEN LEN(s.Sid) > 16 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 20, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 19, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 18, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 17, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END +
            CASE WHEN LEN(s.Sid) > 20 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 24, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 23, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 22, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 21, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END +
            CASE WHEN LEN(s.Sid) > 24 THEN
                '-' + CAST(
                    CAST(SUBSTRING(s.Sid, 28, 1) AS BIGINT) * 16777216 +
                    CAST(SUBSTRING(s.Sid, 27, 1) AS BIGINT) * 65536 +
                    CAST(SUBSTRING(s.Sid, 26, 1) AS BIGINT) * 256 +
                    CAST(SUBSTRING(s.Sid, 25, 1) AS BIGINT)
                AS VARCHAR(20))
            ELSE '' END AS SID_String
        FROM [fsapp].[SIDs] s
        WHERE s.InventoryID = @InventoryID
    ),
    -- Get the computer's domain collection ID
    ComputerDomain AS (
        SELECT TOP 1 ad.CollectionID
        FROM [fsapp].[CollectionInfo] ci
        INNER JOIN [ADData].[AD_Domain] ad ON ci.DomainName = ad.NetBIOSName
        WHERE ci.InventoryID = @InventoryID
    ),
    -- Aggregate explicit ACE counts
    ExplicitACECounts AS (
        SELECT
            ss.SID_String,
            ss.AccountName,
            COUNT(*) AS InstanceCount
        FROM fsapp.ACE ace
        INNER JOIN SIDStrings ss
            ON ace.InventoryID = ss.InventoryID
            AND ace.IdentitySID = ss.SidID
        WHERE ace.InventoryID = @InventoryID
            AND ace.IsInherited = 0
        GROUP BY
            ss.SID_String,
            ss.AccountName
    )
    SELECT
        eac.SID_String,
        eac.AccountName,
        ao.DomainName AS [Domain],
        ao.ObjectTypeName,
        eac.InstanceCount,
        CAST(CASE WHEN ao.SID_String IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS Resolvable
    FROM ExplicitACECounts eac
    CROSS JOIN ComputerDomain cd
    OUTER APPLY (
        SELECT TOP 1
            v.SID_String,
            v.DomainName,
            v.ObjectTypeName
        FROM ADData.v_AD_Object v
        WHERE v.SID_String = eac.SID_String
        ORDER BY
            v.IsForeignSecurityPrincipal ASC,
            CASE WHEN v.CollectionID = cd.CollectionID THEN 0 ELSE 1 END
    ) ao
);

GO
