USE [NTFSPerms]
GO
/****** Object:  View [dbo].[vw_PartitionedTables]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PartitionedTables]
AS
SELECT
    s.name AS SchemaName,
    t.name AS TableName,
    ps.name AS PartitionScheme,
    pf.name AS PartitionFunction
FROM sys.tables t
JOIN sys.schemas s ON t.schema_id = s.schema_id
JOIN sys.indexes i ON t.object_id = i.object_id AND i.index_id <= 1
LEFT JOIN sys.partition_schemes ps ON i.data_space_id = ps.data_space_id
LEFT JOIN sys.partition_functions pf ON ps.function_id = pf.function_id
WHERE s.name IN ('ADData', 'ADImport', 'fsapp', 'fssimport');
GO
