USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Partition_MergeEmpty]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Partition_MergeEmpty]
    @InventoryID UNIQUEIDENTIFIER,
    @ErrorMessage NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ReturnCode INT = 0;
    DECLARE @PartitionNumber INT;
    DECLARE @RowCount BIGINT;

    BEGIN TRY
        SET @PartitionNumber = $PARTITION.pf_InventoryID(@InventoryID);

        -- Verify partition is empty across all tables
        SELECT @RowCount = SUM(p.rows)
        FROM sys.tables t
        JOIN sys.schemas s ON t.schema_id = s.schema_id
        JOIN sys.indexes i ON t.object_id = i.object_id AND i.index_id <= 1
        JOIN sys.partition_schemes ps ON i.data_space_id = ps.data_space_id
        JOIN sys.partitions p ON i.object_id = p.object_id AND i.index_id = p.index_id
        WHERE ps.name = 'ps_InventoryID'
          AND p.partition_number = @PartitionNumber;

        IF @RowCount > 0
        BEGIN
            SET @ErrorMessage = 'Cannot merge partition - contains ' + FORMAT(@RowCount, 'N0') + ' rows';
            PRINT @ErrorMessage;
            RETURN 1;
        END

        -- Merge the partition
        ALTER PARTITION FUNCTION pf_InventoryID() MERGE RANGE (@InventoryID);

        PRINT 'Merged empty partition for InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));

    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'Error merging partition: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
