USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_MigrateNTFSPerms_CreateIndexes]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * 003_usp_MigrateNTFSPerms_CreateIndexes.sql
 *
 * Creates stored procedure to deploy all database indexes
 *
 * Purpose: Creates all non-clustered indexes for query performance optimization
 *
 * IMPORTANT: This script assumes the ODBC connection is already established to the target
 *            database. The database name is specified via the connection string, not via
 *            a USE statement. This allows the procedure to be deployed to any database
 *            specified by the user on the command line.
 *
 * Dependencies: Tables must exist - run CreateTables first
 *
 * Returns:
 *   0 = Success
 *   2 = Precondition not met (tables don't exist)
 *   Non-zero = SQL Server error number
 *
 * Output Parameters:
 *   @ErrorMessage = Error message if return code != 0, success message otherwise
 *
 * Version: 1.5.0
 * Created: 2025-11-27
 */

CREATE   PROCEDURE [dbo].[usp_MigrateNTFSPerms_CreateIndexes]
    @ErrorMessage NVARCHAR(4000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT OFF;

    DECLARE @ReturnCode INT = 0;
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ErrorLine INT;
    DECLARE @IndexesCreated INT = 0;

    BEGIN TRY
        -- Verify preconditions (check critical tables exist)
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[SIDs]') AND type = 'U')
        BEGIN
            SET @ErrorMessage = 'Precondition failed: Table [fsapp].[SIDs] does not exist. Run CreateTables first.';
            RETURN 2;
        END

        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[Folders]') AND type = 'U')
        BEGIN
            SET @ErrorMessage = 'Precondition failed: Table [fsapp].[Folders] does not exist. Run CreateTables first.';
            RETURN 2;
        END

        BEGIN TRANSACTION;

        PRINT 'Creating performance indexes...';

        -- ==============================================================================
        -- SIDs TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[SIDs]') AND name = 'UQ_SIDs_InventoryID_Sid')
        BEGIN
            CREATE UNIQUE NONCLUSTERED INDEX [UQ_SIDs_InventoryID_Sid]
                ON [fsapp].[SIDs] ([InventoryID], [Sid]);
            PRINT '  Created index [UQ_SIDs_InventoryID_Sid]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[SIDs]') AND name = 'IX_SIDs_AccountName')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_SIDs_AccountName]
                ON [fsapp].[SIDs] ([AccountName])
                INCLUDE ([Sid], [InventoryID]);
            PRINT '  Created index [IX_SIDs_AccountName]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[SIDs]') AND name = 'IX_SIDs_IsResolved')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_SIDs_IsResolved]
                ON [fsapp].[SIDs] ([InventoryID], [IsResolved])
                INCLUDE ([Sid], [AccountName]);
            PRINT '  Created index [IX_SIDs_IsResolved]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        -- ==============================================================================
        -- FOLDERS TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[Folders]') AND name = 'IX_Folders_PathHash')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_Folders_PathHash]
                ON [fsapp].[Folders] ([InventoryID], [PathHash])
                INCLUDE ([LocalFolderID], [ParentFolderID], [Path]);
            PRINT '  Created index [IX_Folders_PathHash]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[Folders]') AND name = 'IX_Folders_ParentID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_Folders_ParentID]
                ON [fsapp].[Folders] ([InventoryID], [ParentFolderID])
                INCLUDE ([LocalFolderID], [Path]);
            PRINT '  Created index [IX_Folders_ParentID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[Folders]') AND name = 'IX_Folders_VolumeID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_Folders_VolumeID]
                ON [fsapp].[Folders] ([InventoryID], [VolumeID])
                INCLUDE ([LocalFolderID], [Path]);
            PRINT '  Created index [IX_Folders_VolumeID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        -- ==============================================================================
        -- ACL TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[ACL]') AND name = 'IX_ACL_LocalFolderID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_ACL_LocalFolderID]
                ON [fsapp].[ACL] ([InventoryID], [LocalFolderID])
                INCLUDE ([LocalACLID], [Owner], [Group]);
            PRINT '  Created index [IX_ACL_LocalFolderID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[ACL]') AND name = 'IX_ACL_Owner')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_ACL_Owner]
                ON [fsapp].[ACL] ([Owner])
                INCLUDE ([InventoryID], [LocalFolderID]);
            PRINT '  Created index [IX_ACL_Owner]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[ACL]') AND name = 'IX_ACL_Group')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_ACL_Group]
                ON [fsapp].[ACL] ([Group])
                INCLUDE ([InventoryID], [LocalFolderID]);
            PRINT '  Created index [IX_ACL_Group]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        -- ==============================================================================
        -- ACE TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[ACE]') AND name = 'IX_ACE_LocalFolderID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_ACE_LocalFolderID]
                ON [fsapp].[ACE] ([InventoryID], [LocalFolderID])
                INCLUDE ([LocalACEID], [IdentitySID], [AccessControlType], [FileSystemRightsMask]);
            PRINT '  Created index [IX_ACE_LocalFolderID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[ACE]') AND name = 'IX_ACE_IdentitySID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_ACE_IdentitySID]
                ON [fsapp].[ACE] ([InventoryID], [IdentitySID])
                INCLUDE ([LocalFolderID], [AccessControlType], [FileSystemRightsMask]);
            PRINT '  Created index [IX_ACE_IdentitySID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[ACE]') AND name = 'IX_ACE_InheritedFrom')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_ACE_InheritedFrom]
                ON [fsapp].[ACE] ([InventoryID], [InheritedFromLocalID])
                INCLUDE ([LocalFolderID], [IdentitySID]);
            PRINT '  Created index [IX_ACE_InheritedFrom]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[ACE]') AND name = 'IX_ACE_FileSystemRightsMask')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_ACE_FileSystemRightsMask]
                ON [fsapp].[ACE] ([InventoryID], [FileSystemRightsMask])
                INCLUDE ([LocalFolderID], [IdentitySID]);
            PRINT '  Created index [IX_ACE_FileSystemRightsMask]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[ACE]') AND name = 'IX_ACE_LocalFolderID_IsInherited')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_ACE_LocalFolderID_IsInherited]
                ON [fsapp].[ACE] ([InventoryID], [LocalFolderID], [IsInherited])
                INCLUDE ([LocalACEID]);
            PRINT '  Created index [IX_ACE_LocalFolderID_IsInherited]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        -- ==============================================================================
        -- PARTITION TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[Partitions]') AND name = 'IX_Partitions_DiskID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_Partitions_DiskID]
                ON [fsapp].[Partitions] ([InventoryID], [DiskID])
                INCLUDE ([PartitionID], [PartitionIndex], [StartOffset], [LengthBytes]);
            PRINT '  Created index [IX_Partitions_DiskID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        -- ==============================================================================
        -- VOLUME EXTENT TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[VolumeExtents]') AND name = 'IX_VolumeExtents_DiskID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_VolumeExtents_DiskID]
                ON [fsapp].[VolumeExtents] ([InventoryID], [DiskID])
                INCLUDE ([VolumeID], [ExtentIndex], [StartingOffset], [ExtentLength]);
            PRINT '  Created index [IX_VolumeExtents_DiskID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[VolumeExtents]') AND name = 'IX_VolumeExtents_VolumeID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_VolumeExtents_VolumeID]
                ON [fsapp].[VolumeExtents] ([InventoryID], [VolumeID])
                INCLUDE ([DiskID], [ExtentIndex], [StartingOffset], [ExtentLength]);
            PRINT '  Created index [IX_VolumeExtents_VolumeID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        -- ==============================================================================
        -- VOLUME MOUNTS TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[VolumeMounts]') AND name = 'IX_VolumeMounts_MountPoint')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_VolumeMounts_MountPoint]
                ON [fsapp].[VolumeMounts] ([InventoryID], [MountPoint])
                INCLUDE ([VolumeID]);
            PRINT '  Created index [IX_VolumeMounts_MountPoint]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        -- ==============================================================================
        -- SMB SHARES TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[SMBShares]') AND name = 'IX_SMBShares_Path')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_SMBShares_Path]
                ON [fsapp].[SMBShares] ([InventoryID], [Path])
                INCLUDE ([ShareID], [Name]);
            PRINT '  Created index [IX_SMBShares_Path]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[SMBShares]') AND name = 'IX_SMBShares_VolumeID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_SMBShares_VolumeID]
                ON [fsapp].[SMBShares] ([InventoryID], [VolumeID])
                INCLUDE ([ShareID], [Name], [Path]);
            PRINT '  Created index [IX_SMBShares_VolumeID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[SMBShares]') AND name = 'IX_SMBShares_Name')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_SMBShares_Name]
                ON [fsapp].[SMBShares] ([InventoryID], [Name])
                INCLUDE ([ShareID], [Path]);
            PRINT '  Created index [IX_SMBShares_Name]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        -- ==============================================================================
        -- SMB SHARE ACCESS TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[SMBShareAccess]') AND name = 'IX_SMBShareAccess_ShareID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_SMBShareAccess_ShareID]
                ON [fsapp].[SMBShareAccess] ([InventoryID], [ShareID])
                INCLUDE ([AccessID], [Trustee], [AccessType], [AccessMask]);
            PRINT '  Created index [IX_SMBShareAccess_ShareID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[SMBShareAccess]') AND name = 'IX_SMBShareAccess_Trustee')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_SMBShareAccess_Trustee]
                ON [fsapp].[SMBShareAccess] ([Trustee])
                INCLUDE ([InventoryID], [ShareID], [AccessType], [AccessMask]);
            PRINT '  Created index [IX_SMBShareAccess_Trustee]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        -- ==============================================================================
        -- EVENT LOG TABLE INDEXES
        -- ==============================================================================

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[EventLog]') AND name = 'IX_EventLog_Severity')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_EventLog_Severity]
                ON [fsapp].[EventLog] ([InventoryID], [Severity])
                INCLUDE ([EventID], [Timestamp], [Source], [Message]);
            PRINT '  Created index [IX_EventLog_Severity]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[EventLog]') AND name = 'IX_EventLog_Timestamp')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_EventLog_Timestamp]
                ON [fsapp].[EventLog] ([Timestamp])
                INCLUDE ([EventID], [Severity], [Source]);
            PRINT '  Created index [IX_EventLog_Timestamp]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[EventLog]') AND name = 'IX_EventLog_Source')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_EventLog_Source]
                ON [fsapp].[EventLog] ([Source])
                INCLUDE ([EventID], [Timestamp], [Severity]);
            PRINT '  Created index [IX_EventLog_Source]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[fsapp].[EventLog]') AND name = 'IX_EventLog_InventoryID')
        BEGIN
            CREATE NONCLUSTERED INDEX [IX_EventLog_InventoryID]
                ON [fsapp].[EventLog] ([InventoryID])
                INCLUDE ([EventID], [Timestamp], [Severity], [Source]);
            PRINT '  Created index [IX_EventLog_InventoryID]';
            SET @IndexesCreated = @IndexesCreated + 1;
        END

        COMMIT TRANSACTION;

        PRINT 'All indexes created successfully!';
        SET @ErrorMessage = CAST(@IndexesCreated AS NVARCHAR(10)) + ' indexes created successfully';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ErrorNumber = ERROR_NUMBER();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();
        SET @ErrorLine = ERROR_LINE();

        SET @ErrorMessage =
            'Error ' + CAST(@ErrorNumber AS NVARCHAR(10)) +
            ' (Severity ' + CAST(@ErrorSeverity AS NVARCHAR(10)) +
            ', State ' + CAST(@ErrorState AS NVARCHAR(10)) + ')' +
            ' at Line ' + CAST(@ErrorLine AS NVARCHAR(10)) + ': ' +
            ERROR_MESSAGE();

        SET @ReturnCode = @ErrorNumber;

        PRINT 'ERROR: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
