USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Partition_SwitchOut]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Partition_SwitchOut]
    @SchemaName NVARCHAR(128),
    @TableName NVARCHAR(128),
    @InventoryID UNIQUEIDENTIFIER,
    @ErrorMessage NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ReturnCode INT = 0;
    DECLARE @PartitionNumber INT;
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @ArchiveTableName NVARCHAR(256);

    BEGIN TRY
        SET @PartitionNumber = $PARTITION.pf_InventoryID(@InventoryID);
        SET @ArchiveTableName = @SchemaName + '.' + @TableName + '_Archive';

        -- Create archive table if not exists (must match source exactly)
        -- For production, this should be pre-created with matching structure
        IF OBJECT_ID(@ArchiveTableName, 'U') IS NULL
        BEGIN
            SET @ErrorMessage = 'Archive table ' + @ArchiveTableName + ' does not exist. Create it first with matching structure.';
            PRINT @ErrorMessage;
            RETURN 1;
        END

        -- Perform partition switch
        SET @SQL = N'ALTER TABLE [' + @SchemaName + '].[' + @TableName + ']
                     SWITCH PARTITION ' + CAST(@PartitionNumber AS NVARCHAR(10)) + '
                     TO [' + @ArchiveTableName + ']';

        PRINT 'Switching partition ' + CAST(@PartitionNumber AS NVARCHAR(10)) + ' to ' + @ArchiveTableName;
        EXEC sp_executesql @SQL;

        -- Truncate archive table
        SET @SQL = N'TRUNCATE TABLE [' + @ArchiveTableName + ']';
        EXEC sp_executesql @SQL;

        PRINT 'Partition switched and archive truncated successfully';

    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'Error switching partition: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
