USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_ValidateAllForeignKeys]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_ValidateAllForeignKeys]
    @SourceSchema       NVARCHAR(128) = 'fssimport',    -- Schema to validate (import data)
    @TargetSchema       NVARCHAR(128) = 'fsapp',        -- Schema with FK constraints to check against
    @InventoryID        UNIQUEIDENTIFIER = NULL,         -- Optional: filter by InventoryID
    @MaxErrorsPerFK     INT = 100,                       -- Maximum errors to report per FK
    @VerboseOutput      BIT = 1,                         -- Print progress messages
    @TotalViolations    INT = NULL OUTPUT                -- OUTPUT: total violations found
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @FKName NVARCHAR(256);
    DECLARE @ParentSchema NVARCHAR(128);
    DECLARE @ParentTable NVARCHAR(128);
    DECLARE @ChildSchema NVARCHAR(128);
    DECLARE @ChildTable NVARCHAR(128);
    DECLARE @ParentColumns NVARCHAR(MAX);
    DECLARE @ChildColumns NVARCHAR(MAX);
    DECLARE @JoinCondition NVARCHAR(MAX);
    DECLARE @WhereCondition NVARCHAR(MAX);
    DECLARE @ViolationCount INT;
    DECLARE @SourceTable NVARCHAR(256);
    DECLARE @PKColumns NVARCHAR(MAX);
    DECLARE @HasInventoryID BIT;

    SET @TotalViolations = 0;

    -- Create temp table for results
    IF OBJECT_ID('tempdb..##FKValidationResults') IS NOT NULL
        DROP TABLE ##FKValidationResults;

    CREATE TABLE ##FKValidationResults (
        ValidationID        INT IDENTITY(1,1) PRIMARY KEY,
        ConstraintName      NVARCHAR(256) NOT NULL,
        SourceSchema        NVARCHAR(128) NOT NULL,
        SourceTable         NVARCHAR(128) NOT NULL,
        TargetSchema        NVARCHAR(128) NOT NULL,
        TargetTable         NVARCHAR(128) NOT NULL,
        PKValue             NVARCHAR(MAX) NULL,
        FKColumns           NVARCHAR(MAX) NOT NULL,
        InvalidFKValues     NVARCHAR(MAX) NULL,
        ParentTable         NVARCHAR(256) NOT NULL,
        SuggestedFix        NVARCHAR(500) NULL,
        DetectedAt          DATETIME2(3) DEFAULT SYSDATETIME()
    );

    IF @VerboseOutput = 1
    BEGIN
        PRINT '=============================================================================';
        PRINT 'Foreign Key Validation - Generic Validator';
        PRINT '=============================================================================';
        PRINT 'Source Schema: ' + @SourceSchema;
        PRINT 'Target Schema: ' + @TargetSchema;
        PRINT 'InventoryID Filter: ' + ISNULL(CAST(@InventoryID AS NVARCHAR(50)), '(All)');
        PRINT '-----------------------------------------------------------------------------';
        PRINT '';
    END

    -- Cursor through all foreign keys in the target schema
    DECLARE FK_Cursor CURSOR LOCAL FAST_FORWARD FOR
    SELECT
        fk.name AS FK_Name,
        SCHEMA_NAME(parent_t.schema_id) AS Parent_Schema,
        parent_t.name AS Parent_Table,
        SCHEMA_NAME(ref_t.schema_id) AS Child_Schema,
        ref_t.name AS Child_Table
    FROM sys.foreign_keys fk
    INNER JOIN sys.tables parent_t ON fk.parent_object_id = parent_t.object_id
    INNER JOIN sys.tables ref_t ON fk.referenced_object_id = ref_t.object_id
    WHERE SCHEMA_NAME(parent_t.schema_id) = @TargetSchema
    ORDER BY parent_t.name, fk.name;

    OPEN FK_Cursor;
    FETCH NEXT FROM FK_Cursor INTO @FKName, @ParentSchema, @ParentTable, @ChildSchema, @ChildTable;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Build column lists for this FK
        SET @ParentColumns = '';
        SET @ChildColumns = '';
        SET @JoinCondition = '';

        -- Get FK column mappings
        SELECT
            @ParentColumns = @ParentColumns + CASE WHEN @ParentColumns = '' THEN '' ELSE ', ' END +
                             QUOTENAME(COL_NAME(fkc.parent_object_id, fkc.parent_column_id)),
            @ChildColumns = @ChildColumns + CASE WHEN @ChildColumns = '' THEN '' ELSE ', ' END +
                            QUOTENAME(COL_NAME(fkc.referenced_object_id, fkc.referenced_column_id)),
            @JoinCondition = @JoinCondition + CASE WHEN @JoinCondition = '' THEN '' ELSE ' AND ' END +
                             'src.' + QUOTENAME(COL_NAME(fkc.parent_object_id, fkc.parent_column_id)) +
                             ' = tgt.' + QUOTENAME(COL_NAME(fkc.referenced_object_id, fkc.referenced_column_id))
        FROM sys.foreign_key_columns fkc
        INNER JOIN sys.foreign_keys fk ON fkc.constraint_object_id = fk.object_id
        WHERE fk.name = @FKName
        ORDER BY fkc.constraint_column_id;

        -- Determine the source table in import schema
        SET @SourceTable = QUOTENAME(@SourceSchema) + '.' + QUOTENAME(@ParentTable);

        -- Check if source table exists in import schema
        IF NOT EXISTS (
            SELECT 1 FROM sys.tables t
            INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
            WHERE s.name = @SourceSchema AND t.name = @ParentTable
        )
        BEGIN
            IF @VerboseOutput = 1
                PRINT '  Skipping ' + @FKName + ' - source table not in ' + @SourceSchema + ' schema';

            FETCH NEXT FROM FK_Cursor INTO @FKName, @ParentSchema, @ParentTable, @ChildSchema, @ChildTable;
            CONTINUE;
        END

        -- Check if target (referenced) table exists - might be lookup table
        DECLARE @TargetTableFull NVARCHAR(256);
        SET @TargetTableFull = QUOTENAME(@ChildSchema) + '.' + QUOTENAME(@ChildTable);

        -- Check if source table has InventoryID column
        SET @HasInventoryID = 0;
        IF EXISTS (
            SELECT 1 FROM sys.columns c
            INNER JOIN sys.tables t ON c.object_id = t.object_id
            INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
            WHERE s.name = @SourceSchema AND t.name = @ParentTable AND c.name = 'InventoryID'
        )
        BEGIN
            SET @HasInventoryID = 1;
        END

        -- Build WHERE condition for NULL check dynamically
        SET @WhereCondition = '';
        SELECT @WhereCondition = @WhereCondition +
            CASE WHEN @WhereCondition = '' THEN '' ELSE ' AND ' END +
            'tgt.' + QUOTENAME(COL_NAME(fkc.referenced_object_id, fkc.referenced_column_id)) + ' IS NULL'
        FROM sys.foreign_key_columns fkc
        INNER JOIN sys.foreign_keys fk ON fkc.constraint_object_id = fk.object_id
        WHERE fk.name = @FKName
        ORDER BY fkc.constraint_column_id;

        -- Add NOT NULL check for FK columns in source (only validate non-null references)
        DECLARE @NotNullCondition NVARCHAR(MAX) = '';
        SELECT @NotNullCondition = @NotNullCondition +
            CASE WHEN @NotNullCondition = '' THEN '' ELSE ' AND ' END +
            'src.' + QUOTENAME(COL_NAME(fkc.parent_object_id, fkc.parent_column_id)) + ' IS NOT NULL'
        FROM sys.foreign_key_columns fkc
        INNER JOIN sys.foreign_keys fk ON fkc.constraint_object_id = fk.object_id
        WHERE fk.name = @FKName
        ORDER BY fkc.constraint_column_id;

        -- Get PK columns of source table for identification
        SET @PKColumns = '';
        SELECT @PKColumns = @PKColumns + CASE WHEN @PKColumns = '' THEN '' ELSE ' + '', '' + ' END +
            'CAST(src.' + QUOTENAME(c.name) + ' AS NVARCHAR(MAX))'
        FROM sys.index_columns ic
        INNER JOIN sys.indexes i ON ic.object_id = i.object_id AND ic.index_id = i.index_id
        INNER JOIN sys.columns c ON ic.object_id = c.object_id AND ic.column_id = c.column_id
        INNER JOIN sys.tables t ON i.object_id = t.object_id
        INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
        WHERE s.name = @SourceSchema AND t.name = @ParentTable AND i.is_primary_key = 1
        ORDER BY ic.key_ordinal;

        IF @PKColumns = '' SET @PKColumns = '''(no PK)''';

        -- Build the validation query
        SET @SQL = '
        INSERT INTO ##FKValidationResults (
            ConstraintName, SourceSchema, SourceTable, TargetSchema, TargetTable,
            PKValue, FKColumns, InvalidFKValues, ParentTable, SuggestedFix
        )
        SELECT TOP (' + CAST(@MaxErrorsPerFK AS NVARCHAR(10)) + ')
            ''' + @FKName + ''',
            ''' + @SourceSchema + ''',
            ''' + @ParentTable + ''',
            ''' + @ChildSchema + ''',
            ''' + @ChildTable + ''',
            ' + @PKColumns + ',
            ''' + @ParentColumns + ''',
            ' + REPLACE(@PKColumns, 'src.' + QUOTENAME((
                SELECT TOP 1 COL_NAME(fkc.parent_object_id, fkc.parent_column_id)
                FROM sys.foreign_key_columns fkc
                INNER JOIN sys.foreign_keys fk ON fkc.constraint_object_id = fk.object_id
                WHERE fk.name = @FKName
                ORDER BY fkc.constraint_column_id
            )), 'CAST(src.' + @ParentColumns + ' AS NVARCHAR(MAX))') + ',
            ''' + @TargetTableFull + ''',
            ''Add missing record to ' + @TargetTableFull + ' or set FK column to NULL''
        FROM ' + @SourceTable + ' src
        LEFT JOIN ' + @TargetTableFull + ' tgt ON ' + @JoinCondition + '
        WHERE ' + @NotNullCondition + ' AND (' + @WhereCondition + ')';

        -- Add InventoryID filter if applicable and provided
        IF @HasInventoryID = 1 AND @InventoryID IS NOT NULL
        BEGIN
            SET @SQL = @SQL + ' AND src.[InventoryID] = ''' + CAST(@InventoryID AS NVARCHAR(50)) + '''';
        END

        -- Execute validation
        IF @VerboseOutput = 1
            PRINT 'Validating: ' + @FKName + ' (' + @SourceTable + ' -> ' + @TargetTableFull + ')';

        BEGIN TRY
            EXEC sp_executesql @SQL;

            -- Count violations for this FK
            SELECT @ViolationCount = COUNT(*)
            FROM ##FKValidationResults
            WHERE ConstraintName = @FKName;

            SET @TotalViolations = @TotalViolations + @ViolationCount;

            IF @VerboseOutput = 1
            BEGIN
                IF @ViolationCount > 0
                    PRINT '  WARNING: ' + CAST(@ViolationCount AS NVARCHAR(10)) + ' violation(s) found';
                ELSE
                    PRINT '  OK';
            END
        END TRY
        BEGIN CATCH
            IF @VerboseOutput = 1
                PRINT '  ERROR: ' + ERROR_MESSAGE();
        END CATCH

        FETCH NEXT FROM FK_Cursor INTO @FKName, @ParentSchema, @ParentTable, @ChildSchema, @ChildTable;
    END

    CLOSE FK_Cursor;
    DEALLOCATE FK_Cursor;

    -- Print summary
    IF @VerboseOutput = 1
    BEGIN
        PRINT '';
        PRINT '=============================================================================';
        PRINT 'Validation Complete';
        PRINT '=============================================================================';
        PRINT 'Total FK Violations Found: ' + CAST(@TotalViolations AS NVARCHAR(10));
        IF @TotalViolations > 0
        BEGIN
            PRINT '';
            PRINT 'Query ##FKValidationResults for detailed violation information:';
            PRINT '  SELECT * FROM ##FKValidationResults ORDER BY SourceTable, ConstraintName;';
        END
        PRINT '=============================================================================';
    END

    -- Return results
    IF @TotalViolations > 0
    BEGIN
        SELECT
            ConstraintName,
            SourceSchema + '.' + SourceTable AS SourceTable,
            PKValue,
            FKColumns,
            InvalidFKValues,
            ParentTable AS ReferencedTable,
            SuggestedFix
        FROM ##FKValidationResults
        ORDER BY SourceTable, ConstraintName, ValidationID;
    END

    RETURN @TotalViolations;
END
GO
