USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_DML_SyncFromImport]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- STEP 3: Create updated stored procedure with UPPER() for NetBIOSName
-- ============================================================================
CREATE PROCEDURE [dbo].[usp_DML_SyncFromImport]
    @CollectionID UNIQUEIDENTIFIER,          -- Required: Collection being processed
    @Debug BIT = 0                           -- Optional: Print debug information
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    -- ========================================================================
    -- Variable declarations
    -- ========================================================================
    DECLARE @StartTime DATETIME2 = SYSUTCDATETIME();
    DECLARE @InventoryID NVARCHAR(50);
    DECLARE @CollectionDateTime DATETIME2(7);
    DECLARE @DomainsCreated INT = 0;
    DECLARE @DomainsUpdated INT = 0;
    DECLARE @TrustUpdates INT = 0;
    DECLARE @NotesCreated INT = 0;

    -- Trust target domain constants
    DECLARE @TrustTarget_ADMgmt NVARCHAR(255) = 'admgmt.ssncad.global';
    DECLARE @TrustTarget_SSNC_Corp NVARCHAR(255) = 'ssnc-corp.global';
    DECLARE @TrustTarget_SSCViolet NVARCHAR(255) = 'sscviolet.ssncad.global';

    -- TriState constants
    DECLARE @TriState_Yes TINYINT = 1;
    DECLARE @TriState_No TINYINT = 2;
    DECLARE @TriState_Never TINYINT = 3;

    PRINT '============================================================================';
    PRINT 'DML Sync From Import - Domain Master List Synchronization';
    PRINT '============================================================================';
    PRINT 'Start Time: ' + CONVERT(VARCHAR(30), @StartTime, 121);
    PRINT 'Collection ID: ' + CAST(@CollectionID AS VARCHAR(36));
    PRINT '';

    -- ========================================================================
    -- Validate inputs
    -- ========================================================================
    IF @CollectionID IS NULL
    BEGIN
        RAISERROR('CollectionID is required for DML synchronization.', 16, 1);
        RETURN;
    END

    -- Get InventoryID and CollectionDateTime for context
    SELECT @InventoryID = InventoryID,
           @CollectionDateTime = CollectionDateTime
    FROM ADImport.CollectionInfo
    WHERE CollectionID = @CollectionID;

    IF @InventoryID IS NULL
    BEGIN
        -- Try ADData if not in ADImport (already transferred)
        SELECT @InventoryID = InventoryID,
               @CollectionDateTime = CollectionDateTime
        FROM ADData.CollectionInfo
        WHERE CollectionID = @CollectionID;
    END

    IF @InventoryID IS NULL
    BEGIN
        RAISERROR('CollectionID not found in ADImport or ADData.CollectionInfo.', 16, 1);
        RETURN;
    END

    IF @Debug = 1
    BEGIN
        PRINT 'InventoryID: ' + ISNULL(@InventoryID, '(null)');
        PRINT 'CollectionDateTime: ' + ISNULL(CONVERT(VARCHAR(30), @CollectionDateTime, 121), '(null)');
    END

    BEGIN TRY
        -- ====================================================================
        -- PHASE 1: Domain Record Synchronization
        -- ====================================================================
        PRINT 'PHASE 1: Domain Record Synchronization';
        PRINT '----------------------------------------';

        -- Temporary table to track domains being processed
        CREATE TABLE #DomainsToProcess (
            DomainName NVARCHAR(255) NOT NULL,
            NetBIOSName NVARCHAR(50) NULL,
            DomainID INT NULL,
            IsNew BIT NOT NULL DEFAULT(0),
            CurrentLastInventoryDate DATETIME2(7) NULL,
            PRIMARY KEY (DomainName)
        );

        -- Get all domains from import for this collection
        -- NetBIOSName is converted to uppercase for consistency
        INSERT INTO #DomainsToProcess (DomainName, NetBIOSName)
        SELECT DISTINCT
            d.DomainName,
            UPPER(d.NetBIOSName)
        FROM ADImport.AD_Domain d
        WHERE d.CollectionID = @CollectionID;

        IF @Debug = 1
            PRINT '  Domains in import: ' + CAST(@@ROWCOUNT AS VARCHAR(10));

        -- Mark existing domains and capture their IDs and current LastInventoryDate
        UPDATE dtp
        SET DomainID = dml.DomainID,
            IsNew = 0,
            CurrentLastInventoryDate = dml.LastInventoryDate
        FROM #DomainsToProcess dtp
        INNER JOIN [DML].[DomainMasterList] dml
            ON LOWER(dtp.DomainName) = LOWER(dml.DomainName);

        -- Insert new domains (NetBIOSName already uppercase from temp table)
        INSERT INTO [DML].[DomainMasterList] (DomainName, NetBIOSName)
        SELECT dtp.DomainName, dtp.NetBIOSName
        FROM #DomainsToProcess dtp
        WHERE dtp.DomainID IS NULL;

        SET @DomainsCreated = @@ROWCOUNT;

        IF @DomainsCreated > 0
            PRINT '  New domains created: ' + CAST(@DomainsCreated AS VARCHAR(10));

        -- Update DomainID for newly created domains
        UPDATE dtp
        SET DomainID = dml.DomainID,
            IsNew = 1
        FROM #DomainsToProcess dtp
        INNER JOIN [DML].[DomainMasterList] dml
            ON LOWER(dtp.DomainName) = LOWER(dml.DomainName)
        WHERE dtp.DomainID IS NULL;

        -- Update LastInventoryDate for domains where CollectionDateTime is newer
        -- (or where LastInventoryDate is NULL)
        UPDATE dml
        SET LastInventoryDate = @CollectionDateTime
        FROM [DML].[DomainMasterList] dml
        INNER JOIN #DomainsToProcess dtp ON dml.DomainID = dtp.DomainID
        WHERE dml.LastInventoryDate IS NULL
           OR @CollectionDateTime > dml.LastInventoryDate;

        SET @DomainsUpdated = @@ROWCOUNT;
        PRINT '  Domains updated (LastInventoryDate): ' + CAST(@DomainsUpdated AS VARCHAR(10));

        IF @Debug = 1 AND @DomainsUpdated > 0
            PRINT '  CollectionDateTime used: ' + CONVERT(VARCHAR(30), @CollectionDateTime, 121);

        -- ====================================================================
        -- PHASE 2: Auto-Creation Notes (New Domains Only)
        -- ====================================================================
        PRINT '';
        PRINT 'PHASE 2: Auto-Creation Notes';
        PRINT '-----------------------------';

        INSERT INTO [DML].[DomainNotes] (DomainID, NoteSubject, NoteText, CreatedBy, IsSystem)
        SELECT
            dtp.DomainID,
            'Auto Created by Import Task',
            'Domain automatically created during import.' + CHAR(13) + CHAR(10) +
            CHAR(13) + CHAR(10) +
            'InventoryID: ' + ISNULL(@InventoryID, '(unknown)') + CHAR(13) + CHAR(10) +
            'CollectionID: ' + CAST(@CollectionID AS VARCHAR(36)),
            'Import Task',
            1  -- IsSystem = true
        FROM #DomainsToProcess dtp
        WHERE dtp.IsNew = 1;

        DECLARE @AutoCreateNotes INT = @@ROWCOUNT;
        SET @NotesCreated = @NotesCreated + @AutoCreateNotes;

        IF @AutoCreateNotes > 0
            PRINT '  Auto-creation notes added: ' + CAST(@AutoCreateNotes AS VARCHAR(10));
        ELSE
            PRINT '  No new domains, no auto-creation notes needed.';

        -- ====================================================================
        -- PHASE 3: Trust Detection & Updates
        -- ====================================================================
        PRINT '';
        PRINT 'PHASE 3: Trust Detection & Updates';
        PRINT '-----------------------------------';

        -- Create temporary table for qualifying trusts
        CREATE TABLE #QualifyingTrusts (
            SourceDomain NVARCHAR(255) NOT NULL,
            TargetDomain NVARCHAR(255) NOT NULL,
            DomainID INT NOT NULL,
            TrustField NVARCHAR(50) NOT NULL,
            TrustDisplayName NVARCHAR(50) NOT NULL,
            CurrentTriStateID TINYINT NOT NULL,
            PRIMARY KEY (SourceDomain, TargetDomain)
        );

        -- Find qualifying forest trusts for ADMgmt
        INSERT INTO #QualifyingTrusts (SourceDomain, TargetDomain, DomainID, TrustField, TrustDisplayName, CurrentTriStateID)
        SELECT
            t.SourceDomain,
            t.TargetDomain,
            dtp.DomainID,
            'Trust_ADMgmt_TriStateID',
            'ADMgmt',
            dml.Trust_ADMgmt_TriStateID
        FROM ADImport.AD_Trust t
        INNER JOIN #DomainsToProcess dtp ON LOWER(t.SourceDomain) = LOWER(dtp.DomainName)
        INNER JOIN [DML].[DomainMasterList] dml ON dtp.DomainID = dml.DomainID
        WHERE t.CollectionID = @CollectionID
            AND t.TrustType = 'Forest'
            AND t.TrustDirection IN ('Outbound', 'Bidirectional')
            AND LOWER(t.TargetDomain) = LOWER(@TrustTarget_ADMgmt)
            AND dml.Trust_ADMgmt_TriStateID <> @TriState_Yes;

        -- Find qualifying forest trusts for SSNC-Corp
        INSERT INTO #QualifyingTrusts (SourceDomain, TargetDomain, DomainID, TrustField, TrustDisplayName, CurrentTriStateID)
        SELECT
            t.SourceDomain,
            t.TargetDomain,
            dtp.DomainID,
            'Trust_SSNC_Corp_TriStateID',
            'SSNC-Corp',
            dml.Trust_SSNC_Corp_TriStateID
        FROM ADImport.AD_Trust t
        INNER JOIN #DomainsToProcess dtp ON LOWER(t.SourceDomain) = LOWER(dtp.DomainName)
        INNER JOIN [DML].[DomainMasterList] dml ON dtp.DomainID = dml.DomainID
        WHERE t.CollectionID = @CollectionID
            AND t.TrustType = 'Forest'
            AND t.TrustDirection IN ('Outbound', 'Bidirectional')
            AND LOWER(t.TargetDomain) = LOWER(@TrustTarget_SSNC_Corp)
            AND dml.Trust_SSNC_Corp_TriStateID <> @TriState_Yes
            AND NOT EXISTS (
                SELECT 1 FROM #QualifyingTrusts qt
                WHERE qt.SourceDomain = t.SourceDomain AND qt.TargetDomain = t.TargetDomain
            );

        -- Find qualifying forest trusts for SSCViolet
        INSERT INTO #QualifyingTrusts (SourceDomain, TargetDomain, DomainID, TrustField, TrustDisplayName, CurrentTriStateID)
        SELECT
            t.SourceDomain,
            t.TargetDomain,
            dtp.DomainID,
            'Trust_SSCViolet_TriStateID',
            'SSCViolet',
            dml.Trust_SSCViolet_TriStateID
        FROM ADImport.AD_Trust t
        INNER JOIN #DomainsToProcess dtp ON LOWER(t.SourceDomain) = LOWER(dtp.DomainName)
        INNER JOIN [DML].[DomainMasterList] dml ON dtp.DomainID = dml.DomainID
        WHERE t.CollectionID = @CollectionID
            AND t.TrustType = 'Forest'
            AND t.TrustDirection IN ('Outbound', 'Bidirectional')
            AND LOWER(t.TargetDomain) = LOWER(@TrustTarget_SSCViolet)
            AND dml.Trust_SSCViolet_TriStateID <> @TriState_Yes
            AND NOT EXISTS (
                SELECT 1 FROM #QualifyingTrusts qt
                WHERE qt.SourceDomain = t.SourceDomain AND qt.TargetDomain = t.TargetDomain
            );

        IF @Debug = 1
        BEGIN
            DECLARE @QualifyingTrustCount INT;
            SELECT @QualifyingTrustCount = COUNT(*) FROM #QualifyingTrusts;
            PRINT '  Qualifying trust updates found: ' + CAST(@QualifyingTrustCount AS VARCHAR(10));
        END

        -- Update ADMgmt trust values
        UPDATE dml
        SET Trust_ADMgmt_TriStateID = @TriState_Yes,
            UpdatedAt = SYSUTCDATETIME()
        FROM [DML].[DomainMasterList] dml
        INNER JOIN #QualifyingTrusts qt ON dml.DomainID = qt.DomainID
        WHERE qt.TrustField = 'Trust_ADMgmt_TriStateID';

        DECLARE @ADMgmtUpdates INT = @@ROWCOUNT;
        SET @TrustUpdates = @TrustUpdates + @ADMgmtUpdates;

        IF @ADMgmtUpdates > 0
            PRINT '  Trust_ADMgmt updated: ' + CAST(@ADMgmtUpdates AS VARCHAR(10));

        -- Update SSNC-Corp trust values
        UPDATE dml
        SET Trust_SSNC_Corp_TriStateID = @TriState_Yes,
            UpdatedAt = SYSUTCDATETIME()
        FROM [DML].[DomainMasterList] dml
        INNER JOIN #QualifyingTrusts qt ON dml.DomainID = qt.DomainID
        WHERE qt.TrustField = 'Trust_SSNC_Corp_TriStateID';

        DECLARE @SSNCCorpUpdates INT = @@ROWCOUNT;
        SET @TrustUpdates = @TrustUpdates + @SSNCCorpUpdates;

        IF @SSNCCorpUpdates > 0
            PRINT '  Trust_SSNC_Corp updated: ' + CAST(@SSNCCorpUpdates AS VARCHAR(10));

        -- Update SSCViolet trust values
        UPDATE dml
        SET Trust_SSCViolet_TriStateID = @TriState_Yes,
            UpdatedAt = SYSUTCDATETIME()
        FROM [DML].[DomainMasterList] dml
        INNER JOIN #QualifyingTrusts qt ON dml.DomainID = qt.DomainID
        WHERE qt.TrustField = 'Trust_SSCViolet_TriStateID';

        DECLARE @SSCVioletUpdates INT = @@ROWCOUNT;
        SET @TrustUpdates = @TrustUpdates + @SSCVioletUpdates;

        IF @SSCVioletUpdates > 0
            PRINT '  Trust_SSCViolet updated: ' + CAST(@SSCVioletUpdates AS VARCHAR(10));

        -- ====================================================================
        -- PHASE 4: Trust Update Notes (Changed Values Only)
        -- ====================================================================
        PRINT '';
        PRINT 'PHASE 4: Trust Update Notes';
        PRINT '----------------------------';

        -- Insert notes for trust changes
        INSERT INTO [DML].[DomainNotes] (DomainID, NoteSubject, NoteText, CreatedBy, IsSystem)
        SELECT
            qt.DomainID,
            'Trust_' + qt.TrustDisplayName + ' Updated',
            'Forest-level trust detected during import.' + CHAR(13) + CHAR(10) +
            CHAR(13) + CHAR(10) +
            'Trust: ' + qt.TrustDisplayName + CHAR(13) + CHAR(10) +
            'Original Value: ' + CAST(qt.CurrentTriStateID AS VARCHAR(1)) + ' (' +
                CASE qt.CurrentTriStateID
                    WHEN 1 THEN 'Yes'
                    WHEN 2 THEN 'No'
                    WHEN 3 THEN 'Never'
                    ELSE 'Unknown'
                END + ')' + CHAR(13) + CHAR(10) +
            'New Value: 1 (Yes)' + CHAR(13) + CHAR(10) +
            CHAR(13) + CHAR(10) +
            'InventoryID: ' + ISNULL(@InventoryID, '(unknown)') + CHAR(13) + CHAR(10) +
            'CollectionID: ' + CAST(@CollectionID AS VARCHAR(36)),
            'Import Task',
            1  -- IsSystem = true
        FROM #QualifyingTrusts qt;

        DECLARE @TrustNotes INT = @@ROWCOUNT;
        SET @NotesCreated = @NotesCreated + @TrustNotes;

        IF @TrustNotes > 0
            PRINT '  Trust update notes added: ' + CAST(@TrustNotes AS VARCHAR(10));
        ELSE
            PRINT '  No trust changes, no notes needed.';

        -- ====================================================================
        -- Cleanup temporary tables
        -- ====================================================================
        DROP TABLE #QualifyingTrusts;
        DROP TABLE #DomainsToProcess;

        -- ====================================================================
        -- Report Results
        -- ====================================================================
        DECLARE @EndTime DATETIME2 = SYSUTCDATETIME();
        DECLARE @DurationMs INT = DATEDIFF(MILLISECOND, @StartTime, @EndTime);

        PRINT '';
        PRINT '============================================================================';
        PRINT 'DML Sync From Import - Completed Successfully';
        PRINT '============================================================================';
        PRINT 'Summary:';
        PRINT '  Domains created:      ' + CAST(@DomainsCreated AS VARCHAR(10));
        PRINT '  Domains updated:      ' + CAST(@DomainsUpdated AS VARCHAR(10));
        PRINT '  Trust fields updated: ' + CAST(@TrustUpdates AS VARCHAR(10));
        PRINT '  Notes created:        ' + CAST(@NotesCreated AS VARCHAR(10));
        PRINT '  Duration (ms):        ' + CAST(@DurationMs AS VARCHAR(10));
        PRINT 'End Time: ' + CONVERT(VARCHAR(30), @EndTime, 121);
        PRINT '';

    END TRY
    BEGIN CATCH
        -- Cleanup temp tables if they exist
        IF OBJECT_ID('tempdb..#QualifyingTrusts') IS NOT NULL
            DROP TABLE #QualifyingTrusts;
        IF OBJECT_ID('tempdb..#DomainsToProcess') IS NOT NULL
            DROP TABLE #DomainsToProcess;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        PRINT '';
        PRINT '============================================================================';
        PRINT 'ERROR: DML Sync From Import Failed!';
        PRINT '============================================================================';
        PRINT 'Error: ' + @ErrorMessage;

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
