USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Partition_GetInfoForInventoryID]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Partition_GetInfoForInventoryID]
    @InventoryID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PartitionNumber INT = $PARTITION.pf_InventoryID(@InventoryID);

    SELECT
        @InventoryID AS InventoryID,
        @PartitionNumber AS PartitionNumber,
        s.name AS SchemaName,
        t.name AS TableName,
        p.rows AS [RowCount]
    FROM sys.tables t
    JOIN sys.schemas s ON t.schema_id = s.schema_id
    JOIN sys.indexes i ON t.object_id = i.object_id AND i.index_id <= 1
    JOIN sys.partition_schemes ps ON i.data_space_id = ps.data_space_id
    JOIN sys.partitions p ON i.object_id = p.object_id AND i.index_id = p.index_id
    WHERE ps.name = 'ps_InventoryID'
      AND p.partition_number = @PartitionNumber
    ORDER BY s.name, t.name;
END
GO
