USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_MigrateNTFSPerms_CreateViews]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * 005_usp_MigrateNTFSPerms_CreateViews.sql
 *
 * Creates stored procedure to deploy all database views
 *
 * Purpose: Creates all database views for simplified data access
 *
 * IMPORTANT: This script assumes the ODBC connection is already established to the target
 *            database. The database name is specified via the connection string, not via
 *            a USE statement. This allows the procedure to be deployed to any database
 *            specified by the user on the command line.
 *
 * Dependencies: Tables must exist - run CreateTables first
 *
 * Returns:
 *   0 = Success
 *   2 = Precondition not met (tables don't exist)
 *   Non-zero = SQL Server error number
 *
 * Output Parameters:
 *   @ErrorMessage = Error message if return code != 0, success message otherwise
 *
 * Version: 1.5.0
 * Created: 2025-11-27
 */

CREATE   PROCEDURE [dbo].[usp_MigrateNTFSPerms_CreateViews]
    @ErrorMessage NVARCHAR(4000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT OFF;

    DECLARE @ReturnCode INT = 0;
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ErrorLine INT;
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @ViewsCreated INT = 0;

    BEGIN TRY
        -- Verify preconditions
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[ACL]') AND type = 'U')
        BEGIN
            SET @ErrorMessage = 'Precondition failed: Table [fsapp].[ACL] does not exist. Run CreateTables first.';
            RETURN 2;
        END

        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[Folders]') AND type = 'U')
        BEGIN
            SET @ErrorMessage = 'Precondition failed: Table [fsapp].[Folders] does not exist. Run CreateTables first.';
            RETURN 2;
        END

        BEGIN TRANSACTION;

        PRINT 'Creating database views...';

        -- ==============================================================================
        -- ACL VIEW
        -- ==============================================================================

        SET @SQL = N'
        CREATE OR ALTER VIEW [fsapp].[vw_ACL] AS
        SELECT
            acl.[InventoryID],
            acl.[LocalACLID],
            f.[Path],
            s1.[AccountName] AS OwnerName,
            s1.[Sid] AS OwnerSID,
            s2.[AccountName] AS GroupName,
            s2.[Sid] AS GroupSID,
            acl.[AreAccessRulesProtected],
            acl.[AreAuditRulesProtected],
            acl.[AreAccessRulesCanonical],
            acl.[AreAuditRulesCanonical]
        FROM [fsapp].[ACL] AS acl
        LEFT JOIN [fsapp].[Folders] AS f
            ON acl.[LocalFolderID] = f.[LocalFolderID]
           AND acl.[InventoryID] = f.[InventoryID]
        LEFT JOIN [fsapp].[SIDs] AS s1
            ON acl.[Owner] = s1.[SidID]
           AND acl.[InventoryID] = s1.[InventoryID]
        LEFT JOIN [fsapp].[SIDs] AS s2
            ON acl.[Group] = s2.[SidID]
           AND acl.[InventoryID] = s2.[InventoryID];
        ';
        EXEC sp_executesql @SQL;
        PRINT '  Created view [fsapp].[vw_ACL]';
        SET @ViewsCreated = @ViewsCreated + 1;

        -- ==============================================================================
        -- ACE VIEW
        -- ==============================================================================

        SET @SQL = N'
        CREATE OR ALTER VIEW [fsapp].[vw_ACE] AS
        SELECT
            ace.[InventoryID],
            ace.[LocalACEID],
            f.[LocalFolderID],
            f.[Path] AS FolderPath,
            CASE
                WHEN ace.[InheritedFromLocalID] = 0 THEN ''Self''
                ELSE f2.[Path]
            END AS InheritedFromPath,
            COALESCE((
                SELECT STRING_AGG(fsr.[Permission], '', '') WITHIN GROUP (ORDER BY fsr.[MaskValue])
                FROM [fslkp].[FileSystemRights] AS fsr
                WHERE (ace.[FileSystemRightsMask] & fsr.[MaskValue]) = fsr.[MaskValue]
            ), '''') AS FileSystemRights,
            ace.[AccessControlType],
            at.[TypeName] AS Access,
            ace.[IdentitySID],
            sids.[Sid],
            sids.[AccountName],
            ace.[IsInherited],
            CASE ace.[InheritanceFlags]
                WHEN 0 THEN ''None''
                WHEN 1 THEN ''OBJECT_INHERIT_ACE''
                WHEN 2 THEN ''CONTAINER_INHERIT_ACE''
                WHEN 3 THEN ''OBJECT_INHERIT_ACE, CONTAINER_INHERIT_ACE''
                ELSE CAST(ace.[InheritanceFlags] AS NVARCHAR(10))
            END AS InheritanceFlags,
            pf.[Description] AS PropagationFlags,
            ace.[InheritedFromLocalID]
        FROM [fsapp].[ACE] AS ace
        LEFT JOIN [fsapp].[Folders] AS f
            ON ace.[LocalFolderID] = f.[LocalFolderID]
           AND ace.[InventoryID] = f.[InventoryID]
        LEFT JOIN [fsapp].[Folders] AS f2
            ON ace.[InheritedFromLocalID] = f2.[LocalFolderID]
           AND ace.[InventoryID] = f2.[InventoryID]
        LEFT JOIN [fsapp].[SIDs] AS sids
            ON ace.[IdentitySID] = sids.[SidID]
           AND ace.[InventoryID] = sids.[InventoryID]
        LEFT JOIN [fslkp].[AceTypes] AS at
            ON ace.[AccessControlType] = at.[TypeValue]
        LEFT JOIN [fslkp].[InheritanceFlags] AS ihf
            ON ace.[InheritanceFlags] = ihf.[FlagValue]
        LEFT JOIN [fslkp].[PropagationFlags] AS pf
            ON ace.[PropagationFlags] = pf.[FlagValue];
        ';
        EXEC sp_executesql @SQL;
        PRINT '  Created view [fsapp].[vw_ACE]';
        SET @ViewsCreated = @ViewsCreated + 1;

        -- ==============================================================================
        -- VOLUMES VIEW
        -- ==============================================================================

        SET @SQL = N'
        CREATE OR ALTER VIEW [fsapp].[vw_Volumes] AS
        SELECT
            v.[InventoryID],
            v.[VolumeID],
            v.[Label],
            v.[FileSystem],
            v.[Size],
            v.[FreeSpace],
            v.[IsSystem],
            v.[IsReadOnly],
            v.[Status],
            v.[UniqueID],
            v.[AllocationUnitSize],
            v.[DriveType],
            dt.[TypeName]    AS DriveTypeName,
            dt.[Description] AS DriveTypeDesc,
            v.[IsEncrypted],
            v.[IsCompressed],
            v.[ShadowCopyEnabled],
            v.[ShadowCopyStorageMax]
        FROM [fsapp].[Volumes] AS v
        LEFT JOIN [fslkp].[DriveTypes] AS dt
            ON v.[DriveType] = dt.[DriveType];
        ';
        EXEC sp_executesql @SQL;
        PRINT '  Created view [fsapp].[vw_Volumes]';
        SET @ViewsCreated = @ViewsCreated + 1;

        -- ==============================================================================
        -- DISK SUMMARY VIEW
        -- ==============================================================================

        SET @SQL = N'
        CREATE OR ALTER VIEW [fsapp].[vw_DiskSummary] AS
        SELECT
            d.[InventoryID],
            d.[DiskID],
            d.[DeviceID],
            d.[Model],
            d.[InterfaceType],
            d.[Size],
            d.[PartitionStyle],
            d.[IsBoot],
            d.[IsSystem],
            d.[IsReadOnly],
            d.[Status],
            COUNT(DISTINCT p.[PartitionID]) AS PartitionCount,
            COUNT(DISTINCT v.[VolumeID])    AS DirectVolumeCount
        FROM [fsapp].[Disks] AS d
        LEFT JOIN [fsapp].[Partitions] AS p
            ON p.[InventoryID] = d.[InventoryID]
           AND p.[DiskID] = d.[DiskID]
        LEFT JOIN [fsapp].[Volumes] AS v
            ON v.[InventoryID] = d.[InventoryID]
           AND v.[DiskID] = d.[DiskID]
        GROUP BY
            d.[InventoryID],
            d.[DiskID],
            d.[DeviceID],
            d.[Model],
            d.[InterfaceType],
            d.[Size],
            d.[PartitionStyle],
            d.[IsBoot],
            d.[IsSystem],
            d.[IsReadOnly],
            d.[Status];
        ';
        EXEC sp_executesql @SQL;
        PRINT '  Created view [fsapp].[vw_DiskSummary]';
        SET @ViewsCreated = @ViewsCreated + 1;

        -- ==============================================================================
        -- FOLDER ATTRIBUTES VIEW
        -- ==============================================================================

        SET @SQL = N'
        CREATE OR ALTER VIEW [fsapp].[vw_FolderAttributes] AS
        SELECT
            f.[InventoryID],
            f.[LocalFolderID],
            f.[ParentFolderID],
            f.[Path],
            f.[VolumeID],
            f.[CreationTime],
            f.[LastWriteTime],
            f.[LastAccessTime],
            f.[Attributes],
            CASE WHEN (f.[Attributes] & 1) = 1 THEN 1 ELSE 0 END AS IsReadOnly,
            CASE WHEN (f.[Attributes] & 2) = 2 THEN 1 ELSE 0 END AS IsHidden,
            CASE WHEN (f.[Attributes] & 4) = 4 THEN 1 ELSE 0 END AS IsSystem,
            CASE WHEN (f.[Attributes] & 16) = 16 THEN 1 ELSE 0 END AS IsDirectory,
            CASE WHEN (f.[Attributes] & 32) = 32 THEN 1 ELSE 0 END AS IsArchive,
            CASE WHEN (f.[Attributes] & 64) = 64 THEN 1 ELSE 0 END AS IsDevice,
            CASE WHEN (f.[Attributes] & 128) = 128 THEN 1 ELSE 0 END AS IsNormal,
            CASE WHEN (f.[Attributes] & 256) = 256 THEN 1 ELSE 0 END AS IsTemporary,
            CASE WHEN (f.[Attributes] & 512) = 512 THEN 1 ELSE 0 END AS IsSparseFile,
            CASE WHEN (f.[Attributes] & 1024) = 1024 THEN 1 ELSE 0 END AS IsReparsePoint,
            CASE WHEN (f.[Attributes] & 2048) = 2048 THEN 1 ELSE 0 END AS IsCompressed,
            CASE WHEN (f.[Attributes] & 4096) = 4096 THEN 1 ELSE 0 END AS IsOffline,
            CASE WHEN (f.[Attributes] & 8192) = 8192 THEN 1 ELSE 0 END AS IsNotContentIndexed,
            CASE WHEN (f.[Attributes] & 16384) = 16384 THEN 1 ELSE 0 END AS IsEncrypted,
            CASE WHEN (f.[Attributes] & 32768) = 32768 THEN 1 ELSE 0 END AS IsIntegrityStream,
            CASE WHEN (f.[Attributes] & 65536) = 65536 THEN 1 ELSE 0 END AS IsVirtual,
            CASE WHEN (f.[Attributes] & 131072) = 131072 THEN 1 ELSE 0 END AS IsNoScrubData,
            CASE WHEN (f.[Attributes] & 262144) = 262144 THEN 1 ELSE 0 END AS IsRecallOnOpen,
            CASE WHEN (f.[Attributes] & 524288) = 524288 THEN 1 ELSE 0 END AS IsPinned,
            CASE WHEN (f.[Attributes] & 1048576) = 1048576 THEN 1 ELSE 0 END AS IsUnpinned,
            CASE WHEN (f.[Attributes] & 4194304) = 4194304 THEN 1 ELSE 0 END AS IsRecallOnDataAccess,
            CASE WHEN (f.[Attributes] & 6) = 6 THEN 1 ELSE 0 END AS IsHiddenSystem,
            CASE WHEN (f.[Attributes] & 18432) = 18432 THEN 1 ELSE 0 END AS IsCompressedAndEncrypted
        FROM [fsapp].[Folders] AS f;
        ';
        EXEC sp_executesql @SQL;
        PRINT '  Created view [fsapp].[vw_FolderAttributes]';
        SET @ViewsCreated = @ViewsCreated + 1;

        -- ==============================================================================
        -- TABLE ROW COUNTS VIEW
        -- ==============================================================================

        SET @SQL = N'
        CREATE OR ALTER VIEW [fsapp].[vw_TableRowCounts] AS
        SELECT
            s.name AS SchemaName,
            t.name AS TableName,
            SUM(p.rows) AS [RowCount]
        FROM
            sys.schemas s
        JOIN
            sys.tables t ON s.schema_id = t.schema_id
        JOIN
            sys.partitions p ON t.object_id = p.object_id
        WHERE
            s.name IN (''fssimport'', ''fsapp'')
            AND p.index_id IN (0, 1)
        GROUP BY
            s.name, t.name;
        ';
        EXEC sp_executesql @SQL;
        PRINT '  Created view [fsapp].[vw_TableRowCounts]';
        SET @ViewsCreated = @ViewsCreated + 1;

        -- ==============================================================================
        -- FOLDER PERMISSION SUMMARY VIEW
        -- ==============================================================================

        SET @SQL = N'
        CREATE OR ALTER VIEW [fsapp].[vw_FolderPermissionSummary] AS
        SELECT
            f.InventoryID,
            f.[Path] AS FolderPath,
            COUNT(*) AS TotalPermissions,
            SUM(CASE WHEN a.IsInherited = 1 THEN 1 ELSE 0 END) AS InheritedCount,
            SUM(CASE WHEN a.IsInherited = 0 THEN 1 ELSE 0 END) AS ExplicitCount
        FROM [fsapp].[ACE] a
        INNER JOIN [fsapp].[Folders] f
            ON f.InventoryID = a.InventoryID
           AND f.LocalFolderID = a.LocalFolderID
        WHERE EXISTS (
            SELECT 1
            FROM [fsapp].[ACE] x
            WHERE x.InventoryID = a.InventoryID
              AND x.LocalFolderID = a.LocalFolderID
              AND x.IsInherited = 0
        )
        GROUP BY f.InventoryID, f.[Path];
        ';
        EXEC sp_executesql @SQL;
        PRINT '  Created view [fsapp].[vw_FolderPermissionSummary]';
        SET @ViewsCreated = @ViewsCreated + 1;

        COMMIT TRANSACTION;

        PRINT 'All views created successfully!';
        SET @ErrorMessage = CAST(@ViewsCreated AS NVARCHAR(10)) + ' views created successfully';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ErrorNumber = ERROR_NUMBER();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();
        SET @ErrorLine = ERROR_LINE();

        SET @ErrorMessage =
            'Error ' + CAST(@ErrorNumber AS NVARCHAR(10)) +
            ' (Severity ' + CAST(@ErrorSeverity AS NVARCHAR(10)) +
            ', State ' + CAST(@ErrorState AS NVARCHAR(10)) + ')' +
            ' at Line ' + CAST(@ErrorLine AS NVARCHAR(10)) + ': ' +
            ERROR_MESSAGE();

        SET @ReturnCode = @ErrorNumber;

        PRINT 'ERROR: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
