USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Partition_AddForCollectionID]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Partition_AddForCollectionID]
    @CollectionID INT,
    @ErrorMessage NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ReturnCode INT = 0;

    BEGIN TRY
        -- Check if partition boundary already exists
        IF EXISTS (
            SELECT 1
            FROM sys.partition_range_values prv
            JOIN sys.partition_functions pf ON prv.function_id = pf.function_id
            WHERE pf.name = 'pf_CollectionID'
              AND CAST(prv.value AS INT) = @CollectionID
        )
        BEGIN
            PRINT 'Partition boundary already exists for CollectionID: ' + CAST(@CollectionID AS NVARCHAR(20));
            RETURN 0;
        END

        -- Mark partition scheme as next used
        ALTER PARTITION SCHEME ps_CollectionID NEXT USED [PRIMARY];

        -- Split the partition function
        ALTER PARTITION FUNCTION pf_CollectionID() SPLIT RANGE (@CollectionID);

        PRINT 'Created partition for CollectionID: ' + CAST(@CollectionID AS NVARCHAR(20));

        SELECT $PARTITION.pf_CollectionID(@CollectionID) AS PartitionNumber;

    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'Error adding partition: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
