USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_MigrateNTFSPerms_CreateTables]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * 002_usp_MigrateNTFSPerms_CreateTables.sql
 *
 * Creates stored procedure to deploy all database tables
 *
 * Purpose: Creates all application and lookup tables for the NTFSPerms application
 *
 * IMPORTANT: This script assumes the ODBC connection is already established to the target
 *            database. The database name is specified via the connection string, not via
 *            a USE statement. This allows the procedure to be deployed to any database
 *            specified by the user on the command line.
 *
 * Dependencies: Schemas (app, lkp) must exist - run CreateSchemas first
 *
 * Returns:
 *   0 = Success
 *   2 = Precondition not met (schemas don't exist)
 *   Non-zero = SQL Server error number
 *
 * Output Parameters:
 *   @ErrorMessage = Error message if return code != 0, success message otherwise
 *
 * Version: 1.5.0
 * Created: 2025-11-27
 */

CREATE   PROCEDURE [dbo].[usp_MigrateNTFSPerms_CreateTables]
    @ErrorMessage NVARCHAR(4000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT OFF;

    DECLARE @ReturnCode INT = 0;
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ErrorLine INT;
    DECLARE @TablesCreated INT = 0;

    BEGIN TRY
        -- Verify preconditions (schemas must exist)
        IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'fsapp')
        BEGIN
            SET @ErrorMessage = 'Precondition failed: Schema [fsapp] does not exist. Run CreateSchemas first.';
            RETURN 2;
        END

        IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'fslkp')
        BEGIN
            SET @ErrorMessage = 'Precondition failed: Schema [fslkp] does not exist. Run CreateSchemas first.';
            RETURN 2;
        END

        IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'fssimport')
        BEGIN
            SET @ErrorMessage = 'Precondition failed: Schema [fssimport] does not exist. Run CreateSchemas first.';
            RETURN 2;
        END

        BEGIN TRANSACTION;

        PRINT 'Creating lookup tables...';

        -- ==============================================================================
        -- LOOKUP TABLES (fslkp schema)
        -- ==============================================================================

        -- Propagation Flags lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[PropagationFlags]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[PropagationFlags] (
                [FlagValue]      INT           NOT NULL,
                [Description]    NVARCHAR(100) NOT NULL,
                [IsNoPropagate]  BIT           NOT NULL,
                [IsInheritOnly]  BIT           NOT NULL,
                CONSTRAINT [PK_lkp_PropagationFlags] PRIMARY KEY CLUSTERED ([FlagValue])
            );
            PRINT '  Created table [fslkp].[PropagationFlags]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Inheritance Flags lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[InheritanceFlags]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[InheritanceFlags] (
                [FlagValue]          INT           NOT NULL,
                [Description]        NVARCHAR(100) NOT NULL,
                [IsObjectInherit]    BIT           NOT NULL,
                [IsContainerInherit] BIT           NOT NULL,
                [IsNoPropagate]      BIT           NOT NULL,
                [IsInheritOnly]      BIT           NOT NULL,
                [IsInherited]        BIT           NOT NULL,
                CONSTRAINT [PK_lkp_InheritanceFlags] PRIMARY KEY CLUSTERED ([FlagValue])
            );
            PRINT '  Created table [fslkp].[InheritanceFlags]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- File System Rights lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[FileSystemRights]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[FileSystemRights] (
                [MaskValue]  INT          NOT NULL,
                [Permission] NVARCHAR(50) NOT NULL,
                CONSTRAINT [PK_lkp_FileSystemRights] PRIMARY KEY CLUSTERED ([MaskValue])
            );
            PRINT '  Created table [fslkp].[FileSystemRights]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- ACE Types lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[AceTypes]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[AceTypes] (
                [TypeValue]   INT            NOT NULL,
                [TypeName]    NVARCHAR(100)  NOT NULL,
                [Description] NVARCHAR(500)  NOT NULL,
                [IsSupported] BIT            NOT NULL DEFAULT (0),
                CONSTRAINT [PK_lkp_AceTypes] PRIMARY KEY CLUSTERED ([TypeValue])
            );
            PRINT '  Created table [fslkp].[AceTypes]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Drive Types lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[DriveTypes]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[DriveTypes] (
                [DriveType]   INT            NOT NULL,
                [TypeName]    NVARCHAR(50)   NOT NULL,
                [Description] NVARCHAR(200)  NULL,
                CONSTRAINT [PK_lkp_DriveTypes] PRIMARY KEY CLUSTERED ([DriveType])
            );
            PRINT '  Created table [fslkp].[DriveTypes]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- MBR Partition Type lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[MBR_Type]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[MBR_Type] (
                [MBR_Type]    INT            NOT NULL,
                [TypeName]    NVARCHAR(50)   NOT NULL,
                [Description] NVARCHAR(200)  NOT NULL,
                [FileSystem]  NVARCHAR(20)   NULL,
                CONSTRAINT [PK_lkp_MBR_Type] PRIMARY KEY CLUSTERED ([MBR_Type])
            );
            PRINT '  Created table [fslkp].[MBR_Type]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Share Availability Types lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[ShareAvailabilityTypes]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[ShareAvailabilityTypes] (
                [TypeID]      INT IDENTITY(1,1) NOT NULL,
                [TypeValue]   NVARCHAR(50)      NULL,
                [Description] NVARCHAR(200)     NOT NULL,
                CONSTRAINT [PK_lkp_ShareAvailabilityTypes] PRIMARY KEY CLUSTERED ([TypeID])
            );
            PRINT '  Created table [fslkp].[ShareAvailabilityTypes]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Share Caching Modes lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[ShareCachingModes]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[ShareCachingModes] (
                [CacheID]     INT IDENTITY(1,1) NOT NULL,
                [ModeValue]   NVARCHAR(50)      NULL,
                [Description] NVARCHAR(200)     NOT NULL,
                CONSTRAINT [PK_lkp_ShareCachingModes] PRIMARY KEY CLUSTERED ([CacheID])
            );
            PRINT '  Created table [fslkp].[ShareCachingModes]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Share Folder Enumeration Modes lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[ShareFolderEnumerationModes]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[ShareFolderEnumerationModes] (
                [FolderEnumID] INT IDENTITY(1,1) NOT NULL,
                [ModeValue]    NVARCHAR(50)      NULL,
                [Description]  NVARCHAR(200)     NOT NULL,
                CONSTRAINT [PK_lkp_ShareFolderEnumerationModes] PRIMARY KEY CLUSTERED ([FolderEnumID])
            );
            PRINT '  Created table [fslkp].[ShareFolderEnumerationModes]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Share Leasing Modes lookup table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[ShareLeasingModes]') AND type = 'U')
        BEGIN
            CREATE TABLE [fslkp].[ShareLeasingModes] (
                [LeaseID]     INT IDENTITY(1,1) NOT NULL,
                [ModeValue]   NVARCHAR(50)      NULL,
                [Description] NVARCHAR(200)     NOT NULL,
                CONSTRAINT [PK_lkp_ShareLeasingModes] PRIMARY KEY CLUSTERED ([LeaseID])
            );
            PRINT '  Created table [fslkp].[ShareLeasingModes]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        PRINT 'Creating application data tables...';

        -- ==============================================================================
        -- APPLICATION DATA TABLES (fsapp schema)
        -- ==============================================================================

        -- Version table (stores schema version)
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[Version]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[Version] (
                [PropertyName]  NVARCHAR(50) NOT NULL,
                [PropertyValue] NVARCHAR(50) NOT NULL,
                CONSTRAINT [PK_app_Version] PRIMARY KEY CLUSTERED ([PropertyName])
            );
            PRINT '  Created table [fsapp].[Version]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Collection Info table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[CollectionInfo]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[CollectionInfo] (
                [InventoryID]         UNIQUEIDENTIFIER NOT NULL,
                [ComputerName]        NVARCHAR(16)  NOT NULL,
                [DomainName]          NVARCHAR(256) NOT NULL,
                [CollectionDateTime]  datetimeoffset(3)  NOT NULL,
                [ApplicationVersion]  NVARCHAR(20)  NOT NULL,
                [ApplicationBuild]    NVARCHAR(20)  NOT NULL,
                [IsAdmin]             BIT           NOT NULL,
                [Who]                 NVARCHAR(64) NOT NULL,
                [HardwareConcurrency] INT           NOT NULL,
                [ThreadCount]         INT           NOT NULL,
                [StartTime]           datetimeoffset(3)  NOT NULL,
                [EndTime]             datetimeoffset(3)  NULL,
                [TotalRuntime]        INT           NULL,
                [FoldersProcessed]    INT           NULL,
                [FoldersWithErrors]   INT           NULL,
                [PeakQueueSize]       INT           NULL,
                [MemoryUsageMB]       INT           NULL,
                [OutputPath]          NVARCHAR(4000) NULL,
                [ScanPath]            NVARCHAR(4000) NOT NULL,
                [RemoteComputer]      BIT           NOT NULL DEFAULT (0),
                [ExplicitOnly]        BIT           NOT NULL DEFAULT (0),
                CONSTRAINT [PK_app_CollectionInfo] PRIMARY KEY CLUSTERED ([InventoryID], [ComputerName])
            );
            PRINT '  Created table [fsapp].[CollectionInfo]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- SIDs table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[SIDs]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[SIDs] (
                [SidID]            INT        IDENTITY(1,1) NOT NULL,
                [InventoryID]      UNIQUEIDENTIFIER NOT NULL,
                [Sid]              VARBINARY(85)  NOT NULL,
                [AccountName]      NVARCHAR(256) NULL,
                [AccountType]      VARCHAR(10)   NULL,
                [Description]      NVARCHAR(500) NULL,
                [IsResolved]       BIT           NOT NULL DEFAULT (0),
                [ResolutionSource] VARCHAR(20)   NULL,
                CONSTRAINT [PK_app_SIDs] PRIMARY KEY CLUSTERED ([InventoryID], [SidID]),
                CONSTRAINT [CHK_app_SIDs_AccountType] CHECK ([AccountType] IS NULL OR [AccountType] IN ('User','Group','Other')),
                CONSTRAINT [CHK_app_SIDs_ResolutionSource] CHECK ([ResolutionSource] IS NULL OR [ResolutionSource] IN ('Local','Domain','WellKnown','Failed'))
            );
            PRINT '  Created table [fsapp].[SIDs]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Disks table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[Disks]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[Disks] (
                [InventoryID]     UNIQUEIDENTIFIER NOT NULL,
                [DiskID]          INT            NOT NULL,
                [DeviceID]        NVARCHAR(100)  NOT NULL,
                [Model]           NVARCHAR(200)  NULL,
                [InterfaceType]   NVARCHAR(50)   NULL,
                [Size]            BIGINT         NOT NULL,
                [PartitionStyle]  NVARCHAR(20)   NULL,
                [IsBoot]          BIT            NOT NULL,
                [IsSystem]        BIT            NOT NULL,
                [IsReadOnly]      BIT            NOT NULL,
                [Status]          NVARCHAR(50)   NOT NULL,
                CONSTRAINT [PK_app_Disks] PRIMARY KEY CLUSTERED ([InventoryID], [DiskID]),
                CONSTRAINT [CHK_app_Disks_Size] CHECK ([Size] >= 0)
            );
            PRINT '  Created table [fsapp].[Disks]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Volumes table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[Volumes]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[Volumes] (
                [InventoryID]           UNIQUEIDENTIFIER NOT NULL,
                [VolumeID]              INT            NOT NULL,
                [DiskID]                INT            NULL,
                [Label]                 NVARCHAR(256)  NULL,
                [FileSystem]            NVARCHAR(50)   NULL,
                [Size]                  BIGINT         NOT NULL,
                [FreeSpace]             BIGINT         NOT NULL,
                [IsSystem]              BIT            NOT NULL,
                [IsReadOnly]            BIT            NOT NULL,
                [Status]                NVARCHAR(50)   NULL,
                [UniqueID]              NVARCHAR(100)  NULL,
                [AllocationUnitSize]    BIGINT         NULL,
                [DriveType]             INT            NULL,
                [IsEncrypted]           BIT            NOT NULL DEFAULT (0),
                [IsCompressed]          BIT            NOT NULL DEFAULT (0),
                [ShadowCopyEnabled]     BIT            NOT NULL DEFAULT (0),
                [ShadowCopyStorageMax]  BIGINT         NULL,
                CONSTRAINT [PK_app_Volumes] PRIMARY KEY CLUSTERED ([InventoryID], [VolumeID]),
                CONSTRAINT [CHK_app_Volumes_Size] CHECK ([Size] >= 0),
                CONSTRAINT [CHK_app_Volumes_FreeSpace] CHECK ([FreeSpace] >= 0 AND [FreeSpace] <= [Size]),
                CONSTRAINT [FK_app_Volumes_Disks] FOREIGN KEY ([InventoryID], [DiskID])
                    REFERENCES [fsapp].[Disks] ([InventoryID], [DiskID]),
                CONSTRAINT [FK_app_Volumes_DriveTypes] FOREIGN KEY ([DriveType])
                    REFERENCES [fslkp].[DriveTypes] ([DriveType])
            );
            PRINT '  Created table [fsapp].[Volumes]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Volume Mounts table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[VolumeMounts]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[VolumeMounts] (
                [InventoryID] UNIQUEIDENTIFIER NOT NULL,
                [VolumeID]    INT            NOT NULL,
                [MountPoint]  NVARCHAR(260)  NOT NULL,
                CONSTRAINT [PK_app_VolumeMounts] PRIMARY KEY CLUSTERED ([InventoryID], [VolumeID], [MountPoint]),
                CONSTRAINT [FK_app_VolumeMounts_Volumes] FOREIGN KEY ([InventoryID], [VolumeID])
                    REFERENCES [fsapp].[Volumes] ([InventoryID], [VolumeID])
                    ON DELETE CASCADE
            );
            PRINT '  Created table [fsapp].[VolumeMounts]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Volume Extents table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[VolumeExtents]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[VolumeExtents] (
                [InventoryID]    UNIQUEIDENTIFIER NOT NULL,
                [VolumeID]       INT          NOT NULL,
                [DiskID]         INT          NOT NULL,
                [ExtentIndex]    INT          NOT NULL,
                [StartingOffset] BIGINT       NOT NULL,
                [ExtentLength]   BIGINT       NOT NULL,
                CONSTRAINT [PK_app_VolumeExtents] PRIMARY KEY CLUSTERED ([InventoryID], [VolumeID], [ExtentIndex]),
                CONSTRAINT [FK_app_VolumeExtents_Volumes] FOREIGN KEY ([InventoryID], [VolumeID])
                    REFERENCES [fsapp].[Volumes] ([InventoryID], [VolumeID])
                    ON DELETE CASCADE,
                CONSTRAINT [FK_app_VolumeExtents_Disks] FOREIGN KEY ([InventoryID], [DiskID])
                    REFERENCES [fsapp].[Disks] ([InventoryID], [DiskID])
                    ON DELETE CASCADE
            );
            PRINT '  Created table [fsapp].[VolumeExtents]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Partitions table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[Partitions]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[Partitions] (
                [InventoryID]    UNIQUEIDENTIFIER NOT NULL,
                [PartitionID]    INT           NOT NULL,
                [DiskID]         INT           NOT NULL,
                [PartitionIndex] INT           NOT NULL,
                [StartOffset]    BIGINT        NOT NULL,
                [LengthBytes]    BIGINT        NOT NULL,
                [PartitionType]  NVARCHAR(50)  NULL,
                [GPT_GUID]       UNIQUEIDENTIFIER    NULL,
                [MBR_Type]       INT           NULL,
                [VolID]          INT           NULL,
                CONSTRAINT [PK_app_Partitions] PRIMARY KEY CLUSTERED ([InventoryID], [PartitionID]),
                CONSTRAINT [CHK_app_Partitions_StartOffset] CHECK ([StartOffset] >= 0),
                CONSTRAINT [CHK_app_Partitions_LengthBytes] CHECK ([LengthBytes] > 0),
                CONSTRAINT [FK_app_Partitions_Disks] FOREIGN KEY ([InventoryID], [DiskID])
                    REFERENCES [fsapp].[Disks] ([InventoryID], [DiskID])
                    ON DELETE CASCADE
            );
            PRINT '  Created table [fsapp].[Partitions]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Folders table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[Folders]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[Folders] (
                [InventoryID]     UNIQUEIDENTIFIER NOT NULL,
                [LocalFolderID]   INT             NOT NULL,
                [ParentFolderID]  INT             NULL,
                [Path]            NVARCHAR(MAX)   NOT NULL,
                [PathHash] AS CONVERT(binary(32), HASHBYTES('SHA2_256', [Path])) PERSISTED,
                [VolumeID]        INT             NULL,
                [CreationTime]    DATETIME2(0)    NULL,
                [LastWriteTime]   DATETIME2(0)    NULL,
                [LastAccessTime]  DATETIME2(0)    NULL,
                [Attributes]      INT             NULL,
                CONSTRAINT [PK_app_Folders] PRIMARY KEY CLUSTERED ([InventoryID], [LocalFolderID]),
                CONSTRAINT [FK_app_Folders_Parent] FOREIGN KEY ([InventoryID], [ParentFolderID])
                    REFERENCES [fsapp].[Folders] ([InventoryID], [LocalFolderID]),
                CONSTRAINT [FK_app_Folders_Volumes] FOREIGN KEY ([InventoryID], [VolumeID])
                    REFERENCES [fsapp].[Volumes] ([InventoryID], [VolumeID])
            );
            PRINT '  Created table [fsapp].[Folders]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- ACL table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[ACL]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[ACL] (
                [InventoryID]            UNIQUEIDENTIFIER NOT NULL,
                [LocalACLID]             INT          NOT NULL,
                [LocalFolderID]          INT          NOT NULL,
                [Owner]                  INT          NULL,
                [Group]                  INT          NULL,
                [AreAccessRulesProtected] BIT         NOT NULL,
                [AreAuditRulesProtected]  BIT         NOT NULL,
                [AreAccessRulesCanonical] BIT         NOT NULL,
                [AreAuditRulesCanonical]  BIT         NOT NULL,
                CONSTRAINT [PK_app_ACL] PRIMARY KEY CLUSTERED ([InventoryID], [LocalACLID]),
                CONSTRAINT [FK_app_ACL_Folders] FOREIGN KEY ([InventoryID], [LocalFolderID])
                    REFERENCES [fsapp].[Folders] ([InventoryID], [LocalFolderID]),
                CONSTRAINT [FK_app_ACL_Owner] FOREIGN KEY ([InventoryID], [Owner])
                    REFERENCES [fsapp].[SIDs] ([InventoryID], [SidID]),
                CONSTRAINT [FK_app_ACL_Group] FOREIGN KEY ([InventoryID], [Group])
                    REFERENCES [fsapp].[SIDs] ([InventoryID], [SidID])
            );
            PRINT '  Created table [fsapp].[ACL]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- ACE table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[ACE]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[ACE] (
                [InventoryID]           UNIQUEIDENTIFIER NOT NULL,
                [LocalACEID]            INT          NOT NULL,
                [LocalFolderID]         INT          NOT NULL,
                [FileSystemRightsMask]  INT          NOT NULL,
                [AccessControlType]     INT          NOT NULL,
                [IdentitySID]           INT          NOT NULL,
                [IsInherited]           BIT          NOT NULL,
                [InheritanceFlags]      INT          NOT NULL,
                [PropagationFlags]      INT          NOT NULL,
                [InheritedFromLocalID]  INT          NULL,
                CONSTRAINT [PK_app_ACE] PRIMARY KEY CLUSTERED ([InventoryID], [LocalACEID]),
                CONSTRAINT [FK_app_ACE_Folders] FOREIGN KEY ([InventoryID], [LocalFolderID])
                    REFERENCES [fsapp].[Folders] ([InventoryID], [LocalFolderID]),
                CONSTRAINT [FK_app_ACE_SIDs] FOREIGN KEY ([InventoryID], [IdentitySID])
                    REFERENCES [fsapp].[SIDs] ([InventoryID], [SidID]),
                CONSTRAINT [FK_app_ACE_InheritedFrom] FOREIGN KEY ([InventoryID], [InheritedFromLocalID])
                    REFERENCES [fsapp].[Folders] ([InventoryID], [LocalFolderID])
            );
            PRINT '  Created table [fsapp].[ACE]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- SMB Shares table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[SMBShares]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[SMBShares] (
                [InventoryID]             UNIQUEIDENTIFIER NOT NULL,
                [ShareID]                 INT            NOT NULL,
                [Name]                    NVARCHAR(256)  NOT NULL,
                [Path]                    INT         NOT NULL,
                [Description]             NVARCHAR(500)  NULL,
                [Type]                    NVARCHAR(50)   NOT NULL,
                [AllowMaximum]            BIT            NOT NULL,
                [MaximumAllowed]          INT            NULL,
                [IsHidden]                BIT            NOT NULL,
                [IsSpecial]               BIT            NOT NULL,
                [Status]                  NVARCHAR(50)   NOT NULL,
                [IsEncrypted]             BIT            NULL,
                [IsContinuous]            BIT            NULL,
                [ScopeName]               NVARCHAR(256)  NULL,
                [OwningNode]              NVARCHAR(256)  NULL,
                [FolderEnumerationMode]   NVARCHAR(50)   NULL,
                [CachingMode]             NVARCHAR(50)   NULL,
                [BranchCacheEnabled]      BIT            NULL,
                [LeasingMode]             NVARCHAR(50)   NULL,
                [VolumeID]                INT            NULL,
                [CreatedDate]             DATETIME2(7)   NULL,
                [ModifiedDate]            DATETIME2(7)   NULL,
                [SecurityDescriptor]      NVARCHAR(MAX)  NULL,
                [CurrentUsers]            INT            NULL,
                [IsBranchCacheEnabled]    BIT            NULL,
                CONSTRAINT [PK_app_SMBShares] PRIMARY KEY CLUSTERED ([InventoryID], [ShareID]),
                CONSTRAINT [CHK_app_SMBShares_MaximumAllowed] CHECK ([MaximumAllowed] IS NULL OR [MaximumAllowed] > 0)
            );
            PRINT '  Created table [fsapp].[SMBShares]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- SMB Share Access table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[SMBShareAccess]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[SMBShareAccess] (
                [InventoryID] UNIQUEIDENTIFIER NOT NULL,
                [ShareID]     INT           NOT NULL,
                [AccessID]    INT           NOT NULL,
                [Trustee]     INT        NOT NULL,
                [AccessType]  NVARCHAR(20)  NOT NULL,
                [AccessMask]  INT           NOT NULL,
                [IsInherited] BIT           NOT NULL DEFAULT (0),
                CONSTRAINT [PK_app_SMBShareAccess] PRIMARY KEY CLUSTERED ([InventoryID], [ShareID], [AccessID]),
                CONSTRAINT [FK_app_SMBShareAccess_Shares] FOREIGN KEY ([InventoryID], [ShareID])
                    REFERENCES [fsapp].[SMBShares] ([InventoryID], [ShareID])
                    ON DELETE CASCADE,
                CONSTRAINT [FK_app_SMBShareAccess_SIDs] FOREIGN KEY ([InventoryID], [Trustee])
                    REFERENCES [fsapp].[SIDs] ([InventoryID], [SidID])
            );
            PRINT '  Created table [fsapp].[SMBShareAccess]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Event Log table
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[EventLog]') AND type = 'U')
        BEGIN
            CREATE TABLE [fsapp].[EventLog] (
                [EventID]        INT            IDENTITY(1,1) NOT NULL,
                [InventoryID]    UNIQUEIDENTIFIER NOT NULL,
                [Timestamp]      datetimeoffset(3)   NOT NULL,
                [Severity]       VARCHAR(20)    NOT NULL,
                [Source]         NVARCHAR(100)  NOT NULL,
                [Message]        NVARCHAR(MAX)  NOT NULL,
                [Path]           NVARCHAR(4000) NULL,
                [ErrorCode]      INT            NULL,
                [ThreadID]       INT            NULL,
                [AdditionalData] NVARCHAR(MAX)  NULL,
                CONSTRAINT [PK_app_EventLog] PRIMARY KEY CLUSTERED ([EventID])
            );
            PRINT '  Created table [fsapp].[EventLog]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        PRINT 'Creating import staging tables...';

        -- ==============================================================================
        -- IMPORT/STAGING TABLES (fssimport schema)
        -- ==============================================================================
        -- These are constraint-free copies of app tables for high-speed data import
        -- No PKs, FKs, indexes, or checks - maximum insert performance
        -- Data is validated and moved to fsapp schema after import

        -- Import: CollectionInfo
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[CollectionInfo]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[CollectionInfo] (
                [InventoryID]         UNIQUEIDENTIFIER NOT NULL,
                [ComputerName]        NVARCHAR(16)  NOT NULL,
                [DomainName]          NVARCHAR(256) NOT NULL,
                [CollectionDateTime]  datetimeoffset(3)  NOT NULL,
                [ApplicationVersion]  NVARCHAR(20)  NOT NULL,
                [ApplicationBuild]    NVARCHAR(20)  NOT NULL,
                [IsAdmin]             BIT           NOT NULL,
                [Who]                 NVARCHAR(64) NOT NULL,
                [HardwareConcurrency] INT           NOT NULL,
                [ThreadCount]         INT           NOT NULL,
                [StartTime]           datetimeoffset(3)  NOT NULL,
                [EndTime]             datetimeoffset(3)  NULL,
                [TotalRuntime]        INT           NULL,
                [FoldersProcessed]    INT           NULL,
                [FoldersWithErrors]   INT           NULL,
                [PeakQueueSize]       INT           NULL,
                [MemoryUsageMB]       INT           NULL,
                [OutputPath]          NVARCHAR(4000) NULL,
                [ScanPath]            NVARCHAR(4000) NOT NULL,
                [RemoteComputer]      BIT           NOT NULL,
                [ExplicitOnly]        BIT           NOT NULL
            );
            PRINT '  Created staging table [fssimport].[CollectionInfo]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: SIDs (no identity on SidID - will be imported from source)
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[SIDs]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[SIDs] (
                [SidID]            INT             NOT NULL,
                [InventoryID]      UNIQUEIDENTIFIER NOT NULL,
                [Sid]              VARBINARY(85)  NOT NULL,
                [AccountName]      NVARCHAR(256) NULL,
                [AccountType]      VARCHAR(10)   NULL,
                [Description]      NVARCHAR(500) NULL,
                [IsResolved]       BIT           NOT NULL,
                [ResolutionSource] VARCHAR(20)   NULL
            );
            PRINT '  Created staging table [fssimport].[SIDs]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: Disks
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[Disks]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[Disks] (
                [InventoryID]     UNIQUEIDENTIFIER NOT NULL,
                [DiskID]          INT            NOT NULL,
                [DeviceID]        NVARCHAR(100)  NOT NULL,
                [Model]           NVARCHAR(200)  NULL,
                [InterfaceType]   NVARCHAR(50)   NULL,
                [Size]            BIGINT         NOT NULL,
                [PartitionStyle]  NVARCHAR(20)   NULL,
                [IsBoot]          BIT            NOT NULL,
                [IsSystem]        BIT            NOT NULL,
                [IsReadOnly]      BIT            NOT NULL,
                [Status]          NVARCHAR(50)   NOT NULL
            );
            PRINT '  Created staging table [fssimport].[Disks]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: Volumes
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[Volumes]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[Volumes] (
                [InventoryID]           UNIQUEIDENTIFIER NOT NULL,
                [VolumeID]              INT            NOT NULL,
                [DiskID]                INT            NULL,
                [Label]                 NVARCHAR(256)  NULL,
                [FileSystem]            NVARCHAR(50)   NULL,
                [Size]                  BIGINT         NOT NULL,
                [FreeSpace]             BIGINT         NOT NULL,
                [IsSystem]              BIT            NOT NULL,
                [IsReadOnly]            BIT            NOT NULL,
                [Status]                NVARCHAR(50)   NULL,
                [UniqueID]              NVARCHAR(100)  NULL,
                [AllocationUnitSize]    BIGINT         NULL,
                [DriveType]             INT            NULL,
                [IsEncrypted]           BIT            NOT NULL,
                [IsCompressed]          BIT            NOT NULL,
                [ShadowCopyEnabled]     BIT            NOT NULL,
                [ShadowCopyStorageMax]  BIGINT         NULL
            );
            PRINT '  Created staging table [fssimport].[Volumes]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: VolumeMounts
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[VolumeMounts]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[VolumeMounts] (
                [InventoryID] UNIQUEIDENTIFIER NOT NULL,
                [VolumeID]    INT            NOT NULL,
                [MountPoint]  NVARCHAR(260)  NOT NULL
            );
            PRINT '  Created staging table [fssimport].[VolumeMounts]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: VolumeExtents
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[VolumeExtents]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[VolumeExtents] (
                [InventoryID]    UNIQUEIDENTIFIER NOT NULL,
                [VolumeID]       INT          NOT NULL,
                [DiskID]         INT          NOT NULL,
                [ExtentIndex]    INT          NOT NULL,
                [StartingOffset] BIGINT       NOT NULL,
                [ExtentLength]   BIGINT       NOT NULL
            );
            PRINT '  Created staging table [fssimport].[VolumeExtents]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: Partitions
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[Partitions]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[Partitions] (
                [InventoryID]    UNIQUEIDENTIFIER NOT NULL,
                [PartitionID]    INT           NOT NULL,
                [DiskID]         INT           NOT NULL,
                [PartitionIndex] INT           NOT NULL,
                [StartOffset]    BIGINT        NOT NULL,
                [LengthBytes]    BIGINT        NOT NULL,
                [PartitionType]  NVARCHAR(50)  NULL,
                [GPT_GUID]       UNIQUEIDENTIFIER    NULL,
                [MBR_Type]       INT           NULL,
                [VolID]          INT           NULL
            );
            PRINT '  Created staging table [fssimport].[Partitions]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: Folders
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[Folders]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[Folders] (
                [InventoryID]     UNIQUEIDENTIFIER NOT NULL,
                [LocalFolderID]   INT             NOT NULL,
                [ParentFolderID]  INT             NULL,
                [Path]            NVARCHAR(MAX)   NOT NULL,
                [VolumeID]        INT             NULL,
                [CreationTime]    DATETIME2(0)    NULL,
                [LastWriteTime]   DATETIME2(0)    NULL,
                [LastAccessTime]  DATETIME2(0)    NULL,
                [Attributes]      INT             NULL
            );
            PRINT '  Created staging table [fssimport].[Folders]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: ACL
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[ACL]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[ACL] (
                [InventoryID]            UNIQUEIDENTIFIER NOT NULL,
                [LocalACLID]             INT          NOT NULL,
                [LocalFolderID]          INT          NOT NULL,
                [Owner]                  INT          NULL,
                [Group]                  INT          NULL,
                [AreAccessRulesProtected] BIT         NOT NULL,
                [AreAuditRulesProtected]  BIT         NOT NULL,
                [AreAccessRulesCanonical] BIT         NOT NULL,
                [AreAuditRulesCanonical]  BIT         NOT NULL
            );
            PRINT '  Created staging table [fssimport].[ACL]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: ACE
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[ACE]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[ACE] (
                [InventoryID]           UNIQUEIDENTIFIER NOT NULL,
                [LocalACEID]            INT          NOT NULL,
                [LocalFolderID]         INT          NOT NULL,
                [FileSystemRightsMask]  INT          NOT NULL,
                [AccessControlType]     INT          NOT NULL,
                [IdentitySID]           INT          NOT NULL,
                [IsInherited]           BIT          NOT NULL,
                [InheritanceFlags]      INT          NOT NULL,
                [PropagationFlags]      INT          NOT NULL,
                [InheritedFromLocalID]  INT          NULL
            );
            PRINT '  Created staging table [fssimport].[ACE]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: SMBShares
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[SMBShares]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[SMBShares] (
                [InventoryID]             UNIQUEIDENTIFIER NOT NULL,
                [ShareID]                 INT            NOT NULL,
                [Name]                    NVARCHAR(256)  NOT NULL,
                [Path]                    INT         NOT NULL,
                [Description]             NVARCHAR(500)  NULL,
                [Type]                    NVARCHAR(50)   NOT NULL,
                [AllowMaximum]            BIT            NOT NULL,
                [MaximumAllowed]          INT            NULL,
                [IsHidden]                BIT            NOT NULL,
                [IsSpecial]               BIT            NOT NULL,
                [Status]                  NVARCHAR(50)   NOT NULL,
                [IsEncrypted]             BIT            NULL,
                [IsContinuous]            BIT            NULL,
                [ScopeName]               NVARCHAR(256)  NULL,
                [OwningNode]              NVARCHAR(256)  NULL,
                [FolderEnumerationMode]   NVARCHAR(50)   NULL,
                [CachingMode]             NVARCHAR(50)   NULL,
                [BranchCacheEnabled]      BIT            NULL,
                [LeasingMode]             NVARCHAR(50)   NULL,
                [VolumeID]                INT            NULL,
                [CreatedDate]             DATETIME2(7)   NULL,
                [ModifiedDate]            DATETIME2(7)   NULL,
                [SecurityDescriptor]      NVARCHAR(MAX)  NULL,
                [CurrentUsers]            INT            NULL,
                [IsBranchCacheEnabled]    BIT            NULL
            );
            PRINT '  Created staging table [fssimport].[SMBShares]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: SMBShareAccess
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[SMBShareAccess]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[SMBShareAccess] (
                [InventoryID] UNIQUEIDENTIFIER NOT NULL,
                [ShareID]     INT           NOT NULL,
                [AccessID]    INT           NOT NULL,
                [Trustee]     INT        NOT NULL,
                [AccessType]  NVARCHAR(20)  NOT NULL,
                [AccessMask]  INT           NOT NULL,
                [IsInherited] BIT           NOT NULL
            );
            PRINT '  Created staging table [fssimport].[SMBShareAccess]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        -- Import: EventLog (no identity on EventID - will be imported from source)
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fssimport].[EventLog]') AND type = 'U')
        BEGIN
            CREATE TABLE [fssimport].[EventLog] (
                [EventID]        INT            NOT NULL,
                [InventoryID]    UNIQUEIDENTIFIER NOT NULL,
                [Timestamp]      datetimeoffset(3)   NOT NULL,
                [Severity]       VARCHAR(20)    NOT NULL,
                [Source]         NVARCHAR(100)  NOT NULL,
                [Message]        NVARCHAR(MAX)  NOT NULL,
                [Path]           NVARCHAR(4000) NULL,
                [ErrorCode]      INT            NULL,
                [ThreadID]       INT            NULL,
                [AdditionalData] NVARCHAR(MAX)  NULL
            );
            PRINT '  Created staging table [fssimport].[EventLog]';
            SET @TablesCreated = @TablesCreated + 1;
        END

        COMMIT TRANSACTION;

        PRINT 'All tables created successfully!';
        PRINT 'Application tables: 14, Lookup tables: 10, Import staging tables: 13';
        SET @ErrorMessage = CAST(@TablesCreated AS NVARCHAR(10)) + ' tables created successfully';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ErrorNumber = ERROR_NUMBER();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();
        SET @ErrorLine = ERROR_LINE();

        SET @ErrorMessage =
            'Error ' + CAST(@ErrorNumber AS NVARCHAR(10)) +
            ' (Severity ' + CAST(@ErrorSeverity AS NVARCHAR(10)) +
            ', State ' + CAST(@ErrorState AS NVARCHAR(10)) + ')' +
            ' at Line ' + CAST(@ErrorLine AS NVARCHAR(10)) + ': ' +
            ERROR_MESSAGE();

        SET @ReturnCode = @ErrorNumber;

        PRINT 'ERROR: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
