USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Partition_AddForInventoryID]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Partition_AddForInventoryID]
    @InventoryID UNIQUEIDENTIFIER,
    @ErrorMessage NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ReturnCode INT = 0;

    BEGIN TRY
        -- Check if partition boundary already exists
        IF EXISTS (
            SELECT 1
            FROM sys.partition_range_values prv
            JOIN sys.partition_functions pf ON prv.function_id = pf.function_id
            WHERE pf.name = 'pf_InventoryID'
              AND CAST(prv.value AS UNIQUEIDENTIFIER) = @InventoryID
        )
        BEGIN
            PRINT 'Partition boundary already exists for InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));
            RETURN 0;
        END

        -- Mark partition scheme as next used (required before SPLIT)
        ALTER PARTITION SCHEME ps_InventoryID NEXT USED [PRIMARY];

        -- Split the partition function to create new boundary
        ALTER PARTITION FUNCTION pf_InventoryID() SPLIT RANGE (@InventoryID);

        PRINT 'Created partition for InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));

        -- Return the partition number for this InventoryID
        SELECT $PARTITION.pf_InventoryID(@InventoryID) AS PartitionNumber;

    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'Error adding partition: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
