USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Partition_DeleteCollection_Fast]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Partition_DeleteCollection_Fast]
    @InventoryID UNIQUEIDENTIFIER,
    @Schema NVARCHAR(20) = 'fsapp',  -- 'fsapp' or 'fssimport'
    @ErrorMessage NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ReturnCode INT = 0;
    DECLARE @PartitionNumber INT;
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @TableName NVARCHAR(128);
    DECLARE @StagingTableName NVARCHAR(256);
    DECLARE @StartTime DATETIME = GETDATE();
    DECLARE @RowCount BIGINT = 0;
    DECLARE @TotalRows BIGINT = 0;

    BEGIN TRY
        -- Get partition number for this InventoryID
        SET @PartitionNumber = $PARTITION.pf_InventoryID(@InventoryID);

        PRINT 'Fast deletion of InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));
        PRINT 'Schema: ' + @Schema;
        PRINT 'Partition Number: ' + CAST(@PartitionNumber AS NVARCHAR(10));
        PRINT '─────────────────────────────────────────────────────────────────────────';

        -- Verify partition exists and has data
        SELECT @RowCount = SUM(p.rows)
        FROM sys.tables t
        JOIN sys.schemas s ON t.schema_id = s.schema_id
        JOIN sys.indexes i ON t.object_id = i.object_id AND i.index_id <= 1
        JOIN sys.partition_schemes ps ON i.data_space_id = ps.data_space_id
        JOIN sys.partitions p ON i.object_id = p.object_id AND i.index_id = p.index_id
        WHERE s.name = @Schema
          AND ps.name = 'ps_InventoryID'
          AND p.partition_number = @PartitionNumber;

        IF @RowCount = 0
        BEGIN
            PRINT 'No data found in partition ' + CAST(@PartitionNumber AS NVARCHAR(10)) + ' for InventoryID ' + CAST(@InventoryID AS NVARCHAR(50));
            RETURN 0;
        END

        PRINT 'Total rows to delete: ' + FORMAT(@RowCount, 'N0');

        -- Process tables in reverse dependency order
        DECLARE @Tables TABLE (
            TableOrder INT,
            TableName NVARCHAR(128)
        );

        IF @Schema = 'fsapp'
        BEGIN
            INSERT INTO @Tables VALUES
                (1, 'EventLog'),
                (2, 'SMBShareAccess'),
                (3, 'SMBShares'),
                (4, 'ACE'),
                (5, 'ACL'),
                (6, 'Folders'),
                (7, 'SIDs'),
                (8, 'VolumeExtents'),
                (9, 'VolumeMounts'),
                (10, 'Partitions'),
                (11, 'Volumes'),
                (12, 'Disks'),
                (13, 'CollectionInfo');
        END
        ELSE -- fssimport
        BEGIN
            INSERT INTO @Tables VALUES
                (1, 'EventLog'),
                (2, 'SMBShareAccess'),
                (3, 'SMBShares'),
                (4, 'ACE'),
                (5, 'ACL'),
                (6, 'Folders'),
                (7, 'SIDs'),
                (8, 'VolumeExtents'),
                (9, 'VolumeMounts'),
                (10, 'Partitions'),
                (11, 'Volumes'),
                (12, 'Disks'),
                (13, 'CollectionInfo');
        END

        -- For fsapp with FKs, we need to disable FKs first or use TRUNCATE workaround
        -- Since we're using partition SWITCH, we need staging tables

        DECLARE table_cursor CURSOR FOR
            SELECT TableName FROM @Tables ORDER BY TableOrder;

        OPEN table_cursor;
        FETCH NEXT FROM table_cursor INTO @TableName;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @StagingTableName = @Schema + '.' + @TableName + '_Staging';

            -- Check if table exists and has rows in this partition
            SET @SQL = N'
                SELECT @cnt = COUNT(*)
                FROM [' + @Schema + '].[' + @TableName + ']
                WHERE $PARTITION.pf_InventoryID(InventoryID) = @pn';

            EXEC sp_executesql @SQL,
                N'@cnt BIGINT OUTPUT, @pn INT',
                @cnt = @RowCount OUTPUT,
                @pn = @PartitionNumber;

            IF @RowCount > 0
            BEGIN
                PRINT 'Processing ' + @Schema + '.' + @TableName + ' (' + FORMAT(@RowCount, 'N0') + ' rows)...';
                SET @TotalRows = @TotalRows + @RowCount;

                -- For partition switching, we need to:
                -- 1. Create an identical empty staging table on the same partition scheme
                -- 2. Switch the partition to the staging table
                -- 3. Truncate or drop the staging table

                -- Check if staging table exists and drop it
                SET @SQL = N'IF OBJECT_ID(''' + @StagingTableName + ''', ''U'') IS NOT NULL DROP TABLE ' + @StagingTableName;
                EXEC sp_executesql @SQL;

                -- Create staging table by selecting into with same schema (empty)
                -- This is a simplified approach - for production, generate exact DDL
                SET @SQL = N'
                    SELECT TOP 0 * INTO ' + @StagingTableName + '
                    FROM [' + @Schema + '].[' + @TableName + ']';
                EXEC sp_executesql @SQL;

                -- Add the staging table to the same partition scheme
                -- Note: For SWITCH to work, staging table must have same partition scheme
                -- Since SELECT INTO creates on PRIMARY, we use a different approach

                -- Alternative: Use DELETE with partition elimination
                -- This is still faster than unpartitioned DELETE due to partition elimination
                SET @SQL = N'
                    DELETE FROM [' + @Schema + '].[' + @TableName + ']
                    WHERE InventoryID = @invId';
                EXEC sp_executesql @SQL, N'@invId UNIQUEIDENTIFIER', @invId = @InventoryID;

                -- Drop staging table
                SET @SQL = N'DROP TABLE IF EXISTS ' + @StagingTableName;
                EXEC sp_executesql @SQL;

                PRINT '  ✓ Deleted ' + FORMAT(@RowCount, 'N0') + ' rows';
            END

            FETCH NEXT FROM table_cursor INTO @TableName;
        END

        CLOSE table_cursor;
        DEALLOCATE table_cursor;

        -- Optionally merge the empty partition (cleanup)
        -- This removes the partition boundary
        -- ALTER PARTITION FUNCTION pf_InventoryID() MERGE RANGE (@InventoryID);

        PRINT '';
        PRINT 'Deletion complete. Total rows deleted: ' + FORMAT(@TotalRows, 'N0');
        PRINT 'Duration: ' + CAST(DATEDIFF(SECOND, @StartTime, GETDATE()) AS NVARCHAR(10)) + ' seconds';

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('global', 'table_cursor') >= 0
        BEGIN
            CLOSE table_cursor;
            DEALLOCATE table_cursor;
        END

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'Error during deletion: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
