USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_ADInventory_ValidateData]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- Create updated procedure with KMS, ADFS, and PKI validation
-- ============================================================================
CREATE PROCEDURE [dbo].[usp_ADInventory_ValidateData]
        @InventoryID                UNIQUEIDENTIFIER,
        @VerboseOutput              BIT = 0,
        @HasErrors                  BIT OUTPUT,
        @TotalErrorCount            INT OUTPUT
AS
BEGIN
        SET NOCOUNT ON;

        -- Initialize outputs
        SET @HasErrors = 0;
        SET @TotalErrorCount = 0;

        -- Create temp table for validation results
        CREATE TABLE #ValidationErrors (
                ErrorID                 INT IDENTITY(1,1) PRIMARY KEY,
                Category                NVARCHAR(50) NOT NULL,
                Severity                NVARCHAR(10) NOT NULL,   -- ERROR, WARNING, INFO
                TableName               NVARCHAR(100) NOT NULL,
                ErrorMessage            NVARCHAR(500) NOT NULL,
                AffectedCount           INT NOT NULL,
                Details                 NVARCHAR(MAX) NULL
        );

        -- Check if InventoryID exists
        IF NOT EXISTS (SELECT 1 FROM ADImport.CollectionInfo WHERE InventoryID = @InventoryID)
        BEGIN
                INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
                VALUES ('Existence', 'ERROR', 'CollectionInfo', 'InventoryID not found in ADImport schema', 1);

                SET @HasErrors = 1;
                SET @TotalErrorCount = 1;

                IF @VerboseOutput = 1
                        SELECT * FROM #ValidationErrors;

                DROP TABLE #ValidationErrors;
                RETURN 1;
        END

        -- ====================================================================
        -- Category 1: Required Field Validation
        -- ====================================================================

        -- CollectionInfo required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'CollectionInfo', 'Missing or empty DomainName', COUNT(*)
        FROM ADImport.CollectionInfo
        WHERE InventoryID = @InventoryID AND (DomainName IS NULL OR LEN(RTRIM(DomainName)) = 0)
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'CollectionInfo', 'Missing or empty ComputerName', COUNT(*)
        FROM ADImport.CollectionInfo
        WHERE InventoryID = @InventoryID AND (ComputerName IS NULL OR LEN(RTRIM(ComputerName)) = 0)
        HAVING COUNT(*) > 0;

        -- AD_Object required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_Object', 'Missing or empty SID_String', COUNT(*)
        FROM ADImport.AD_Object o
        JOIN ADImport.CollectionInfo ci ON o.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (o.SID_String IS NULL OR LEN(RTRIM(o.SID_String)) = 0)
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_Object', 'Missing or empty DistinguishedName', COUNT(*)
        FROM ADImport.AD_Object o
        JOIN ADImport.CollectionInfo ci ON o.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (o.DistinguishedName IS NULL OR LEN(RTRIM(o.DistinguishedName)) = 0)
        HAVING COUNT(*) > 0;

        -- AD_Site required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_Site', 'Missing or empty SiteName', COUNT(*)
        FROM ADImport.AD_Site s
        JOIN ADImport.CollectionInfo ci ON s.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (s.SiteName IS NULL OR LEN(RTRIM(s.SiteName)) = 0)
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_Site', 'Missing or empty DistinguishedName', COUNT(*)
        FROM ADImport.AD_Site s
        JOIN ADImport.CollectionInfo ci ON s.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (s.DistinguishedName IS NULL OR LEN(RTRIM(s.DistinguishedName)) = 0)
        HAVING COUNT(*) > 0;

        -- AD_Subnet required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_Subnet', 'Missing or empty SubnetName', COUNT(*)
        FROM ADImport.AD_Subnet s
        JOIN ADImport.CollectionInfo ci ON s.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (s.SubnetName IS NULL OR LEN(RTRIM(s.SubnetName)) = 0)
        HAVING COUNT(*) > 0;

        -- AD_SiteLink required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_SiteLink', 'Missing or empty SiteLinkName', COUNT(*)
        FROM ADImport.AD_SiteLink sl
        JOIN ADImport.CollectionInfo ci ON sl.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (sl.SiteLinkName IS NULL OR LEN(RTRIM(sl.SiteLinkName)) = 0)
        HAVING COUNT(*) > 0;

        -- AD_OptionalFeature required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_OptionalFeature', 'Missing or empty FeatureName', COUNT(*)
        FROM ADImport.AD_OptionalFeature f
        JOIN ADImport.CollectionInfo ci ON f.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (f.FeatureName IS NULL OR LEN(RTRIM(f.FeatureName)) = 0)
        HAVING COUNT(*) > 0;

        -- NEW: AD_KMSService required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_KMSService', 'Missing or empty DomainName', COUNT(*)
        FROM ADImport.AD_KMSService k
        JOIN ADImport.CollectionInfo ci ON k.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (k.DomainName IS NULL OR LEN(RTRIM(k.DomainName)) = 0)
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_KMSService', 'Missing or empty TargetHostname', COUNT(*)
        FROM ADImport.AD_KMSService k
        JOIN ADImport.CollectionInfo ci ON k.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (k.TargetHostname IS NULL OR LEN(RTRIM(k.TargetHostname)) = 0)
        HAVING COUNT(*) > 0;

        -- NEW: AD_ADFSConfiguration required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_ADFSConfiguration', 'Missing or empty ForestName', COUNT(*)
        FROM ADImport.AD_ADFSConfiguration a
        JOIN ADImport.CollectionInfo ci ON a.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (a.ForestName IS NULL OR LEN(RTRIM(a.ForestName)) = 0)
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_ADFSConfiguration', 'Missing or empty ServiceType', COUNT(*)
        FROM ADImport.AD_ADFSConfiguration a
        JOIN ADImport.CollectionInfo ci ON a.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (a.ServiceType IS NULL OR LEN(RTRIM(a.ServiceType)) = 0)
        HAVING COUNT(*) > 0;

        -- NEW: AD_EnterpriseCA required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_EnterpriseCA', 'Missing or empty CAName', COUNT(*)
        FROM ADImport.AD_EnterpriseCA e
        JOIN ADImport.CollectionInfo ci ON e.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (e.CAName IS NULL OR LEN(RTRIM(e.CAName)) = 0)
        HAVING COUNT(*) > 0;

        -- NEW: AD_CertificateTemplate required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_CertificateTemplate', 'Missing or empty TemplateName', COUNT(*)
        FROM ADImport.AD_CertificateTemplate t
        JOIN ADImport.CollectionInfo ci ON t.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (t.TemplateName IS NULL OR LEN(RTRIM(t.TemplateName)) = 0)
        HAVING COUNT(*) > 0;

        -- NEW: AD_TrustedRootCA required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_TrustedRootCA', 'Missing or empty CAName', COUNT(*)
        FROM ADImport.AD_TrustedRootCA r
        JOIN ADImport.CollectionInfo ci ON r.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (r.CAName IS NULL OR LEN(RTRIM(r.CAName)) = 0)
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_TrustedRootCA', 'Missing or empty ContainerType', COUNT(*)
        FROM ADImport.AD_TrustedRootCA r
        JOIN ADImport.CollectionInfo ci ON r.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (r.ContainerType IS NULL OR LEN(RTRIM(r.ContainerType)) = 0)
        HAVING COUNT(*) > 0;

        -- NEW: AD_NTAuthCA required fields
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'RequiredField', 'ERROR', 'AD_NTAuthCA', 'Missing or empty CertificateSubject', COUNT(*)
        FROM ADImport.AD_NTAuthCA n
        JOIN ADImport.CollectionInfo ci ON n.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID AND (n.CertificateSubject IS NULL OR LEN(RTRIM(n.CertificateSubject)) = 0)
        HAVING COUNT(*) > 0;

        -- ====================================================================
        -- Category 2: Data Format Validation
        -- ====================================================================

        -- SID format validation
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataFormat', 'ERROR', 'AD_Object', 'Invalid SID format (must be S-1-* or CN:* for contacts)', COUNT(*)
        FROM ADImport.AD_Object o
        JOIN ADImport.CollectionInfo ci ON o.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND o.SID_String NOT LIKE 'S-1-%'
            AND o.SID_String NOT LIKE 'CN:%'
        HAVING COUNT(*) > 0;

        -- GUID format validation
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataFormat', 'WARNING', 'AD_Object', 'Invalid ObjectGUID format', COUNT(*)
        FROM ADImport.AD_Object o
        JOIN ADImport.CollectionInfo ci ON o.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND o.ObjectGUID IS NOT NULL
            AND TRY_CAST(o.ObjectGUID AS UNIQUEIDENTIFIER) IS NULL
        HAVING COUNT(*) > 0;

        -- Site ObjectGUID format validation
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataFormat', 'WARNING', 'AD_Site', 'Invalid ObjectGUID format', COUNT(*)
        FROM ADImport.AD_Site s
        JOIN ADImport.CollectionInfo ci ON s.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND s.ObjectGUID IS NOT NULL
            AND TRY_CAST(s.ObjectGUID AS UNIQUEIDENTIFIER) IS NULL
        HAVING COUNT(*) > 0;

        -- NEW: KMS Port validation
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataFormat', 'WARNING', 'AD_KMSService', 'KMS port is not default 1688', COUNT(*)
        FROM ADImport.AD_KMSService k
        JOIN ADImport.CollectionInfo ci ON k.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND k.Port <> 1688
        HAVING COUNT(*) > 0;

        -- NEW: Certificate thumbprint format validation
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataFormat', 'WARNING', 'AD_NTAuthCA', 'Invalid certificate thumbprint format (not 40 hex chars)', COUNT(*)
        FROM ADImport.AD_NTAuthCA n
        JOIN ADImport.CollectionInfo ci ON n.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND n.CertificateThumbprint IS NOT NULL
            AND (LEN(n.CertificateThumbprint) <> 40
                 OR n.CertificateThumbprint LIKE '%[^0-9A-Fa-f]%')
        HAVING COUNT(*) > 0;

        -- ====================================================================
        -- Category 3: Enumeration Validation
        -- ====================================================================

        -- ObjectType range
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'EnumValue', 'ERROR', 'AD_Object', 'ObjectType out of valid range (0-4)', COUNT(*)
        FROM ADImport.AD_Object o
        JOIN ADImport.CollectionInfo ci ON o.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND (o.ObjectType IS NULL OR o.ObjectType NOT IN (0, 1, 2, 3, 4))
        HAVING COUNT(*) > 0;

        -- GroupScope range
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'EnumValue', 'ERROR', 'AD_Object', 'GroupScope out of valid range (0-3)', COUNT(*)
        FROM ADImport.AD_Object o
        JOIN ADImport.CollectionInfo ci ON o.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND o.ObjectType = 2
            AND o.GroupScope IS NOT NULL
            AND o.GroupScope NOT IN (0, 1, 2, 3)
        HAVING COUNT(*) > 0;

        -- Trust direction validation
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'EnumValue', 'ERROR', 'AD_Trust', 'Invalid TrustDirection value', COUNT(*)
        FROM ADImport.AD_Trust t
        JOIN ADImport.CollectionInfo ci ON t.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND t.TrustDirection NOT IN ('Inbound', 'Outbound', 'Bidirectional')
        HAVING COUNT(*) > 0;

        -- GPOOverallHealth enumeration validation
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'EnumValue', 'WARNING', 'AD_Domain', 'Unexpected GPOOverallHealth value', COUNT(*)
        FROM ADImport.AD_Domain d
        JOIN ADImport.CollectionInfo ci ON d.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND d.GPOOverallHealth IS NOT NULL
            AND d.GPOOverallHealth NOT IN ('Healthy', 'Warning', 'Critical')
        HAVING COUNT(*) > 0;

        -- NEW: AD_ADFSConfiguration ServiceType enumeration validation
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'EnumValue', 'WARNING', 'AD_ADFSConfiguration', 'Unexpected ServiceType value', COUNT(*)
        FROM ADImport.AD_ADFSConfiguration a
        JOIN ADImport.CollectionInfo ci ON a.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND a.ServiceType NOT IN ('ADFS', 'DRS')
        HAVING COUNT(*) > 0;

        -- NEW: AD_TrustedRootCA ContainerType enumeration validation
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'EnumValue', 'WARNING', 'AD_TrustedRootCA', 'Unexpected ContainerType value', COUNT(*)
        FROM ADImport.AD_TrustedRootCA r
        JOIN ADImport.CollectionInfo ci ON r.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND r.ContainerType NOT IN ('CertificationAuthorities', 'AIA', 'CDP')
        HAVING COUNT(*) > 0;

        -- ====================================================================
        -- Category 4: Referential Integrity
        -- ====================================================================

        -- AD_Object orphan check
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_Object', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_Object o
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = o.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        -- GroupMembership orphan check
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_GroupMembership', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_GroupMembership gm
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = gm.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        -- Sites & Services orphan checks
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_Site', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_Site s
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = s.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_Subnet', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_Subnet s
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = s.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_SiteLink', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_SiteLink sl
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = sl.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_OptionalFeature', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_OptionalFeature f
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = f.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        -- AD_SiteSubnet references valid sites
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'WARNING', 'AD_SiteSubnet', 'SiteName not found in AD_Site', COUNT(*)
        FROM ADImport.AD_SiteSubnet ss
        JOIN ADImport.CollectionInfo ci ON ss.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND NOT EXISTS (
                SELECT 1 FROM ADImport.AD_Site s
                WHERE s.SiteName = ss.SiteName AND s.CollectionID = ss.CollectionID
            )
        HAVING COUNT(*) > 0;

        -- AD_SiteSubnet references valid subnets
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'WARNING', 'AD_SiteSubnet', 'SubnetName not found in AD_Subnet', COUNT(*)
        FROM ADImport.AD_SiteSubnet ss
        JOIN ADImport.CollectionInfo ci ON ss.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND NOT EXISTS (
                SELECT 1 FROM ADImport.AD_Subnet s
                WHERE s.SubnetName = ss.SubnetName AND s.CollectionID = ss.CollectionID
            )
        HAVING COUNT(*) > 0;

        -- AD_SiteLinkSite references valid sites
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'WARNING', 'AD_SiteLinkSite', 'SiteName not found in AD_Site', COUNT(*)
        FROM ADImport.AD_SiteLinkSite sls
        JOIN ADImport.CollectionInfo ci ON sls.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND NOT EXISTS (
                SELECT 1 FROM ADImport.AD_Site s
                WHERE s.SiteName = sls.SiteName AND s.CollectionID = sls.CollectionID
            )
        HAVING COUNT(*) > 0;

        -- AD_SiteLinkSite references valid site links
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'WARNING', 'AD_SiteLinkSite', 'SiteLinkName not found in AD_SiteLink', COUNT(*)
        FROM ADImport.AD_SiteLinkSite sls
        JOIN ADImport.CollectionInfo ci ON sls.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND NOT EXISTS (
                SELECT 1 FROM ADImport.AD_SiteLink sl
                WHERE sl.SiteLinkName = sls.SiteLinkName AND sl.CollectionID = sls.CollectionID
            )
        HAVING COUNT(*) > 0;

        -- GroupSID exists as group object (warning - may be from trusted domain)
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'WARNING', 'AD_GroupMembership', 'GroupSID not found in AD_Object', COUNT(DISTINCT gm.GroupSID)
        FROM ADImport.AD_GroupMembership gm
        JOIN ADImport.CollectionInfo ci ON gm.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND NOT EXISTS (
                SELECT 1 FROM ADImport.AD_Object o
                WHERE o.SID_String = gm.GroupSID AND o.CollectionID = gm.CollectionID
            )
        HAVING COUNT(DISTINCT gm.GroupSID) > 0;

        -- NEW: KMS, ADFS, PKI orphan checks
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_KMSService', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_KMSService k
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = k.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_ADFSConfiguration', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_ADFSConfiguration a
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = a.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_EnterpriseCA', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_EnterpriseCA e
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = e.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_CertificateTemplate', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_CertificateTemplate t
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = t.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_TrustedRootCA', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_TrustedRootCA r
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = r.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'ReferentialIntegrity', 'ERROR', 'AD_NTAuthCA', 'CollectionID not in CollectionInfo', COUNT(*)
        FROM ADImport.AD_NTAuthCA n
        WHERE NOT EXISTS (
                SELECT 1 FROM ADImport.CollectionInfo ci
                WHERE ci.CollectionID = n.CollectionID AND ci.InventoryID = @InventoryID
        )
        HAVING COUNT(*) > 0;

        -- ====================================================================
        -- Category 5: Logical Consistency
        -- ====================================================================

        -- WhenCreated <= WhenChanged
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'LogicalConsistency', 'WARNING', 'AD_Object', 'WhenCreated is after WhenChanged', COUNT(*)
        FROM ADImport.AD_Object o
        JOIN ADImport.CollectionInfo ci ON o.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND o.WhenCreated IS NOT NULL AND o.WhenChanged IS NOT NULL
            AND o.WhenCreated > o.WhenChanged
        HAVING COUNT(*) > 0;

        -- Contact with real SID
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'LogicalConsistency', 'WARNING', 'AD_Object', 'Contacts with non-synthetic SID (should be CN:*)', COUNT(*)
        FROM ADImport.AD_Object o
        JOIN ADImport.CollectionInfo ci ON o.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND o.ObjectType = 4 AND o.SID_String NOT LIKE 'CN:%'
        HAVING COUNT(*) > 0;

        -- GPO counts logical consistency
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'LogicalConsistency', 'WARNING', 'AD_Domain', 'GPOHealthyCount exceeds GPOTotalCount', COUNT(*)
        FROM ADImport.AD_Domain d
        JOIN ADImport.CollectionInfo ci ON d.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND d.GPOTotalCount IS NOT NULL AND d.GPOHealthyCount IS NOT NULL
            AND d.GPOHealthyCount > d.GPOTotalCount
        HAVING COUNT(*) > 0;

        -- NEW: Certificate date logical consistency
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'LogicalConsistency', 'WARNING', 'AD_NTAuthCA', 'CertificateNotBefore is after CertificateNotAfter', COUNT(*)
        FROM ADImport.AD_NTAuthCA n
        JOIN ADImport.CollectionInfo ci ON n.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND n.CertificateNotBefore IS NOT NULL AND n.CertificateNotAfter IS NOT NULL
            AND TRY_CAST(n.CertificateNotBefore AS DATETIME2) > TRY_CAST(n.CertificateNotAfter AS DATETIME2)
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'LogicalConsistency', 'WARNING', 'AD_TrustedRootCA', 'CertificateNotBefore is after CertificateNotAfter', COUNT(*)
        FROM ADImport.AD_TrustedRootCA r
        JOIN ADImport.CollectionInfo ci ON r.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
            AND r.CertificateNotBefore IS NOT NULL AND r.CertificateNotAfter IS NOT NULL
            AND TRY_CAST(r.CertificateNotBefore AS DATETIME2) > TRY_CAST(r.CertificateNotAfter AS DATETIME2)
        HAVING COUNT(*) > 0;

        -- ====================================================================
        -- Category 6: Data Quality (Informational)
        -- ====================================================================

        -- Empty collections
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'WARNING', 'CollectionInfo', 'Collections with no AD objects', COUNT(*)
        FROM ADImport.CollectionInfo ci
        WHERE ci.InventoryID = @InventoryID
            AND NOT EXISTS (SELECT 1 FROM ADImport.AD_Object o WHERE o.CollectionID = ci.CollectionID)
        HAVING COUNT(*) > 0;

        -- Sites & Services data presence (informational)
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'INFO', 'AD_Site', 'Sites collected', COUNT(*)
        FROM ADImport.AD_Site s
        JOIN ADImport.CollectionInfo ci ON s.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'INFO', 'AD_DomainController', 'Domain controllers collected', COUNT(*)
        FROM ADImport.AD_DomainController dc
        JOIN ADImport.CollectionInfo ci ON dc.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'INFO', 'AD_OptionalFeature', 'Optional features collected', COUNT(*)
        FROM ADImport.AD_OptionalFeature f
        JOIN ADImport.CollectionInfo ci ON f.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
        HAVING COUNT(*) > 0;

        -- NEW: KMS, ADFS, PKI data presence (informational)
        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'INFO', 'AD_KMSService', 'KMS services discovered', COUNT(*)
        FROM ADImport.AD_KMSService k
        JOIN ADImport.CollectionInfo ci ON k.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'INFO', 'AD_ADFSConfiguration', 'ADFS/DRS configurations collected', COUNT(*)
        FROM ADImport.AD_ADFSConfiguration a
        JOIN ADImport.CollectionInfo ci ON a.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'INFO', 'AD_EnterpriseCA', 'Enterprise CAs collected', COUNT(*)
        FROM ADImport.AD_EnterpriseCA e
        JOIN ADImport.CollectionInfo ci ON e.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'INFO', 'AD_CertificateTemplate', 'Certificate templates collected', COUNT(*)
        FROM ADImport.AD_CertificateTemplate t
        JOIN ADImport.CollectionInfo ci ON t.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'INFO', 'AD_TrustedRootCA', 'Trusted Root CAs collected', COUNT(*)
        FROM ADImport.AD_TrustedRootCA r
        JOIN ADImport.CollectionInfo ci ON r.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
        HAVING COUNT(*) > 0;

        INSERT INTO #ValidationErrors (Category, Severity, TableName, ErrorMessage, AffectedCount)
        SELECT 'DataQuality', 'INFO', 'AD_NTAuthCA', 'NTAuth CAs collected (smart card auth)', COUNT(*)
        FROM ADImport.AD_NTAuthCA n
        JOIN ADImport.CollectionInfo ci ON n.CollectionID = ci.CollectionID
        WHERE ci.InventoryID = @InventoryID
        HAVING COUNT(*) > 0;

        -- ====================================================================
        -- Finalize Results
        -- ====================================================================

        -- Calculate error counts
        SELECT @TotalErrorCount = ISNULL(SUM(AffectedCount), 0)
        FROM #ValidationErrors
        WHERE Severity = 'ERROR';

        SET @HasErrors = CASE WHEN @TotalErrorCount > 0 THEN 1 ELSE 0 END;

        -- Output results if verbose
        IF @VerboseOutput = 1
        BEGIN
                SELECT
                        Category,
                        Severity,
                        TableName,
                        ErrorMessage,
                        AffectedCount
                FROM #ValidationErrors
                ORDER BY
                        CASE Severity
                                WHEN 'ERROR' THEN 1
                                WHEN 'WARNING' THEN 2
                                WHEN 'INFO' THEN 3
                        END,
                        Category,
                        TableName;
        END

        -- Cleanup
        DROP TABLE #ValidationErrors;

        RETURN CASE WHEN @HasErrors = 1 THEN 1 ELSE 0 END;
END

GO
