USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_MigrateNTFSPerms_SeedLookups]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * 004_usp_MigrateNTFSPerms_SeedLookups.sql
 *
 * Creates stored procedure to seed all lookup tables
 *
 * Purpose: Seeds all lookup/reference tables with initial data values
 *
 * IMPORTANT: This script assumes the ODBC connection is already established to the target
 *            database. The database name is specified via the connection string, not via
 *            a USE statement. This allows the procedure to be deployed to any database
 *            specified by the user on the command line.
 *
 * Dependencies: Tables must exist - run CreateTables first
 *
 * Returns:
 *   0 = Success
 *   2 = Precondition not met (tables don't exist)
 *   Non-zero = SQL Server error number
 *
 * Output Parameters:
 *   @ErrorMessage = Error message if return code != 0, success message otherwise
 *
 * Version: 1.5.0
 * Created: 2025-11-27
 */

CREATE   PROCEDURE [dbo].[usp_MigrateNTFSPerms_SeedLookups]
    @ErrorMessage NVARCHAR(4000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT OFF;

    DECLARE @ReturnCode INT = 0;
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ErrorLine INT;
    DECLARE @RowsAffected INT = 0;

    BEGIN TRY
        -- Verify preconditions
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fsapp].[Version]') AND type = 'U')
        BEGIN
            SET @ErrorMessage = 'Precondition failed: Table [fsapp].[Version] does not exist. Run CreateTables first.';
            RETURN 2;
        END

        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[fslkp].[PropagationFlags]') AND type = 'U')
        BEGIN
            SET @ErrorMessage = 'Precondition failed: Lookup tables do not exist. Run CreateTables first.';
            RETURN 2;
        END

        BEGIN TRANSACTION;

        PRINT 'Seeding lookup tables...';

        -- ==============================================================================
        -- SCHEMA VERSION AND GLOBAL COLLECTION INFO
        -- ==============================================================================

        -- Insert schema version
        IF NOT EXISTS (SELECT * FROM [fsapp].[Version] WHERE [PropertyName] = 'DBVersion')
        BEGIN
            INSERT INTO [fsapp].[Version] ([PropertyName], [PropertyValue])
            VALUES ('DBVersion', '1.5.0');
            PRINT '  Inserted schema version 1.5.0';
        END

        -- Insert global collection info placeholder
        IF NOT EXISTS (SELECT * FROM [fsapp].[CollectionInfo] WHERE [InventoryID] = CAST('00000000-0000-0000-0000-000000000000' AS UNIQUEIDENTIFIER))
        BEGIN
            INSERT INTO [fsapp].[CollectionInfo] (
                [InventoryID], [ComputerName], [DomainName], [CollectionDateTime],
                [ApplicationVersion], [ApplicationBuild], [IsAdmin], [Who],
                [HardwareConcurrency], [ThreadCount], [StartTime], [ScanPath],
                [RemoteComputer], [ExplicitOnly]
            )
            VALUES (
                CAST('00000000-0000-0000-0000-000000000000' AS UNIQUEIDENTIFIER),
                'GLOBAL', 'GLOBAL', GETUTCDATE(),
                '0', '0', 0, '',
                0, 0, GETUTCDATE(), '',
                0, 0
            );
            PRINT '  Inserted global collection info record';
        END

        -- ==============================================================================
        -- PROPAGATION FLAGS
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[PropagationFlags]...';
        MERGE INTO [fslkp].[PropagationFlags] AS target
        USING (VALUES
            (0,  'None',                                   0, 0),
            (4,  'No propagate inherit',                   1, 0),
            (8,  'Inherit only',                           0, 1),
            (12, 'No propagate inherit + Inherit only',    1, 1)
        ) AS source ([FlagValue], [Description], [IsNoPropagate], [IsInheritOnly])
        ON target.[FlagValue] = source.[FlagValue]
        WHEN MATCHED THEN
            UPDATE SET
                [Description] = source.[Description],
                [IsNoPropagate] = source.[IsNoPropagate],
                [IsInheritOnly] = source.[IsInheritOnly]
        WHEN NOT MATCHED THEN
            INSERT ([FlagValue], [Description], [IsNoPropagate], [IsInheritOnly])
            VALUES (source.[FlagValue], source.[Description], source.[IsNoPropagate], source.[IsInheritOnly]);
        PRINT '  Seeded 4 propagation flag values';

        -- ==============================================================================
        -- INHERITANCE FLAGS
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[InheritanceFlags]...';
        MERGE INTO [fslkp].[InheritanceFlags] AS target
        USING (VALUES
            (0,  'No inheritance',                           0, 0, 0, 0, 0),
            (1,  'Inherit to files only',                    1, 0, 0, 0, 0),
            (2,  'Inherit to folders only',                  0, 1, 0, 0, 0),
            (3,  'Inherit to both files and folders',        1, 1, 0, 0, 0),
            (4,  'No propagate inherit',                     0, 0, 1, 0, 0),
            (8,  'Inherit only',                             0, 0, 0, 1, 0),
            (11, 'Inherit to files only, no propagate',      1, 0, 1, 0, 0),
            (12, 'Inherit to folders only, no propagate',    0, 1, 1, 0, 0),
            (15, 'Inherit to both, no propagate',            1, 1, 1, 0, 0),
            (16, 'Inherited from parent',                    0, 0, 0, 0, 1),
            (17, 'Inherit to files only, inherited',         1, 0, 0, 0, 1),
            (18, 'Inherit to folders only, inherited',       0, 1, 0, 0, 1),
            (19, 'Inherit to both, inherited',               1, 1, 0, 0, 1)
        ) AS source ([FlagValue], [Description], [IsObjectInherit], [IsContainerInherit], [IsNoPropagate], [IsInheritOnly], [IsInherited])
        ON target.[FlagValue] = source.[FlagValue]
        WHEN MATCHED THEN
            UPDATE SET
                [Description] = source.[Description],
                [IsObjectInherit] = source.[IsObjectInherit],
                [IsContainerInherit] = source.[IsContainerInherit],
                [IsNoPropagate] = source.[IsNoPropagate],
                [IsInheritOnly] = source.[IsInheritOnly],
                [IsInherited] = source.[IsInherited]
        WHEN NOT MATCHED THEN
            INSERT ([FlagValue], [Description], [IsObjectInherit], [IsContainerInherit], [IsNoPropagate], [IsInheritOnly], [IsInherited])
            VALUES (source.[FlagValue], source.[Description], source.[IsObjectInherit], source.[IsContainerInherit],
                    source.[IsNoPropagate], source.[IsInheritOnly], source.[IsInherited]);
        PRINT '  Seeded 13 inheritance flag values';

        -- ==============================================================================
        -- FILE SYSTEM RIGHTS
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[FileSystemRights]...';
        MERGE INTO [fslkp].[FileSystemRights] AS target
        USING (VALUES
            (0x00000001, 'FILE_READ_DATA'),
            (0x00000002, 'FILE_WRITE_DATA'),
            (0x00000004, 'FILE_APPEND_DATA'),
            (0x00000008, 'FILE_READ_EA'),
            (0x00000010, 'FILE_WRITE_EA'),
            (0x00000020, 'FILE_EXECUTE'),
            (0x00000040, 'FILE_DELETE_CHILD'),
            (0x00000080, 'FILE_READ_ATTRIBUTES'),
            (0x00000100, 'FILE_WRITE_ATTRIBUTES'),
            (0x00010000, 'DELETE'),
            (0x00020000, 'READ_CONTROL'),
            (0x00040000, 'WRITE_DAC'),
            (0x00080000, 'WRITE_OWNER'),
            (0x00100000, 'SYNCHRONIZE')
        ) AS source ([MaskValue], [Permission])
        ON target.[MaskValue] = source.[MaskValue]
        WHEN MATCHED THEN
            UPDATE SET [Permission] = source.[Permission]
        WHEN NOT MATCHED THEN
            INSERT ([MaskValue], [Permission])
            VALUES (source.[MaskValue], source.[Permission]);
        PRINT '  Seeded 14 file system rights';

        -- ==============================================================================
        -- ACE TYPES
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[AceTypes]...';
        MERGE INTO [fslkp].[AceTypes] AS target
        USING (VALUES
            (0,  'ACCESS_ALLOWED_ACE_TYPE',                   'Standard access allowed ACE',                                      1),
            (1,  'ACCESS_DENIED_ACE_TYPE',                    'Standard access denied ACE',                                       1),
            (2,  'SYSTEM_AUDIT_ACE_TYPE',                     'System audit ACE',                                                 0),
            (3,  'SYSTEM_ALARM_ACE_TYPE',                     'System alarm ACE (reserved for future use)',                      0),
            (4,  'ACCESS_ALLOWED_COMPOUND_ACE_TYPE',          'Reserved for future use',                                          0),
            (5,  'ACCESS_ALLOWED_OBJECT_ACE_TYPE',            'Object-specific access allowed ACE',                               0),
            (6,  'ACCESS_DENIED_OBJECT_ACE_TYPE',             'Object-specific access denied ACE',                                0),
            (7,  'SYSTEM_AUDIT_OBJECT_ACE_TYPE',              'Object-specific system audit ACE',                                 0),
            (8,  'SYSTEM_ALARM_OBJECT_ACE_TYPE',              'Object-specific system alarm ACE (reserved for future use)',      0),
            (9,  'ACCESS_ALLOWED_CALLBACK_ACE_TYPE',          'Callback access allowed ACE',                                      1),
            (10, 'ACCESS_DENIED_CALLBACK_ACE_TYPE',           'Callback access denied ACE',                                       0),
            (11, 'ACCESS_ALLOWED_CALLBACK_OBJECT_ACE_TYPE',   'Object-specific callback access allowed ACE',                      0),
            (12, 'ACCESS_DENIED_CALLBACK_OBJECT_ACE_TYPE',    'Object-specific callback access denied ACE',                       0),
            (13, 'SYSTEM_AUDIT_CALLBACK_ACE_TYPE',            'Callback system audit ACE',                                        0),
            (14, 'SYSTEM_ALARM_CALLBACK_ACE_TYPE',            'Callback system alarm ACE (reserved for future use)',             0),
            (15, 'SYSTEM_AUDIT_CALLBACK_OBJECT_ACE_TYPE',     'Object-specific callback system audit ACE',                        0),
            (16, 'SYSTEM_ALARM_CALLBACK_OBJECT_ACE_TYPE',     'Object-specific callback system alarm ACE (reserved for future)',  0),
            (17, 'SYSTEM_MANDATORY_LABEL_ACE_TYPE',           'Mandatory integrity label ACE',                                    0),
            (18, 'SYSTEM_RESOURCE_ATTRIBUTE_ACE_TYPE',        'Resource attribute ACE',                                           0),
            (19, 'SYSTEM_SCOPED_POLICY_ID_ACE_TYPE',          'Scoped policy ID ACE',                                             0),
            (20, 'SYSTEM_PROCESS_TRUST_LABEL_ACE_TYPE',       'Process trust label ACE',                                          0),
            (21, 'SYSTEM_ACCESS_FILTER_ACE_TYPE',             'Access filter ACE',                                                0)
        ) AS source ([TypeValue], [TypeName], [Description], [IsSupported])
        ON target.[TypeValue] = source.[TypeValue]
        WHEN MATCHED THEN
            UPDATE SET
                [TypeName] = source.[TypeName],
                [Description] = source.[Description],
                [IsSupported] = source.[IsSupported]
        WHEN NOT MATCHED THEN
            INSERT ([TypeValue], [TypeName], [Description], [IsSupported])
            VALUES (source.[TypeValue], source.[TypeName], source.[Description], source.[IsSupported]);
        PRINT '  Seeded 22 ACE types';

        -- ==============================================================================
        -- DRIVE TYPES
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[DriveTypes]...';
        MERGE INTO [fslkp].[DriveTypes] AS target
        USING (VALUES
            (0, 'DRIVE_UNKNOWN',     'Unknown drive type'),
            (1, 'DRIVE_NO_ROOT_DIR', 'No root directory (invalid)'),
            (2, 'DRIVE_REMOVABLE',   'Removable media (USB, etc.)'),
            (3, 'DRIVE_FIXED',       'Fixed disk (local HDD/SSD)'),
            (4, 'DRIVE_REMOTE',      'Network drive'),
            (5, 'DRIVE_CDROM',       'CD/DVD-ROM'),
            (6, 'DRIVE_RAMDISK',     'RAM disk or virtual disk')
        ) AS source ([DriveType], [TypeName], [Description])
        ON target.[DriveType] = source.[DriveType]
        WHEN MATCHED THEN
            UPDATE SET
                [TypeName] = source.[TypeName],
                [Description] = source.[Description]
        WHEN NOT MATCHED THEN
            INSERT ([DriveType], [TypeName], [Description])
            VALUES (source.[DriveType], source.[TypeName], source.[Description]);
        PRINT '  Seeded 7 drive types';

        -- ==============================================================================
        -- MBR PARTITION TYPES (abbreviated - full list in production)
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[MBR_Type]...';
        MERGE INTO [fslkp].[MBR_Type] AS target
        USING (VALUES
            (0x00, 'Empty',                  'Empty partition slot or unused partition table entry',   NULL),
            (0x01, 'FAT12',                  'FAT12 filesystem (< 16 MB, very old DOS)',               'FAT12'),
            (0x04, 'FAT16 <32MB',            'FAT16 filesystem (< 32 MB)',                             'FAT16'),
            (0x05, 'Extended',               'Extended partition (CHS addressing)',                    NULL),
            (0x06, 'FAT16',                  'FAT16 filesystem (>= 32 MB, < 2 GB)',                    'FAT16'),
            (0x07, 'NTFS/exFAT',             'NTFS or exFAT filesystem (Windows)',                     'NTFS'),
            (0x0B, 'FAT32 (CHS)',            'FAT32 filesystem with CHS addressing',                   'FAT32'),
            (0x0C, 'FAT32 (LBA)',            'FAT32 filesystem with LBA addressing',                   'FAT32'),
            (0x0E, 'FAT16 (LBA)',            'FAT16 filesystem with LBA addressing',                   'FAT16'),
            (0x0F, 'Extended (LBA)',         'Extended partition with LBA addressing',                 NULL),
            (0x11, 'Hidden FAT12',           'Hidden FAT12 partition',                                 'FAT12'),
            (0x14, 'Hidden FAT16 <32MB',     'Hidden FAT16 partition (< 32 MB)',                       'FAT16'),
            (0x16, 'Hidden FAT16',           'Hidden FAT16 partition (>= 32 MB)',                      'FAT16'),
            (0x17, 'Hidden NTFS/exFAT',      'Hidden NTFS or exFAT partition',                         'NTFS'),
            (0x1B, 'Hidden FAT32 (CHS)',     'Hidden FAT32 with CHS addressing',                       'FAT32'),
            (0x1C, 'Hidden FAT32 (LBA)',     'Hidden FAT32 with LBA addressing',                       'FAT32'),
            (0x1E, 'Hidden FAT16 (LBA)',     'Hidden FAT16 with LBA addressing',                       'FAT16'),
            (0x27, 'Windows RE',             'Windows Recovery Environment partition',                 NULL),
            (0x42, 'Dynamic Disk',           'Windows dynamic disk / Logical Disk Manager',            NULL),
            (0x82, 'Linux Swap',             'Linux swap partition',                                   'swap'),
            (0x83, 'Linux',                  'Linux native filesystem (ext2/3/4, XFS, etc.)',          'ext4'),
            (0x85, 'Linux Extended',         'Linux extended partition',                               NULL),
            (0x8E, 'Linux LVM',              'Linux Logical Volume Manager',                           'LVM'),
            (0xA5, 'FreeBSD',                'FreeBSD partition',                                      'UFS'),
            (0xA6, 'OpenBSD',                'OpenBSD partition',                                      'FFS'),
            (0xA8, 'macOS (Darwin)',         'macOS / Darwin UFS partition',                           'UFS'),
            (0xA9, 'NetBSD',                 'NetBSD partition',                                       'FFS'),
            (0xAF, 'macOS HFS/HFS+',         'macOS HFS or HFS+ partition',                            'HFS+'),
            (0xEB, 'BFS',                    'BeOS filesystem',                                        'BFS'),
            (0xEE, 'GPT Protective',         'GPT protective MBR (indicates GPT disk)',                NULL),
            (0xEF, 'EFI System',             'EFI System Partition (ESP)',                             'FAT32'),
            (0xFB, 'VMware VMFS',            'VMware filesystem',                                      'VMFS'),
            (0xFC, 'VMware Swap',            'VMware swap partition',                                  NULL),
            (0xFD, 'Linux RAID',             'Linux software RAID partition',                          NULL),
            (0xFE, 'LANstep',                'LANstep / SpeedStor partition',                          NULL)
        ) AS source ([MBR_Type], [TypeName], [Description], [FileSystem])
        ON target.[MBR_Type] = source.[MBR_Type]
        WHEN MATCHED THEN
            UPDATE SET
                [TypeName] = source.[TypeName],
                [Description] = source.[Description],
                [FileSystem] = source.[FileSystem]
        WHEN NOT MATCHED THEN
            INSERT ([MBR_Type], [TypeName], [Description], [FileSystem])
            VALUES (source.[MBR_Type], source.[TypeName], source.[Description], source.[FileSystem]);
        PRINT '  Seeded 35 MBR partition types';

        -- ==============================================================================
        -- SHARE AVAILABILITY TYPES
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[ShareAvailabilityTypes]...';
        SET IDENTITY_INSERT [fslkp].[ShareAvailabilityTypes] ON;
        MERGE INTO [fslkp].[ShareAvailabilityTypes] AS target
        USING (VALUES
            (1, 'NonClustered', 'Standard non-clustered share'),
            (2, 'Clustered',    'Clustered share for failover clustering'),
            (3, 'ScaleOut',     'Scale-out file server share'),
            (4, 'CSV',          'Cluster Shared Volume share'),
            (5, 'DFS',          'Distributed File System share')
        ) AS source ([TypeID], [TypeValue], [Description])
        ON target.[TypeID] = source.[TypeID]
        WHEN MATCHED THEN
            UPDATE SET
                [TypeValue] = source.[TypeValue],
                [Description] = source.[Description]
        WHEN NOT MATCHED THEN
            INSERT ([TypeID], [TypeValue], [Description])
            VALUES (source.[TypeID], source.[TypeValue], source.[Description]);
        SET IDENTITY_INSERT [fslkp].[ShareAvailabilityTypes] OFF;
        PRINT '  Seeded 5 share availability types';

        -- ==============================================================================
        -- SHARE CACHING MODES
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[ShareCachingModes]...';
        SET IDENTITY_INSERT [fslkp].[ShareCachingModes] ON;
        MERGE INTO [fslkp].[ShareCachingModes] AS target
        USING (VALUES
            (1, 'Manual',    'Manual caching'),
            (2, 'Documents', 'Document caching'),
            (3, 'Programs',  'Program caching'),
            (4, 'None',      'No caching')
        ) AS source ([CacheID], [ModeValue], [Description])
        ON target.[CacheID] = source.[CacheID]
        WHEN MATCHED THEN
            UPDATE SET
                [ModeValue] = source.[ModeValue],
                [Description] = source.[Description]
        WHEN NOT MATCHED THEN
            INSERT ([CacheID], [ModeValue], [Description])
            VALUES (source.[CacheID], source.[ModeValue], source.[Description]);
        SET IDENTITY_INSERT [fslkp].[ShareCachingModes] OFF;
        PRINT '  Seeded 4 share caching modes';

        -- ==============================================================================
        -- SHARE FOLDER ENUMERATION MODES
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[ShareFolderEnumerationModes]...';
        SET IDENTITY_INSERT [fslkp].[ShareFolderEnumerationModes] ON;
        MERGE INTO [fslkp].[ShareFolderEnumerationModes] AS target
        USING (VALUES
            (1, 'AccessBased',   'Only show folders the user has access to'),
            (2, 'Unrestricted',  'Show all folders regardless of access')
        ) AS source ([FolderEnumID], [ModeValue], [Description])
        ON target.[FolderEnumID] = source.[FolderEnumID]
        WHEN MATCHED THEN
            UPDATE SET
                [ModeValue] = source.[ModeValue],
                [Description] = source.[Description]
        WHEN NOT MATCHED THEN
            INSERT ([FolderEnumID], [ModeValue], [Description])
            VALUES (source.[FolderEnumID], source.[ModeValue], source.[Description]);
        SET IDENTITY_INSERT [fslkp].[ShareFolderEnumerationModes] OFF;
        PRINT '  Seeded 2 share folder enumeration modes';

        -- ==============================================================================
        -- SHARE LEASING MODES
        -- ==============================================================================

        PRINT 'Seeding [fslkp].[ShareLeasingModes]...';
        SET IDENTITY_INSERT [fslkp].[ShareLeasingModes] ON;
        MERGE INTO [fslkp].[ShareLeasingModes] AS target
        USING (VALUES
            (1, 'None',     'No leasing'),
            (2, 'Basic',    'Basic leasing'),
            (3, 'Advanced', 'Advanced leasing')
        ) AS source ([LeaseID], [ModeValue], [Description])
        ON target.[LeaseID] = source.[LeaseID]
        WHEN MATCHED THEN
            UPDATE SET
                [ModeValue] = source.[ModeValue],
                [Description] = source.[Description]
        WHEN NOT MATCHED THEN
            INSERT ([LeaseID], [ModeValue], [Description])
            VALUES (source.[LeaseID], source.[ModeValue], source.[Description]);
        SET IDENTITY_INSERT [fslkp].[ShareLeasingModes] OFF;
        PRINT '  Seeded 3 share leasing modes';

        COMMIT TRANSACTION;

        PRINT '';
        PRINT 'Lookup table seeding completed successfully!';
        SET @ErrorMessage = 'All lookup tables seeded successfully';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ErrorNumber = ERROR_NUMBER();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();
        SET @ErrorLine = ERROR_LINE();

        SET @ErrorMessage =
            'Error ' + CAST(@ErrorNumber AS NVARCHAR(10)) +
            ' (Severity ' + CAST(@ErrorSeverity AS NVARCHAR(10)) +
            ', State ' + CAST(@ErrorState AS NVARCHAR(10)) + ')' +
            ' at Line ' + CAST(@ErrorLine AS NVARCHAR(10)) + ': ' +
            ERROR_MESSAGE();

        SET @ReturnCode = @ErrorNumber;

        PRINT 'ERROR: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
