USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteProductionCollection_Partitioned]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteProductionCollection_Partitioned]
    @InventoryID      UNIQUEIDENTIFIER,
    @MergePartition   BIT = 1,
    @ErrorMessage     NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ReturnCode INT = 0;
    DECLARE @StartTime DATETIMEOFFSET = SYSDATETIMEOFFSET();

    BEGIN TRY
        PRINT 'Starting production collection deletion for InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));
        PRINT '═══════════════════════════════════════════════════════════════════';

        -- Verify collection exists
        IF NOT EXISTS (
            SELECT 1
            FROM [fsapp].[CollectionInfo]
            WHERE [InventoryID] = @InventoryID
        )
        BEGIN
            SET @ErrorMessage = 'InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) + ' not found in fsapp.CollectionInfo';
            PRINT 'ERROR: ' + @ErrorMessage;
            RETURN 1;
        END

        -- Use partition-aware deletion
        EXEC @ReturnCode = dbo.usp_Partition_DeleteCollection_Fast
            @InventoryID = @InventoryID,
            @Schema = 'fsapp',
            @ErrorMessage = @ErrorMessage OUTPUT;

        IF @ReturnCode <> 0
        BEGIN
            PRINT 'Error during partition deletion: ' + ISNULL(@ErrorMessage, 'Unknown error');
            RETURN @ReturnCode;
        END

        -- Optionally merge the empty partition
        IF @MergePartition = 1
        BEGIN
            PRINT '';
            PRINT 'Merging empty partition...';

            EXEC dbo.usp_Partition_MergeEmpty
                @InventoryID = @InventoryID,
                @ErrorMessage = @ErrorMessage OUTPUT;
        END

        PRINT '';
        PRINT '═══════════════════════════════════════════════════════════════════';
        PRINT 'Deletion completed in ' + CAST(DATEDIFF(MILLISECOND, @StartTime, SYSDATETIMEOFFSET()) AS NVARCHAR(20)) + ' ms';

    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'Error during deletion: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
