USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Partition_ListAll]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Partition_ListAll]
    @PartitionFunctionName NVARCHAR(128) = NULL  -- NULL for all
AS
BEGIN
    SET NOCOUNT ON;

    -- List partition functions and their boundaries
    SELECT
        pf.name AS PartitionFunction,
        prv.boundary_id,
        CASE
            WHEN pf.name = 'pf_InventoryID' THEN CAST(prv.value AS NVARCHAR(50))
            WHEN pf.name = 'pf_CollectionID' THEN CAST(CAST(prv.value AS INT) AS NVARCHAR(50))
            ELSE CAST(prv.value AS NVARCHAR(50))
        END AS BoundaryValue,
        pf.boundary_value_on_right AS IsRangeRight
    FROM sys.partition_functions pf
    LEFT JOIN sys.partition_range_values prv ON pf.function_id = prv.function_id
    WHERE (@PartitionFunctionName IS NULL OR pf.name = @PartitionFunctionName)
    ORDER BY pf.name, prv.boundary_id;

    -- List tables with row counts per partition
    SELECT
        s.name AS SchemaName,
        t.name AS TableName,
        ps.name AS PartitionScheme,
        p.partition_number AS PartitionNumber,
        p.rows AS [RowCount],
        CASE
            WHEN ps.name = 'ps_InventoryID' THEN
                CAST((SELECT TOP 1 value FROM sys.partition_range_values WHERE function_id = (SELECT function_id FROM sys.partition_functions WHERE name = 'pf_InventoryID') AND boundary_id = p.partition_number - 1) AS NVARCHAR(50))
            WHEN ps.name = 'ps_CollectionID' THEN
                CAST(CAST((SELECT TOP 1 value FROM sys.partition_range_values WHERE function_id = (SELECT function_id FROM sys.partition_functions WHERE name = 'pf_CollectionID') AND boundary_id = p.partition_number - 1) AS INT) AS NVARCHAR(50))
            ELSE NULL
        END AS BoundaryValue
    FROM sys.tables t
    JOIN sys.schemas s ON t.schema_id = s.schema_id
    JOIN sys.indexes i ON t.object_id = i.object_id AND i.index_id <= 1
    JOIN sys.partition_schemes ps ON i.data_space_id = ps.data_space_id
    JOIN sys.partitions p ON i.object_id = p.object_id AND i.index_id = p.index_id
    WHERE (@PartitionFunctionName IS NULL OR ps.name LIKE '%' + REPLACE(@PartitionFunctionName, 'pf_', '') + '%')
    ORDER BY s.name, t.name, p.partition_number;
END
GO
