USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_TruncateSchema_Partitioned]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_TruncateSchema_Partitioned]
    @SchemaName NVARCHAR(128),
    @ErrorMessage NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ReturnCode INT = 0;
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @TableName NVARCHAR(128);

    BEGIN TRY
        PRINT 'Truncating all tables in schema: ' + @SchemaName;
        PRINT '═══════════════════════════════════════════════════════════════════';

        -- For partitioned tables, we need to disable FKs, truncate, and re-enable
        -- Or use partition switching

        -- Simple approach: Disable FKs, TRUNCATE each table, re-enable FKs
        DECLARE table_cursor CURSOR FOR
            SELECT t.name
            FROM sys.tables t
            JOIN sys.schemas s ON t.schema_id = s.schema_id
            WHERE s.name = @SchemaName
            ORDER BY t.name;

        -- Disable all FKs in schema
        SET @SQL = N'';
        SELECT @SQL = @SQL + 'ALTER TABLE [' + @SchemaName + '].[' + t.name + '] NOCHECK CONSTRAINT ALL;' + CHAR(13)
        FROM sys.tables t
        JOIN sys.schemas s ON t.schema_id = s.schema_id
        WHERE s.name = @SchemaName;

        IF LEN(@SQL) > 0
        BEGIN
            PRINT 'Disabling foreign key constraints...';
            EXEC sp_executesql @SQL;
        END

        -- Truncate tables
        OPEN table_cursor;
        FETCH NEXT FROM table_cursor INTO @TableName;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            PRINT 'Truncating ' + @SchemaName + '.' + @TableName + '...';
            SET @SQL = N'TRUNCATE TABLE [' + @SchemaName + '].[' + @TableName + ']';

            BEGIN TRY
                EXEC sp_executesql @SQL;
                PRINT '  ✓ Truncated';
            END TRY
            BEGIN CATCH
                -- If TRUNCATE fails (e.g., FK reference), use DELETE
                PRINT '  TRUNCATE failed, using DELETE...';
                SET @SQL = N'DELETE FROM [' + @SchemaName + '].[' + @TableName + ']';
                EXEC sp_executesql @SQL;
                PRINT '  ✓ Deleted';
            END CATCH

            FETCH NEXT FROM table_cursor INTO @TableName;
        END

        CLOSE table_cursor;
        DEALLOCATE table_cursor;

        -- Re-enable all FKs in schema
        SET @SQL = N'';
        SELECT @SQL = @SQL + 'ALTER TABLE [' + @SchemaName + '].[' + t.name + '] WITH CHECK CHECK CONSTRAINT ALL;' + CHAR(13)
        FROM sys.tables t
        JOIN sys.schemas s ON t.schema_id = s.schema_id
        WHERE s.name = @SchemaName;

        IF LEN(@SQL) > 0
        BEGIN
            PRINT '';
            PRINT 'Re-enabling foreign key constraints...';
            EXEC sp_executesql @SQL;
        END

        PRINT '';
        PRINT 'Schema truncation complete.';

    END TRY
    BEGIN CATCH
        IF CURSOR_STATUS('global', 'table_cursor') >= 0
        BEGIN
            CLOSE table_cursor;
            DEALLOCATE table_cursor;
        END

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'Error during schema truncation: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
