USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Validate_SMBShare_References]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Validate_SMBShare_References]
    @InventoryID        UNIQUEIDENTIFIER = NULL,    -- Optional: filter by InventoryID
    @MaxErrors          INT = 500,                   -- Maximum total errors to return
    @VerboseOutput      BIT = 1,                     -- Print progress messages
    @ErrorCount         INT = NULL OUTPUT            -- OUTPUT: total errors found
AS
BEGIN
    SET NOCOUNT ON;

    SET @ErrorCount = 0;

    DECLARE @SMBShareAccessErrors INT = 0;

    -- Create temp table for results
    IF OBJECT_ID('tempdb..##SMBShareValidationErrors') IS NOT NULL
        DROP TABLE ##SMBShareValidationErrors;

    CREATE TABLE ##SMBShareValidationErrors (
        ErrorID             INT IDENTITY(1,1) PRIMARY KEY,
        TableName           NVARCHAR(128) NOT NULL,
        ConstraintName      NVARCHAR(256) NOT NULL,
        InventoryID         UNIQUEIDENTIFIER NOT NULL,
        PKValue             NVARCHAR(500) NOT NULL,
        FKColumnName        NVARCHAR(128) NOT NULL,
        InvalidShareID      INT NOT NULL,
        SuggestedFix        NVARCHAR(500) NULL
    );

    IF @VerboseOutput = 1
    BEGIN
        PRINT '=============================================================================';
        PRINT 'SMB Share Reference Validation';
        PRINT '=============================================================================';
        PRINT 'InventoryID Filter: ' + ISNULL(CAST(@InventoryID AS NVARCHAR(50)), '(All)');
        PRINT '-----------------------------------------------------------------------------';
        PRINT '';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 1. Validate SMBShareAccess.ShareID -> SMBShares.ShareID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating SMBShareAccess.ShareID -> SMBShares.ShareID...';

    INSERT INTO ##SMBShareValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidShareID, SuggestedFix
    )
    SELECT TOP (@MaxErrors)
        'fssimport.SMBShareAccess',
        'FK_app_SMBShareAccess_Shares',
        sa.InventoryID,
        CAST(sa.InventoryID AS NVARCHAR(50)) + ', ' + CAST(sa.ShareID AS NVARCHAR(20)) + ', ' + CAST(sa.AccessID AS NVARCHAR(20)),
        'ShareID',
        sa.ShareID,
        'Add share with ShareID=' + CAST(sa.ShareID AS NVARCHAR(20)) + ' or delete orphaned access record'
    FROM [fssimport].[SMBShareAccess] sa
    LEFT JOIN [fssimport].[SMBShares] s ON sa.InventoryID = s.InventoryID AND sa.ShareID = s.ShareID
    WHERE s.ShareID IS NULL
      AND (@InventoryID IS NULL OR sa.InventoryID = @InventoryID);

    SELECT @SMBShareAccessErrors = COUNT(*) FROM ##SMBShareValidationErrors WHERE ConstraintName = 'FK_app_SMBShareAccess_Shares';
    IF @VerboseOutput = 1
    BEGIN
        IF @SMBShareAccessErrors > 0
            PRINT '  WARNING: ' + CAST(@SMBShareAccessErrors AS NVARCHAR(10)) + ' invalid ShareID reference(s)';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- Summary
    -- ═══════════════════════════════════════════════════════════════════════════
    SET @ErrorCount = @SMBShareAccessErrors;

    IF @VerboseOutput = 1
    BEGIN
        PRINT '';
        PRINT '=============================================================================';
        PRINT 'SMB Share Validation Summary';
        PRINT '=============================================================================';
        PRINT 'SMBShareAccess.ShareID errors:       ' + CAST(@SMBShareAccessErrors AS NVARCHAR(10));
        PRINT '-----------------------------------------------------------------------------';
        PRINT 'TOTAL SMB SHARE REFERENCE ERRORS:    ' + CAST(@ErrorCount AS NVARCHAR(10));
        IF @ErrorCount > 0
        BEGIN
            PRINT '';
            PRINT 'Query ##SMBShareValidationErrors for details:';
            PRINT '  SELECT * FROM ##SMBShareValidationErrors ORDER BY TableName, InvalidShareID;';
        END
        PRINT '=============================================================================';
    END

    -- Return results
    IF @ErrorCount > 0
    BEGIN
        SELECT
            TableName,
            ConstraintName,
            InventoryID,
            PKValue AS PrimaryKeyValue,
            FKColumnName,
            InvalidShareID,
            SuggestedFix
        FROM ##SMBShareValidationErrors
        ORDER BY TableName, InvalidShareID;
    END

    RETURN @ErrorCount;
END
GO
