USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_VerifyMigration]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * 010_usp_VerifyMigration.sql - Sprint-35 Migration Utility
 */

CREATE   PROCEDURE [dbo].[usp_VerifyMigration]
    @InventoryID       UNIQUEIDENTIFIER,
    @ErrorMessage      NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT OFF;

    DECLARE @ImportRows BIGINT;
    DECLARE @AppRows BIGINT;

    IF NOT EXISTS (SELECT 1 FROM [fsapp].[CollectionInfo] WHERE [InventoryID] = @InventoryID)
    BEGIN
        SET @ErrorMessage = N'InventoryID not found in [fsapp] schema (migration not performed yet)';
        RETURN 1;
    END

    DECLARE @Mismatch BIT = 0;
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @TableName NVARCHAR(128);
    DECLARE @Mismatches TABLE (TableName NVARCHAR(128), ImportRows BIGINT, AppRows BIGINT);

    DECLARE TableCursor CURSOR LOCAL FAST_FORWARD FOR
    SELECT TableName FROM (VALUES
        (N'CollectionInfo'), (N'SIDs'), (N'Disks'), (N'Volumes'), (N'VolumeMounts'),
        (N'VolumeExtents'), (N'Partitions'), (N'Folders'), (N'ACL'), (N'ACE'),
        (N'SMBShares'), (N'SMBShareAccess')
    ) AS Tables(TableName);

    OPEN TableCursor;
    FETCH NEXT FROM TableCursor INTO @TableName;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @SQL = N'SELECT @Count = COUNT(*) FROM [fssimport].[' + @TableName + N'] WHERE [InventoryID] = @InventoryID';
        EXEC sp_executesql @SQL, N'@InventoryID UNIQUEIDENTIFIER, @Count BIGINT OUTPUT', @InventoryID, @ImportRows OUTPUT;

        SET @SQL = N'SELECT @Count = COUNT(*) FROM [fsapp].[' + @TableName + N'] WHERE [InventoryID] = @InventoryID';
        EXEC sp_executesql @SQL, N'@InventoryID UNIQUEIDENTIFIER, @Count BIGINT OUTPUT', @InventoryID, @AppRows OUTPUT;

        IF @ImportRows <> @AppRows
        BEGIN
            SET @Mismatch = 1;
            INSERT INTO @Mismatches (TableName, ImportRows, AppRows)
            VALUES (@TableName, @ImportRows, @AppRows);
        END

        FETCH NEXT FROM TableCursor INTO @TableName;
    END

    CLOSE TableCursor;
    DEALLOCATE TableCursor;

    IF @Mismatch = 1
    BEGIN
        DECLARE @MismatchMsg NVARCHAR(4000) = N'Row count mismatches: ';
        SELECT @MismatchMsg = @MismatchMsg + TableName + N' (import=' + CAST(ImportRows AS NVARCHAR(20)) +
                              N', app=' + CAST(AppRows AS NVARCHAR(20)) + N'); '
        FROM @Mismatches;

        SET @ErrorMessage = @MismatchMsg;
        PRINT 'VERIFICATION FAILED: ' + @ErrorMessage;
        RETURN 2;
    END

    PRINT 'VERIFICATION PASSED: All row counts match';
    SET @ErrorMessage = N'Verification successful';
    RETURN 0;
END
GO
