USE [NTFSPerms]
GO
/****** Object:  View [dbo].[vw_PartitionFunctions]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PartitionFunctions]
AS
SELECT 
    pf.name AS PartitionFunction,
    prv.boundary_id AS BoundaryID,
    prv.value AS BoundaryValue
FROM sys.partition_range_values prv
JOIN sys.partition_functions pf
    ON prv.function_id = pf.function_id;

GO
