USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_fsapp_ComputeCollectionStats]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_fsapp_ComputeCollectionStats]
    @InventoryID UNIQUEIDENTIFIER = NULL,  -- NULL = all collections
    @ForceRecalculate BIT = 0              -- 1 = recalculate even if exists
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartTime DATETIME2 = SYSUTCDATETIME();
    DECLARE @RowsProcessed INT = 0;

    -- Create temp table with collections to process
    CREATE TABLE #CollectionsToProcess (
        InventoryID UNIQUEIDENTIFIER PRIMARY KEY
    );

    IF @InventoryID IS NOT NULL
    BEGIN
        -- Single collection
        INSERT INTO #CollectionsToProcess (InventoryID)
        SELECT @InventoryID
        WHERE EXISTS (SELECT 1 FROM fsapp.CollectionInfo WHERE InventoryID = @InventoryID);
    END
    ELSE IF @ForceRecalculate = 1
    BEGIN
        -- All collections
        INSERT INTO #CollectionsToProcess (InventoryID)
        SELECT InventoryID FROM fsapp.CollectionInfo
        WHERE InventoryID <> '00000000-0000-0000-0000-000000000000';
    END
    ELSE
    BEGIN
        -- Only collections without stats
        INSERT INTO #CollectionsToProcess (InventoryID)
        SELECT ci.InventoryID
        FROM fsapp.CollectionInfo ci
        LEFT JOIN fsapp.CollectionStats cs ON ci.InventoryID = cs.InventoryID
        WHERE cs.InventoryID IS NULL
          AND ci.InventoryID <> '00000000-0000-0000-0000-000000000000';
    END

    -- Compute stats using partition metadata where possible, fallback to COUNT
    ;WITH CollectionCounts AS (
        SELECT
            c.InventoryID,
            (SELECT COUNT(*) FROM fsapp.Folders f WHERE f.InventoryID = c.InventoryID) AS FoldersCount,
            (SELECT COUNT(*) FROM fsapp.ACL a WHERE a.InventoryID = c.InventoryID) AS AclCount,
            (SELECT COUNT(*) FROM fsapp.ACE e WHERE e.InventoryID = c.InventoryID) AS AceCount,
            (SELECT COUNT(*) FROM fsapp.SIDs s WHERE s.InventoryID = c.InventoryID) AS SidsCount,
            (SELECT COUNT(*) FROM fsapp.SMBShares sm WHERE sm.InventoryID = c.InventoryID) AS SmbSharesCount,
            (SELECT COUNT(*) FROM fsapp.SMBShareAccess sa WHERE sa.InventoryID = c.InventoryID) AS SmbShareAccessCount,
            (SELECT COUNT(*) FROM fsapp.EventLog el WHERE el.InventoryID = c.InventoryID) AS EventLogCount
        FROM #CollectionsToProcess c
    )
    MERGE fsapp.CollectionStats AS target
    USING CollectionCounts AS source
    ON target.InventoryID = source.InventoryID
    WHEN MATCHED THEN
        UPDATE SET
            FoldersCount = source.FoldersCount,
            AclCount = source.AclCount,
            AceCount = source.AceCount,
            SidsCount = source.SidsCount,
            SmbSharesCount = source.SmbSharesCount,
            SmbShareAccessCount = source.SmbShareAccessCount,
            EventLogCount = source.EventLogCount,
            ComputedDate = SYSUTCDATETIME(),
            DurationMs = DATEDIFF(MILLISECOND, @StartTime, SYSUTCDATETIME())
    WHEN NOT MATCHED THEN
        INSERT (InventoryID, FoldersCount, AclCount, AceCount, SidsCount,
                SmbSharesCount, SmbShareAccessCount, EventLogCount, ComputedDate, DurationMs)
        VALUES (source.InventoryID, source.FoldersCount, source.AclCount, source.AceCount,
                source.SidsCount, source.SmbSharesCount, source.SmbShareAccessCount,
                source.EventLogCount, SYSUTCDATETIME(),
                DATEDIFF(MILLISECOND, @StartTime, SYSUTCDATETIME()));

    SET @RowsProcessed = @@ROWCOUNT;

    DROP TABLE #CollectionsToProcess;

    SELECT @RowsProcessed AS CollectionsProcessed,
           DATEDIFF(MILLISECOND, @StartTime, SYSUTCDATETIME()) AS DurationMs;
END

GO
