USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_ADData_ComputeCollectionStats]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ADData_ComputeCollectionStats]
    @CollectionID UNIQUEIDENTIFIER = NULL,  -- NULL = all collections
    @ForceRecalculate BIT = 0               -- 1 = recalculate even if exists
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartTime DATETIME2 = SYSUTCDATETIME();
    DECLARE @RowsProcessed INT = 0;

    -- Create temp table with collections to process
    CREATE TABLE #CollectionsToProcess (
        CollectionID UNIQUEIDENTIFIER PRIMARY KEY
    );

    IF @CollectionID IS NOT NULL
    BEGIN
        INSERT INTO #CollectionsToProcess (CollectionID)
        SELECT @CollectionID
        WHERE EXISTS (SELECT 1 FROM ADData.CollectionInfo WHERE CollectionID = @CollectionID);
    END
    ELSE IF @ForceRecalculate = 1
    BEGIN
        INSERT INTO #CollectionsToProcess (CollectionID)
        SELECT CollectionID FROM ADData.CollectionInfo;
    END
    ELSE
    BEGIN
        INSERT INTO #CollectionsToProcess (CollectionID)
        SELECT ci.CollectionID
        FROM ADData.CollectionInfo ci
        LEFT JOIN ADData.CollectionStats cs ON ci.CollectionID = cs.CollectionID
        WHERE cs.CollectionID IS NULL;
    END

    -- Compute stats
    ;WITH CollectionCounts AS (
        SELECT
            c.CollectionID,
            -- Object counts by type
            (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = c.CollectionID) AS ObjectCount,
            (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = c.CollectionID AND o.ObjectType = 1) AS UserCount,
            (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = c.CollectionID AND o.ObjectType = 2) AS GroupCount,
            (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = c.CollectionID AND o.ObjectType = 3) AS ComputerCount,
            (SELECT COUNT(*) FROM ADData.AD_Object o WHERE o.CollectionID = c.CollectionID AND o.ObjectType = 4) AS ContactCount,
            -- Membership counts
            (SELECT COUNT(*) FROM ADData.AD_GroupMembership gm WHERE gm.CollectionID = c.CollectionID) AS GroupMembershipCount,
            (SELECT COUNT(*) FROM ADData.AD_GroupMember_Flat gf WHERE gf.CollectionID = c.CollectionID) AS FlatMembershipCount,
            -- Other counts
            (SELECT COUNT(*) FROM ADData.AD_ForeignSecurityPrincipal fsp WHERE fsp.CollectionID = c.CollectionID) AS FspCount,
            (SELECT COUNT(*) FROM ADData.AD_Trust t WHERE t.CollectionID = c.CollectionID) AS TrustCount,
            (SELECT COUNT(*) FROM ADData.AD_Domain d WHERE d.CollectionID = c.CollectionID) AS DomainCount,
            (SELECT COUNT(*) FROM ADData.AD_Forest f WHERE f.CollectionID = c.CollectionID) AS ForestCount,
            -- Sites & Services counts
            (SELECT COUNT(*) FROM ADData.AD_Site s WHERE s.CollectionID = c.CollectionID) AS SiteCount,
            (SELECT COUNT(*) FROM ADData.AD_Subnet sn WHERE sn.CollectionID = c.CollectionID) AS SubnetCount,
            (SELECT COUNT(*) FROM ADData.AD_DomainController dc WHERE dc.CollectionID = c.CollectionID) AS DomainControllerCount
        FROM #CollectionsToProcess c
    )
    MERGE ADData.CollectionStats AS target
    USING CollectionCounts AS source
    ON target.CollectionID = source.CollectionID
    WHEN MATCHED THEN
        UPDATE SET
            ObjectCount = source.ObjectCount,
            UserCount = source.UserCount,
            GroupCount = source.GroupCount,
            ComputerCount = source.ComputerCount,
            ContactCount = source.ContactCount,
            GroupMembershipCount = source.GroupMembershipCount,
            FlatMembershipCount = source.FlatMembershipCount,
            FspCount = source.FspCount,
            TrustCount = source.TrustCount,
            DomainCount = source.DomainCount,
            ForestCount = source.ForestCount,
            SiteCount = source.SiteCount,
            SubnetCount = source.SubnetCount,
            DomainControllerCount = source.DomainControllerCount,
            ComputedDate = SYSUTCDATETIME(),
            DurationMs = DATEDIFF(MILLISECOND, @StartTime, SYSUTCDATETIME())
    WHEN NOT MATCHED THEN
        INSERT (CollectionID, ObjectCount, UserCount, GroupCount, ComputerCount, ContactCount,
                GroupMembershipCount, FlatMembershipCount, FspCount, TrustCount,
                DomainCount, ForestCount, SiteCount, SubnetCount, DomainControllerCount,
                ComputedDate, DurationMs)
        VALUES (source.CollectionID, source.ObjectCount, source.UserCount, source.GroupCount,
                source.ComputerCount, source.ContactCount, source.GroupMembershipCount,
                source.FlatMembershipCount, source.FspCount, source.TrustCount,
                source.DomainCount, source.ForestCount, source.SiteCount, source.SubnetCount,
                source.DomainControllerCount, SYSUTCDATETIME(),
                DATEDIFF(MILLISECOND, @StartTime, SYSUTCDATETIME()));

    SET @RowsProcessed = @@ROWCOUNT;

    -- Also update AD_FlattenStats with the new columns where records exist
    UPDATE fs
    SET
        fs.ObjectCount = cs.ObjectCount,
        fs.FspCount = cs.FspCount,
        fs.TrustCount = cs.TrustCount,
        fs.ContactCount = cs.ContactCount
    FROM ADData.AD_FlattenStats fs
    JOIN ADData.CollectionStats cs ON fs.CollectionID = cs.CollectionID
    WHERE fs.CollectionID IN (SELECT CollectionID FROM #CollectionsToProcess);

    DROP TABLE #CollectionsToProcess;

    SELECT @RowsProcessed AS CollectionsProcessed,
           DATEDIFF(MILLISECOND, @StartTime, SYSUTCDATETIME()) AS DurationMs;
END

GO
