USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Validate_Volume_References]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Validate_Volume_References]
    @InventoryID        UNIQUEIDENTIFIER = NULL,    -- Optional: filter by InventoryID
    @MaxErrors          INT = 500,                   -- Maximum total errors to return
    @VerboseOutput      BIT = 1,                     -- Print progress messages
    @ErrorCount         INT = NULL OUTPUT            -- OUTPUT: total errors found
AS
BEGIN
    SET NOCOUNT ON;

    SET @ErrorCount = 0;

    DECLARE @VolumeDiskErrors INT = 0;
    DECLARE @VolumeDriveTypeErrors INT = 0;
    DECLARE @VolumeMountErrors INT = 0;
    DECLARE @VolumeExtentVolumeErrors INT = 0;
    DECLARE @VolumeExtentDiskErrors INT = 0;
    DECLARE @PartitionDiskErrors INT = 0;
    DECLARE @PartitionVolumeErrors INT = 0;
    DECLARE @SMBShareVolumeErrors INT = 0;

    -- Create temp table for results
    IF OBJECT_ID('tempdb..##VolumeValidationErrors') IS NOT NULL
        DROP TABLE ##VolumeValidationErrors;

    CREATE TABLE ##VolumeValidationErrors (
        ErrorID             INT IDENTITY(1,1) PRIMARY KEY,
        TableName           NVARCHAR(128) NOT NULL,
        ConstraintName      NVARCHAR(256) NOT NULL,
        InventoryID         UNIQUEIDENTIFIER NOT NULL,
        PKValue             NVARCHAR(500) NOT NULL,
        FKColumnName        NVARCHAR(128) NOT NULL,
        InvalidValue        INT NOT NULL,
        SuggestedFix        NVARCHAR(500) NULL
    );

    IF @VerboseOutput = 1
    BEGIN
        PRINT '=============================================================================';
        PRINT 'Volume/Disk Reference Validation';
        PRINT '=============================================================================';
        PRINT 'InventoryID Filter: ' + ISNULL(CAST(@InventoryID AS NVARCHAR(50)), '(All)');
        PRINT '-----------------------------------------------------------------------------';
        PRINT '';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 1. Validate Volumes.DiskID -> Disks.DiskID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating Volumes.DiskID -> Disks.DiskID...';

    INSERT INTO ##VolumeValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 8)
        'fssimport.Volumes',
        'FK_app_Volumes_Disks',
        v.InventoryID,
        CAST(v.InventoryID AS NVARCHAR(50)) + ', ' + CAST(v.VolumeID AS NVARCHAR(20)),
        'DiskID',
        v.DiskID,
        'Add disk with DiskID=' + CAST(v.DiskID AS NVARCHAR(20)) + ' or set DiskID to NULL'
    FROM [fssimport].[Volumes] v
    LEFT JOIN [fssimport].[Disks] d ON v.InventoryID = d.InventoryID AND v.DiskID = d.DiskID
    WHERE v.DiskID IS NOT NULL
      AND d.DiskID IS NULL
      AND (@InventoryID IS NULL OR v.InventoryID = @InventoryID);

    SELECT @VolumeDiskErrors = COUNT(*) FROM ##VolumeValidationErrors WHERE ConstraintName = 'FK_app_Volumes_Disks';
    IF @VerboseOutput = 1
        PRINT CASE WHEN @VolumeDiskErrors > 0
            THEN '  WARNING: ' + CAST(@VolumeDiskErrors AS NVARCHAR(10)) + ' invalid DiskID reference(s)'
            ELSE '  OK' END;

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 2. Validate Volumes.DriveType -> DriveTypes.DriveType (lookup table)
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating Volumes.DriveType -> DriveTypes.DriveType...';

    INSERT INTO ##VolumeValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 8)
        'fssimport.Volumes',
        'FK_app_Volumes_DriveTypes',
        v.InventoryID,
        CAST(v.InventoryID AS NVARCHAR(50)) + ', ' + CAST(v.VolumeID AS NVARCHAR(20)),
        'DriveType',
        v.DriveType,
        'Add DriveType=' + CAST(v.DriveType AS NVARCHAR(20)) + ' to fslkp.DriveTypes or set to NULL'
    FROM [fssimport].[Volumes] v
    LEFT JOIN [fslkp].[DriveTypes] dt ON v.DriveType = dt.DriveType
    WHERE v.DriveType IS NOT NULL
      AND dt.DriveType IS NULL
      AND (@InventoryID IS NULL OR v.InventoryID = @InventoryID);

    SELECT @VolumeDriveTypeErrors = COUNT(*) FROM ##VolumeValidationErrors WHERE ConstraintName = 'FK_app_Volumes_DriveTypes';
    IF @VerboseOutput = 1
        PRINT CASE WHEN @VolumeDriveTypeErrors > 0
            THEN '  WARNING: ' + CAST(@VolumeDriveTypeErrors AS NVARCHAR(10)) + ' invalid DriveType reference(s)'
            ELSE '  OK' END;

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 3. Validate VolumeMounts.VolumeID -> Volumes.VolumeID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating VolumeMounts.VolumeID -> Volumes.VolumeID...';

    INSERT INTO ##VolumeValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 8)
        'fssimport.VolumeMounts',
        'FK_app_VolumeMounts_Volumes',
        vm.InventoryID,
        CAST(vm.InventoryID AS NVARCHAR(50)) + ', ' + CAST(vm.VolumeID AS NVARCHAR(20)) + ', ' + vm.MountPoint,
        'VolumeID',
        vm.VolumeID,
        'Add volume with VolumeID=' + CAST(vm.VolumeID AS NVARCHAR(20)) + ' or delete orphaned mount'
    FROM [fssimport].[VolumeMounts] vm
    LEFT JOIN [fssimport].[Volumes] v ON vm.InventoryID = v.InventoryID AND vm.VolumeID = v.VolumeID
    WHERE v.VolumeID IS NULL
      AND (@InventoryID IS NULL OR vm.InventoryID = @InventoryID);

    SELECT @VolumeMountErrors = COUNT(*) FROM ##VolumeValidationErrors WHERE ConstraintName = 'FK_app_VolumeMounts_Volumes';
    IF @VerboseOutput = 1
        PRINT CASE WHEN @VolumeMountErrors > 0
            THEN '  WARNING: ' + CAST(@VolumeMountErrors AS NVARCHAR(10)) + ' invalid VolumeID reference(s) in VolumeMounts'
            ELSE '  OK' END;

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 4. Validate VolumeExtents.VolumeID -> Volumes.VolumeID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating VolumeExtents.VolumeID -> Volumes.VolumeID...';

    INSERT INTO ##VolumeValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 8)
        'fssimport.VolumeExtents',
        'FK_app_VolumeExtents_Volumes',
        ve.InventoryID,
        CAST(ve.InventoryID AS NVARCHAR(50)) + ', ' + CAST(ve.VolumeID AS NVARCHAR(20)) + ', ' + CAST(ve.ExtentIndex AS NVARCHAR(10)),
        'VolumeID',
        ve.VolumeID,
        'Add volume with VolumeID=' + CAST(ve.VolumeID AS NVARCHAR(20)) + ' or delete orphaned extent'
    FROM [fssimport].[VolumeExtents] ve
    LEFT JOIN [fssimport].[Volumes] v ON ve.InventoryID = v.InventoryID AND ve.VolumeID = v.VolumeID
    WHERE v.VolumeID IS NULL
      AND (@InventoryID IS NULL OR ve.InventoryID = @InventoryID);

    SELECT @VolumeExtentVolumeErrors = COUNT(*) FROM ##VolumeValidationErrors WHERE ConstraintName = 'FK_app_VolumeExtents_Volumes';
    IF @VerboseOutput = 1
        PRINT CASE WHEN @VolumeExtentVolumeErrors > 0
            THEN '  WARNING: ' + CAST(@VolumeExtentVolumeErrors AS NVARCHAR(10)) + ' invalid VolumeID reference(s) in VolumeExtents'
            ELSE '  OK' END;

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 5. Validate VolumeExtents.DiskID -> Disks.DiskID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating VolumeExtents.DiskID -> Disks.DiskID...';

    INSERT INTO ##VolumeValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 8)
        'fssimport.VolumeExtents',
        'FK_app_VolumeExtents_Disks',
        ve.InventoryID,
        CAST(ve.InventoryID AS NVARCHAR(50)) + ', ' + CAST(ve.VolumeID AS NVARCHAR(20)) + ', ' + CAST(ve.ExtentIndex AS NVARCHAR(10)),
        'DiskID',
        ve.DiskID,
        'Add disk with DiskID=' + CAST(ve.DiskID AS NVARCHAR(20)) + ' or delete orphaned extent'
    FROM [fssimport].[VolumeExtents] ve
    LEFT JOIN [fssimport].[Disks] d ON ve.InventoryID = d.InventoryID AND ve.DiskID = d.DiskID
    WHERE d.DiskID IS NULL
      AND (@InventoryID IS NULL OR ve.InventoryID = @InventoryID);

    SELECT @VolumeExtentDiskErrors = COUNT(*) FROM ##VolumeValidationErrors WHERE ConstraintName = 'FK_app_VolumeExtents_Disks';
    IF @VerboseOutput = 1
        PRINT CASE WHEN @VolumeExtentDiskErrors > 0
            THEN '  WARNING: ' + CAST(@VolumeExtentDiskErrors AS NVARCHAR(10)) + ' invalid DiskID reference(s) in VolumeExtents'
            ELSE '  OK' END;

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 6. Validate Partitions.DiskID -> Disks.DiskID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating Partitions.DiskID -> Disks.DiskID...';

    INSERT INTO ##VolumeValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 8)
        'fssimport.Partitions',
        'FK_app_Partitions_Disks',
        p.InventoryID,
        CAST(p.InventoryID AS NVARCHAR(50)) + ', ' + CAST(p.PartitionID AS NVARCHAR(20)),
        'DiskID',
        p.DiskID,
        'Add disk with DiskID=' + CAST(p.DiskID AS NVARCHAR(20)) + ' or delete orphaned partition'
    FROM [fssimport].[Partitions] p
    LEFT JOIN [fssimport].[Disks] d ON p.InventoryID = d.InventoryID AND p.DiskID = d.DiskID
    WHERE d.DiskID IS NULL
      AND (@InventoryID IS NULL OR p.InventoryID = @InventoryID);

    SELECT @PartitionDiskErrors = COUNT(*) FROM ##VolumeValidationErrors WHERE ConstraintName = 'FK_app_Partitions_Disks';
    IF @VerboseOutput = 1
        PRINT CASE WHEN @PartitionDiskErrors > 0
            THEN '  WARNING: ' + CAST(@PartitionDiskErrors AS NVARCHAR(10)) + ' invalid DiskID reference(s) in Partitions'
            ELSE '  OK' END;

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 7. Validate Partitions.VolID -> Volumes.VolumeID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating Partitions.VolID -> Volumes.VolumeID...';

    INSERT INTO ##VolumeValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 8)
        'fssimport.Partitions',
        'FK_app_Partitions_Volumes',
        p.InventoryID,
        CAST(p.InventoryID AS NVARCHAR(50)) + ', ' + CAST(p.PartitionID AS NVARCHAR(20)),
        'VolID',
        p.VolID,
        'Add volume with VolumeID=' + CAST(p.VolID AS NVARCHAR(20)) + ' or set VolID to NULL'
    FROM [fssimport].[Partitions] p
    LEFT JOIN [fssimport].[Volumes] v ON p.InventoryID = v.InventoryID AND p.VolID = v.VolumeID
    WHERE p.VolID IS NOT NULL
      AND v.VolumeID IS NULL
      AND (@InventoryID IS NULL OR p.InventoryID = @InventoryID);

    SELECT @PartitionVolumeErrors = COUNT(*) FROM ##VolumeValidationErrors WHERE ConstraintName = 'FK_app_Partitions_Volumes';
    IF @VerboseOutput = 1
        PRINT CASE WHEN @PartitionVolumeErrors > 0
            THEN '  WARNING: ' + CAST(@PartitionVolumeErrors AS NVARCHAR(10)) + ' invalid VolID reference(s) in Partitions'
            ELSE '  OK' END;

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 8. Validate SMBShares.VolumeID -> Volumes.VolumeID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating SMBShares.VolumeID -> Volumes.VolumeID...';

    INSERT INTO ##VolumeValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 8)
        'fssimport.SMBShares',
        'FK_app_SMBShares_Volumes',
        smb.InventoryID,
        CAST(smb.InventoryID AS NVARCHAR(50)) + ', ' + CAST(smb.ShareID AS NVARCHAR(20)),
        'VolumeID',
        smb.VolumeID,
        'Add volume with VolumeID=' + CAST(smb.VolumeID AS NVARCHAR(20)) + ' or set VolumeID to NULL'
    FROM [fssimport].[SMBShares] smb
    LEFT JOIN [fssimport].[Volumes] v ON smb.InventoryID = v.InventoryID AND smb.VolumeID = v.VolumeID
    WHERE smb.VolumeID IS NOT NULL
      AND v.VolumeID IS NULL
      AND (@InventoryID IS NULL OR smb.InventoryID = @InventoryID);

    SELECT @SMBShareVolumeErrors = COUNT(*) FROM ##VolumeValidationErrors WHERE ConstraintName = 'FK_app_SMBShares_Volumes';
    IF @VerboseOutput = 1
        PRINT CASE WHEN @SMBShareVolumeErrors > 0
            THEN '  WARNING: ' + CAST(@SMBShareVolumeErrors AS NVARCHAR(10)) + ' invalid VolumeID reference(s) in SMBShares'
            ELSE '  OK' END;

    -- ═══════════════════════════════════════════════════════════════════════════
    -- Summary
    -- ═══════════════════════════════════════════════════════════════════════════
    SET @ErrorCount = @VolumeDiskErrors + @VolumeDriveTypeErrors + @VolumeMountErrors +
                      @VolumeExtentVolumeErrors + @VolumeExtentDiskErrors + @PartitionDiskErrors +
                      @PartitionVolumeErrors + @SMBShareVolumeErrors;

    IF @VerboseOutput = 1
    BEGIN
        PRINT '';
        PRINT '=============================================================================';
        PRINT 'Volume/Disk Validation Summary';
        PRINT '=============================================================================';
        PRINT 'Volumes.DiskID errors:               ' + CAST(@VolumeDiskErrors AS NVARCHAR(10));
        PRINT 'Volumes.DriveType errors:            ' + CAST(@VolumeDriveTypeErrors AS NVARCHAR(10));
        PRINT 'VolumeMounts.VolumeID errors:        ' + CAST(@VolumeMountErrors AS NVARCHAR(10));
        PRINT 'VolumeExtents.VolumeID errors:       ' + CAST(@VolumeExtentVolumeErrors AS NVARCHAR(10));
        PRINT 'VolumeExtents.DiskID errors:         ' + CAST(@VolumeExtentDiskErrors AS NVARCHAR(10));
        PRINT 'Partitions.DiskID errors:            ' + CAST(@PartitionDiskErrors AS NVARCHAR(10));
        PRINT 'Partitions.VolID errors:             ' + CAST(@PartitionVolumeErrors AS NVARCHAR(10));
        PRINT 'SMBShares.VolumeID errors:           ' + CAST(@SMBShareVolumeErrors AS NVARCHAR(10));
        PRINT '-----------------------------------------------------------------------------';
        PRINT 'TOTAL VOLUME/DISK REFERENCE ERRORS:  ' + CAST(@ErrorCount AS NVARCHAR(10));
        IF @ErrorCount > 0
        BEGIN
            PRINT '';
            PRINT 'Query ##VolumeValidationErrors for details:';
            PRINT '  SELECT * FROM ##VolumeValidationErrors ORDER BY TableName, InvalidValue;';
        END
        PRINT '=============================================================================';
    END

    -- Return results
    IF @ErrorCount > 0
    BEGIN
        SELECT
            TableName,
            ConstraintName,
            InventoryID,
            PKValue AS PrimaryKeyValue,
            FKColumnName,
            InvalidValue,
            SuggestedFix
        FROM ##VolumeValidationErrors
        ORDER BY TableName, InvalidValue;
    END

    RETURN @ErrorCount;
END
GO
