USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_ADInventory_TransferData]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- Create updated procedure with PKI date conversion
-- ============================================================================
CREATE PROCEDURE [dbo].[usp_ADInventory_TransferData]
        @CollectionID UNIQUEIDENTIFIER = NULL,
        @DeleteFromStaging BIT = 1,
        @ComputeFlatMemberships BIT = 1,
        @MaxRecursionDepth INT = 50,
        @SyncDomainMasterList BIT = 1
AS
BEGIN
        SET NOCOUNT ON;
        SET XACT_ABORT ON;

        DECLARE @StartTime DATETIME2 = SYSUTCDATETIME();
        DECLARE @RowCount INT;
        DECLARE @TotalRows INT = 0;

        PRINT '============================================================================';
        PRINT 'AD Inventory - Data Transfer from ADImport to ADData';
        PRINT '============================================================================';
        PRINT 'Start Time: ' + CONVERT(VARCHAR(30), @StartTime, 121);
        PRINT 'Collection ID: ' + ISNULL(CAST(@CollectionID AS VARCHAR(36)), '(all pending)');
        PRINT 'Sync Domain Master List: ' + CASE WHEN @SyncDomainMasterList = 1 THEN 'Yes' ELSE 'No' END;
        PRINT '';

        BEGIN TRY
                BEGIN TRANSACTION;

                -- ====================================================================
                -- Transfer CollectionInfo
                -- ====================================================================
                PRINT 'Transferring CollectionInfo...';

                INSERT INTO ADData.CollectionInfo (
                        CollectionID, InventoryID, ComputerName, DomainName,
                        CollectionDateTime, Who, StartTime, EndTime, ImportDateTime, SourceDatabase, ModuleVersion
                )
                SELECT
                        CollectionID, InventoryID, ComputerName, DomainName,
                        CollectionDateTime, Who, StartTime, EndTime, ImportDateTime, SourceDatabase, ModuleVersion
                FROM ADImport.CollectionInfo s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.CollectionInfo d
                                WHERE d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_Object
                -- ====================================================================
                PRINT 'Transferring AD_Object...';

                INSERT INTO ADData.AD_Object (
                        SID_String, ObjectType, SamAccountName, DisplayName, UserPrincipalName,
                        DomainName, DistinguishedName, ObjectGUID, CanonicalName, Description,
                        WhenCreated, WhenChanged, Enabled,
                        LastLogonTimestamp, PasswordLastSet, AccountExpires, PasswordNeverExpires,
                        GivenName, Surname, Mail, Department,
                        Title, Manager, EmployeeID,
                        EmployeeNumber, EmployeeType,
                        GroupType, GroupScope, ManagedBy,
                        DNSHostName, OperatingSystem, OperatingSystemVersion,
                        OperatingSystemServicePack, OperatingSystemHotfix,
                        SIDHistory,
                        IsCriticalSystemObject, ServicePrincipalName, UserAccountControl, PasswordExpired,
                        IsForeignSecurityPrincipal, CollectionID
                )
                SELECT
                        SID_String, ObjectType, SamAccountName, DisplayName, UserPrincipalName,
                        DomainName, DistinguishedName, ObjectGUID, CanonicalName, Description,
                        WhenCreated, WhenChanged, Enabled,
                        LastLogonTimestamp, PasswordLastSet, AccountExpires, PasswordNeverExpires,
                        GivenName, Surname, Mail, Department,
                        Title, Manager, EmployeeID,
                        EmployeeNumber, EmployeeType,
                        GroupType, GroupScope, ManagedBy,
                        DNSHostName, OperatingSystem, OperatingSystemVersion,
                        OperatingSystemServicePack, OperatingSystemHotfix,
                        SIDHistory,
                        IsCriticalSystemObject, ServicePrincipalName, UserAccountControl, PasswordExpired,
                        IsForeignSecurityPrincipal, CollectionID
                FROM ADImport.AD_Object s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_Object d
                                WHERE d.SID_String = s.SID_String AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_GroupMembership
                -- ====================================================================
                PRINT 'Transferring AD_GroupMembership...';

                INSERT INTO ADData.AD_GroupMembership (GroupSID, MemberSID, CollectionID)
                SELECT GroupSID, MemberSID, CollectionID
                FROM ADImport.AD_GroupMembership s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_GroupMembership d
                                WHERE d.GroupSID = s.GroupSID
                                        AND d.MemberSID = s.MemberSID
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_ForeignSecurityPrincipal
                -- ====================================================================
                PRINT 'Transferring AD_ForeignSecurityPrincipal...';

                INSERT INTO ADData.AD_ForeignSecurityPrincipal (
                        SID_String, SourceDomainName, DistinguishedName, IsResolved,
                        LastResolveAttempt, CollectionID
                )
                SELECT
                        SID_String, SourceDomainName, DistinguishedName, IsResolved,
                        LastResolveAttempt, CollectionID
                FROM ADImport.AD_ForeignSecurityPrincipal s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_ForeignSecurityPrincipal d
                                WHERE d.SID_String = s.SID_String AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_Trust
                -- ====================================================================
                PRINT 'Transferring AD_Trust...';

                INSERT INTO ADData.AD_Trust (
                        SourceDomain, TargetDomain, TrustType, TrustDirection, TrustAttributes,
                        IsTransitive, FlatName, WhenCreated, CollectionID
                )
                SELECT
                        SourceDomain, TargetDomain, TrustType, TrustDirection, TrustAttributes,
                        IsTransitive, FlatName, WhenCreated, CollectionID
                FROM ADImport.AD_Trust s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_Trust d
                                WHERE d.SourceDomain = s.SourceDomain
                                        AND d.TargetDomain = s.TargetDomain
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_Domain
                -- ====================================================================
                PRINT 'Transferring AD_Domain...';

                INSERT INTO ADData.AD_Domain (
                        DomainName, DomainSID, DomainGUID, NetBIOSName, DistinguishedName,
                        ForestName, ParentDomain, DomainMode, DomainModeLevel,
                        PDCEmulator, RIDMaster, InfrastructureMaster,
                        ChildDomains, DomainControllers, ReadOnlyReplicaDirectoryServers,
                        WhenCreated, WhenChanged, CollectionID,
                        SysvolReplicationMethod, SysvolMigrationState,
                        DFSRExists, FRSExists, DFSRFlags,
                        GPOTotalCount, GPOHealthyCount, GPOOrphanedGPCCount, GPOOrphanedGPTCount,
                        GPOVersionMismatchCount, GPOOverallHealth,
                        SYSVOLAccessible, DefaultDomainPolicyExists, DefaultDCPolicyExists
                )
                SELECT
                        DomainName, DomainSID, DomainGUID, NetBIOSName, DistinguishedName,
                        ForestName, ParentDomain, DomainMode, DomainModeLevel,
                        PDCEmulator, RIDMaster, InfrastructureMaster,
                        ChildDomains, DomainControllers, ReadOnlyReplicaDirectoryServers,
                        WhenCreated, WhenChanged, CollectionID,
                        SysvolReplicationMethod, SysvolMigrationState,
                        DFSRExists, FRSExists, DFSRFlags,
                        GPOTotalCount, GPOHealthyCount, GPOOrphanedGPCCount, GPOOrphanedGPTCount,
                        GPOVersionMismatchCount, GPOOverallHealth,
                        SYSVOLAccessible, DefaultDomainPolicyExists, DefaultDCPolicyExists
                FROM ADImport.AD_Domain s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_Domain d
                                WHERE d.DomainSID = s.DomainSID AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Sync Domain Master List
                -- ====================================================================
                IF @SyncDomainMasterList = 1 AND @CollectionID IS NOT NULL
                BEGIN
                        PRINT '';
                        PRINT '--------------------------------------------------------------------';
                        PRINT 'Synchronizing Domain Master List...';
                        PRINT '--------------------------------------------------------------------';
                        EXEC dbo.usp_DML_SyncFromImport @CollectionID = @CollectionID, @Debug = 0;
                        PRINT '--------------------------------------------------------------------';
                        PRINT '';
                END
                ELSE IF @SyncDomainMasterList = 1 AND @CollectionID IS NULL
                BEGIN
                        PRINT '';
                        PRINT 'NOTE: DML sync skipped - requires specific CollectionID.';
                        PRINT '';
                END

                -- ====================================================================
                -- Transfer AD_Forest
                -- ====================================================================
                PRINT 'Transferring AD_Forest...';

                INSERT INTO ADData.AD_Forest (
                        ForestName, ForestGUID, RootDomain, ForestMode, ForestModeLevel,
                        SchemaMaster, DomainNamingMaster, Domains, GlobalCatalogs,
                        Sites, SiteLinks, SchemaVersion, ExchangeSchemaVersion,
                        WhenCreated, CollectionID
                )
                SELECT
                        ForestName, ForestGUID, RootDomain, ForestMode, ForestModeLevel,
                        SchemaMaster, DomainNamingMaster, Domains, GlobalCatalogs,
                        Sites, SiteLinks, SchemaVersion, ExchangeSchemaVersion,
                        WhenCreated, CollectionID
                FROM ADImport.AD_Forest s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_Forest d
                                WHERE d.ForestName = s.ForestName AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_Log
                -- ====================================================================
                PRINT 'Transferring AD_Log...';

                INSERT INTO ADData.AD_Log (
                        LogID, CollectionID, Timestamp, Level, Category, Message,
                        Context, ExceptionMessage, ExceptionType
                )
                SELECT
                        LogID, CollectionID, Timestamp, Level, Category, Message,
                        Context, ExceptionMessage, ExceptionType
                FROM ADImport.AD_Log s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_Log d
                                WHERE d.LogID = s.LogID AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_ExecutionTime
                -- ====================================================================
                PRINT 'Transferring AD_ExecutionTime...';

                INSERT INTO ADData.AD_ExecutionTime (
                        ExecutionID, CollectionID, Timestamp, DurationSeconds, Operation,
                        Target, Domain, RecordCount, RecordsPerSec, Details
                )
                SELECT
                        ExecutionID, CollectionID, Timestamp, DurationSeconds, Operation,
                        Target, Domain, RecordCount, RecordsPerSec, Details
                FROM ADImport.AD_ExecutionTime s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_ExecutionTime d
                                WHERE d.ExecutionID = s.ExecutionID AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_Site
                -- ====================================================================
                PRINT 'Transferring AD_Site...';

                INSERT INTO ADData.AD_Site (
                        SiteName, Description, Location, DistinguishedName,
                        ObjectGUID, WhenCreated, WhenChanged, CollectionID
                )
                SELECT
                        SiteName, Description, Location, DistinguishedName,
                        ObjectGUID, WhenCreated, WhenChanged, CollectionID
                FROM ADImport.AD_Site s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_Site d
                                WHERE d.SiteName = s.SiteName AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_Subnet
                -- ====================================================================
                PRINT 'Transferring AD_Subnet...';

                INSERT INTO ADData.AD_Subnet (
                        SubnetName, SiteName, Description, Location, DistinguishedName,
                        ObjectGUID, WhenCreated, WhenChanged, CollectionID, SiteObjectDN
                )
                SELECT
                        SubnetName, SiteName, Description, Location, DistinguishedName,
                        ObjectGUID, WhenCreated, WhenChanged, CollectionID, SiteObjectDN
                FROM ADImport.AD_Subnet s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_Subnet d
                                WHERE d.SubnetName = s.SubnetName AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_SiteLink
                -- ====================================================================
                PRINT 'Transferring AD_SiteLink...';

                INSERT INTO ADData.AD_SiteLink (
                        SiteLinkName, Cost, ReplicationInterval, Options, Schedule,
                        Description, TransportType, DistinguishedName, ObjectGUID,
                        WhenCreated, WhenChanged, CollectionID,
                        UseNotification, TwoWaySync, CompressionDisabled, SiteCount, SiteList
                )
                SELECT
                        SiteLinkName, Cost, ReplicationInterval, Options, Schedule,
                        Description, TransportType, DistinguishedName, ObjectGUID,
                        WhenCreated, WhenChanged, CollectionID,
                        UseNotification, TwoWaySync, CompressionDisabled, SiteCount, SiteList
                FROM ADImport.AD_SiteLink s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_SiteLink d
                                WHERE d.SiteLinkName = s.SiteLinkName AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_SiteSettings
                -- ====================================================================
                PRINT 'Transferring AD_SiteSettings...';

                INSERT INTO ADData.AD_SiteSettings (
                        SiteName, InterSiteTopologyGenerator, InterSiteTopologyGeneratorName,
                        Options, Schedule, DistinguishedName, ObjectGUID,
                        WhenCreated, WhenChanged, CollectionID,
                        IsAutoTopologyDisabled, IsTopologyCleanupDisabled, IsMinHopsDisabled,
                        IsDetectStaleDisabled, IsInterSiteAutoTopologyDisabled, IsGroupCachingEnabled
                )
                SELECT
                        SiteName, InterSiteTopologyGenerator, InterSiteTopologyGeneratorName,
                        Options, Schedule, DistinguishedName, ObjectGUID,
                        WhenCreated, WhenChanged, CollectionID,
                        IsAutoTopologyDisabled, IsTopologyCleanupDisabled, IsMinHopsDisabled,
                        IsDetectStaleDisabled, IsInterSiteAutoTopologyDisabled, IsGroupCachingEnabled
                FROM ADImport.AD_SiteSettings s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_SiteSettings d
                                WHERE d.SiteName = s.SiteName AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_SiteServer
                -- ====================================================================
                PRINT 'Transferring AD_SiteServer...';

                INSERT INTO ADData.AD_SiteServer (
                        ServerName, SiteName, DNSHostName, ServerReference,
                        DistinguishedName, ObjectGUID, WhenCreated, WhenChanged, CollectionID
                )
                SELECT
                        ServerName, SiteName, DNSHostName, ServerReference,
                        DistinguishedName, ObjectGUID, WhenCreated, WhenChanged, CollectionID
                FROM ADImport.AD_SiteServer s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_SiteServer d
                                WHERE d.ServerName = s.ServerName
                                        AND d.SiteName = s.SiteName
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_DomainController
                -- ====================================================================
                PRINT 'Transferring AD_DomainController...';

                INSERT INTO ADData.AD_DomainController (
                        ServerName, SiteName, InvocationId, Options, IsGlobalCatalog,
                        DistinguishedName, ObjectGUID, WhenCreated, WhenChanged, CollectionID,
                        DisableInboundReplication, DisableOutboundReplication,
                        DisableNTDSConnTranslation, IsRODC, MasterNCs
                )
                SELECT
                        ServerName, SiteName, InvocationId, Options, IsGlobalCatalog,
                        DistinguishedName, ObjectGUID, WhenCreated, WhenChanged, CollectionID,
                        DisableInboundReplication, DisableOutboundReplication,
                        DisableNTDSConnTranslation, IsRODC, MasterNCs
                FROM ADImport.AD_DomainController s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_DomainController d
                                WHERE d.ServerName = s.ServerName
                                        AND d.SiteName = s.SiteName
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_SiteSubnet
                -- ====================================================================
                PRINT 'Transferring AD_SiteSubnet...';

                INSERT INTO ADData.AD_SiteSubnet (
                        SiteName, SubnetName, CollectionID,
                        SiteDistinguishedName, SubnetDistinguishedName
                )
                SELECT
                        s.SiteName, s.SubnetName, s.CollectionID,
                        site.DistinguishedName AS SiteDistinguishedName,
                        subnet.DistinguishedName AS SubnetDistinguishedName
                FROM ADImport.AD_SiteSubnet s
                LEFT JOIN ADImport.AD_Site site
                        ON s.SiteName = site.SiteName AND s.CollectionID = site.CollectionID
                LEFT JOIN ADImport.AD_Subnet subnet
                        ON s.SubnetName = subnet.SubnetName AND s.CollectionID = subnet.CollectionID
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_SiteSubnet d
                                WHERE d.SiteName = s.SiteName
                                        AND d.SubnetName = s.SubnetName
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_SiteLinkSite
                -- ====================================================================
                PRINT 'Transferring AD_SiteLinkSite...';

                INSERT INTO ADData.AD_SiteLinkSite (
                        SiteLinkName, SiteName, CollectionID,
                        SiteLinkDistinguishedName, SiteDistinguishedName
                )
                SELECT
                        s.SiteLinkName, s.SiteName, s.CollectionID,
                        sitelink.DistinguishedName AS SiteLinkDistinguishedName,
                        site.DistinguishedName AS SiteDistinguishedName
                FROM ADImport.AD_SiteLinkSite s
                LEFT JOIN ADImport.AD_SiteLink sitelink
                        ON s.SiteLinkName = sitelink.SiteLinkName AND s.CollectionID = sitelink.CollectionID
                LEFT JOIN ADImport.AD_Site site
                        ON s.SiteName = site.SiteName AND s.CollectionID = site.CollectionID
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_SiteLinkSite d
                                WHERE d.SiteLinkName = s.SiteLinkName
                                        AND d.SiteName = s.SiteName
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_OptionalFeature
                -- ====================================================================
                PRINT 'Transferring AD_OptionalFeature...';

                INSERT INTO ADData.AD_OptionalFeature (
                        ForestName, FeatureName, FeatureGUID, IsEnabled,
                        RequiredForestLevel, RequiredForestLevelName, RequiredDomainLevel,
                        Description, DistinguishedName, CollectionID
                )
                SELECT
                        ForestName, FeatureName, FeatureGUID, IsEnabled,
                        RequiredForestLevel, RequiredForestLevelName, RequiredDomainLevel,
                        Description, DistinguishedName, CollectionID
                FROM ADImport.AD_OptionalFeature s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_OptionalFeature d
                                WHERE d.ForestName = s.ForestName
                                        AND d.FeatureName = s.FeatureName
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_KMSService
                -- ====================================================================
                PRINT 'Transferring AD_KMSService...';

                INSERT INTO ADData.AD_KMSService (
                        DomainName, TargetHostname, Port, Priority, Weight, TTL,
                        ResolvedIP, RecordSource, CollectionID
                )
                SELECT
                        DomainName, TargetHostname, Port, Priority, Weight, TTL,
                        ResolvedIP, RecordSource, CollectionID
                FROM ADImport.AD_KMSService s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_KMSService d
                                WHERE d.DomainName = s.DomainName
                                        AND d.TargetHostname = s.TargetHostname
                                        AND d.Port = s.Port
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_ADFSConfiguration
                -- ====================================================================
                PRINT 'Transferring AD_ADFSConfiguration...';

                INSERT INTO ADData.AD_ADFSConfiguration (
                        ForestName, ServiceType, ServiceName, FederationServiceName,
                        AzureTenantId, AzureObjectId, DomainName, ServiceBindingInfo,
                        Keywords, DistinguishedName, ObjectGUID,
                        WhenCreated, WhenChanged, CollectionID
                )
                SELECT
                        ForestName, ServiceType, ServiceName, FederationServiceName,
                        AzureTenantId, AzureObjectId, DomainName, ServiceBindingInfo,
                        Keywords, DistinguishedName, ObjectGUID,
                        WhenCreated, WhenChanged, CollectionID
                FROM ADImport.AD_ADFSConfiguration s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_ADFSConfiguration d
                                WHERE d.ForestName = s.ForestName
                                        AND d.ServiceType = s.ServiceType
                                        AND d.DistinguishedName = s.DistinguishedName
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_EnterpriseCA
                -- ====================================================================
                PRINT 'Transferring AD_EnterpriseCA...';

                INSERT INTO ADData.AD_EnterpriseCA (
                        ForestName, CAName, DNSHostName, CAType, CACertificate,
                        CACertificateDN, CertificateTemplates, Flags,
                        DistinguishedName, ObjectGUID, WhenCreated, WhenChanged, CollectionID
                )
                SELECT
                        ForestName, CAName, DNSHostName, CAType, CACertificate,
                        CACertificateDN, CertificateTemplates, Flags,
                        DistinguishedName, ObjectGUID, WhenCreated, WhenChanged, CollectionID
                FROM ADImport.AD_EnterpriseCA s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_EnterpriseCA d
                                WHERE d.ForestName = s.ForestName
                                        AND d.CAName = s.CAName
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_CertificateTemplate
                -- ====================================================================
                PRINT 'Transferring AD_CertificateTemplate...';

                INSERT INTO ADData.AD_CertificateTemplate (
                        ForestName, TemplateName, DisplayName, TemplateOID,
                        SchemaVersion, MinorRevision, MajorRevision, RASignaturesRequired,
                        MinKeySize, EnrollmentFlags, PrivateKeyFlags, CertificateNameFlags,
                        ValidityPeriod, RenewalPeriod, ExtendedKeyUsage,
                        DistinguishedName, ObjectGUID, WhenCreated, WhenChanged, CollectionID
                )
                SELECT
                        ForestName, TemplateName, DisplayName, TemplateOID,
                        SchemaVersion, MinorRevision, MajorRevision, RASignaturesRequired,
                        MinKeySize, EnrollmentFlags, PrivateKeyFlags, CertificateNameFlags,
                        ValidityPeriod, RenewalPeriod, ExtendedKeyUsage,
                        DistinguishedName, ObjectGUID, WhenCreated, WhenChanged, CollectionID
                FROM ADImport.AD_CertificateTemplate s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_CertificateTemplate d
                                WHERE d.ForestName = s.ForestName
                                        AND d.TemplateName = s.TemplateName
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_TrustedRootCA (WITH DATE CONVERSION)
                -- ====================================================================
                PRINT 'Transferring AD_TrustedRootCA (with date conversion)...';

                INSERT INTO ADData.AD_TrustedRootCA (
                        ForestName, CAName, CACertificate, CertificateSubject,
                        CertificateThumbprint, CertificateNotBefore, CertificateNotAfter,
                        ContainerType, DistinguishedName, ObjectGUID,
                        WhenCreated, WhenChanged, CollectionID
                )
                SELECT
                        ForestName, CAName, CACertificate, CertificateSubject,
                        CertificateThumbprint,
                        -- Convert ISO 8601 string to DATETIME2
                        TRY_CAST(CertificateNotBefore AS DATETIME2(7)) AS CertificateNotBefore,
                        TRY_CAST(CertificateNotAfter AS DATETIME2(7)) AS CertificateNotAfter,
                        ContainerType, DistinguishedName, ObjectGUID,
                        WhenCreated, WhenChanged, CollectionID
                FROM ADImport.AD_TrustedRootCA s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_TrustedRootCA d
                                WHERE d.ForestName = s.ForestName
                                        AND d.CAName = s.CAName
                                        AND d.ContainerType = s.ContainerType
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Transfer AD_NTAuthCA (WITH DATE CONVERSION)
                -- ====================================================================
                PRINT 'Transferring AD_NTAuthCA (with date conversion)...';

                INSERT INTO ADData.AD_NTAuthCA (
                        ForestName, CertificateSubject, CACertificate, CertificateThumbprint,
                        CertificateNotBefore, CertificateNotAfter, CertificateIndex,
                        DistinguishedName, CollectionID
                )
                SELECT
                        ForestName, CertificateSubject, CACertificate, CertificateThumbprint,
                        -- Convert ISO 8601 string to DATETIME2
                        TRY_CAST(CertificateNotBefore AS DATETIME2(7)) AS CertificateNotBefore,
                        TRY_CAST(CertificateNotAfter AS DATETIME2(7)) AS CertificateNotAfter,
                        CertificateIndex,
                        DistinguishedName, CollectionID
                FROM ADImport.AD_NTAuthCA s
                WHERE (@CollectionID IS NULL OR s.CollectionID = @CollectionID)
                        AND NOT EXISTS (
                                SELECT 1 FROM ADData.AD_NTAuthCA d
                                WHERE d.ForestName = s.ForestName
                                        AND d.CertificateThumbprint = s.CertificateThumbprint
                                        AND d.CollectionID = s.CollectionID
                        );

                SET @RowCount = @@ROWCOUNT;
                SET @TotalRows = @TotalRows + @RowCount;
                PRINT '    Transferred: ' + CAST(@RowCount AS VARCHAR(20)) + ' records';

                -- ====================================================================
                -- Compute Flattened Group Memberships
                -- ====================================================================
                IF @ComputeFlatMemberships = 1
                BEGIN
                        PRINT '';
                        PRINT 'Computing flattened group memberships...';

                        DELETE FROM ADData.AD_GroupMember_Flat
                        WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);

                        ;WITH GroupMemberFlat AS (
                                SELECT
                                        gm.GroupSID,
                                        gm.MemberSID,
                                        o.ObjectType AS MemberType,
                                        0 AS NestingLevel,
                                        CAST(gm.GroupSID AS NVARCHAR(MAX)) AS PathToMember,
                                        gm.CollectionID,
                                        CAST('|' + gm.GroupSID + '|' + gm.MemberSID + '|' AS NVARCHAR(MAX)) AS VisitedPath
                                FROM ADData.AD_GroupMembership gm
                                INNER JOIN ADData.AD_Object o
                                        ON gm.MemberSID = o.SID_String
                                        AND gm.CollectionID = o.CollectionID
                                WHERE (@CollectionID IS NULL OR gm.CollectionID = @CollectionID)

                                UNION ALL

                                SELECT
                                        f.GroupSID,
                                        gm.MemberSID,
                                        o.ObjectType AS MemberType,
                                        f.NestingLevel + 1,
                                        f.PathToMember + ' -> ' + gm.GroupSID,
                                        gm.CollectionID,
                                        f.VisitedPath + gm.MemberSID + '|'
                                FROM GroupMemberFlat f
                                INNER JOIN ADData.AD_GroupMembership gm
                                        ON f.MemberSID = gm.GroupSID
                                        AND f.CollectionID = gm.CollectionID
                                INNER JOIN ADData.AD_Object o
                                        ON gm.MemberSID = o.SID_String
                                        AND gm.CollectionID = o.CollectionID
                                WHERE f.NestingLevel < @MaxRecursionDepth
                                        AND f.VisitedPath NOT LIKE '%|' + gm.MemberSID + '|%'
                        )

                        INSERT INTO ADData.AD_GroupMember_Flat (
                                GroupSID, MemberSID, MemberType, NestingLevel,
                                PathToMember, CollectionID, ComputedDate
                        )
                        SELECT
                                GroupSID,
                                MemberSID,
                                MemberType,
                                MIN(NestingLevel) AS NestingLevel,
                                MIN(PathToMember) AS PathToMember,
                                CollectionID,
                                SYSUTCDATETIME() AS ComputedDate
                        FROM GroupMemberFlat
                        GROUP BY GroupSID, MemberSID, MemberType, CollectionID
                        OPTION (MAXRECURSION 0);

                        SET @RowCount = @@ROWCOUNT;
                        SET @TotalRows = @TotalRows + @RowCount;
                        PRINT '    Computed: ' + CAST(@RowCount AS VARCHAR(20)) + ' flattened memberships';

                        -- Save statistics
                        DECLARE @DirectMemberships INT, @NestedMemberships INT, @UniqueGroups INT, @UniqueMembers INT;
                        DECLARE @MaxNesting INT, @UserCount INT, @GroupCount INT, @ComputerCount INT;
                        DECLARE @InventoryID NVARCHAR(50);

                        SELECT
                                @DirectMemberships = SUM(CASE WHEN NestingLevel = 0 THEN 1 ELSE 0 END),
                                @NestedMemberships = SUM(CASE WHEN NestingLevel > 0 THEN 1 ELSE 0 END),
                                @MaxNesting = MAX(NestingLevel)
                        FROM ADData.AD_GroupMember_Flat
                        WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);

                        SELECT @UniqueGroups = COUNT(DISTINCT GroupSID), @UniqueMembers = COUNT(DISTINCT MemberSID)
                        FROM ADData.AD_GroupMember_Flat
                        WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);

                        SELECT
                                @UserCount = SUM(CASE WHEN MemberType = 1 THEN 1 ELSE 0 END),
                                @GroupCount = SUM(CASE WHEN MemberType = 2 THEN 1 ELSE 0 END),
                                @ComputerCount = SUM(CASE WHEN MemberType = 3 THEN 1 ELSE 0 END)
                        FROM ADData.AD_GroupMember_Flat
                        WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);

                        IF @CollectionID IS NOT NULL
                                SELECT @InventoryID = InventoryID FROM ADData.CollectionInfo WHERE CollectionID = @CollectionID;

                        INSERT INTO ADData.AD_FlattenStats (
                                CollectionID, InventoryID, ComputedDate, DurationSeconds, TotalMemberships,
                                DirectMemberships, NestedMemberships, UniqueGroups, UniqueMembers,
                                MaxNestingLevel, UserCount, GroupCount, ComputerCount
                        )
                        VALUES (
                                @CollectionID, @InventoryID, SYSUTCDATETIME(),
                                DATEDIFF(MILLISECOND, @StartTime, SYSUTCDATETIME()) / 1000.0, @RowCount,
                                ISNULL(@DirectMemberships, 0), ISNULL(@NestedMemberships, 0),
                                ISNULL(@UniqueGroups, 0), ISNULL(@UniqueMembers, 0), ISNULL(@MaxNesting, 0),
                                @UserCount, @GroupCount, @ComputerCount
                        );

                        PRINT '    Statistics saved to ADData.AD_FlattenStats';
                END

                -- ====================================================================
                -- Delete from staging if requested
                -- ====================================================================
                IF @DeleteFromStaging = 1
                BEGIN
                        PRINT '';
                        PRINT 'Cleaning staging tables...';

                        DELETE FROM ADImport.AD_NTAuthCA WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_TrustedRootCA WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_CertificateTemplate WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_EnterpriseCA WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_ADFSConfiguration WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_KMSService WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_ExecutionTime WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_Log WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_OptionalFeature WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_SiteLinkSite WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_SiteSubnet WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_DomainController WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_SiteServer WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_SiteSettings WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_SiteLink WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_Subnet WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_Site WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_Forest WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_Domain WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_Trust WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_ForeignSecurityPrincipal WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_GroupMember_Flat WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_GroupMembership WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.AD_Object WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);
                        DELETE FROM ADImport.CollectionInfo WHERE (@CollectionID IS NULL OR CollectionID = @CollectionID);

                        PRINT '    Staging tables cleaned';
                END

                COMMIT TRANSACTION;

                -- ====================================================================
                -- Report results
                -- ====================================================================
                DECLARE @EndTime DATETIME2 = SYSUTCDATETIME();
                DECLARE @DurationSeconds DECIMAL(10, 2) = DATEDIFF(MILLISECOND, @StartTime, @EndTime) / 1000.0;

                PRINT '';
                PRINT '============================================================================';
                PRINT 'Transfer completed successfully!';
                PRINT '============================================================================';
                PRINT 'Total records transferred: ' + CAST(@TotalRows AS VARCHAR(20));
                PRINT 'Duration (seconds): ' + CAST(@DurationSeconds AS VARCHAR(20));
                PRINT 'End Time: ' + CONVERT(VARCHAR(30), @EndTime, 121);
                PRINT '';

        END TRY
        BEGIN CATCH
                IF @@TRANCOUNT > 0
                        ROLLBACK TRANSACTION;

                DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
                DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
                DECLARE @ErrorState INT = ERROR_STATE();

                PRINT '';
                PRINT '============================================================================';
                PRINT 'ERROR: Transfer failed!';
                PRINT '============================================================================';
                PRINT 'Error: ' + @ErrorMessage;

                RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        END CATCH
END

GO
