USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_CleanupImportedCollection]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * 009_usp_CleanupImportedCollection.sql - Sprint-60 Migration Utility
 * v1.5.1 - Replace @@ROWCOUNT with COUNT(*) to fix Error 4083 connection resiliency
 */

CREATE   PROCEDURE [dbo].[usp_CleanupImportedCollection]
    @InventoryID      UNIQUEIDENTIFIER,
    @Force            BIT = 0,
    @ErrorMessage     NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;  -- Auto-rollback on any error

    DECLARE @ReturnCode INT = 0;
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ErrorLine INT;
    DECLARE @StartTime DATETIMEOFFSET = SYSDATETIMEOFFSET();
    DECLARE @RowCount INT;
    DECLARE @TotalRows INT = 0;
    DECLARE @TableName NVARCHAR(100);

    BEGIN TRY
        -- ═══════════════════════════════════════════════════════════════════════
        -- STEP 1: Validate InventoryID
        -- ═══════════════════════════════════════════════════════════════════════

        PRINT 'Starting cleanup for InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));
        PRINT '═══════════════════════════════════════════════════════════════════';

        -- Check if InventoryID exists in fssimport schema
        IF NOT EXISTS (
            SELECT 1
            FROM [fssimport].[CollectionInfo]
            WHERE [InventoryID] = @InventoryID
        )
        BEGIN
            SET @ErrorMessage = 'InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) + ' not found in import.CollectionInfo (nothing to clean up)';
            PRINT @ErrorMessage;
            RETURN 1;
        END

        -- Safety check: Verify migration to fsapp schema (unless forced)
        IF @Force = 0
        BEGIN
            IF NOT EXISTS (
                SELECT 1
                FROM [fsapp].[CollectionInfo]
                WHERE [InventoryID] = @InventoryID
            )
            BEGIN
                SET @ErrorMessage = 'InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) +
                                   ' not found in app.CollectionInfo. ' +
                                   'Data has not been migrated yet. ' +
                                   'Use @Force = 1 to override this safety check.';
                PRINT 'ERROR: ' + @ErrorMessage;

                -- Log warning
                EXEC [dbo].[usp_LogMigrationEvent]
                    @InventoryID = @InventoryID,
                    @Severity = 'WARNING',
                    @Source = 'usp_CleanupImportedCollection',
                    @Message = 'Cleanup aborted - data not yet migrated to fsapp schema';

                RETURN 2;
            END
        END
        ELSE
        BEGIN
            PRINT 'WARNING: Force mode enabled - skipping migration verification';
        END

        -- ═══════════════════════════════════════════════════════════════════════
        -- STEP 2: Begin Transaction - Delete All Data
        -- ═══════════════════════════════════════════════════════════════════════

        BEGIN TRANSACTION CleanupImport;

        PRINT 'Deleting data from fssimport schema in reverse dependency order...';

        -- Delete EventLog (no dependencies)
        SET @TableName = 'EventLog';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[EventLog] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[EventLog] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.EventLog';

        -- Delete SMBShareAccess (depends on SMBShares)
        SET @TableName = 'SMBShareAccess';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[SMBShareAccess] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[SMBShareAccess] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.SMBShareAccess';

        -- Delete SMBShares (depends on Folders)
        SET @TableName = 'SMBShares';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[SMBShares] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[SMBShares] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.SMBShares';

        -- Delete ACE (depends on Folders)
        SET @TableName = 'ACE';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[ACE] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[ACE] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.ACE';

        -- Delete ACL (depends on Folders)
        SET @TableName = 'ACL';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[ACL] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[ACL] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.ACL';

        -- Delete Folders
        SET @TableName = 'Folders';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[Folders] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[Folders] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.Folders';

        -- Delete Partitions (depends on Disks and Volumes)
        SET @TableName = 'Partitions';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[Partitions] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[Partitions] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.Partitions';

        -- Delete VolumeExtents (depends on Volumes and Disks)
        SET @TableName = 'VolumeExtents';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[VolumeExtents] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[VolumeExtents] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.VolumeExtents';

        -- Delete VolumeMounts (depends on Volumes)
        SET @TableName = 'VolumeMounts';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[VolumeMounts] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[VolumeMounts] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.VolumeMounts';

        -- Delete Volumes (depends on Disks)
        SET @TableName = 'Volumes';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[Volumes] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[Volumes] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.Volumes';

        -- Delete Disks
        SET @TableName = 'Disks';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[Disks] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[Disks] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.Disks';

        -- Delete SIDs (referenced by ACL, ACE, SMBShareAccess - but we deleted those first)
        SET @TableName = 'SIDs';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[SIDs] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[SIDs] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.SIDs';

        -- Delete CollectionInfo (last)
        SET @TableName = 'CollectionInfo';
        SELECT @RowCount = COUNT(*) FROM [fssimport].[CollectionInfo] WHERE [InventoryID] = @InventoryID;
        DELETE FROM [fssimport].[CollectionInfo] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '  ✓ Deleted ' + CAST(@RowCount AS NVARCHAR(20)) + ' rows from import.CollectionInfo';

        -- ═══════════════════════════════════════════════════════════════════════
        -- STEP 3: Log Success and Commit
        -- ═══════════════════════════════════════════════════════════════════════

        DECLARE @EndTime DATETIMEOFFSET = SYSDATETIMEOFFSET();
        DECLARE @Duration INT = DATEDIFF(SECOND, @StartTime, @EndTime);

        SET @ErrorMessage = 'Successfully deleted ' + CAST(@TotalRows AS NVARCHAR(20)) +
                           ' total rows from fssimport schema for InventoryID ' +
                           CAST(@InventoryID AS NVARCHAR(50)) +
                           ' in ' + CAST(@Duration AS NVARCHAR(20)) + ' seconds';

        PRINT '═══════════════════════════════════════════════════════════════════';
        PRINT @ErrorMessage;
        PRINT '═══════════════════════════════════════════════════════════════════';

        -- Log to EventLog
        DECLARE @AdditionalDataCleanup NVARCHAR(MAX);
        SET @AdditionalDataCleanup = N'{"TotalRowsDeleted": ' + CAST(@TotalRows AS NVARCHAR(20)) +
                                      ', "DurationSeconds": ' + CAST(@Duration AS NVARCHAR(20)) +
                                      ', "Force": ' + CAST(@Force AS NVARCHAR(1)) + '}';

        EXEC [dbo].[usp_LogMigrationEvent]
            @InventoryID = @InventoryID,
            @Severity = 'INFO',
            @Source = 'usp_CleanupImportedCollection',
            @Message = @ErrorMessage,
            @AdditionalData = @AdditionalDataCleanup;

        -- Commit transaction
        COMMIT TRANSACTION CleanupImport;

    END TRY
    BEGIN CATCH
        -- Rollback transaction on error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
            PRINT 'Transaction rolled back due to error';
        END

        -- Capture error details
        SET @ErrorNumber = ERROR_NUMBER();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();
        SET @ErrorLine = ERROR_LINE();

        -- Format error message
        SET @ErrorMessage =
            'Error ' + CAST(@ErrorNumber AS NVARCHAR(10)) +
            ' (Severity ' + CAST(@ErrorSeverity AS NVARCHAR(10)) +
            ', State ' + CAST(@ErrorState AS NVARCHAR(10)) + ')' +
            ' at Line ' + CAST(@ErrorLine AS NVARCHAR(10)) +
            ' while cleaning up table [' + ISNULL(@TableName, 'Unknown') + ']: ' +
            ERROR_MESSAGE();

        SET @ReturnCode = @ErrorNumber;

        -- Print error for logging
        PRINT 'ERROR: ' + @ErrorMessage;

        -- Try to log error
        BEGIN TRY
            DECLARE @AdditionalDataError NVARCHAR(MAX);
            SET @AdditionalDataError = N'{"Table": "' + ISNULL(@TableName, 'Unknown') + '"}';

            EXEC [dbo].[usp_LogMigrationEvent]
                @InventoryID = @InventoryID,
                @Severity = 'ERROR',
                @Source = 'usp_CleanupImportedCollection',
                @Message = @ErrorMessage,
                @ErrorCode = @ErrorNumber,
                @AdditionalData = @AdditionalDataError;
        END TRY
        BEGIN CATCH
            -- If logging fails, continue (error already printed)
            PRINT 'Warning: Could not log error to EventLog';
        END CATCH
    END CATCH

    RETURN @ReturnCode;
END
GO
