USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Validate_Folder_References]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Validate_Folder_References]
    @InventoryID        UNIQUEIDENTIFIER = NULL,    -- Optional: filter by InventoryID
    @MaxErrors          INT = 1000,                  -- Maximum total errors to return
    @VerboseOutput      BIT = 1,                     -- Print progress messages
    @ErrorCount         INT = NULL OUTPUT            -- OUTPUT: total errors found
AS
BEGIN
    SET NOCOUNT ON;

    SET @ErrorCount = 0;

    DECLARE @FolderParentErrors INT = 0;
    DECLARE @FolderVolumeErrors INT = 0;
    DECLARE @ACLFolderErrors INT = 0;
    DECLARE @ACEFolderErrors INT = 0;
    DECLARE @ACEInheritedErrors INT = 0;
    DECLARE @SMBShareFolderErrors INT = 0;

    -- Create temp table for results
    IF OBJECT_ID('tempdb..##FolderValidationErrors') IS NOT NULL
        DROP TABLE ##FolderValidationErrors;

    CREATE TABLE ##FolderValidationErrors (
        ErrorID             INT IDENTITY(1,1) PRIMARY KEY,
        TableName           NVARCHAR(128) NOT NULL,
        ConstraintName      NVARCHAR(256) NOT NULL,
        InventoryID         UNIQUEIDENTIFIER NOT NULL,
        PKValue             NVARCHAR(500) NOT NULL,
        FKColumnName        NVARCHAR(128) NOT NULL,
        InvalidFolderID     INT NOT NULL,
        SuggestedFix        NVARCHAR(500) NULL
    );

    IF @VerboseOutput = 1
    BEGIN
        PRINT '=============================================================================';
        PRINT 'Folder Reference Validation';
        PRINT '=============================================================================';
        PRINT 'InventoryID Filter: ' + ISNULL(CAST(@InventoryID AS NVARCHAR(50)), '(All)');
        PRINT '-----------------------------------------------------------------------------';
        PRINT '';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 1. Validate Folders.ParentFolderID -> Folders.LocalFolderID (self-referential)
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating Folders.ParentFolderID -> Folders.LocalFolderID...';

    INSERT INTO ##FolderValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidFolderID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 6)
        'fssimport.Folders',
        'FK_app_Folders_Parent',
        f.InventoryID,
        CAST(f.InventoryID AS NVARCHAR(50)) + ', ' + CAST(f.LocalFolderID AS NVARCHAR(20)),
        'ParentFolderID',
        f.ParentFolderID,
        'Add folder with LocalFolderID=' + CAST(f.ParentFolderID AS NVARCHAR(20)) + ' or set ParentFolderID to NULL'
    FROM [fssimport].[Folders] f
    LEFT JOIN [fssimport].[Folders] parent ON f.InventoryID = parent.InventoryID AND f.ParentFolderID = parent.LocalFolderID
    WHERE f.ParentFolderID IS NOT NULL
      AND parent.LocalFolderID IS NULL
      AND (@InventoryID IS NULL OR f.InventoryID = @InventoryID);

    SELECT @FolderParentErrors = COUNT(*) FROM ##FolderValidationErrors WHERE ConstraintName = 'FK_app_Folders_Parent';
    IF @VerboseOutput = 1
    BEGIN
        IF @FolderParentErrors > 0
            PRINT '  WARNING: ' + CAST(@FolderParentErrors AS NVARCHAR(10)) + ' invalid ParentFolderID reference(s)';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 2. Validate Folders.VolumeID -> Volumes.VolumeID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating Folders.VolumeID -> Volumes.VolumeID...';

    INSERT INTO ##FolderValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidFolderID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 6)
        'fssimport.Folders',
        'FK_app_Folders_Volumes',
        f.InventoryID,
        CAST(f.InventoryID AS NVARCHAR(50)) + ', ' + CAST(f.LocalFolderID AS NVARCHAR(20)),
        'VolumeID',
        f.VolumeID,
        'Add volume with VolumeID=' + CAST(f.VolumeID AS NVARCHAR(20)) + ' or set VolumeID to NULL'
    FROM [fssimport].[Folders] f
    LEFT JOIN [fssimport].[Volumes] v ON f.InventoryID = v.InventoryID AND f.VolumeID = v.VolumeID
    WHERE f.VolumeID IS NOT NULL
      AND v.VolumeID IS NULL
      AND (@InventoryID IS NULL OR f.InventoryID = @InventoryID);

    SELECT @FolderVolumeErrors = COUNT(*) FROM ##FolderValidationErrors WHERE ConstraintName = 'FK_app_Folders_Volumes';
    IF @VerboseOutput = 1
    BEGIN
        IF @FolderVolumeErrors > 0
            PRINT '  WARNING: ' + CAST(@FolderVolumeErrors AS NVARCHAR(10)) + ' invalid VolumeID reference(s)';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 3. Validate ACL.LocalFolderID -> Folders.LocalFolderID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating ACL.LocalFolderID -> Folders.LocalFolderID...';

    INSERT INTO ##FolderValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidFolderID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 6)
        'fssimport.ACL',
        'FK_app_ACL_Folders',
        acl.InventoryID,
        CAST(acl.InventoryID AS NVARCHAR(50)) + ', ' + CAST(acl.LocalACLID AS NVARCHAR(20)),
        'LocalFolderID',
        acl.LocalFolderID,
        'Add folder with LocalFolderID=' + CAST(acl.LocalFolderID AS NVARCHAR(20)) + ' or delete orphaned ACL'
    FROM [fssimport].[ACL] acl
    LEFT JOIN [fssimport].[Folders] f ON acl.InventoryID = f.InventoryID AND acl.LocalFolderID = f.LocalFolderID
    WHERE f.LocalFolderID IS NULL
      AND (@InventoryID IS NULL OR acl.InventoryID = @InventoryID);

    SELECT @ACLFolderErrors = COUNT(*) FROM ##FolderValidationErrors WHERE ConstraintName = 'FK_app_ACL_Folders';
    IF @VerboseOutput = 1
    BEGIN
        IF @ACLFolderErrors > 0
            PRINT '  WARNING: ' + CAST(@ACLFolderErrors AS NVARCHAR(10)) + ' invalid LocalFolderID reference(s) in ACL';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 4. Validate ACE.LocalFolderID -> Folders.LocalFolderID (CRITICAL - largest)
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating ACE.LocalFolderID -> Folders.LocalFolderID (may take time)...';

    INSERT INTO ##FolderValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidFolderID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 3)
        'fssimport.ACE',
        'FK_app_ACE_Folders',
        ace.InventoryID,
        CAST(ace.InventoryID AS NVARCHAR(50)) + ', ' + CAST(ace.LocalACEID AS NVARCHAR(20)),
        'LocalFolderID',
        ace.LocalFolderID,
        'Add folder with LocalFolderID=' + CAST(ace.LocalFolderID AS NVARCHAR(20)) + ' or delete orphaned ACE'
    FROM [fssimport].[ACE] ace
    LEFT JOIN [fssimport].[Folders] f ON ace.InventoryID = f.InventoryID AND ace.LocalFolderID = f.LocalFolderID
    WHERE f.LocalFolderID IS NULL
      AND (@InventoryID IS NULL OR ace.InventoryID = @InventoryID);

    SELECT @ACEFolderErrors = COUNT(*) FROM ##FolderValidationErrors WHERE ConstraintName = 'FK_app_ACE_Folders';
    IF @VerboseOutput = 1
    BEGIN
        IF @ACEFolderErrors > 0
            PRINT '  WARNING: ' + CAST(@ACEFolderErrors AS NVARCHAR(10)) + ' invalid LocalFolderID reference(s) in ACE';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 5. Validate ACE.InheritedFromLocalID -> Folders.LocalFolderID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating ACE.InheritedFromLocalID -> Folders.LocalFolderID...';

    INSERT INTO ##FolderValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidFolderID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 6)
        'fssimport.ACE',
        'FK_app_ACE_InheritedFrom',
        ace.InventoryID,
        CAST(ace.InventoryID AS NVARCHAR(50)) + ', ' + CAST(ace.LocalACEID AS NVARCHAR(20)),
        'InheritedFromLocalID',
        ace.InheritedFromLocalID,
        'Add folder with LocalFolderID=' + CAST(ace.InheritedFromLocalID AS NVARCHAR(20)) + ' or set InheritedFromLocalID to NULL'
    FROM [fssimport].[ACE] ace
    LEFT JOIN [fssimport].[Folders] f ON ace.InventoryID = f.InventoryID AND ace.InheritedFromLocalID = f.LocalFolderID
    WHERE ace.InheritedFromLocalID IS NOT NULL
      AND f.LocalFolderID IS NULL
      AND (@InventoryID IS NULL OR ace.InventoryID = @InventoryID);

    SELECT @ACEInheritedErrors = COUNT(*) FROM ##FolderValidationErrors WHERE ConstraintName = 'FK_app_ACE_InheritedFrom';
    IF @VerboseOutput = 1
    BEGIN
        IF @ACEInheritedErrors > 0
            PRINT '  WARNING: ' + CAST(@ACEInheritedErrors AS NVARCHAR(10)) + ' invalid InheritedFromLocalID reference(s)';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 6. Validate SMBShares.Path -> Folders.LocalFolderID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating SMBShares.Path -> Folders.LocalFolderID...';

    INSERT INTO ##FolderValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidFolderID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 6)
        'fssimport.SMBShares',
        'FK_app_SMBShares_Folders',
        smb.InventoryID,
        CAST(smb.InventoryID AS NVARCHAR(50)) + ', ' + CAST(smb.ShareID AS NVARCHAR(20)),
        'Path',
        smb.Path,
        'Add folder with LocalFolderID=' + CAST(smb.Path AS NVARCHAR(20)) + ' or delete orphaned SMB share'
    FROM [fssimport].[SMBShares] smb
    LEFT JOIN [fssimport].[Folders] f ON smb.InventoryID = f.InventoryID AND smb.Path = f.LocalFolderID
    WHERE f.LocalFolderID IS NULL
      AND (@InventoryID IS NULL OR smb.InventoryID = @InventoryID);

    SELECT @SMBShareFolderErrors = COUNT(*) FROM ##FolderValidationErrors WHERE ConstraintName = 'FK_app_SMBShares_Folders';
    IF @VerboseOutput = 1
    BEGIN
        IF @SMBShareFolderErrors > 0
            PRINT '  WARNING: ' + CAST(@SMBShareFolderErrors AS NVARCHAR(10)) + ' invalid Path reference(s) in SMBShares';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- Summary
    -- ═══════════════════════════════════════════════════════════════════════════
    SET @ErrorCount = @FolderParentErrors + @FolderVolumeErrors + @ACLFolderErrors +
                      @ACEFolderErrors + @ACEInheritedErrors + @SMBShareFolderErrors;

    IF @VerboseOutput = 1
    BEGIN
        PRINT '';
        PRINT '=============================================================================';
        PRINT 'Folder Validation Summary';
        PRINT '=============================================================================';
        PRINT 'Folders.ParentFolderID errors:     ' + CAST(@FolderParentErrors AS NVARCHAR(10));
        PRINT 'Folders.VolumeID errors:           ' + CAST(@FolderVolumeErrors AS NVARCHAR(10));
        PRINT 'ACL.LocalFolderID errors:          ' + CAST(@ACLFolderErrors AS NVARCHAR(10));
        PRINT 'ACE.LocalFolderID errors:          ' + CAST(@ACEFolderErrors AS NVARCHAR(10));
        PRINT 'ACE.InheritedFromLocalID errors:   ' + CAST(@ACEInheritedErrors AS NVARCHAR(10));
        PRINT 'SMBShares.Path errors:             ' + CAST(@SMBShareFolderErrors AS NVARCHAR(10));
        PRINT '-----------------------------------------------------------------------------';
        PRINT 'TOTAL FOLDER REFERENCE ERRORS:     ' + CAST(@ErrorCount AS NVARCHAR(10));
        IF @ErrorCount > 0
        BEGIN
            PRINT '';
            PRINT 'Query ##FolderValidationErrors for details:';
            PRINT '  SELECT * FROM ##FolderValidationErrors ORDER BY TableName, InvalidFolderID;';
        END
        PRINT '=============================================================================';
    END

    -- Return results
    IF @ErrorCount > 0
    BEGIN
        SELECT
            TableName,
            ConstraintName,
            InventoryID,
            PKValue AS PrimaryKeyValue,
            FKColumnName,
            InvalidFolderID,
            SuggestedFix
        FROM ##FolderValidationErrors
        ORDER BY TableName, InvalidFolderID;
    END

    RETURN @ErrorCount;
END
GO
