USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_MigrateNTFSPerms_CreateSchemas]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * 001_usp_MigrateNTFSPerms_CreateSchemas.sql
 *
 * Creates stored procedure to deploy database schemas
 *
 * Purpose: Creates the 'fsapp', 'fslkp', and 'fssimport' schemas for the NTFSPerms application
 *
 * IMPORTANT: This script assumes the ODBC connection is already established to the target
 *            database. The database name is specified via the connection string, not via
 *            a USE statement. This allows the procedure to be deployed to any database
 *            specified by the user on the command line.
 *
 * Returns:
 *   0 = Success
 *   Non-zero = SQL Server error number
 *
 * Output Parameters:
 *   @ErrorMessage = Error message if return code != 0, success message otherwise
 *
 * Version: 1.5.0
 * Created: 2025-11-27
 */

CREATE   PROCEDURE [dbo].[usp_MigrateNTFSPerms_CreateSchemas]
    @ErrorMessage NVARCHAR(4000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT OFF;  -- We want to handle errors ourselves

    DECLARE @ReturnCode INT = 0;
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ErrorLine INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        PRINT 'Creating database schemas...';

        -- Create application data schema
        IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'fsapp')
        BEGIN
            EXEC('CREATE SCHEMA [fsapp] AUTHORIZATION [dbo]');
            PRINT 'Schema [fsapp] created successfully';
        END
        ELSE
        BEGIN
            PRINT 'Schema [fsapp] already exists';
        END

        -- Create lookup/reference data schema
        IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'fslkp')
        BEGIN
            EXEC('CREATE SCHEMA [fslkp] AUTHORIZATION [dbo]');
            PRINT 'Schema [fslkp] created successfully';
        END
        ELSE
        BEGIN
            PRINT 'Schema [fslkp] already exists';
        END

        -- Create fssimport schema for data import staging
        IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'fssimport')
        BEGIN
            EXEC('CREATE SCHEMA [fssimport] AUTHORIZATION [dbo]');
            PRINT 'Schema [fssimport] created successfully';
        END
        ELSE
        BEGIN
            PRINT 'Schema [fssimport] already exists';
        END

        COMMIT TRANSACTION;

        PRINT 'Schema creation completed successfully';
        SET @ErrorMessage = 'Schemas created successfully';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capture error details
        SET @ErrorNumber = ERROR_NUMBER();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();
        SET @ErrorLine = ERROR_LINE();

        -- Format error message
        SET @ErrorMessage =
            'Error ' + CAST(@ErrorNumber AS NVARCHAR(10)) +
            ' (Severity ' + CAST(@ErrorSeverity AS NVARCHAR(10)) +
            ', State ' + CAST(@ErrorState AS NVARCHAR(10)) + ')' +
            ' at Line ' + CAST(@ErrorLine AS NVARCHAR(10)) + ': ' +
            ERROR_MESSAGE();

        SET @ReturnCode = @ErrorNumber;

        -- Print error for logging
        PRINT 'ERROR: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
