USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_CleanupImportedCollection_Partitioned]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_CleanupImportedCollection_Partitioned]
    @InventoryID      UNIQUEIDENTIFIER,
    @Force            BIT = 0,
    @MergePartition   BIT = 1,  -- Whether to merge the empty partition after cleanup
    @ErrorMessage     NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ReturnCode INT = 0;
    DECLARE @StartTime DATETIMEOFFSET = SYSDATETIMEOFFSET();
    DECLARE @PartitionNumber INT;

    BEGIN TRY
        -- ═══════════════════════════════════════════════════════════════════════
        -- STEP 1: Validate InventoryID
        -- ═══════════════════════════════════════════════════════════════════════

        PRINT 'Starting partitioned cleanup for InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));
        PRINT '═══════════════════════════════════════════════════════════════════';

        SET @PartitionNumber = $PARTITION.pf_InventoryID(@InventoryID);
        PRINT 'Partition Number: ' + CAST(@PartitionNumber AS NVARCHAR(10));

        -- Check if InventoryID exists in fssimport schema
        IF NOT EXISTS (
            SELECT 1
            FROM [fssimport].[CollectionInfo]
            WHERE [InventoryID] = @InventoryID
        )
        BEGIN
            SET @ErrorMessage = 'InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) + ' not found in fssimport.CollectionInfo';
            PRINT 'WARNING: ' + @ErrorMessage;

            -- Still try to clean up any orphaned data
            IF @Force = 0
            BEGIN
                PRINT 'Use @Force = 1 to clean up any orphaned data.';
                RETURN 1;
            END
        END

        -- Safety check: Verify migration to fsapp schema (unless forced)
        IF @Force = 0
        BEGIN
            IF NOT EXISTS (
                SELECT 1
                FROM [fsapp].[CollectionInfo]
                WHERE [InventoryID] = @InventoryID
            )
            BEGIN
                SET @ErrorMessage = 'InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) +
                                   ' not found in fsapp.CollectionInfo. ' +
                                   'Data has not been migrated yet. ' +
                                   'Use @Force = 1 to override this safety check.';
                PRINT 'ERROR: ' + @ErrorMessage;
                RETURN 2;
            END
        END

        -- ═══════════════════════════════════════════════════════════════════════
        -- STEP 2: Use partition-aware deletion
        -- ═══════════════════════════════════════════════════════════════════════

        EXEC @ReturnCode = dbo.usp_Partition_DeleteCollection_Fast
            @InventoryID = @InventoryID,
            @Schema = 'fssimport',
            @ErrorMessage = @ErrorMessage OUTPUT;

        IF @ReturnCode <> 0
        BEGIN
            PRINT 'Error during partition deletion: ' + ISNULL(@ErrorMessage, 'Unknown error');
            RETURN @ReturnCode;
        END

        -- ═══════════════════════════════════════════════════════════════════════
        -- STEP 3: Optionally merge the empty partition
        -- ═══════════════════════════════════════════════════════════════════════

        IF @MergePartition = 1
        BEGIN
            PRINT '';
            PRINT 'Merging empty partition...';

            EXEC dbo.usp_Partition_MergeEmpty
                @InventoryID = @InventoryID,
                @ErrorMessage = @ErrorMessage OUTPUT;

            -- Don't fail if merge fails - data is already deleted
            IF @ErrorMessage IS NOT NULL
                PRINT 'Note: Partition merge skipped - ' + @ErrorMessage;
        END

        PRINT '';
        PRINT '═══════════════════════════════════════════════════════════════════';
        PRINT 'Cleanup completed in ' + CAST(DATEDIFF(MILLISECOND, @StartTime, SYSDATETIMEOFFSET()) AS NVARCHAR(20)) + ' ms';

    END TRY
    BEGIN CATCH
        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'Error during cleanup: ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END
GO
