USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_ComputeStats_TableCounts]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ComputeStats_TableCounts]
    @InventoryID    UNIQUEIDENTIFIER = NULL,
    @Force          BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Usage VARCHAR(50) = 'TableCounts';
    DECLARE @StartTime DATETIME2 = SYSUTCDATETIME();
    DECLARE @ProcessedCount INT = 0;
    DECLARE @ErrorCount INT = 0;
    DECLARE @CurrentInventoryID UNIQUEIDENTIFIER;
    DECLARE @JSONData NVARCHAR(MAX);
    DECLARE @Message NVARCHAR(4000);
    DECLARE @InventoryCount INT;

    -- Variables for JSON construction
    DECLARE @TablesJSON NVARCHAR(MAX);
    DECLARE @TotalTables INT;
    DECLARE @TotalRows BIGINT;

    -- Temp table to hold inventories to process
    CREATE TABLE #InventoriesToProcess (
        InventoryID UNIQUEIDENTIFIER PRIMARY KEY
    );

    -- Temp table for table counts (per inventory)
    CREATE TABLE #TableCounts (
        TableName NVARCHAR(100),
        RowCnt BIGINT
    );

    -- Determine which inventories to process
    IF @InventoryID IS NOT NULL
    BEGIN
        -- Specific inventory requested
        IF NOT EXISTS (SELECT 1 FROM fsapp.CollectionInfo WHERE InventoryID = @InventoryID)
        BEGIN
            SET @Message = 'InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) + ' not found in fsapp.CollectionInfo';
            RAISERROR(@Message, 16, 1);
            RETURN 1;
        END

        IF @Force = 1 OR NOT EXISTS (
            SELECT 1 FROM fsapp.Stats
            WHERE InventoryID = @InventoryID AND Usage = @Usage
        )
        BEGIN
            INSERT INTO #InventoriesToProcess (InventoryID)
            VALUES (@InventoryID);
        END
        ELSE
        BEGIN
            PRINT 'Stats already exist for InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) + '. Use @Force=1 to recompute.';
            RETURN 0;
        END
    END
    ELSE
    BEGIN
        -- Process all inventories missing this stat (or all if @Force=1)
        IF @Force = 1
        BEGIN
            INSERT INTO #InventoriesToProcess (InventoryID)
            SELECT InventoryID FROM fsapp.CollectionInfo;
        END
        ELSE
        BEGIN
            INSERT INTO #InventoriesToProcess (InventoryID)
            SELECT c.InventoryID
            FROM fsapp.CollectionInfo c
            WHERE NOT EXISTS (
                SELECT 1 FROM fsapp.Stats s
                WHERE s.InventoryID = c.InventoryID AND s.Usage = @Usage
            );
        END
    END

    -- Check if there's anything to do
    IF NOT EXISTS (SELECT 1 FROM #InventoriesToProcess)
    BEGIN
        PRINT 'No inventories to process.';
        RETURN 0;
    END

    -- Get count for display
    SELECT @InventoryCount = COUNT(*) FROM #InventoriesToProcess;
    PRINT 'Processing ' + CAST(@InventoryCount AS VARCHAR(10)) + ' inventory(s)...';

    -- Process each inventory
    DECLARE cur CURSOR LOCAL FAST_FORWARD FOR
        SELECT InventoryID FROM #InventoriesToProcess;

    OPEN cur;
    FETCH NEXT FROM cur INTO @CurrentInventoryID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            -- Clear temp table and variables for this iteration
            DELETE FROM #TableCounts;
            SET @TablesJSON = NULL;
            SET @TotalTables = 0;
            SET @TotalRows = 0;
            SET @JSONData = NULL;

            -- Count rows in each table for this inventory
            -- Using dynamic counting to handle partitioned tables efficiently
            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'Folders', COUNT(*) FROM fsapp.Folders WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'SIDs', COUNT(*) FROM fsapp.SIDs WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'ACL', COUNT(*) FROM fsapp.ACL WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'ACE', COUNT(*) FROM fsapp.ACE WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'SMBShares', COUNT(*) FROM fsapp.SMBShares WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'SMBShareAccess', COUNT(*) FROM fsapp.SMBShareAccess WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'Disks', COUNT(*) FROM fsapp.Disks WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'Volumes', COUNT(*) FROM fsapp.Volumes WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'VolumeMounts', COUNT(*) FROM fsapp.VolumeMounts WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'VolumeExtents', COUNT(*) FROM fsapp.VolumeExtents WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'Partitions', COUNT(*) FROM fsapp.Partitions WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'EventLog', COUNT(*) FROM fsapp.EventLog WHERE InventoryID = @CurrentInventoryID;

            INSERT INTO #TableCounts (TableName, RowCnt)
            SELECT 'CollectionInfo', COUNT(*) FROM fsapp.CollectionInfo WHERE InventoryID = @CurrentInventoryID;

            -- Build tables JSON array
            SET @TablesJSON = (
                SELECT
                    TableName AS tableName,
                    RowCnt AS [rowCount]
                FROM #TableCounts
                ORDER BY RowCnt DESC
                FOR JSON PATH
            );

            -- Compute summary totals
            SELECT
                @TotalTables = COUNT(*),
                @TotalRows = ISNULL(SUM(RowCnt), 0)
            FROM #TableCounts;

            -- Build final JSON
            SET @JSONData = (
                SELECT
                    1 AS [version],
                    'TableRowCounts' AS [source],
                    JSON_QUERY(ISNULL(@TablesJSON, '[]')) AS tables,
                    JSON_QUERY('{"totalTables":' + CAST(@TotalTables AS VARCHAR(20)) +
                               ',"totalRows":' + CAST(@TotalRows AS VARCHAR(20)) + '}') AS summary
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            );

            -- Handle empty results
            IF @JSONData IS NULL
            BEGIN
                SET @JSONData = '{"version":1,"source":"TableRowCounts","tables":[],"summary":{"totalTables":0,"totalRows":0}}';
            END

            -- Delete existing stat if present
            DELETE FROM fsapp.Stats
            WHERE InventoryID = @CurrentInventoryID AND Usage = @Usage;

            -- Insert new stat
            INSERT INTO fsapp.Stats (InventoryID, Usage, JSONData, ComputedAt)
            VALUES (@CurrentInventoryID, @Usage, @JSONData, SYSUTCDATETIME());

            SET @ProcessedCount = @ProcessedCount + 1;
            PRINT '    Computed ' + @Usage + ' for ' + CAST(@CurrentInventoryID AS NVARCHAR(50)) +
                  ' (' + CAST(@TotalRows AS VARCHAR(20)) + ' total rows)';

        END TRY
        BEGIN CATCH
            SET @ErrorCount = @ErrorCount + 1;
            SET @Message = 'Error computing ' + @Usage + ' for ' + CAST(@CurrentInventoryID AS NVARCHAR(50)) +
                          ': ' + ERROR_MESSAGE();
            PRINT @Message;

            -- Log error to EventLog
            BEGIN TRY
                INSERT INTO fsapp.EventLog (InventoryID, [Timestamp], Severity, [Source], [Message])
                VALUES (@CurrentInventoryID, SYSUTCDATETIME(), 'ERROR', 'usp_ComputeStats_TableCounts', @Message);
            END TRY
            BEGIN CATCH
                -- Ignore logging errors
            END CATCH
        END CATCH

        FETCH NEXT FROM cur INTO @CurrentInventoryID;
    END

    CLOSE cur;
    DEALLOCATE cur;

    -- Log summary
    DECLARE @Duration INT = DATEDIFF(SECOND, @StartTime, SYSUTCDATETIME());
    SET @Message = 'Completed: ' + CAST(@ProcessedCount AS VARCHAR(10)) + ' inventory(s) processed, ' +
                   CAST(@ErrorCount AS VARCHAR(10)) + ' error(s) in ' + CAST(@Duration AS VARCHAR(10)) + ' second(s)';
    PRINT @Message;

    -- Log success to EventLog for single inventory
    IF @InventoryID IS NOT NULL AND @ProcessedCount > 0 AND @ErrorCount = 0
    BEGIN
        BEGIN TRY
            INSERT INTO fsapp.EventLog (InventoryID, [Timestamp], Severity, [Source], [Message])
            VALUES (@InventoryID, SYSUTCDATETIME(), 'INFO', 'usp_ComputeStats_TableCounts',
                    'Successfully computed TableCounts stats');
        END TRY
        BEGIN CATCH
            -- Ignore logging errors
        END CATCH
    END

    DROP TABLE #TableCounts;
    DROP TABLE #InventoriesToProcess;

    RETURN @ErrorCount;
END

GO
