USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_MigrateCollection]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_MigrateCollection]
    @InventoryID                UNIQUEIDENTIFIER = NULL,
    @CleanupImport              BIT = 1,
    @UsePartitionedCleanup      BIT = 0,    -- When 1, uses partition-aware fast deletion for cleanup
    @ErrorMessage               NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;    -- Auto-rollback on any error

    DECLARE @ReturnCode INT = 0;
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ErrorLine INT;
    DECLARE @StartTime DATETIMEOFFSET = SYSDATETIMEOFFSET();
    DECLARE @RowCount INT;
    DECLARE @TotalRows INT = 0;
    DECLARE @TableName NVARCHAR(100);
    DECLARE @StepMessage NVARCHAR(MAX);
    DECLARE @CleanupReturnCode INT;
    DECLARE @CleanupErrorMessage NVARCHAR(4000);

    -- Note: This procedure uses explicit COUNT(*) queries instead of @@ROWCOUNT
    -- to avoid SQL Server Error 4083 (connection resiliency issues)

    BEGIN TRY
        -- =========================================================================
        -- STEP 1: Detect or Validate InventoryID
        -- =========================================================================

        IF @InventoryID IS NULL
        BEGIN
            -- Auto-detect first available InventoryID from fssimport schema
            SELECT TOP 1 @InventoryID = [InventoryID]
            FROM [fssimport].[CollectionInfo]
            WHERE [InventoryID] NOT IN (
                SELECT [InventoryID]
                FROM [fsapp].[CollectionInfo]
            )
            ORDER BY [CollectionDateTime] ASC;

            IF @InventoryID IS NULL
            BEGIN
                SET @ErrorMessage = 'No unprocessed InventoryID found in import.CollectionInfo';
                PRINT @ErrorMessage;
                RETURN 3;
            END

            PRINT 'Auto-detected InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));
        END
        ELSE
        BEGIN
            -- Validate provided InventoryID exists in fssimport schema
            IF NOT EXISTS (
                SELECT 1
                FROM [fssimport].[CollectionInfo]
                WHERE [InventoryID] = @InventoryID
            )
            BEGIN
                SET @ErrorMessage = 'InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) + ' not found in import.CollectionInfo';
                PRINT @ErrorMessage;
                RETURN 1;
            END

            PRINT 'Using provided InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));
        END

        -- Check if already migrated
        IF EXISTS (
            SELECT 1
            FROM [fsapp].[CollectionInfo]
            WHERE [InventoryID] = @InventoryID
        )
        BEGIN
            SET @ErrorMessage = 'InventoryID ' + CAST(@InventoryID AS NVARCHAR(50)) + ' already exists in app.CollectionInfo (already migrated)';
            PRINT @ErrorMessage;

            -- Log as warning
            EXEC [dbo].[usp_LogMigrationEvent]
                @InventoryID = @InventoryID,
                @Severity = 'WARNING',
                @Source = 'usp_MigrateCollection',
                @Message = @ErrorMessage;

            RETURN 2;
        END

        -- =========================================================================
        -- STEP 2: Log Migration Start
        -- =========================================================================

        PRINT '';
        PRINT 'Starting migration for InventoryID: ' + CAST(@InventoryID AS NVARCHAR(50));
        IF @UsePartitionedCleanup = 1
            PRINT 'Cleanup mode: Partition-aware fast deletion';
        ELSE
            PRINT 'Cleanup mode: Standard row-by-row deletion';
        PRINT 'Start Time: ' + CONVERT(VARCHAR(30), @StartTime, 127);
        PRINT REPLICATE('-', 67);

        -- =========================================================================
        -- STEP 3: Begin Transaction - Migrate All Data
        -- =========================================================================

        BEGIN TRANSACTION MigrateCollection;

        -- -----------------------------------------------------------------------
        -- 3.1 Migrate CollectionInfo
        -- -----------------------------------------------------------------------
        SET @TableName = 'CollectionInfo';
        PRINT 'Migrating [' + @TableName + ']...';

        INSERT INTO [fsapp].[CollectionInfo] (
            [InventoryID], [ComputerName], [DomainName], [CollectionDateTime],
            [ApplicationVersion], [ApplicationBuild], [IsAdmin], [Who],
            [HardwareConcurrency], [ThreadCount], [StartTime], [EndTime],
            [TotalRuntime], [FoldersProcessed], [FoldersWithErrors],
            [PeakQueueSize], [MemoryUsageMB], [OutputPath], [ScanPath],
            [RemoteComputer], [ExplicitOnly]
        )
        SELECT
            [InventoryID], [ComputerName], [DomainName], [CollectionDateTime],
            [ApplicationVersion], [ApplicationBuild], [IsAdmin], [Who],
            [HardwareConcurrency], [ThreadCount], [StartTime], [EndTime],
            [TotalRuntime], [FoldersProcessed], [FoldersWithErrors],
            [PeakQueueSize], [MemoryUsageMB], [OutputPath], [ScanPath],
            [RemoteComputer], [ExplicitOnly]
        FROM [fssimport].[CollectionInfo]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[CollectionInfo] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.2 Migrate SIDs (with IDENTITY_INSERT to preserve IDs)
        --     v1.7.0: Added DomainSID and IsWellKnown columns
        -- -----------------------------------------------------------------------
        SET @TableName = 'SIDs';
        PRINT 'Migrating [' + @TableName + '] (with DomainSID/IsWellKnown calculation)...';

        SET IDENTITY_INSERT [fsapp].[SIDs] ON;

        -- Use CTE to compute SID string once, then derive both columns
        ;WITH SidStrings AS (
            SELECT
                [SidID],
                [InventoryID],
                [Sid],
                [AccountName],
                [AccountType],
                [Description],
                [IsResolved],
                [ResolutionSource],
                fsapp.fn_BinarySidToString([Sid]) AS SidString
            FROM [fssimport].[SIDs]
            WHERE [InventoryID] = @InventoryID
        )
        INSERT INTO [fsapp].[SIDs] (
            [SidID], [InventoryID], [Sid], [AccountName], [AccountType],
            [Description], [IsResolved], [ResolutionSource],
            [DomainSID], [IsWellKnown]
        )
        SELECT
            s.[SidID],
            s.[InventoryID],
            s.[Sid],
            s.[AccountName],
            s.[AccountType],
            s.[Description],
            s.[IsResolved],
            s.[ResolutionSource],
            -- DomainSID: NULL for well-known SIDs, otherwise extract domain component
            CASE
                WHEN fsapp.fn_IsWellKnownSid(s.SidString) = 1 THEN NULL
                ELSE fsapp.fn_GetSidDomainComponent(s.SidString)
            END,
            -- IsWellKnown: Flag well-known SIDs
            fsapp.fn_IsWellKnownSid(s.SidString)
        FROM SidStrings s;

        SET IDENTITY_INSERT [fsapp].[SIDs] OFF;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[SIDs] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.3 Migrate Disks
        -- -----------------------------------------------------------------------
        SET @TableName = 'Disks';
        PRINT 'Migrating [' + @TableName + ']...';

        INSERT INTO [fsapp].[Disks] (
            [InventoryID], [DiskID], [DeviceID], [Model], [InterfaceType],
            [Size], [PartitionStyle], [IsBoot], [IsSystem], [IsReadOnly], [Status]
        )
        SELECT
            [InventoryID], [DiskID], [DeviceID], [Model], [InterfaceType],
            [Size], [PartitionStyle], [IsBoot], [IsSystem], [IsReadOnly], [Status]
        FROM [fssimport].[Disks]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[Disks] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.3.5 Insert Volume 0 Placeholder (for orphaned/administrative shares)
        -- -----------------------------------------------------------------------
        -- Create a special placeholder volume with VolumeID=0 to satisfy FK constraints
        -- for SMBShares and Folders that reference non-existent volumes:
        --     - Administrative shares (IPC$, ADMIN$, C$) that never had a volume
        --     - Orphaned shares where the original folder/volume was deleted
        PRINT 'Inserting Volume 0 placeholder...';

        INSERT INTO [fsapp].[Volumes] (
            [InventoryID], [VolumeID], [DiskID], [Label], [FileSystem],
            [Size], [FreeSpace], [IsSystem], [IsReadOnly], [Status],
            [UniqueID], [AllocationUnitSize], [DriveType], [IsEncrypted],
            [IsCompressed], [ShadowCopyEnabled], [ShadowCopyStorageMax]
        )
        VALUES (
            @InventoryID, 0, NULL, 'Missing Volume or No Volume', NULL,
            0, 0, 0, 1, NULL,
            NULL, NULL, NULL, 0,
            0, 0, NULL
        );

        PRINT '    Created';

        -- -----------------------------------------------------------------------
        -- 3.4 Migrate Volumes
        -- -----------------------------------------------------------------------
        SET @TableName = 'Volumes';
        PRINT 'Migrating [' + @TableName + ']...';

        INSERT INTO [fsapp].[Volumes] (
            [InventoryID], [VolumeID], [DiskID], [Label], [FileSystem],
            [Size], [FreeSpace], [IsSystem], [IsReadOnly], [Status],
            [UniqueID], [AllocationUnitSize], [DriveType], [IsEncrypted],
            [IsCompressed], [ShadowCopyEnabled], [ShadowCopyStorageMax]
        )
        SELECT
            [InventoryID], [VolumeID], [DiskID], [Label], [FileSystem],
            [Size], [FreeSpace], [IsSystem], [IsReadOnly], [Status],
            [UniqueID], [AllocationUnitSize], [DriveType], [IsEncrypted],
            [IsCompressed], [ShadowCopyEnabled], [ShadowCopyStorageMax]
        FROM [fssimport].[Volumes]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[Volumes] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.5 Migrate VolumeMounts
        -- -----------------------------------------------------------------------
        SET @TableName = 'VolumeMounts';
        PRINT 'Migrating [' + @TableName + ']...';

        INSERT INTO [fsapp].[VolumeMounts] (
            [InventoryID], [VolumeID], [MountPoint]
        )
        SELECT
            [InventoryID], [VolumeID], [MountPoint]
        FROM [fssimport].[VolumeMounts]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[VolumeMounts] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.6 Migrate VolumeExtents
        -- -----------------------------------------------------------------------
        SET @TableName = 'VolumeExtents';
        PRINT 'Migrating [' + @TableName + ']...';

        INSERT INTO [fsapp].[VolumeExtents] (
            [InventoryID], [VolumeID], [DiskID], [ExtentIndex],
            [StartingOffset], [ExtentLength]
        )
        SELECT
            [InventoryID], [VolumeID], [DiskID], [ExtentIndex],
            [StartingOffset], [ExtentLength]
        FROM [fssimport].[VolumeExtents]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[VolumeExtents] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.7 Migrate Partitions
        -- -----------------------------------------------------------------------
        SET @TableName = 'Partitions';
        PRINT 'Migrating [' + @TableName + ']...';

        INSERT INTO [fsapp].[Partitions] (
            [InventoryID], [PartitionID], [DiskID], [PartitionIndex],
            [StartOffset], [LengthBytes], [PartitionType], [GPT_GUID],
            [MBR_Type], [VolID]
        )
        SELECT
            [InventoryID], [PartitionID], [DiskID], [PartitionIndex],
            [StartOffset], [LengthBytes], [PartitionType], [GPT_GUID],
            [MBR_Type], [VolID]
        FROM [fssimport].[Partitions]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[Partitions] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.8 Migrate Folders (potentially millions of rows)
        -- -----------------------------------------------------------------------
        SET @TableName = 'Folders';
        PRINT 'Migrating [' + @TableName + '] (this may take a while for large datasets)...';

        INSERT INTO [fsapp].[Folders] (
            [InventoryID], [LocalFolderID], [ParentFolderID], [Path],
            [VolumeID], [CreationTime], [LastWriteTime], [LastAccessTime],
            [Attributes]
        )
        SELECT
            [InventoryID], [LocalFolderID], [ParentFolderID], [Path],
            [VolumeID], [CreationTime], [LastWriteTime], [LastAccessTime],
            [Attributes]
        FROM [fssimport].[Folders]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[Folders] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.9 Migrate ACL
        -- -----------------------------------------------------------------------
        SET @TableName = 'ACL';
        PRINT 'Migrating [' + @TableName + ']...';

        INSERT INTO [fsapp].[ACL] (
            [InventoryID], [LocalACLID], [LocalFolderID], [Owner], [Group],
            [AreAccessRulesProtected], [AreAuditRulesProtected],
            [AreAccessRulesCanonical], [AreAuditRulesCanonical]
        )
        SELECT
            [InventoryID], [LocalACLID], [LocalFolderID], [Owner], [Group],
            [AreAccessRulesProtected], [AreAuditRulesProtected],
            [AreAccessRulesCanonical], [AreAuditRulesCanonical]
        FROM [fssimport].[ACL]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[ACL] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.10 Migrate ACE (potentially millions of rows)
        -- -----------------------------------------------------------------------
        SET @TableName = 'ACE';
        PRINT 'Migrating [' + @TableName + '] (this may take a while for large datasets)...';

        INSERT INTO [fsapp].[ACE] (
            [InventoryID], [LocalACEID], [LocalFolderID], [FileSystemRightsMask],
            [AccessControlType], [IdentitySID], [IsInherited], [InheritanceFlags],
            [PropagationFlags], [InheritedFromLocalID]
        )
        SELECT
            [InventoryID], [LocalACEID], [LocalFolderID], [FileSystemRightsMask],
            [AccessControlType], [IdentitySID], [IsInherited], [InheritanceFlags],
            [PropagationFlags], [InheritedFromLocalID]
        FROM [fssimport].[ACE]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[ACE] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.11 Migrate SMBShares
        -- Note: VolumeID=0 converted to NULL for special administrative shares
        -- (IPC$, ADMIN$, etc.) to prevent FK constraint violations
        -- -----------------------------------------------------------------------
        SET @TableName = 'SMBShares';
        PRINT 'Migrating [' + @TableName + ']...';

        INSERT INTO [fsapp].[SMBShares] (
            [InventoryID], [ShareID], [Name], [Path], [Description],
            [Type], [AllowMaximum], [MaximumAllowed], [IsHidden], [IsSpecial],
            [Status], [IsEncrypted], [IsContinuous], [ScopeName], [OwningNode],
            [FolderEnumerationMode], [CachingMode], [BranchCacheEnabled],
            [LeasingMode], [VolumeID], [CreatedDate], [ModifiedDate],
            [SecurityDescriptor], [CurrentUsers], [IsBranchCacheEnabled]
        )
        SELECT
            [InventoryID], [ShareID], [Name], [Path], [Description],
            [Type], [AllowMaximum], [MaximumAllowed], [IsHidden], [IsSpecial],
            [Status], [IsEncrypted], [IsContinuous], [ScopeName], [OwningNode],
            [FolderEnumerationMode], [CachingMode], [BranchCacheEnabled],
            [LeasingMode],
            [VolumeID],    -- Keep VolumeID=0; placeholder volume will exist
            [CreatedDate], [ModifiedDate],
            [SecurityDescriptor], [CurrentUsers], [IsBranchCacheEnabled]
        FROM [fssimport].[SMBShares]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[SMBShares] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.12 Migrate SMBShareAccess
        -- -----------------------------------------------------------------------
        SET @TableName = 'SMBShareAccess';
        PRINT 'Migrating [' + @TableName + ']...';

        INSERT INTO [fsapp].[SMBShareAccess] (
            [InventoryID], [ShareID], [AccessID], [Trustee],
            [AccessType], [AccessMask], [IsInherited]
        )
        SELECT
            [InventoryID], [ShareID], [AccessID], [Trustee],
            [AccessType], [AccessMask], [IsInherited]
        FROM [fssimport].[SMBShareAccess]
        WHERE [InventoryID] = @InventoryID;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[SMBShareAccess] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- -----------------------------------------------------------------------
        -- 3.13 Migrate EventLog (collection timing & access-denied info)
        -- Note: Offset EventIDs to avoid conflicts with migration log entries
        -- -----------------------------------------------------------------------
        SET @TableName = 'EventLog';
        PRINT 'Migrating [' + @TableName + ']...';

        -- Get current max EventID to offset source EventIDs (avoid PK conflicts)
        DECLARE @EventIDOffset INT;
        SELECT @EventIDOffset = ISNULL(MAX([EventID]), 0) FROM [fsapp].[EventLog];

        SET IDENTITY_INSERT [fsapp].[EventLog] ON;

        INSERT INTO [fsapp].[EventLog] (
            [EventID], [InventoryID], [Timestamp], [Severity], [Source],
            [Message], [Path], [ErrorCode], [ThreadID], [AdditionalData]
        )
        SELECT
            [EventID] + @EventIDOffset,    -- Offset to avoid conflicts
            [InventoryID], [Timestamp], [Severity], [Source],
            [Message], [Path], [ErrorCode], [ThreadID], [AdditionalData]
        FROM [fssimport].[EventLog]
        WHERE [InventoryID] = @InventoryID;

        SET IDENTITY_INSERT [fsapp].[EventLog] OFF;

        SELECT @RowCount = COUNT(*) FROM [fsapp].[EventLog] WHERE [InventoryID] = @InventoryID;
        SET @TotalRows = @TotalRows + @RowCount;
        PRINT '    Migrated ' + FORMAT(@RowCount, 'N0') + ' row(s)';

        -- =========================================================================
        -- STEP 4: Log Successful Migration
        -- =========================================================================

        DECLARE @EndTime DATETIMEOFFSET = SYSDATETIMEOFFSET();
        DECLARE @Duration INT = DATEDIFF(SECOND, @StartTime, @EndTime);

        SET @StepMessage = 'Migration completed: ' + FORMAT(@TotalRows, 'N0') + ' row(s) in ' +
                                      CAST(@Duration AS NVARCHAR(20)) + ' second(s)';

        PRINT REPLICATE('-', 67);
        PRINT @StepMessage;

        -- Log success to EventLog
        DECLARE @AdditionalDataSuccess NVARCHAR(MAX);
        SET @AdditionalDataSuccess = N'{"TotalRows": ' + CAST(@TotalRows AS NVARCHAR(20)) +
                                                  ', "DurationSeconds": ' + CAST(@Duration AS NVARCHAR(20)) + '}';

        EXEC [dbo].[usp_LogMigrationEvent]
            @InventoryID = @InventoryID,
            @Severity = 'SUCCESS',
            @Source = 'usp_MigrateCollection',
            @Message = @StepMessage,
            @AdditionalData = @AdditionalDataSuccess;

        -- =========================================================================
        -- STEP 5: Cleanup Import Schema (if requested)
        -- =========================================================================

        IF @CleanupImport = 1
        BEGIN
            PRINT '';
            PRINT 'Cleaning up fssimport schema...';

            IF @UsePartitionedCleanup = 1
            BEGIN
                -- Use partition-aware fast deletion
                PRINT 'Using partition-aware fast deletion...';

                EXEC @CleanupReturnCode = dbo.usp_Partition_DeleteCollection_Fast
                    @InventoryID = @InventoryID,
                    @Schema = 'fssimport',
                    @ErrorMessage = @CleanupErrorMessage OUTPUT;

                IF @CleanupReturnCode <> 0
                BEGIN
                    -- Log warning but don't fail - data is already migrated
                    PRINT 'Warning: Partition-aware cleanup returned code ' + CAST(@CleanupReturnCode AS NVARCHAR(10));
                    PRINT 'Error: ' + ISNULL(@CleanupErrorMessage, 'Unknown');
                    PRINT 'Falling back to standard deletion...';

                    -- Fall back to standard deletion
                    GOTO StandardCleanup;
                END
                ELSE
                BEGIN
                    PRINT '    Partition-aware cleanup completed';
                END
            END
            ELSE
            BEGIN
                StandardCleanup:
                -- Delete in reverse dependency order (standard row-by-row)
                DELETE FROM [fssimport].[EventLog] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.EventLog';

                DELETE FROM [fssimport].[SMBShareAccess] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.SMBShareAccess';

                DELETE FROM [fssimport].[SMBShares] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.SMBShares';

                DELETE FROM [fssimport].[ACE] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.ACE';

                DELETE FROM [fssimport].[ACL] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.ACL';

                DELETE FROM [fssimport].[Folders] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.Folders';

                DELETE FROM [fssimport].[Partitions] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.Partitions';

                DELETE FROM [fssimport].[VolumeExtents] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.VolumeExtents';

                DELETE FROM [fssimport].[VolumeMounts] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.VolumeMounts';

                DELETE FROM [fssimport].[Volumes] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.Volumes';

                DELETE FROM [fssimport].[Disks] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.Disks';

                DELETE FROM [fssimport].[SIDs] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.SIDs';

                DELETE FROM [fssimport].[CollectionInfo] WHERE [InventoryID] = @InventoryID;
                PRINT '    Deleted from import.CollectionInfo';
                PRINT '    Cleanup completed';
            END

            -- Log cleanup
            EXEC [dbo].[usp_LogMigrationEvent]
                @InventoryID = @InventoryID,
                @Severity = 'INFO',
                @Source = 'usp_MigrateCollection',
                @Message = 'Import schema cleanup completed';
        END
        ELSE
        BEGIN
            PRINT 'Skipping fssimport schema cleanup (CleanupImport = 0)';
        END

        -- Commit transaction
        COMMIT TRANSACTION MigrateCollection;

        SET @ErrorMessage = 'Migration completed successfully';
        PRINT '';
        PRINT REPLICATE('-', 67);
        PRINT 'End Time:   ' + CONVERT(VARCHAR(30), @EndTime, 127);
        PRINT 'Duration:   ' + CAST(@Duration AS NVARCHAR(20)) + ' second(s)';
        PRINT REPLICATE('-', 67);

    END TRY
    BEGIN CATCH
        -- Rollback transaction on error
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
            PRINT 'Transaction rolled back due to error';
        END

        -- Capture error details
        SET @ErrorNumber = ERROR_NUMBER();
        SET @ErrorSeverity = ERROR_SEVERITY();
        SET @ErrorState = ERROR_STATE();
        SET @ErrorLine = ERROR_LINE();

        -- Format error message
        SET @ErrorMessage =
            'Error ' + CAST(@ErrorNumber AS NVARCHAR(10)) +
            ' (Severity ' + CAST(@ErrorSeverity AS NVARCHAR(10)) +
            ', State ' + CAST(@ErrorState AS NVARCHAR(10)) + ')' +
            ' at Line ' + CAST(@ErrorLine AS NVARCHAR(10)) +
            ' while processing table [' + ISNULL(@TableName, 'Unknown') + ']: ' +
            ERROR_MESSAGE();

        SET @ReturnCode = @ErrorNumber;

        -- Print error for logging
        PRINT 'ERROR: ' + @ErrorMessage;

        -- Try to log error (may fail if EventLog table doesn't exist yet)
        BEGIN TRY
            IF @InventoryID IS NOT NULL
            BEGIN
                DECLARE @AdditionalDataError NVARCHAR(MAX);
                SET @AdditionalDataError = N'{"Table": "' + ISNULL(@TableName, 'Unknown') + '"}';

                EXEC [dbo].[usp_LogMigrationEvent]
                    @InventoryID = @InventoryID,
                    @Severity = 'ERROR',
                    @Source = 'usp_MigrateCollection',
                    @Message = @ErrorMessage,
                    @ErrorCode = @ErrorNumber,
                    @AdditionalData = @AdditionalDataError;
            END
        END TRY
        BEGIN CATCH
            -- If logging fails, continue (error already printed)
            PRINT 'Warning: Could not log error to EventLog';
        END CATCH
    END CATCH

    RETURN @ReturnCode;
END


GO
