USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_ValidateImportData]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_ValidateImportData]
    @InventoryID        UNIQUEIDENTIFIER = NULL,    -- Optional: filter by InventoryID (NULL = all)
    @StopOnFirstError   BIT = 0,                     -- Stop after first category with errors
    @VerboseOutput      BIT = 1,                     -- Print progress messages
    @MaxErrorsPerTable  INT = 100,                   -- Maximum errors to collect per table
    @HasErrors          BIT = NULL OUTPUT,           -- OUTPUT: 1 if any errors found
    @TotalErrorCount    INT = NULL OUTPUT            -- OUTPUT: total error count
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartTime DATETIME2(3) = SYSDATETIME();
    DECLARE @SIDErrors INT = 0;
    DECLARE @FolderErrors INT = 0;
    DECLARE @VolumeErrors INT = 0;
    DECLARE @SMBShareErrors INT = 0;
    DECLARE @ReturnCode INT = 0;

    SET @HasErrors = 0;
    SET @TotalErrorCount = 0;

    -- Create master error collection table
    IF OBJECT_ID('tempdb..##ValidationErrors') IS NOT NULL
        DROP TABLE ##ValidationErrors;

    CREATE TABLE ##ValidationErrors (
        ErrorID             INT IDENTITY(1,1) PRIMARY KEY,
        Category            NVARCHAR(50) NOT NULL,
        TableName           NVARCHAR(128) NOT NULL,
        ConstraintName      NVARCHAR(256) NOT NULL,
        InventoryID         UNIQUEIDENTIFIER NULL,
        PKValue             NVARCHAR(500) NULL,
        FKColumnName        NVARCHAR(128) NOT NULL,
        InvalidValue        NVARCHAR(100) NULL,
        SuggestedFix        NVARCHAR(500) NULL,
        DetectedAt          DATETIME2(3) DEFAULT SYSDATETIME()
    );

    IF @VerboseOutput = 1
    BEGIN
        PRINT '=============================================================================';
        PRINT '  PRE-MIGRATION DATA VALIDATION';
        PRINT '=============================================================================';
        PRINT '';
        PRINT 'Start Time:      ' + CONVERT(VARCHAR(30), @StartTime, 121);
        PRINT 'InventoryID:     ' + ISNULL(CAST(@InventoryID AS NVARCHAR(50)), '(All inventories)');
        PRINT 'Stop on Error:   ' + CASE WHEN @StopOnFirstError = 1 THEN 'Yes' ELSE 'No' END;
        PRINT '';
        PRINT '-----------------------------------------------------------------------------';
        PRINT '';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- STEP 1: Validate SID References
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT '>>> STEP 1/4: Validating SID References...';
    PRINT '';

    EXEC @ReturnCode = [dbo].[usp_Validate_SID_References]
        @InventoryID = @InventoryID,
        @MaxErrors = @MaxErrorsPerTable,
        @VerboseOutput = @VerboseOutput,
        @ErrorCount = @SIDErrors OUTPUT;

    -- Copy results to master table
    IF OBJECT_ID('tempdb..##SIDValidationErrors') IS NOT NULL
    BEGIN
        INSERT INTO ##ValidationErrors (Category, TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix)
        SELECT 'SID References', TableName, ConstraintName, InventoryID, PKValue, FKColumnName, CAST(InvalidSidID AS NVARCHAR(100)), SuggestedFix
        FROM ##SIDValidationErrors;
    END

    IF @SIDErrors > 0
    BEGIN
        SET @HasErrors = 1;
        IF @StopOnFirstError = 1
        BEGIN
            SET @TotalErrorCount = @SIDErrors;
            GOTO ValidationComplete;
        END
    END

    PRINT '';

    -- ═══════════════════════════════════════════════════════════════════════════
    -- STEP 2: Validate Folder References
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT '>>> STEP 2/4: Validating Folder References...';
    PRINT '';

    EXEC @ReturnCode = [dbo].[usp_Validate_Folder_References]
        @InventoryID = @InventoryID,
        @MaxErrors = @MaxErrorsPerTable,
        @VerboseOutput = @VerboseOutput,
        @ErrorCount = @FolderErrors OUTPUT;

    -- Copy results to master table
    IF OBJECT_ID('tempdb..##FolderValidationErrors') IS NOT NULL
    BEGIN
        INSERT INTO ##ValidationErrors (Category, TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix)
        SELECT 'Folder References', TableName, ConstraintName, InventoryID, PKValue, FKColumnName, CAST(InvalidFolderID AS NVARCHAR(100)), SuggestedFix
        FROM ##FolderValidationErrors;
    END

    IF @FolderErrors > 0
    BEGIN
        SET @HasErrors = 1;
        IF @StopOnFirstError = 1
        BEGIN
            SET @TotalErrorCount = @SIDErrors + @FolderErrors;
            GOTO ValidationComplete;
        END
    END

    PRINT '';

    -- ═══════════════════════════════════════════════════════════════════════════
    -- STEP 3: Validate Volume/Disk References
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT '>>> STEP 3/4: Validating Volume/Disk References...';
    PRINT '';

    EXEC @ReturnCode = [dbo].[usp_Validate_Volume_References]
        @InventoryID = @InventoryID,
        @MaxErrors = @MaxErrorsPerTable,
        @VerboseOutput = @VerboseOutput,
        @ErrorCount = @VolumeErrors OUTPUT;

    -- Copy results to master table
    IF OBJECT_ID('tempdb..##VolumeValidationErrors') IS NOT NULL
    BEGIN
        INSERT INTO ##ValidationErrors (Category, TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix)
        SELECT 'Volume/Disk References', TableName, ConstraintName, InventoryID, PKValue, FKColumnName, CAST(InvalidValue AS NVARCHAR(100)), SuggestedFix
        FROM ##VolumeValidationErrors;
    END

    IF @VolumeErrors > 0
    BEGIN
        SET @HasErrors = 1;
        IF @StopOnFirstError = 1
        BEGIN
            SET @TotalErrorCount = @SIDErrors + @FolderErrors + @VolumeErrors;
            GOTO ValidationComplete;
        END
    END

    PRINT '';

    -- ═══════════════════════════════════════════════════════════════════════════
    -- STEP 4: Validate SMB Share References
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT '>>> STEP 4/4: Validating SMB Share References...';
    PRINT '';

    EXEC @ReturnCode = [dbo].[usp_Validate_SMBShare_References]
        @InventoryID = @InventoryID,
        @MaxErrors = @MaxErrorsPerTable,
        @VerboseOutput = @VerboseOutput,
        @ErrorCount = @SMBShareErrors OUTPUT;

    -- Copy results to master table
    IF OBJECT_ID('tempdb..##SMBShareValidationErrors') IS NOT NULL
    BEGIN
        INSERT INTO ##ValidationErrors (Category, TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidValue, SuggestedFix)
        SELECT 'SMB Share References', TableName, ConstraintName, InventoryID, PKValue, FKColumnName, CAST(InvalidShareID AS NVARCHAR(100)), SuggestedFix
        FROM ##SMBShareValidationErrors;
    END

    IF @SMBShareErrors > 0
        SET @HasErrors = 1;

    -- Calculate total errors
    SET @TotalErrorCount = @SIDErrors + @FolderErrors + @VolumeErrors + @SMBShareErrors;

ValidationComplete:
    -- ═══════════════════════════════════════════════════════════════════════════
    -- Final Summary
    -- ═══════════════════════════════════════════════════════════════════════════
    DECLARE @EndTime DATETIME2(3) = SYSDATETIME();
    DECLARE @Duration INT = DATEDIFF(MILLISECOND, @StartTime, @EndTime);

    IF @VerboseOutput = 1
    BEGIN
        PRINT '';
        PRINT '=============================================================================';
        PRINT '  VALIDATION SUMMARY';
        PRINT '=============================================================================';
        PRINT '';
        PRINT 'Category                         Errors';
        PRINT '-------------------------------- ------';
        PRINT 'SID References                   ' + RIGHT(SPACE(6) + CAST(@SIDErrors AS VARCHAR(10)), 6);
        PRINT 'Folder References                ' + RIGHT(SPACE(6) + CAST(@FolderErrors AS VARCHAR(10)), 6);
        PRINT 'Volume/Disk References           ' + RIGHT(SPACE(6) + CAST(@VolumeErrors AS VARCHAR(10)), 6);
        PRINT 'SMB Share References             ' + RIGHT(SPACE(6) + CAST(@SMBShareErrors AS VARCHAR(10)), 6);
        PRINT '-------------------------------- ------';
        PRINT 'TOTAL ERRORS                     ' + RIGHT(SPACE(6) + CAST(@TotalErrorCount AS VARCHAR(10)), 6);
        PRINT '';
        PRINT 'End Time:        ' + CONVERT(VARCHAR(30), @EndTime, 121);
        PRINT 'Duration:        ' + CAST(@Duration AS VARCHAR(10)) + ' ms';
        PRINT '';

        IF @HasErrors = 1
        BEGIN
            PRINT '*** VALIDATION FAILED ***';
            PRINT '';
            PRINT 'Migration will fail due to foreign key violations.';
            PRINT 'Review errors and fix data before running usp_MigrateCollection.';
            PRINT '';
            PRINT 'To view all errors:';
            PRINT '  SELECT * FROM ##ValidationErrors ORDER BY Category, TableName;';
            PRINT '';
            PRINT 'To view errors by category:';
            PRINT '  SELECT Category, COUNT(*) AS ErrorCount';
            PRINT '  FROM ##ValidationErrors';
            PRINT '  GROUP BY Category ORDER BY COUNT(*) DESC;';
        END
        ELSE
        BEGIN
            PRINT '*** VALIDATION PASSED ***';
            PRINT '';
            PRINT 'All foreign key relationships are valid.';
            PRINT 'Safe to run usp_MigrateCollection.';
        END

        PRINT '';
        PRINT '=============================================================================';
    END

    -- Return summary result set if errors exist
    IF @HasErrors = 1
    BEGIN
        -- Return error summary by category
        SELECT
            Category,
            TableName,
            ConstraintName,
            COUNT(*) AS ErrorCount,
            MIN(InvalidValue) AS SampleInvalidValue,
            MIN(SuggestedFix) AS SuggestedFix
        FROM ##ValidationErrors
        GROUP BY Category, TableName, ConstraintName
        ORDER BY Category, ErrorCount DESC;
    END

    -- Return 0 = success, 1 = validation errors found
    RETURN CASE WHEN @HasErrors = 1 THEN 1 ELSE 0 END;
END
GO
