USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_Validate_SID_References]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Validate_SID_References]
    @InventoryID        UNIQUEIDENTIFIER = NULL,    -- Optional: filter by InventoryID
    @MaxErrors          INT = 1000,                  -- Maximum total errors to return
    @VerboseOutput      BIT = 1,                     -- Print progress messages
    @ErrorCount         INT = NULL OUTPUT            -- OUTPUT: total errors found
AS
BEGIN
    SET NOCOUNT ON;

    SET @ErrorCount = 0;

    DECLARE @ACLOwnerErrors INT = 0;
    DECLARE @ACLGroupErrors INT = 0;
    DECLARE @ACEIdentityErrors INT = 0;
    DECLARE @SMBTrusteeErrors INT = 0;

    -- Create temp table for results
    IF OBJECT_ID('tempdb..##SIDValidationErrors') IS NOT NULL
        DROP TABLE ##SIDValidationErrors;

    CREATE TABLE ##SIDValidationErrors (
        ErrorID             INT IDENTITY(1,1) PRIMARY KEY,
        TableName           NVARCHAR(128) NOT NULL,
        ConstraintName      NVARCHAR(256) NOT NULL,
        InventoryID         UNIQUEIDENTIFIER NOT NULL,
        PKValue             NVARCHAR(500) NOT NULL,
        FKColumnName        NVARCHAR(128) NOT NULL,
        InvalidSidID        INT NOT NULL,
        SuggestedFix        NVARCHAR(500) NULL
    );

    IF @VerboseOutput = 1
    BEGIN
        PRINT '=============================================================================';
        PRINT 'SID Reference Validation';
        PRINT '=============================================================================';
        PRINT 'InventoryID Filter: ' + ISNULL(CAST(@InventoryID AS NVARCHAR(50)), '(All)');
        PRINT '-----------------------------------------------------------------------------';
        PRINT '';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 1. Validate ACL.Owner -> SIDs.SidID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating ACL.Owner -> SIDs.SidID...';

    INSERT INTO ##SIDValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidSidID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 4)
        'fssimport.ACL',
        'FK_app_ACL_Owner',
        acl.InventoryID,
        CAST(acl.InventoryID AS NVARCHAR(50)) + ', ' + CAST(acl.LocalACLID AS NVARCHAR(20)),
        'Owner',
        acl.Owner,
        'Add SID with SidID=' + CAST(acl.Owner AS NVARCHAR(20)) + ' to fssimport.SIDs or set Owner to NULL'
    FROM [fssimport].[ACL] acl
    LEFT JOIN [fssimport].[SIDs] s ON acl.Owner = s.SidID
    WHERE acl.Owner IS NOT NULL
      AND s.SidID IS NULL
      AND (@InventoryID IS NULL OR acl.InventoryID = @InventoryID);

    SELECT @ACLOwnerErrors = COUNT(*) FROM ##SIDValidationErrors WHERE ConstraintName = 'FK_app_ACL_Owner';
    IF @VerboseOutput = 1
    BEGIN
        IF @ACLOwnerErrors > 0
            PRINT '  WARNING: ' + CAST(@ACLOwnerErrors AS NVARCHAR(10)) + ' invalid Owner reference(s)';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 2. Validate ACL.Group -> SIDs.SidID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating ACL.Group -> SIDs.SidID...';

    INSERT INTO ##SIDValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidSidID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 4)
        'fssimport.ACL',
        'FK_app_ACL_Group',
        acl.InventoryID,
        CAST(acl.InventoryID AS NVARCHAR(50)) + ', ' + CAST(acl.LocalACLID AS NVARCHAR(20)),
        'Group',
        acl.[Group],
        'Add SID with SidID=' + CAST(acl.[Group] AS NVARCHAR(20)) + ' to fssimport.SIDs or set Group to NULL'
    FROM [fssimport].[ACL] acl
    LEFT JOIN [fssimport].[SIDs] s ON acl.[Group] = s.SidID
    WHERE acl.[Group] IS NOT NULL
      AND s.SidID IS NULL
      AND (@InventoryID IS NULL OR acl.InventoryID = @InventoryID);

    SELECT @ACLGroupErrors = COUNT(*) FROM ##SIDValidationErrors WHERE ConstraintName = 'FK_app_ACL_Group';
    IF @VerboseOutput = 1
    BEGIN
        IF @ACLGroupErrors > 0
            PRINT '  WARNING: ' + CAST(@ACLGroupErrors AS NVARCHAR(10)) + ' invalid Group reference(s)';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 3. Validate ACE.IdentitySID -> SIDs.SidID (CRITICAL - largest table)
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating ACE.IdentitySID -> SIDs.SidID (may take time for large datasets)...';

    INSERT INTO ##SIDValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidSidID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 2)
        'fssimport.ACE',
        'FK_app_ACE_SIDs',
        ace.InventoryID,
        CAST(ace.InventoryID AS NVARCHAR(50)) + ', ' + CAST(ace.LocalACEID AS NVARCHAR(20)),
        'IdentitySID',
        ace.IdentitySID,
        'Add SID with SidID=' + CAST(ace.IdentitySID AS NVARCHAR(20)) + ' to fssimport.SIDs'
    FROM [fssimport].[ACE] ace
    LEFT JOIN [fssimport].[SIDs] s ON ace.IdentitySID = s.SidID
    WHERE s.SidID IS NULL
      AND (@InventoryID IS NULL OR ace.InventoryID = @InventoryID);

    SELECT @ACEIdentityErrors = COUNT(*) FROM ##SIDValidationErrors WHERE ConstraintName = 'FK_app_ACE_SIDs';
    IF @VerboseOutput = 1
    BEGIN
        IF @ACEIdentityErrors > 0
            PRINT '  WARNING: ' + CAST(@ACEIdentityErrors AS NVARCHAR(10)) + ' invalid IdentitySID reference(s)';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- 4. Validate SMBShareAccess.Trustee -> SIDs.SidID
    -- ═══════════════════════════════════════════════════════════════════════════
    IF @VerboseOutput = 1 PRINT 'Validating SMBShareAccess.Trustee -> SIDs.SidID...';

    INSERT INTO ##SIDValidationErrors (
        TableName, ConstraintName, InventoryID, PKValue, FKColumnName, InvalidSidID, SuggestedFix
    )
    SELECT TOP (@MaxErrors / 4)
        'fssimport.SMBShareAccess',
        'FK_app_SMBShareAccess_SIDs',
        smb.InventoryID,
        CAST(smb.InventoryID AS NVARCHAR(50)) + ', ' + CAST(smb.ShareID AS NVARCHAR(20)) + ', ' + CAST(smb.AccessID AS NVARCHAR(20)),
        'Trustee',
        smb.Trustee,
        'Add SID with SidID=' + CAST(smb.Trustee AS NVARCHAR(20)) + ' to fssimport.SIDs'
    FROM [fssimport].[SMBShareAccess] smb
    LEFT JOIN [fssimport].[SIDs] s ON smb.Trustee = s.SidID
    WHERE s.SidID IS NULL
      AND (@InventoryID IS NULL OR smb.InventoryID = @InventoryID);

    SELECT @SMBTrusteeErrors = COUNT(*) FROM ##SIDValidationErrors WHERE ConstraintName = 'FK_app_SMBShareAccess_SIDs';
    IF @VerboseOutput = 1
    BEGIN
        IF @SMBTrusteeErrors > 0
            PRINT '  WARNING: ' + CAST(@SMBTrusteeErrors AS NVARCHAR(10)) + ' invalid Trustee reference(s)';
        ELSE
            PRINT '  OK';
    END

    -- ═══════════════════════════════════════════════════════════════════════════
    -- Summary
    -- ═══════════════════════════════════════════════════════════════════════════
    SET @ErrorCount = @ACLOwnerErrors + @ACLGroupErrors + @ACEIdentityErrors + @SMBTrusteeErrors;

    IF @VerboseOutput = 1
    BEGIN
        PRINT '';
        PRINT '=============================================================================';
        PRINT 'SID Validation Summary';
        PRINT '=============================================================================';
        PRINT 'ACL.Owner errors:             ' + CAST(@ACLOwnerErrors AS NVARCHAR(10));
        PRINT 'ACL.Group errors:             ' + CAST(@ACLGroupErrors AS NVARCHAR(10));
        PRINT 'ACE.IdentitySID errors:       ' + CAST(@ACEIdentityErrors AS NVARCHAR(10));
        PRINT 'SMBShareAccess.Trustee errors:' + CAST(@SMBTrusteeErrors AS NVARCHAR(10));
        PRINT '-----------------------------------------------------------------------------';
        PRINT 'TOTAL SID REFERENCE ERRORS:   ' + CAST(@ErrorCount AS NVARCHAR(10));
        IF @ErrorCount > 0
        BEGIN
            PRINT '';
            PRINT 'Query ##SIDValidationErrors for details:';
            PRINT '  SELECT * FROM ##SIDValidationErrors ORDER BY TableName, InvalidSidID;';
        END
        PRINT '=============================================================================';
    END

    -- Return results
    IF @ErrorCount > 0
    BEGIN
        SELECT
            TableName,
            ConstraintName,
            InventoryID,
            PKValue AS PrimaryKeyValue,
            FKColumnName,
            InvalidSidID,
            SuggestedFix
        FROM ##SIDValidationErrors
        ORDER BY TableName, InvalidSidID;
    END

    RETURN @ErrorCount;
END
GO
