USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_ADData_DeleteCollection]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ADData_DeleteCollection]
    @CollectionID       UNIQUEIDENTIFIER,
    @ErrorMessage       NVARCHAR(4000) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @ReturnCode INT = 0;
    DECLARE @StartTime DATETIME2 = SYSUTCDATETIME();
    DECLARE @TotalDeleted BIGINT = 0;
    DECLARE @RowCount BIGINT;

    BEGIN TRY
        -- Verify collection exists
        IF NOT EXISTS (
            SELECT 1
            FROM [ADData].[CollectionInfo]
            WHERE [CollectionID] = @CollectionID
        )
        BEGIN
            SET @ErrorMessage = 'CollectionID ' + CAST(@CollectionID AS NVARCHAR(50)) + ' not found in ADData.CollectionInfo';
            RETURN 1;
        END

        BEGIN TRANSACTION;

        -- Delete from dependent tables in reverse dependency order (child tables first)
        -- This ensures referential integrity is maintained

        -- 1. Execution Time and Logs
        DELETE FROM [ADData].[AD_ExecutionTime] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        DELETE FROM [ADData].[AD_Log] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 2. Flattened Group Memberships
        DELETE FROM [ADData].[AD_GroupMember_Flat] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 3. Flatten Stats (from migration 015)
        IF EXISTS (SELECT 1 FROM sys.tables t JOIN sys.schemas s ON t.schema_id = s.schema_id
                   WHERE s.name = 'ADData' AND t.name = 'AD_FlattenStats')
        BEGIN
            DELETE FROM [ADData].[AD_FlattenStats] WHERE [CollectionID] = @CollectionID;
            SET @RowCount = @@ROWCOUNT;
            SET @TotalDeleted = @TotalDeleted + @RowCount;
        END

        -- 4. Group Memberships
        DELETE FROM [ADData].[AD_GroupMembership] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 5. Foreign Security Principals
        DELETE FROM [ADData].[AD_ForeignSecurityPrincipal] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 6. Trusts
        DELETE FROM [ADData].[AD_Trust] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 7. Site-related tables (child to parent)
        DELETE FROM [ADData].[AD_SiteSubnet] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        DELETE FROM [ADData].[AD_SiteLinkSite] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        DELETE FROM [ADData].[AD_SiteServer] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        DELETE FROM [ADData].[AD_SiteSettings] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        DELETE FROM [ADData].[AD_Subnet] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        DELETE FROM [ADData].[AD_SiteLink] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        DELETE FROM [ADData].[AD_Site] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 8. Optional Features
        DELETE FROM [ADData].[AD_OptionalFeature] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 9. Domain Controllers
        DELETE FROM [ADData].[AD_DomainController] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 10. Domain and Forest
        DELETE FROM [ADData].[AD_Domain] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        DELETE FROM [ADData].[AD_Forest] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 11. AD Objects (largest table, delete last among data tables)
        DELETE FROM [ADData].[AD_Object] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        -- 12. Collection Stats (from migration 015)
        IF EXISTS (SELECT 1 FROM sys.tables t JOIN sys.schemas s ON t.schema_id = s.schema_id
                   WHERE s.name = 'ADData' AND t.name = 'CollectionStats')
        BEGIN
            DELETE FROM [ADData].[CollectionStats] WHERE [CollectionID] = @CollectionID;
            SET @RowCount = @@ROWCOUNT;
            SET @TotalDeleted = @TotalDeleted + @RowCount;
        END

        -- 13. Collection Info (parent table, delete last)
        DELETE FROM [ADData].[CollectionInfo] WHERE [CollectionID] = @CollectionID;
        SET @RowCount = @@ROWCOUNT;
        SET @TotalDeleted = @TotalDeleted + @RowCount;

        COMMIT TRANSACTION;

        -- Log completion
        DECLARE @DurationMs INT = DATEDIFF(MILLISECOND, @StartTime, SYSUTCDATETIME());
        PRINT 'Deleted CollectionID ' + CAST(@CollectionID AS NVARCHAR(50)) +
              ': ' + CAST(@TotalDeleted AS NVARCHAR(20)) + ' rows in ' +
              CAST(@DurationMs AS NVARCHAR(20)) + ' ms';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @ErrorMessage = ERROR_MESSAGE();
        SET @ReturnCode = ERROR_NUMBER();
        PRINT 'Error deleting CollectionID ' + CAST(@CollectionID AS NVARCHAR(50)) + ': ' + @ErrorMessage;
    END CATCH

    RETURN @ReturnCode;
END

GO
