USE [NTFSPerms]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetExplicitACEIdentities]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetExplicitACEIdentities]
    @InventoryID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate the inventory exists
    IF NOT EXISTS (SELECT 1 FROM fsapp.CollectionInfo WHERE InventoryID = @InventoryID)
    BEGIN
        RAISERROR('No inventory found with the specified InventoryID.', 16, 1);
        RETURN;
    END;

    -- Get the computer's domain CollectionID for cross-reference
    DECLARE @ComputerDomainCollectionID UNIQUEIDENTIFIER;
    SELECT @ComputerDomainCollectionID = ad.CollectionID
    FROM [fsapp].[CollectionInfo] ci
    INNER JOIN [ADData].[AD_Domain] ad ON ci.DomainName = ad.NetBIOSName
    WHERE ci.InventoryID = @InventoryID;

    -- ====================================================================
    -- Main Query: Aggregate explicit ACE identities with AD lookup
    -- ====================================================================
    ;WITH ExplicitACECounts AS (
        -- Get distinct SIDs from explicit ACEs with their counts
        SELECT
            s.Sid,
            fsapp.fn_BinarySidToString(s.Sid) AS SID_String,
            s.AccountName,
            COUNT(*) AS InstanceCount
        FROM fsapp.ACE ace
        INNER JOIN fsapp.SIDs s
            ON ace.InventoryID = s.InventoryID
            AND ace.IdentitySID = s.SidID
        WHERE ace.InventoryID = @InventoryID
            AND ace.IsInherited = 0  -- Explicit permissions only
        GROUP BY
            s.Sid,
            fsapp.fn_BinarySidToString(s.Sid),
            s.AccountName
    )
    SELECT
        eac.SID_String,
        eac.AccountName,
        ao.DomainName AS [Domain],
        ao.ObjectTypeName,
        eac.InstanceCount,
        CAST(CASE WHEN ao.SID_String IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS Resolvable
    FROM ExplicitACECounts eac
    -- Use OUTER APPLY to find the best matching AD object
    -- Prefer non-FSP entries, then prefer the computer's domain collection
    OUTER APPLY (
        SELECT TOP 1
            v.SID_String,
            v.DomainName,
            v.ObjectTypeName
        FROM ADData.v_AD_Object v
        WHERE v.SID_String = eac.SID_String
        ORDER BY
            v.IsForeignSecurityPrincipal ASC,  -- Prefer non-FSP entries
            CASE WHEN v.CollectionID = @ComputerDomainCollectionID THEN 0 ELSE 1 END  -- Prefer computer's domain
    ) ao
    ORDER BY
        Resolvable ASC,    -- Show unresolvable (orphaned) first
        eac.AccountName;

END;

GO
