USE [NTFSPerms]
GO
/****** Object:  Table [DML].[DomainMasterList]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DML].[DomainMasterList](
	[DomainID] [int] IDENTITY(1,1) NOT NULL,
	[DomainName] [nvarchar](255) NOT NULL,
	[NetBIOSName] [nvarchar](50) NULL,
	[BusinessUnit] [nvarchar](100) NULL,
	[DSResponsibilityLevelID] [int] NULL,
	[IsThirdPartyManaged] [bit] NOT NULL,
	[IsDecommissioned] [bit] NOT NULL,
	[Trust_ADMgmt_TriStateID] [tinyint] NOT NULL,
	[Trust_SSCViolet_TriStateID] [tinyint] NOT NULL,
	[Trust_SSNC_Corp_TriStateID] [tinyint] NOT NULL,
	[IsPatchHold] [bit] NOT NULL,
	[HasHealthCheck] [bit] NOT NULL,
	[HasNetwrixAuditor] [bit] NOT NULL,
	[IsSafeguardReady] [bit] NOT NULL,
	[IsCloudIntegrated] [tinyint] NOT NULL,
	[BaselineStatusID] [tinyint] NOT NULL,
	[IsClientFacing] [bit] NOT NULL,
	[POC] [nvarchar](255) NULL,
	[Purpose] [nvarchar](500) NULL,
	[Roadmap] [nvarchar](500) NULL,
	[ManagementServer] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[LastInventoryDate] [datetime2](7) NULL,
	[xldapURL] [nvarchar](255) NULL,
	[IsSPLA] [bit] NOT NULL,
	[IsRegulated] [bit] NOT NULL,
	[MSPCustomer] [bit] NOT NULL,
 CONSTRAINT [PK_DomainMasterList] PRIMARY KEY CLUSTERED 
(
	[DomainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DomainMasterList_DomainName] UNIQUE NONCLUSTERED 
(
	[DomainName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((0)) FOR [IsThirdPartyManaged]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((0)) FOR [IsDecommissioned]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((2)) FOR [Trust_ADMgmt_TriStateID]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((2)) FOR [Trust_SSCViolet_TriStateID]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((2)) FOR [Trust_SSNC_Corp_TriStateID]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((0)) FOR [IsPatchHold]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((0)) FOR [HasHealthCheck]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((0)) FOR [HasNetwrixAuditor]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((0)) FOR [IsSafeguardReady]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  CONSTRAINT [DF_DomainMasterList_IsCloudIntegrated]  DEFAULT ((2)) FOR [IsCloudIntegrated]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((2)) FOR [BaselineStatusID]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT ((0)) FOR [IsClientFacing]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  CONSTRAINT [DF_DomainMasterList_IsSPLA]  DEFAULT ((0)) FOR [IsSPLA]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  CONSTRAINT [DF_DomainMasterList_IsRegulated]  DEFAULT ((0)) FOR [IsRegulated]
GO
ALTER TABLE [DML].[DomainMasterList] ADD  CONSTRAINT [DF_DomainMasterList_MSPCustomer]  DEFAULT ((0)) FOR [MSPCustomer]
GO
ALTER TABLE [DML].[DomainMasterList]  WITH CHECK ADD  CONSTRAINT [FK_DomainMasterList_BaselineStatus] FOREIGN KEY([BaselineStatusID])
REFERENCES [DML].[BaselineStatus] ([BaselineStatusID])
GO
ALTER TABLE [DML].[DomainMasterList] CHECK CONSTRAINT [FK_DomainMasterList_BaselineStatus]
GO
ALTER TABLE [DML].[DomainMasterList]  WITH CHECK ADD  CONSTRAINT [FK_DomainMasterList_DSResponsibilityLevel] FOREIGN KEY([DSResponsibilityLevelID])
REFERENCES [DML].[DSResponsibilityLevel] ([DSResponsibilityLevelID])
GO
ALTER TABLE [DML].[DomainMasterList] CHECK CONSTRAINT [FK_DomainMasterList_DSResponsibilityLevel]
GO
ALTER TABLE [DML].[DomainMasterList]  WITH CHECK ADD  CONSTRAINT [FK_DomainMasterList_IsCloudIntegrated] FOREIGN KEY([IsCloudIntegrated])
REFERENCES [DML].[TriState] ([TriStateID])
GO
ALTER TABLE [DML].[DomainMasterList] CHECK CONSTRAINT [FK_DomainMasterList_IsCloudIntegrated]
GO
ALTER TABLE [DML].[DomainMasterList]  WITH CHECK ADD  CONSTRAINT [FK_DomainMasterList_Trust_ADMgmt] FOREIGN KEY([Trust_ADMgmt_TriStateID])
REFERENCES [DML].[TriState] ([TriStateID])
GO
ALTER TABLE [DML].[DomainMasterList] CHECK CONSTRAINT [FK_DomainMasterList_Trust_ADMgmt]
GO
ALTER TABLE [DML].[DomainMasterList]  WITH CHECK ADD  CONSTRAINT [FK_DomainMasterList_Trust_SSCViolet] FOREIGN KEY([Trust_SSCViolet_TriStateID])
REFERENCES [DML].[TriState] ([TriStateID])
GO
ALTER TABLE [DML].[DomainMasterList] CHECK CONSTRAINT [FK_DomainMasterList_Trust_SSCViolet]
GO
ALTER TABLE [DML].[DomainMasterList]  WITH CHECK ADD  CONSTRAINT [FK_DomainMasterList_Trust_SSNC_Corp] FOREIGN KEY([Trust_SSNC_Corp_TriStateID])
REFERENCES [DML].[TriState] ([TriStateID])
GO
ALTER TABLE [DML].[DomainMasterList] CHECK CONSTRAINT [FK_DomainMasterList_Trust_SSNC_Corp]
GO
