USE [NTFSPerms]
GO
/****** Object:  Table [DML].[DomainNotes]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DML].[DomainNotes](
	[DomainNoteID] [int] IDENTITY(1,1) NOT NULL,
	[DomainID] [int] NOT NULL,
	[NoteText] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[NoteSubject] [nvarchar](50) NOT NULL,
	[IsSystem] [bit] NOT NULL,
 CONSTRAINT [PK_DomainNotes] PRIMARY KEY CLUSTERED 
(
	[DomainNoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_DomainNotes_IsSystem]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_DomainNotes_IsSystem] ON [DML].[DomainNotes]
(
	[IsSystem] ASC,
	[DomainID] ASC
)
INCLUDE([NoteSubject],[CreatedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [DML].[DomainNotes] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [DML].[DomainNotes] ADD  CONSTRAINT [DF_DomainNotes_NoteSubject]  DEFAULT ('General') FOR [NoteSubject]
GO
ALTER TABLE [DML].[DomainNotes] ADD  CONSTRAINT [DF_DomainNotes_IsSystem]  DEFAULT ((0)) FOR [IsSystem]
GO
ALTER TABLE [DML].[DomainNotes]  WITH CHECK ADD  CONSTRAINT [FK_DomainNotes_DomainMasterList] FOREIGN KEY([DomainID])
REFERENCES [DML].[DomainMasterList] ([DomainID])
ON DELETE CASCADE
GO
ALTER TABLE [DML].[DomainNotes] CHECK CONSTRAINT [FK_DomainNotes_DomainMasterList]
GO
