USE [NTFSPerms]
GO
/****** Object:  View [DML].[vw_DomainMasterList]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE VIEW [DML].[vw_DomainMasterList]
        AS
        SELECT
            d.DomainID,
            d.DomainName,
            d.NetBIOSName,
            d.BusinessUnit,
            r.LevelName                     AS DSResponsibilityLevel,
            t1.StateName                    AS Trust_ADMgmt,
            t2.StateName                    AS Trust_SSCViolet,
            t3.StateName                    AS Trust_SSNC_Corp,
            t4.StateName                    AS IsCloudIntegratedState,
            b.StatusName                    AS BaselineStatus,
            d.IsClientFacing,
            d.IsDecommissioned,
            d.CreatedAt
        FROM [DML].[DomainMasterList] d
        LEFT JOIN [DML].[DSResponsibilityLevel] r ON d.DSResponsibilityLevelID = r.DSResponsibilityLevelID
        LEFT JOIN [DML].[TriState] t1 ON d.Trust_ADMgmt_TriStateID = t1.TriStateID
        LEFT JOIN [DML].[TriState] t2 ON d.Trust_SSCViolet_TriStateID = t2.TriStateID
        LEFT JOIN [DML].[TriState] t3 ON d.Trust_SSNC_Corp_TriStateID = t3.TriStateID
        LEFT JOIN [DML].[TriState] t4 ON d.IsCloudIntegrated = t4.TriStateID
        LEFT JOIN [DML].[BaselineStatus] b ON d.BaselineStatusID = b.BaselineStatusID;
        
GO
