USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[vw_ACL]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE   VIEW [fsapp].[vw_ACL] AS
        SELECT
            acl.[InventoryID],
            acl.[LocalACLID],
            f.[Path],
            s1.[AccountName] AS OwnerName,
            s1.[Sid] AS OwnerSID,
            s2.[AccountName] AS GroupName,
            s2.[Sid] AS GroupSID,
            acl.[AreAccessRulesProtected],
            acl.[AreAuditRulesProtected],
            acl.[AreAccessRulesCanonical],
            acl.[AreAuditRulesCanonical]
        FROM [fsapp].[ACL] AS acl
        LEFT JOIN [fsapp].[Folders] AS f
            ON acl.[LocalFolderID] = f.[LocalFolderID]
           AND acl.[InventoryID] = f.[InventoryID]
        LEFT JOIN [fsapp].[SIDs] AS s1
            ON acl.[Owner] = s1.[SidID]
           AND acl.[InventoryID] = s1.[InventoryID]
        LEFT JOIN [fsapp].[SIDs] AS s2
            ON acl.[Group] = s2.[SidID]
           AND acl.[InventoryID] = s2.[InventoryID];
        
GO
