USE [NTFSPerms]
GO
/****** Object:  Table [fsapp].[Partitions]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fsapp].[Partitions](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[PartitionID] [int] NOT NULL,
	[DiskID] [int] NOT NULL,
	[PartitionIndex] [int] NOT NULL,
	[StartOffset] [bigint] NOT NULL,
	[LengthBytes] [bigint] NOT NULL,
	[PartitionType] [nvarchar](50) NULL,
	[GPT_GUID] [uniqueidentifier] NULL,
	[MBR_Type] [int] NULL,
	[VolID] [int] NULL,
 CONSTRAINT [PK_app_Partitions] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[PartitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fsapp].[Partitions]  WITH CHECK ADD  CONSTRAINT [FK_app_Partitions_Disks] FOREIGN KEY([InventoryID], [DiskID])
REFERENCES [fsapp].[Disks] ([InventoryID], [DiskID])
ON DELETE CASCADE
GO
ALTER TABLE [fsapp].[Partitions] CHECK CONSTRAINT [FK_app_Partitions_Disks]
GO
ALTER TABLE [fsapp].[Partitions]  WITH CHECK ADD  CONSTRAINT [CHK_app_Partitions_LengthBytes] CHECK  (([LengthBytes]>(0)))
GO
ALTER TABLE [fsapp].[Partitions] CHECK CONSTRAINT [CHK_app_Partitions_LengthBytes]
GO
ALTER TABLE [fsapp].[Partitions]  WITH CHECK ADD  CONSTRAINT [CHK_app_Partitions_StartOffset] CHECK  (([StartOffset]>=(0)))
GO
ALTER TABLE [fsapp].[Partitions] CHECK CONSTRAINT [CHK_app_Partitions_StartOffset]
GO
