USE [NTFSPerms]
GO
/****** Object:  Table [fsapp].[SIDs]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fsapp].[SIDs](
	[SidID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryID] [uniqueidentifier] NOT NULL,
	[Sid] [varbinary](85) NOT NULL,
	[AccountName] [nvarchar](256) NULL,
	[AccountType] [varchar](10) NULL,
	[Description] [nvarchar](500) NULL,
	[IsResolved] [bit] NOT NULL,
	[ResolutionSource] [varchar](20) NULL,
	[DomainSID] [nvarchar](200) NULL,
	[IsWellKnown] [bit] NULL,
 CONSTRAINT [PK_app_SIDs] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[SidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SIDs_DomainSID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_SIDs_DomainSID] ON [fsapp].[SIDs]
(
	[InventoryID] ASC,
	[DomainSID] ASC
)
INCLUDE([AccountName],[IsWellKnown]) 
WHERE ([DomainSID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fsapp].[SIDs] ADD  DEFAULT ((0)) FOR [IsResolved]
GO
ALTER TABLE [fsapp].[SIDs]  WITH CHECK ADD  CONSTRAINT [CHK_app_SIDs_AccountType] CHECK  (([AccountType] IS NULL OR ([AccountType]='Other' OR [AccountType]='Group' OR [AccountType]='User')))
GO
ALTER TABLE [fsapp].[SIDs] CHECK CONSTRAINT [CHK_app_SIDs_AccountType]
GO
ALTER TABLE [fsapp].[SIDs]  WITH CHECK ADD  CONSTRAINT [CHK_app_SIDs_ResolutionSource] CHECK  (([ResolutionSource] IS NULL OR ([ResolutionSource]='Failed' OR [ResolutionSource]='WellKnown' OR [ResolutionSource]='Domain' OR [ResolutionSource]='Local')))
GO
ALTER TABLE [fsapp].[SIDs] CHECK CONSTRAINT [CHK_app_SIDs_ResolutionSource]
GO
