USE [NTFSPerms]
GO
/****** Object:  Table [fsapp].[SMBShares]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fsapp].[SMBShares](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[ShareID] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Path] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Type] [nvarchar](50) NOT NULL,
	[AllowMaximum] [bit] NOT NULL,
	[MaximumAllowed] [int] NULL,
	[IsHidden] [bit] NOT NULL,
	[IsSpecial] [bit] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsEncrypted] [bit] NULL,
	[IsContinuous] [bit] NULL,
	[ScopeName] [nvarchar](256) NULL,
	[OwningNode] [nvarchar](256) NULL,
	[FolderEnumerationMode] [nvarchar](50) NULL,
	[CachingMode] [nvarchar](50) NULL,
	[BranchCacheEnabled] [bit] NULL,
	[LeasingMode] [nvarchar](50) NULL,
	[VolumeID] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[SecurityDescriptor] [nvarchar](max) NULL,
	[CurrentUsers] [int] NULL,
	[IsBranchCacheEnabled] [bit] NULL,
 CONSTRAINT [PK_app_SMBShares] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[ShareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fsapp].[SMBShares]  WITH CHECK ADD  CONSTRAINT [CHK_app_SMBShares_MaximumAllowed] CHECK  (([MaximumAllowed] IS NULL OR [MaximumAllowed]>(0)))
GO
ALTER TABLE [fsapp].[SMBShares] CHECK CONSTRAINT [CHK_app_SMBShares_MaximumAllowed]
GO
