USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[vw_ACE]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




        CREATE   VIEW [fsapp].[vw_ACE] AS
        SELECT
            ace.[InventoryID],
            ace.[LocalACEID],
            f.[LocalFolderID],
            f.[Path] AS FolderPath,
            CASE
                WHEN ace.[InheritedFromLocalID] = 0 THEN 'Self'
                ELSE f2.[Path]
            END AS InheritedFromPath,
			COALESCE(
				(
					-- Try exact match in canonical PowerShell rights
					SELECT TOP (1) cfsr.PowerShellName
					FROM [fslkp].[CanonicalFileSystemRights] AS cfsr
					WHERE ace.FileSystemRightsMask = cfsr.MaskValue
					ORDER BY cfsr.DisplayOrder
				),
				(
					-- Fallback to atomic rights list (what you already had)
					SELECT STRING_AGG(fsr.Permission, ', ') 
						   WITHIN GROUP (ORDER BY fsr.MaskValue)
					FROM [fslkp].[FileSystemRights] AS fsr
					WHERE (ace.FileSystemRightsMask & fsr.MaskValue) = fsr.MaskValue
				),
				'Custom'
			) AS FileSystemRights,
            ace.[AccessControlType],
            at.[TypeName] AS Access,
            ace.[IdentitySID],
            sids.[Sid],
			sids.DomainSID,
			sids.[IsWellKnown],
            sids.[AccountName],
            [fsapp].[fn_BinarySidToString](sids.[Sid]) as [SIDString],
            ace.[IsInherited],
            CASE ace.[InheritanceFlags]
                WHEN 0 THEN 'None'
                WHEN 1 THEN 'ObjectInherit'
                WHEN 2 THEN 'ContainerInherit'
                WHEN 3 THEN 'ObjectInherit, ContainerInherit'
                ELSE CAST(ace.[InheritanceFlags] AS NVARCHAR(10))
            END AS InheritanceFlags,
            pf.[Description] AS PropagationFlags,
            ace.[InheritedFromLocalID]
        FROM [fsapp].[ACE] AS ace
        LEFT JOIN [fsapp].[Folders] AS f
            ON ace.[LocalFolderID] = f.[LocalFolderID]
           AND ace.[InventoryID] = f.[InventoryID]
        LEFT JOIN [fsapp].[Folders] AS f2
            ON ace.[InheritedFromLocalID] = f2.[LocalFolderID]
           AND ace.[InventoryID] = f2.[InventoryID]
        LEFT JOIN [fsapp].[SIDs] AS sids
            ON ace.[IdentitySID] = sids.[SidID]
           AND ace.[InventoryID] = sids.[InventoryID]
        LEFT JOIN [fslkp].[AceTypes] AS at
            ON ace.[AccessControlType] = at.[TypeValue]
        LEFT JOIN [fslkp].[InheritanceFlags] AS ihf
            ON ace.[InheritanceFlags] = ihf.[FlagValue]
        LEFT JOIN [fslkp].[PropagationFlags] AS pf
            ON ace.[PropagationFlags] = pf.[FlagValue];
        
GO
