USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[vw_DiskSummary]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE   VIEW [fsapp].[vw_DiskSummary] AS
        SELECT
            d.[InventoryID],
            d.[DiskID],
            d.[DeviceID],
            d.[Model],
            d.[InterfaceType],
            d.[Size],
            d.[PartitionStyle],
            d.[IsBoot],
            d.[IsSystem],
            d.[IsReadOnly],
            d.[Status],
            COUNT(DISTINCT p.[PartitionID]) AS PartitionCount,
            COUNT(DISTINCT v.[VolumeID])    AS DirectVolumeCount
        FROM [fsapp].[Disks] AS d
        LEFT JOIN [fsapp].[Partitions] AS p
            ON p.[InventoryID] = d.[InventoryID]
           AND p.[DiskID] = d.[DiskID]
        LEFT JOIN [fsapp].[Volumes] AS v
            ON v.[InventoryID] = d.[InventoryID]
           AND v.[DiskID] = d.[DiskID]
        GROUP BY
            d.[InventoryID],
            d.[DiskID],
            d.[DeviceID],
            d.[Model],
            d.[InterfaceType],
            d.[Size],
            d.[PartitionStyle],
            d.[IsBoot],
            d.[IsSystem],
            d.[IsReadOnly],
            d.[Status];
        
GO
