USE [NTFSPerms]
GO
/****** Object:  Table [fsapp].[ACE]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fsapp].[ACE](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[LocalACEID] [int] NOT NULL,
	[LocalFolderID] [int] NOT NULL,
	[FileSystemRightsMask] [int] NOT NULL,
	[AccessControlType] [int] NOT NULL,
	[IdentitySID] [int] NOT NULL,
	[IsInherited] [bit] NOT NULL,
	[InheritanceFlags] [int] NOT NULL,
	[PropagationFlags] [int] NOT NULL,
	[InheritedFromLocalID] [int] NULL,
 CONSTRAINT [PK_app_ACE] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[LocalACEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fsapp].[ACE]  WITH CHECK ADD  CONSTRAINT [FK_app_ACE_Folders] FOREIGN KEY([InventoryID], [LocalFolderID])
REFERENCES [fsapp].[Folders] ([InventoryID], [LocalFolderID])
GO
ALTER TABLE [fsapp].[ACE] CHECK CONSTRAINT [FK_app_ACE_Folders]
GO
ALTER TABLE [fsapp].[ACE]  WITH CHECK ADD  CONSTRAINT [FK_app_ACE_InheritedFrom] FOREIGN KEY([InventoryID], [InheritedFromLocalID])
REFERENCES [fsapp].[Folders] ([InventoryID], [LocalFolderID])
GO
ALTER TABLE [fsapp].[ACE] CHECK CONSTRAINT [FK_app_ACE_InheritedFrom]
GO
ALTER TABLE [fsapp].[ACE]  WITH CHECK ADD  CONSTRAINT [FK_app_ACE_SIDs] FOREIGN KEY([InventoryID], [IdentitySID])
REFERENCES [fsapp].[SIDs] ([InventoryID], [SidID])
GO
ALTER TABLE [fsapp].[ACE] CHECK CONSTRAINT [FK_app_ACE_SIDs]
GO
