USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[v_Stats_DomainSummaryTotals]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [fsapp].[v_Stats_DomainSummaryTotals]
AS
SELECT
    s.InventoryID,
    s.ComputedAt,
    CAST(JSON_VALUE(s.JSONData, '$.summary.totalDomains') AS INT) AS TotalDomains,
    CAST(JSON_VALUE(s.JSONData, '$.summary.totalUniqueSIDs') AS INT) AS TotalUniqueSIDs,
    CAST(JSON_VALUE(s.JSONData, '$.summary.totalExplicitACEs') AS INT) AS TotalExplicitACEs
FROM fsapp.Stats s
WHERE s.Usage = 'DomainSummary';

GO
