USE [NTFSPerms]
GO
/****** Object:  Table [fsapp].[Stats]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fsapp].[Stats](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[Usage] [varchar](50) NOT NULL,
	[JSONData] [nvarchar](max) NOT NULL,
	[ComputedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Stats] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[Usage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fsapp].[Stats] ADD  DEFAULT (sysutcdatetime()) FOR [ComputedAt]
GO
ALTER TABLE [fsapp].[Stats]  WITH CHECK ADD  CONSTRAINT [CHK_Stats_ValidJSON] CHECK  ((isjson([JSONData])=(1)))
GO
ALTER TABLE [fsapp].[Stats] CHECK CONSTRAINT [CHK_Stats_ValidJSON]
GO
