USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[vw_CollectionInfo]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [fsapp].[vw_CollectionInfo] AS
	SELECT [InventoryID]
		,[ComputerName]
		,[DomainName]
		, CONVERT(varchar(19), CAST([CollectionDateTime] AS datetime2), 120) AS [CollectionDate]
		,[ApplicationVersion]
		,[ApplicationBuild]
		,[IsAdmin]
		,[Who]
		,[HardwareConcurrency]
		,[ThreadCount]
		,[StartTime]
		,[EndTime]
		,[TotalRuntime]
		,RIGHT('00' + CAST([TotalRuntime] / 3600 AS VARCHAR), 2) + ':' + RIGHT('00' + CAST(([TotalRuntime] % 3600) / 60 AS VARCHAR), 2) + ':' + RIGHT('00' + CAST([TotalRuntime] % 60 AS VARCHAR), 2) AS RunTimeFormatted
		,[FoldersProcessed]
		,[FoldersWithErrors]
		,[PeakQueueSize]
		,[MemoryUsageMB]
		,[OutputPath]
		,[ScanPath]
		,[RemoteComputer]
		,[ExplicitOnly]
		,CAST(ROUND(CASE 
					WHEN [TotalRuntime] > 0
						THEN [FoldersProcessed] / ([TotalRuntime] / 60.0)
					ELSE NULL
					END, 2) AS DECIMAL(10, 2)) AS ThroughputFoldersPerMinute
	FROM [NTFSPerms].[fsapp].[CollectionInfo];
GO
