USE [NTFSPerms]
GO
/****** Object:  Table [fsapp].[CollectionStats]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fsapp].[CollectionStats](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[FoldersCount] [bigint] NOT NULL,
	[AclCount] [bigint] NOT NULL,
	[AceCount] [bigint] NOT NULL,
	[SidsCount] [bigint] NOT NULL,
	[SmbSharesCount] [bigint] NOT NULL,
	[SmbShareAccessCount] [bigint] NOT NULL,
	[EventLogCount] [bigint] NOT NULL,
	[TotalRecords]  AS (((([FoldersCount]+[AclCount])+[AceCount])+[SidsCount])+[SmbSharesCount]) PERSISTED,
	[ComputedDate] [datetime2](7) NOT NULL,
	[DurationMs] [int] NULL,
 CONSTRAINT [PK_fsapp_CollectionStats] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fsapp].[CollectionStats] ADD  DEFAULT ((0)) FOR [FoldersCount]
GO
ALTER TABLE [fsapp].[CollectionStats] ADD  DEFAULT ((0)) FOR [AclCount]
GO
ALTER TABLE [fsapp].[CollectionStats] ADD  DEFAULT ((0)) FOR [AceCount]
GO
ALTER TABLE [fsapp].[CollectionStats] ADD  DEFAULT ((0)) FOR [SidsCount]
GO
ALTER TABLE [fsapp].[CollectionStats] ADD  DEFAULT ((0)) FOR [SmbSharesCount]
GO
ALTER TABLE [fsapp].[CollectionStats] ADD  DEFAULT ((0)) FOR [SmbShareAccessCount]
GO
ALTER TABLE [fsapp].[CollectionStats] ADD  DEFAULT ((0)) FOR [EventLogCount]
GO
ALTER TABLE [fsapp].[CollectionStats] ADD  DEFAULT (sysutcdatetime()) FOR [ComputedDate]
GO
