USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[vw_TableRowCounts]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


        CREATE     VIEW [fsapp].[vw_TableRowCounts] AS
        SELECT
            s.name AS SchemaName,
            t.name AS TableName,
            SUM(p.rows) AS [RowCount]
        FROM
            sys.schemas s
        JOIN
            sys.tables t ON s.schema_id = t.schema_id
        JOIN
            sys.partitions p ON t.object_id = p.object_id
        WHERE
            s.name IN ('fssimport', 'fsapp','addata','adimport')
            AND p.index_id IN (0, 1)
        GROUP BY
            s.name, t.name;
        
GO
