USE [NTFSPerms]
GO
/****** Object:  UserDefinedFunction [fsapp].[fn_GetSidDomainComponent]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [fsapp].[fn_GetSidDomainComponent]
(
    @SidString NVARCHAR(200)
)
RETURNS NVARCHAR(200)
WITH SCHEMABINDING
AS
BEGIN
    IF @SidString IS NULL
        RETURN NULL;

    -- Find the position of the last hyphen
    DECLARE @LastHyphenPos INT;
    SET @LastHyphenPos = LEN(@SidString) - CHARINDEX('-', REVERSE(@SidString)) + 1;

    -- If no hyphen found or SID is too short, return as-is
    IF @LastHyphenPos <= 0 OR CHARINDEX('-', @SidString) = 0
        RETURN @SidString;

    -- Return everything before the last hyphen (the domain component)
    RETURN LEFT(@SidString, @LastHyphenPos - 1);
END;

GO
