USE [NTFSPerms]
GO
/****** Object:  UserDefinedFunction [fsapp].[fn_BinarySidToString]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [fsapp].[fn_BinarySidToString]
(
    @BinarySid VARBINARY(85)
)
RETURNS NVARCHAR(200)
WITH SCHEMABINDING
AS
BEGIN
    IF @BinarySid IS NULL
        RETURN NULL;

    DECLARE @SidString NVARCHAR(200);

    -- Build the SID string: S-{revision}-{authority}-{sub-auth1}-{sub-auth2}-...
    SET @SidString =
        -- Revision (byte 0)
        'S-' + CAST(CAST(SUBSTRING(@BinarySid, 1, 1) AS INT) AS VARCHAR(10)) + '-' +
        -- Identifier Authority (bytes 2-7, big-endian 48-bit value)
        CAST(
            CAST(SUBSTRING(@BinarySid, 3, 1) AS BIGINT) * 1099511627776 +  -- 2^40
            CAST(SUBSTRING(@BinarySid, 4, 1) AS BIGINT) * 4294967296 +     -- 2^32
            CAST(SUBSTRING(@BinarySid, 5, 1) AS BIGINT) * 16777216 +       -- 2^24
            CAST(SUBSTRING(@BinarySid, 6, 1) AS BIGINT) * 65536 +          -- 2^16
            CAST(SUBSTRING(@BinarySid, 7, 1) AS BIGINT) * 256 +            -- 2^8
            CAST(SUBSTRING(@BinarySid, 8, 1) AS BIGINT)
        AS VARCHAR(20)) +
        -- Sub-authority 1 (bytes 9-12, little-endian)
        CASE WHEN LEN(@BinarySid) > 8 THEN
            '-' + CAST(
                CAST(SUBSTRING(@BinarySid, 12, 1) AS BIGINT) * 16777216 +
                CAST(SUBSTRING(@BinarySid, 11, 1) AS BIGINT) * 65536 +
                CAST(SUBSTRING(@BinarySid, 10, 1) AS BIGINT) * 256 +
                CAST(SUBSTRING(@BinarySid, 9, 1) AS BIGINT)
            AS VARCHAR(20))
        ELSE '' END +
        -- Sub-authority 2 (bytes 13-16, little-endian)
        CASE WHEN LEN(@BinarySid) > 12 THEN
            '-' + CAST(
                CAST(SUBSTRING(@BinarySid, 16, 1) AS BIGINT) * 16777216 +
                CAST(SUBSTRING(@BinarySid, 15, 1) AS BIGINT) * 65536 +
                CAST(SUBSTRING(@BinarySid, 14, 1) AS BIGINT) * 256 +
                CAST(SUBSTRING(@BinarySid, 13, 1) AS BIGINT)
            AS VARCHAR(20))
        ELSE '' END +
        -- Sub-authority 3 (bytes 17-20, little-endian)
        CASE WHEN LEN(@BinarySid) > 16 THEN
            '-' + CAST(
                CAST(SUBSTRING(@BinarySid, 20, 1) AS BIGINT) * 16777216 +
                CAST(SUBSTRING(@BinarySid, 19, 1) AS BIGINT) * 65536 +
                CAST(SUBSTRING(@BinarySid, 18, 1) AS BIGINT) * 256 +
                CAST(SUBSTRING(@BinarySid, 17, 1) AS BIGINT)
            AS VARCHAR(20))
        ELSE '' END +
        -- Sub-authority 4 (bytes 21-24, little-endian)
        CASE WHEN LEN(@BinarySid) > 20 THEN
            '-' + CAST(
                CAST(SUBSTRING(@BinarySid, 24, 1) AS BIGINT) * 16777216 +
                CAST(SUBSTRING(@BinarySid, 23, 1) AS BIGINT) * 65536 +
                CAST(SUBSTRING(@BinarySid, 22, 1) AS BIGINT) * 256 +
                CAST(SUBSTRING(@BinarySid, 21, 1) AS BIGINT)
            AS VARCHAR(20))
        ELSE '' END +
        -- Sub-authority 5 (bytes 25-28, little-endian) - common for domain SIDs
        CASE WHEN LEN(@BinarySid) > 24 THEN
            '-' + CAST(
                CAST(SUBSTRING(@BinarySid, 28, 1) AS BIGINT) * 16777216 +
                CAST(SUBSTRING(@BinarySid, 27, 1) AS BIGINT) * 65536 +
                CAST(SUBSTRING(@BinarySid, 26, 1) AS BIGINT) * 256 +
                CAST(SUBSTRING(@BinarySid, 25, 1) AS BIGINT)
            AS VARCHAR(20))
        ELSE '' END;

    RETURN @SidString;
END;

GO
