USE [NTFSPerms]
GO
/****** Object:  Table [fsapp].[ACL]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fsapp].[ACL](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[LocalACLID] [int] NOT NULL,
	[LocalFolderID] [int] NOT NULL,
	[Owner] [int] NULL,
	[Group] [int] NULL,
	[AreAccessRulesProtected] [bit] NOT NULL,
	[AreAuditRulesProtected] [bit] NOT NULL,
	[AreAccessRulesCanonical] [bit] NOT NULL,
	[AreAuditRulesCanonical] [bit] NOT NULL,
 CONSTRAINT [PK_app_ACL] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[LocalACLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fsapp].[ACL]  WITH CHECK ADD  CONSTRAINT [FK_app_ACL_Folders] FOREIGN KEY([InventoryID], [LocalFolderID])
REFERENCES [fsapp].[Folders] ([InventoryID], [LocalFolderID])
GO
ALTER TABLE [fsapp].[ACL] CHECK CONSTRAINT [FK_app_ACL_Folders]
GO
ALTER TABLE [fsapp].[ACL]  WITH CHECK ADD  CONSTRAINT [FK_app_ACL_Group] FOREIGN KEY([InventoryID], [Group])
REFERENCES [fsapp].[SIDs] ([InventoryID], [SidID])
GO
ALTER TABLE [fsapp].[ACL] CHECK CONSTRAINT [FK_app_ACL_Group]
GO
ALTER TABLE [fsapp].[ACL]  WITH CHECK ADD  CONSTRAINT [FK_app_ACL_Owner] FOREIGN KEY([InventoryID], [Owner])
REFERENCES [fsapp].[SIDs] ([InventoryID], [SidID])
GO
ALTER TABLE [fsapp].[ACL] CHECK CONSTRAINT [FK_app_ACL_Owner]
GO
