USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[v_Stats_TableCountsTotals]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [fsapp].[v_Stats_TableCountsTotals]
AS
SELECT
    s.InventoryID,
    s.ComputedAt,
    JSON_VALUE(s.JSONData, '$.source') AS Source,
    CAST(JSON_VALUE(s.JSONData, '$.summary.totalTables') AS INT) AS TotalTables,
    CAST(JSON_VALUE(s.JSONData, '$.summary.totalRows') AS BIGINT) AS TotalRows
FROM fsapp.Stats s
WHERE s.Usage = 'TableCounts';

GO
