USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[vw_FolderAttributes]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE   VIEW [fsapp].[vw_FolderAttributes] AS
        SELECT
            f.[InventoryID],
            f.[LocalFolderID],
            f.[ParentFolderID],
            f.[Path],
            f.[VolumeID],
            f.[CreationTime],
            f.[LastWriteTime],
            f.[LastAccessTime],
            f.[Attributes],
            CASE WHEN (f.[Attributes] & 1) = 1 THEN 1 ELSE 0 END AS IsReadOnly,
            CASE WHEN (f.[Attributes] & 2) = 2 THEN 1 ELSE 0 END AS IsHidden,
            CASE WHEN (f.[Attributes] & 4) = 4 THEN 1 ELSE 0 END AS IsSystem,
            CASE WHEN (f.[Attributes] & 16) = 16 THEN 1 ELSE 0 END AS IsDirectory,
            CASE WHEN (f.[Attributes] & 32) = 32 THEN 1 ELSE 0 END AS IsArchive,
            CASE WHEN (f.[Attributes] & 64) = 64 THEN 1 ELSE 0 END AS IsDevice,
            CASE WHEN (f.[Attributes] & 128) = 128 THEN 1 ELSE 0 END AS IsNormal,
            CASE WHEN (f.[Attributes] & 256) = 256 THEN 1 ELSE 0 END AS IsTemporary,
            CASE WHEN (f.[Attributes] & 512) = 512 THEN 1 ELSE 0 END AS IsSparseFile,
            CASE WHEN (f.[Attributes] & 1024) = 1024 THEN 1 ELSE 0 END AS IsReparsePoint,
            CASE WHEN (f.[Attributes] & 2048) = 2048 THEN 1 ELSE 0 END AS IsCompressed,
            CASE WHEN (f.[Attributes] & 4096) = 4096 THEN 1 ELSE 0 END AS IsOffline,
            CASE WHEN (f.[Attributes] & 8192) = 8192 THEN 1 ELSE 0 END AS IsNotContentIndexed,
            CASE WHEN (f.[Attributes] & 16384) = 16384 THEN 1 ELSE 0 END AS IsEncrypted,
            CASE WHEN (f.[Attributes] & 32768) = 32768 THEN 1 ELSE 0 END AS IsIntegrityStream,
            CASE WHEN (f.[Attributes] & 65536) = 65536 THEN 1 ELSE 0 END AS IsVirtual,
            CASE WHEN (f.[Attributes] & 131072) = 131072 THEN 1 ELSE 0 END AS IsNoScrubData,
            CASE WHEN (f.[Attributes] & 262144) = 262144 THEN 1 ELSE 0 END AS IsRecallOnOpen,
            CASE WHEN (f.[Attributes] & 524288) = 524288 THEN 1 ELSE 0 END AS IsPinned,
            CASE WHEN (f.[Attributes] & 1048576) = 1048576 THEN 1 ELSE 0 END AS IsUnpinned,
            CASE WHEN (f.[Attributes] & 4194304) = 4194304 THEN 1 ELSE 0 END AS IsRecallOnDataAccess,
            CASE WHEN (f.[Attributes] & 6) = 6 THEN 1 ELSE 0 END AS IsHiddenSystem,
            CASE WHEN (f.[Attributes] & 18432) = 18432 THEN 1 ELSE 0 END AS IsCompressedAndEncrypted
        FROM [fsapp].[Folders] AS f;
        
GO
