USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[v_Stats_DomainSummary]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [fsapp].[v_Stats_DomainSummary]
AS
SELECT
    s.InventoryID,
    s.ComputedAt,
    d.domainSID AS DomainSID,
    d.domainName AS DomainName,
    d.netBIOSName AS NetBIOSName,
    d.uniqueSIDCount AS UniqueSIDCount,
    d.explicitACECount AS ExplicitACECount
FROM fsapp.Stats s
CROSS APPLY OPENJSON(s.JSONData, '$.domains') WITH (
    domainSID NVARCHAR(200) '$.domainSID',
    domainName NVARCHAR(255) '$.domainName',
    netBIOSName NVARCHAR(50) '$.netBIOSName',
    uniqueSIDCount INT '$.uniqueSIDCount',
    explicitACECount INT '$.explicitACECount'
) d
WHERE s.Usage = 'DomainSummary';

GO
