USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[v_Stats_TableCounts]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [fsapp].[v_Stats_TableCounts]
AS
SELECT
    s.InventoryID,
    s.ComputedAt,
    t.tableName AS TableName,
    t.[rowCount] AS RowCnt
FROM fsapp.Stats s
CROSS APPLY OPENJSON(s.JSONData, '$.tables') WITH (
    tableName NVARCHAR(100) '$.tableName',
    [rowCount] BIGINT '$.rowCount'
) t
WHERE s.Usage = 'TableCounts';

GO
