USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[vw_CollectionStatsWithInfo]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [fsapp].[vw_CollectionStatsWithInfo] AS
SELECT
    ci.InventoryID,
    ci.ComputerName,
    ci.ScanPath,
    ci.CollectionDateTime,
    ci.ApplicationVersion,
    ISNULL(cs.FoldersCount, 0) AS FoldersCount,
    ISNULL(cs.AclCount, 0) AS AclCount,
    ISNULL(cs.AceCount, 0) AS AceCount,
    ISNULL(cs.SidsCount, 0) AS SidsCount,
    ISNULL(cs.SmbSharesCount, 0) AS SmbSharesCount,
    ISNULL(cs.TotalRecords, 0) AS TotalRecords,
    cs.ComputedDate AS StatsComputedDate
FROM fsapp.CollectionInfo ci
LEFT JOIN fsapp.CollectionStats cs ON ci.InventoryID = cs.InventoryID
WHERE ci.InventoryID <> '00000000-0000-0000-0000-000000000000';

GO
