USE [NTFSPerms]
GO
/****** Object:  Table [fsapp].[VolumeMounts]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fsapp].[VolumeMounts](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[VolumeID] [int] NOT NULL,
	[MountPoint] [nvarchar](260) NOT NULL,
 CONSTRAINT [PK_app_VolumeMounts] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[VolumeID] ASC,
	[MountPoint] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fsapp].[VolumeMounts]  WITH CHECK ADD  CONSTRAINT [FK_app_VolumeMounts_Volumes] FOREIGN KEY([InventoryID], [VolumeID])
REFERENCES [fsapp].[Volumes] ([InventoryID], [VolumeID])
ON DELETE CASCADE
GO
ALTER TABLE [fsapp].[VolumeMounts] CHECK CONSTRAINT [FK_app_VolumeMounts_Volumes]
GO
