USE [NTFSPerms]
GO
/****** Object:  Table [fsapp].[EventLog]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fsapp].[EventLog](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetimeoffset](3) NOT NULL,
	[Severity] [varchar](20) NOT NULL,
	[Source] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Path] [nvarchar](4000) NULL,
	[ErrorCode] [int] NULL,
	[ThreadID] [int] NULL,
	[AdditionalData] [nvarchar](max) NULL,
 CONSTRAINT [PK_app_EventLog] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
