USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[vw_FolderPermissionSummary]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [fsapp].[vw_FolderPermissionSummary] AS

/****** 
    View: [fsapp].[vw_FolderPermissionSummary]
    Description: 
        Summarizes permission data (ACE - Access Control Entries) per folder in the system. 
        Reports total number of permissions, and breaks them down into inherited and explicit ones.
        Only includes folders that have at least one explicit permission entry.

    Created: 2025-12-01
    Author: Pete Demers
******/

SELECT
    f.InventoryID,                          -- Identifier of the system or file inventory
    f.[Path] AS FolderPath,                 -- Path of the folder for which permissions are summarized

    COUNT(*) AS TotalPermissions,          -- Total number of permissions (ACE entries) for this folder

    -- Count of inherited permissions (IsInherited = 1)
    SUM(CASE WHEN a.IsInherited = 1 THEN 1 ELSE 0 END) AS InheritedCount,

    -- Count of explicit permissions (IsInherited = 0)
    SUM(CASE WHEN a.IsInherited = 0 THEN 1 ELSE 0 END) AS ExplicitCount

FROM [fsapp].[ACE] a
INNER JOIN [fsapp].[Folders] f
    ON f.InventoryID = a.InventoryID
   AND f.LocalFolderID = a.LocalFolderID    -- Join on folder identity within a given inventory

-- Only include folders that have at least one explicit (non-inherited) ACE
WHERE EXISTS (
    SELECT 1
    FROM [fsapp].[ACE] x
    WHERE x.InventoryID = a.InventoryID
      AND x.LocalFolderID = a.LocalFolderID
      AND x.IsInherited = 0
)

GROUP BY f.InventoryID, f.[Path];           -- Group by folder to aggregate permission counts
GO
