USE [NTFSPerms]
GO
/****** Object:  UserDefinedFunction [fsapp].[fn_IsWellKnownSid]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [fsapp].[fn_IsWellKnownSid]
(
    @SidString NVARCHAR(200)
)
RETURNS BIT
WITH SCHEMABINDING
AS
BEGIN
    IF @SidString IS NULL
        RETURN NULL;

    -- Check exact matches first (IsPrefix = 0)
    IF EXISTS (
        SELECT 1 FROM fslkp.WellKnownSIDs
        WHERE IsPrefix = 0 AND SID_Pattern = @SidString
    )
        RETURN 1;

    -- Check prefix patterns (IsPrefix = 1, using LIKE)
    IF EXISTS (
        SELECT 1 FROM fslkp.WellKnownSIDs
        WHERE IsPrefix = 1 AND @SidString LIKE SID_Pattern
    )
        RETURN 1;

    RETURN 0;
END;

GO
