USE [NTFSPerms]
GO
/****** Object:  View [fsapp].[vw_Volumes]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

        CREATE   VIEW [fsapp].[vw_Volumes] AS
        SELECT
            v.[InventoryID],
            v.[VolumeID],
            v.[Label],
            v.[FileSystem],
            v.[Size],
            v.[FreeSpace],
            v.[IsSystem],
            v.[IsReadOnly],
            v.[Status],
            v.[UniqueID],
            v.[AllocationUnitSize],
            v.[DriveType],
            dt.[TypeName]    AS DriveTypeName,
            dt.[Description] AS DriveTypeDesc,
            v.[IsEncrypted],
            v.[IsCompressed],
            v.[ShadowCopyEnabled],
            v.[ShadowCopyStorageMax]
        FROM [fsapp].[Volumes] AS v
        LEFT JOIN [fslkp].[DriveTypes] AS dt
            ON v.[DriveType] = dt.[DriveType];
        
GO
