USE [NTFSPerms]
GO
/****** Object:  Table [fslkp].[InheritanceFlags]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fslkp].[InheritanceFlags](
	[FlagValue] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[IsObjectInherit] [bit] NOT NULL,
	[IsContainerInherit] [bit] NOT NULL,
	[IsNoPropagate] [bit] NOT NULL,
	[IsInheritOnly] [bit] NOT NULL,
	[IsInherited] [bit] NOT NULL,
 CONSTRAINT [PK_lkp_InheritanceFlags] PRIMARY KEY CLUSTERED 
(
	[FlagValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
