USE [NTFSPerms]
GO
/****** Object:  Table [fslkp].[AceTypes]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fslkp].[AceTypes](
	[TypeValue] [int] NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[IsSupported] [bit] NOT NULL,
 CONSTRAINT [PK_lkp_AceTypes] PRIMARY KEY CLUSTERED 
(
	[TypeValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [fslkp].[AceTypes] ADD  DEFAULT ((0)) FOR [IsSupported]
GO
