USE [NTFSPerms]
GO
/****** Object:  Table [fslkp].[ShareAvailabilityTypes]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fslkp].[ShareAvailabilityTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeValue] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_lkp_ShareAvailabilityTypes] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
