USE [NTFSPerms]
GO
/****** Object:  Table [fslkp].[MBR_Type]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fslkp].[MBR_Type](
	[MBR_Type] [int] NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[FileSystem] [nvarchar](20) NULL,
 CONSTRAINT [PK_lkp_MBR_Type] PRIMARY KEY CLUSTERED 
(
	[MBR_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
