USE [NTFSPerms]
GO
/****** Object:  Table [fslkp].[WellKnownSIDs]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fslkp].[WellKnownSIDs](
	[SID_Pattern] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsPrefix] [bit] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_WellKnownSIDs] PRIMARY KEY CLUSTERED 
(
	[SID_Pattern] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WellKnownSIDs_Category]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_WellKnownSIDs_Category] ON [fslkp].[WellKnownSIDs]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [fslkp].[WellKnownSIDs] ADD  DEFAULT ((0)) FOR [IsPrefix]
GO
