USE [NTFSPerms]
GO
/****** Object:  Table [fssimport].[ACE]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fssimport].[ACE](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[LocalACEID] [int] NOT NULL,
	[LocalFolderID] [int] NOT NULL,
	[FileSystemRightsMask] [int] NOT NULL,
	[AccessControlType] [int] NOT NULL,
	[IdentitySID] [int] NOT NULL,
	[IsInherited] [bit] NOT NULL,
	[InheritanceFlags] [int] NOT NULL,
	[PropagationFlags] [int] NOT NULL,
	[InheritedFromLocalID] [int] NULL,
 CONSTRAINT [PK_import_ACE] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[LocalACEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
/****** Object:  Index [IX_fssimport_ACE_IdentitySID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_fssimport_ACE_IdentitySID] ON [fssimport].[ACE]
(
	[InventoryID] ASC,
	[IdentitySID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [ps_InventoryID]([InventoryID])
GO
/****** Object:  Index [IX_fssimport_ACE_LocalFolderID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_fssimport_ACE_LocalFolderID] ON [fssimport].[ACE]
(
	[InventoryID] ASC,
	[LocalFolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [ps_InventoryID]([InventoryID])
GO
