USE [NTFSPerms]
GO
/****** Object:  Table [fssimport].[CollectionInfo]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fssimport].[CollectionInfo](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[ComputerName] [nvarchar](16) NOT NULL,
	[DomainName] [nvarchar](256) NOT NULL,
	[CollectionDateTime] [datetimeoffset](3) NOT NULL,
	[ApplicationVersion] [nvarchar](20) NOT NULL,
	[ApplicationBuild] [nvarchar](20) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[Who] [nvarchar](64) NOT NULL,
	[HardwareConcurrency] [int] NOT NULL,
	[ThreadCount] [int] NOT NULL,
	[StartTime] [datetimeoffset](3) NOT NULL,
	[EndTime] [datetimeoffset](3) NULL,
	[TotalRuntime] [int] NULL,
	[FoldersProcessed] [int] NULL,
	[FoldersWithErrors] [int] NULL,
	[PeakQueueSize] [int] NULL,
	[MemoryUsageMB] [int] NULL,
	[OutputPath] [nvarchar](4000) NULL,
	[ScanPath] [nvarchar](4000) NOT NULL,
	[RemoteComputer] [bit] NOT NULL,
	[ExplicitOnly] [bit] NOT NULL,
 CONSTRAINT [PK_import_CollectionInfo] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[ComputerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fssimport].[CollectionInfo] ADD  DEFAULT ((0)) FOR [RemoteComputer]
GO
ALTER TABLE [fssimport].[CollectionInfo] ADD  DEFAULT ((0)) FOR [ExplicitOnly]
GO
