USE [NTFSPerms]
GO
/****** Object:  Table [fssimport].[SIDs]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fssimport].[SIDs](
	[SidID] [int] NOT NULL,
	[InventoryID] [uniqueidentifier] NOT NULL,
	[Sid] [varbinary](85) NOT NULL,
	[AccountName] [nvarchar](256) NULL,
	[AccountType] [varchar](10) NULL,
	[Description] [nvarchar](500) NULL,
	[IsResolved] [bit] NOT NULL,
	[ResolutionSource] [varchar](20) NULL,
 CONSTRAINT [PK_import_SIDs] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[SidID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
/****** Object:  Index [IX_fssimport_SIDs_SidID]    Script Date: 2/6/2026 9:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_fssimport_SIDs_SidID] ON [fssimport].[SIDs]
(
	[SidID] ASC
)
INCLUDE([InventoryID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fssimport].[SIDs] ADD  DEFAULT ((0)) FOR [IsResolved]
GO
