USE [NTFSPerms]
GO
/****** Object:  Table [fssimport].[VolumeExtents]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fssimport].[VolumeExtents](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[VolumeID] [int] NOT NULL,
	[DiskID] [int] NOT NULL,
	[ExtentIndex] [int] NOT NULL,
	[StartingOffset] [bigint] NOT NULL,
	[ExtentLength] [bigint] NOT NULL,
 CONSTRAINT [PK_import_VolumeExtents] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[VolumeID] ASC,
	[ExtentIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
