USE [NTFSPerms]
GO
/****** Object:  Table [fssimport].[Partitions]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fssimport].[Partitions](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[PartitionID] [int] NOT NULL,
	[DiskID] [int] NOT NULL,
	[PartitionIndex] [int] NOT NULL,
	[StartOffset] [bigint] NOT NULL,
	[LengthBytes] [bigint] NOT NULL,
	[PartitionType] [nvarchar](50) NULL,
	[GPT_GUID] [uniqueidentifier] NULL,
	[MBR_Type] [int] NULL,
	[VolID] [int] NULL,
 CONSTRAINT [PK_import_Partitions] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[PartitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
