USE [NTFSPerms]
GO
/****** Object:  Table [fssimport].[Disks]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fssimport].[Disks](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[DiskID] [int] NOT NULL,
	[DeviceID] [nvarchar](100) NOT NULL,
	[Model] [nvarchar](200) NULL,
	[InterfaceType] [nvarchar](50) NULL,
	[Size] [bigint] NOT NULL,
	[PartitionStyle] [nvarchar](20) NULL,
	[IsBoot] [bit] NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[IsReadOnly] [bit] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_import_Disks] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[DiskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
