USE [NTFSPerms]
GO
/****** Object:  Table [fssimport].[Folders]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fssimport].[Folders](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[LocalFolderID] [int] NOT NULL,
	[ParentFolderID] [int] NULL,
	[Path] [nvarchar](max) NOT NULL,
	[VolumeID] [int] NULL,
	[CreationTime] [datetime2](0) NULL,
	[LastWriteTime] [datetime2](0) NULL,
	[LastAccessTime] [datetime2](0) NULL,
	[Attributes] [int] NULL,
 CONSTRAINT [PK_import_Folders] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[LocalFolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
