USE [NTFSPerms]
GO
/****** Object:  Table [fssimport].[Volumes]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fssimport].[Volumes](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[VolumeID] [int] NOT NULL,
	[DiskID] [int] NULL,
	[Label] [nvarchar](256) NULL,
	[FileSystem] [nvarchar](50) NULL,
	[Size] [bigint] NOT NULL,
	[FreeSpace] [bigint] NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[IsReadOnly] [bit] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[UniqueID] [nvarchar](100) NULL,
	[AllocationUnitSize] [bigint] NULL,
	[DriveType] [int] NULL,
	[IsEncrypted] [bit] NOT NULL,
	[IsCompressed] [bit] NOT NULL,
	[ShadowCopyEnabled] [bit] NOT NULL,
	[ShadowCopyStorageMax] [bigint] NULL,
 CONSTRAINT [PK_import_Volumes] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[VolumeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fssimport].[Volumes] ADD  DEFAULT ((0)) FOR [IsEncrypted]
GO
ALTER TABLE [fssimport].[Volumes] ADD  DEFAULT ((0)) FOR [IsCompressed]
GO
ALTER TABLE [fssimport].[Volumes] ADD  DEFAULT ((0)) FOR [ShadowCopyEnabled]
GO
