USE [NTFSPerms]
GO
/****** Object:  Table [fssimport].[SMBShareAccess]    Script Date: 2/6/2026 9:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [fssimport].[SMBShareAccess](
	[InventoryID] [uniqueidentifier] NOT NULL,
	[ShareID] [int] NOT NULL,
	[AccessID] [int] NOT NULL,
	[Trustee] [int] NOT NULL,
	[AccessType] [nvarchar](20) NOT NULL,
	[AccessMask] [int] NOT NULL,
	[IsInherited] [bit] NOT NULL,
 CONSTRAINT [PK_import_SMBShareAccess] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC,
	[ShareID] ASC,
	[AccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [ps_InventoryID]([InventoryID])
) ON [ps_InventoryID]([InventoryID])
GO
ALTER TABLE [fssimport].[SMBShareAccess] ADD  DEFAULT ((0)) FOR [IsInherited]
GO
