USE [SUSDB_Reports]
GO
/****** Object:  UserDefinedFunction [dbo].[IsValidGUID]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IsValidGUID] (@guid NVARCHAR(36))
RETURNS BIT
AS
BEGIN
    RETURN CASE
        WHEN @guid LIKE REPLICATE('[0-9A-Fa-f]', 8) + '-' +
                         REPLICATE('[0-9A-Fa-f]', 4) + '-' +
                         REPLICATE('[0-9A-Fa-f]', 4) + '-' +
                         REPLICATE('[0-9A-Fa-f]', 4) + '-' +
                         REPLICATE('[0-9A-Fa-f]', 12)
        THEN 1
        ELSE 0
    END
END
GO
