USE [SUSDB_Reports]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ExtractDomain]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ExtractDomain] (@FQDN NVARCHAR(255))
RETURNS NVARCHAR(255)
AS
BEGIN
    DECLARE @Result NVARCHAR(255);
    -- Check if there is a dot in the FQDN
    IF CHARINDEX('.', @FQDN) = 0
    BEGIN
        SET @Result = 'No Domain';
    END
    ELSE
    BEGIN
        -- Extract everything after the first dot
        SET @Result = RIGHT(@FQDN, LEN(@FQDN) - CHARINDEX('.', @FQDN));
    END
    RETURN @Result;
END;
GO
