USE [SUSDB_Reports]
GO
/****** Object:  UserDefinedFunction [dbo].[IsValidIPAddress]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[IsValidIPAddress] (@ipAddress NVARCHAR(15))
RETURNS BIT
AS
BEGIN
    --PRINT 'Validating IP Address: ' + @ipAddress

    -- Check if the pattern is correct: digit(s) followed by dot, repeated three times, and ending with digit(s).
    IF @ipAddress NOT LIKE '[0-9]%.[0-9]%.[0-9]%.[0-9]%'
    BEGIN
        --PRINT 'Invalid pattern'
		RETURN 0
    END
    ELSE
    BEGIN
        DECLARE @octet1 INT, @octet2 INT, @octet3 INT, @octet4 INT
        SELECT @octet1 = CAST(PARSENAME(@ipAddress, 4) AS INT),
               @octet2 = CAST(PARSENAME(@ipAddress, 3) AS INT),
               @octet3 = CAST(PARSENAME(@ipAddress, 2) AS INT),
               @octet4 = CAST(PARSENAME(@ipAddress, 1) AS INT)

        IF @octet1 BETWEEN 0 AND 255
           AND @octet2 BETWEEN 0 AND 255
           AND @octet3 BETWEEN 0 AND 255
           AND @octet4 BETWEEN 0 AND 255
        BEGIN
            --PRINT 'Valid IP Address'
			RETURN 1
        END
        ELSE
        BEGIN
            --PRINT 'Invalid IP Address'
			RETURN 0
        END
    END

	-- Default return (in case of unexpected behavior)
    RETURN 0
END
GO
