USE [SUSDB_Reports]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetSummarizationState]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fn_GetSummarizationState] (@ActionID INT)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @ActionName NVARCHAR(50)

    SELECT @ActionName = CASE @ActionID
        WHEN 0 THEN 'No Status'
        WHEN 1 THEN 'Not Applicable'
        WHEN 2 THEN 'Not Installed'
        WHEN 3 THEN 'Downloaded'
        WHEN 4 THEN 'Installed'
		WHEN 5 THEN 'Failed'
		WHEN 6 THEN 'Requires Reboot'
        ELSE 'Unknown'
    END

    RETURN @ActionName
END
GO
