USE [SUSDB_Reports]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetLastStartDate]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetLastStartDate](@schedule VARCHAR(100))
RETURNS DATETIME
AS
BEGIN
    DECLARE @nth INT
    DECLARE @dayOfWeek VARCHAR(10)
    DECLARE @startTime VARCHAR(5)
    DECLARE @currentYear INT = YEAR(GETDATE())
    DECLARE @currentMonth INT = MONTH(GETDATE())
    DECLARE @daysInMonth INT = DAY(EOMONTH(GETDATE()))
    DECLARE @firstDayOfMonth DATETIME = CAST(CAST(@currentYear AS VARCHAR) + '-' + CAST(@currentMonth AS VARCHAR) + '-01' AS DATETIME)
    DECLARE @dayOfWeekInt INT
    DECLARE @counter INT = 0
    DECLARE @targetDate DATETIME

    -- Extracting components from the schedule string
    --SELECT @nth = LEFT(@schedule, CHARINDEX('-', @schedule) - 1),
           --@schedule = SUBSTRING(@schedule, CHARINDEX('-', @schedule) + 1, LEN(@schedule))
	SELECT @nth = LEFT(@schedule, 1)

    SELECT @dayOfWeek = LEFT(@schedule, CHARINDEX('-', @schedule) - 1),
           @schedule = SUBSTRING(@schedule, CHARINDEX('-', @schedule) + 1, LEN(@schedule))

    SELECT @startTime = LEFT(@schedule, CHARINDEX('-', @schedule) - 1)

    -- Convert day of week to int (Sunday = 1, Saturday = 7)
    SET @dayOfWeekInt = CASE @dayOfWeek
                            WHEN 'sun' THEN 1
                            WHEN 'mon' THEN 2
                            WHEN 'tue' THEN 3
                            WHEN 'wed' THEN 4
                            WHEN 'thurs' THEN 5
                            WHEN 'fri' THEN 6
                            WHEN 'sat' THEN 7
                            ELSE 0
                        END

    -- Find nth occurrence of the day in the current month
    DECLARE @dateIndex INT = 1
    WHILE @dateIndex <= @daysInMonth AND @counter < @nth
    BEGIN
        IF (DATEPART(WEEKDAY, @firstDayOfMonth) = @dayOfWeekInt)
        BEGIN
            SET @counter = @counter + 1
            IF @counter = @nth
            BEGIN
                SET @targetDate = DATEADD(DAY, @dateIndex - 1, @firstDayOfMonth)
            END
        END
        SET @firstDayOfMonth = DATEADD(DAY, 1, @firstDayOfMonth)
        SET @dateIndex = @dateIndex + 1
    END

    -- Handling cases where the nth occurrence is not found within the current month
    IF @counter < @nth
    BEGIN
        RETURN NULL -- Or handle as needed
    END

    -- Adjust for start time
    RETURN DATEADD(HOUR, CAST(LEFT(@startTime, CHARINDEX('am', @startTime + 'am') - 1) AS INT) % 12 + CASE WHEN RIGHT(@startTime, 2) = 'pm' THEN 12 ELSE 0 END, @targetDate)
END
GO
