USE [SUSDB_Reports]
GO
/****** Object:  UserDefinedFunction [dbo].[RemoveKBAndTrim]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RemoveKBAndTrim] (@input VARCHAR(MAX))
RETURNS VARCHAR(MAX)
AS
BEGIN
    -- Trim the input to remove leading and trailing spaces
    SET @input = LTRIM(RTRIM(@input))

    -- Check if the first two characters are 'KB'
    IF (UPPER(LEFT(@input, 2)) = 'KB')
        -- Remove the first two characters
        SET @input = SUBSTRING(@input, 3, LEN(@input) - 2)

    -- Return the result
    RETURN @input
END
GO
