USE [SUSDB_Reports]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetDeploymentAction]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fn_GetDeploymentAction] (@ActionID INT)
RETURNS NVARCHAR(50)
AS
BEGIN
    DECLARE @ActionName NVARCHAR(50)

    SELECT @ActionName = CASE @ActionID
        WHEN 0 THEN 'None'
        WHEN 1 THEN 'Installation'
        WHEN 2 THEN 'Uninstallation'
        WHEN 3 THEN 'Detection'
        WHEN 4 THEN 'OptionalInstallation'
        ELSE 'Unknown'
    END

    RETURN @ActionName
END
GO
