USE [SUSDB_Reports]
GO
/****** Object:  View [dbo].[vw_Dev_MissingPatches_CountByComputerName]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_Dev_MissingPatches_CountByComputerName]
 AS

SELECT left(tbComputerTarget.FullDomainName, 30) AS [Machine Name]
	,count(tbComputerTarget.FullDomainName) AS [# of Missing patches]
	,tbComputerTarget.LastSyncTime AS [Last Sync Time]
FROM [SUSDB].dbo.tbUpdateStatusPerComputer
INNER JOIN [SUSDB].dbo.tbComputerTarget ON tbUpdateStatusPerComputer.TargetID = tbComputerTarget.TargetID
WHERE (NOT (tbUpdateStatusPerComputer.SummarizationState IN ('1', '4'))) AND tbUpdateStatusPerComputer.LocalUpdateID IN (
		SELECT LocalUpdateID
		FROM [SUSDB].dbo.tbUpdate
		WHERE UpdateID IN (
				SELECT UpdateID
				FROM [SUSDB].PUBLIC_VIEWS.vUpdateApproval
				WHERE Action = 'Install'
				)
		)
GROUP BY tbComputerTarget.FullDomainName
	,tbComputerTarget.LastSyncTime
--ORDER BY COUNT(*) DESC
GO
