USE [SUSDB_Reports]
GO
/****** Object:  View [dbo].[vw_SummaryStatus_Update]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_SummaryStatus_Update]
AS

	WITH Summary
	AS (
		SELECT UpdateId
			,Count(*) AS Total
			,Sum(CASE WHEN STATE = 0 THEN 1 ELSE 0 END) AS NoStatus
			,Sum(CASE WHEN STATE = 1 THEN 1 ELSE 0 END) AS NotApp
			,Sum(CASE WHEN STATE IN (2, 3, 6) THEN 1 ELSE 0 END) AS Needed
			,Sum(CASE WHEN STATE = 4 THEN 1 ELSE 0 END) AS Installed
			,Sum(CASE WHEN STATE = 5 THEN 1 ELSE 0 END) AS Failed
		FROM SUSDB.PUBLIC_VIEWS.vUpdateInstallationInfo
		GROUP BY UpdateId
		)

	SELECT u.[UpdateId]
		,u.[RevisionNumber]
		,u.[DefaultTitle]
		,u.[DefaultDescription]
		,u.[ClassificationId]
		,u.[ArrivalDate]
		,u.[CreationDate]
		,u.[IsDeclined]
		,u.[IsWsusInfrastructureUpdate]
		,u.[MsrcSeverity]
		,u.[PublicationState]
		,u.[UpdateType]
		,u.[UpdateSource]
		,u.[KnowledgebaseArticle]
		,u.[SecurityBulletin]
		,u.[InstallationCanRequestUserInput]
		,u.[InstallationRequiresNetworkConnectivity]
		,u.[InstallationImpact]
		,u.[InstallationRebootBehavior]
		,c.DefaultTitle AS Classification
		,ISNULL(s.NoStatus, 0) AS NoStatus
		,ISNULL(s.NotApp, 0) AS NotApp
		,ISNULL(s.Needed, 0) AS Needed
		,ISNULL(s.Installed, 0) AS Installed
		,ISNULL(s.Failed, 0) AS Failed
	FROM SUSDB.[PUBLIC_VIEWS].[vUpdate] AS u
	LEFT JOIN SUSDB.[PUBLIC_VIEWS].[vClassification] AS c ON u.ClassificationId = c.ClassificationId
	LEFT JOIN Summary AS s ON u.UpdateId = s.UpdateId

GO
