USE [SUSDB_Reports]
GO
/****** Object:  View [dbo].[vw_GetWSUSEvents]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_GetWSUSEvents]
AS
	SELECT EI.[EventInstanceID]
		,EI.[EventID]
		,EMT.MessageTemplate
		,vU.DefaultTitle
		,vCT.Name AS [Client]
		,@@SERVERNAME as WSUSServer
		,ES.DisplayNameString AS [Source]
		,EI.[TimeAtTarget]
		,EI.[TimeAtServer]
		,EI.[Win32HResult]
		,EI.[AppName]
		,EI.[MiscData]
		,EI.[ReplacementStrings]
		,EI.[RevisionNumber]
		,EI.[EventOrdinalNumber]
		,E.[StateID]
		,E.[SeverityID]
		,E.[LogLevel]
		,EN.DisplayNameString AS [EventNameSpace]
		,EI.ComputerID
		,EI.UpdateID
		,CASE 
			WHEN EI.ComputerID IS NULL OR EI.UpdateID IS NULL THEN NULL
			ELSE [dbo].[fn_GetSummarizationState](vUIIB.State) 
		END as State
	FROM [SUSDB].[dbo].[tbEventInstance] AS EI
	LEFT JOIN [SUSDB].[dbo].[tbEventMessageTemplate] AS EMT ON EI.EventID = EMT.EventID
	LEFT JOIN [SUSDB].[PUBLIC_VIEWS].[vComputerTarget] AS vCT ON EI.ComputerID = vCT.ComputerTargetId
	LEFT JOIN [SUSDB].[PUBLIC_VIEWS].[vUpdate] AS vU ON EI.UpdateID = vU.UpdateID
	LEFT JOIN [SUSDB].[dbo].[tbEventSource] AS ES ON EI.[EventNamespaceID] = ES.EventNamespaceID AND EI.[EventSourceID] = ES.EventSourceID
	LEFT JOIN [SUSDB].[dbo].[tbEvent] AS E ON EI.[EventNamespaceID] = E.EventNamespaceID AND EI.[EventID] = E.[EventID]
	LEFT JOIN [SUSDB].[dbo].[tbEventNamespace] AS EN ON EI.[EventNamespaceID] = EN.[EventNamespaceID]
	LEFT JOIN [SUSDB].[PUBLIC_VIEWS].[vUpdateInstallationInfoBasic] vUIIB ON EI.ComputerID = vUIIB.ComputerTargetId AND EI.UpdateID = vUIIB.UpdateId;
GO
