USE [SUSDB_Reports]
GO
/****** Object:  View [dbo].[vw_GetMissingTargetGroups]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_GetMissingTargetGroups]
AS

/****** Use this query to find any requested target groups that do not exist ******/
/****** Need to create method to create new target groups.  May need to be done from the command line ******/

    SELECT DISTINCT Name 
    FROM [SUSDB].[dbo].[tbRequestedTargetGroup] 
    WHERE 
        Name NOT IN ( 
            SELECT Name  
            FROM [SUSDB].[dbo].tbTargetGroup 
            WHERE TargetGroupTypeID = [SUSDB].dbo.fnGetTargetGroupTypeID(N'Computers'));
GO
