USE [SUSDB_Reports]
GO
/****** Object:  View [dbo].[vw_UpdateSummaryByDomain]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_UpdateSummaryByDomain]
AS

	SELECT
	  ComputerDomain as [Domain],
	  COUNT(DISTINCT [ComputerID]) AS [Systems],
	  SUM(CASE WHEN MsrcSeverity = 'Critical' THEN 1 ELSE 0 END) AS Critical,
	  SUM(CASE WHEN MsrcSeverity = 'Important' THEN 1 ELSE 0 END) AS Important,
	  SUM(CASE WHEN MsrcSeverity = 'Moderate' THEN 1 ELSE 0 END) AS Moderate,
	  SUM(CASE WHEN MsrcSeverity = 'Low' THEN 1 ELSE 0 END) AS Low,
	  SUM(CASE WHEN MsrcSeverity = 'Unspecified' THEN 1 ELSE 0 END) AS Unspecified
	FROM [SUSDB_Reports].[dbo].[tb_UpdatesNeededByComputerHistory]
	WHERE DATE >= (
		SELECT CONVERT(DATE, MAX(DATE))
		FROM [SUSDB_Reports].[dbo].[tb_UpdatesNeededByComputerHistory]
	  )
	GROUP BY ComputerDomain;


GO
