USE [SUSDB_Reports]
GO
/****** Object:  View [dbo].[vw_DownstreamServers]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vw_DownstreamServers]
AS

SELECT DSSR.[TargetID]
      ,DST.[AccountName]
      ,DST.[AccountServerID]
      ,DST.[LastSyncTime]
      ,DST.[RollupLastSyncTime]
      ,DST.[LastRollupTime]
      ,DST.[Version]
      ,DST.[IsReplica]
      ,DSSR.[UpdateCount]
      ,DSSR.[DeclinedUpdateCount]
      ,DSSR.[ApprovedUpdateCount]
      ,DSSR.[NotApprovedUpdateCount]
      ,DSSR.[UpdatesWithStaleUpdateApprovalsCount]
      ,DSSR.[ExpiredUpdateCount]
      ,DSSR.[CriticalUpdatesNotApprovedForInstallCount]
      ,DSSR.[WsusUpdatesNotApprovedForInstallCount]
      ,DSSR.[UpdatesWithClientErrorsCount]
      ,DSSR.[UpdatesWithServerErrorsCount]
      ,DSSR.[UpdatesNeedingFilesCount]
      ,DSSR.[UpdatesNeededByComputersCount]
      ,DSSR.[UpdatesUpToDateCount]
      ,DSSR.[CustomComputerTargetGroupCount]
      ,DSSR.[ComputerTargetCount]
      ,DSSR.[ComputerTargetsNeedingUpdatesCount]
      ,DSSR.[ComputerTargetsWithUpdateErrorsCount]
      ,DSSR.[ComputersUpToDateCount]
FROM [SUSDB].[dbo].[tbDownstreamServerTarget] as DST
LEFT JOIN  [SUSDB].[dbo].[tbDownstreamServerSummaryRollup] AS DSSR ON DST.TargetID = DSSR.TargetID

GO
