USE [SUSDB_Reports]
GO
/****** Object:  View [dbo].[vw_SummaryStatus_Computer]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_SummaryStatus_Computer] AS
WITH cteUpdateInstallationInfo AS (
    SELECT u.UpdateID
        ,ct.ComputerID
        ,(
            CASE WHEN usc.SummarizationState IS NULL
                    OR usc.SummarizationState = 1 
                    THEN (CASE WHEN ISNULL(u.LastUndeclinedTime, u.ImportedTime) < ct.EffectiveLastDetectionTime THEN 1 ELSE 0 END) 
                    ELSE usc.SummarizationState END
            ) AS STATE
    FROM SUSDB.dbo.tbUpdate AS u
    INNER JOIN SUSDB.dbo.tbRevision AS r ON u.LocalUpdateID = r.LocalUpdateID AND r.IsLatestRevision = 1
    INNER JOIN SUSDB.dbo.tbProperty AS p ON r.RevisionID = p.RevisionID AND p.ExplicitlyDeployable = 1
    CROSS JOIN SUSDB.dbo.tbComputerTarget AS ct
    LEFT JOIN SUSDB.dbo.tbUpdateStatusPerComputer AS usc ON u.LocalUpdateID = usc.LocalUpdateID AND ct.TargetID = usc.TargetID
    WHERE u.IsHidden = 0
),
Summary AS (
    SELECT ComputerId
        ,Count(*) AS Total
        ,Sum(CASE WHEN STATE = 0 THEN 1 ELSE 0 END) AS NoStatus
        ,Sum(CASE WHEN STATE = 1 THEN 1 ELSE 0 END) AS NotApp
        ,Sum(CASE WHEN STATE IN (2, 3, 6) THEN 1 ELSE 0 END) AS Needed
        ,Sum(CASE WHEN STATE = 4 THEN 1 ELSE 0 END) AS Installed
        ,Sum(CASE WHEN STATE = 5 THEN 1 ELSE 0 END) AS Failed
    FROM cteUpdateInstallationInfo
    GROUP BY ComputerId
)

SELECT ct.ComputerId
    ,ct.FullDomainName
    ,ct.IPAddress
    ,tg.Name AS TargetGroupName
    ,Total
    ,NoStatus
    ,NotApp
    ,Needed
    ,Failed
    ,Installed
    ,EffectiveLastDetectionTime
	,ct.LastReportedStatusTime
	,ct.LastSyncTime
    ,LastSyncResult
    ,IsRegistered
    ,OSMajorVersion
	,OSMinorVersion
	,OSBuildNumber
	,OSServicePackMajorNumber
	,OSServicePackMinorNumber
    ,OSLocale
    ,ComputerMake
    ,ComputerModel
    ,BiosVersion
    ,BiosName
    ,BiosReleaseDate
    ,ProcessorArchitecture
	,LastReceivedStatusRollupNumber
	,LastSentStatusRollupNumber
    ,SamplingValue, CreatedTime, SuiteMask, OldProductType, NewProductType, SystemMetrics
    ,ClientVersion
    ,TargetGroupMembershipChanged
    ,OSDescription
    ,OEM
    ,DeviceType
    ,FirmwareVersion
FROM Summary AS s
INNER JOIN SUSDB.dbo.tbComputerTarget AS ct ON ct.ComputerID = s.ComputerId
INNER JOIN SUSDB.dbo.tbComputerTargetDetail ctd ON ctd.TargetId = ct.TargetId
INNER JOIN SUSDB.dbo.tbTargetInTargetGroup tgct ON tgct.TargetId = ct.TargetId
INNER JOIN SUSDB.dbo.tbTargetGroup tg ON tg.TargetGroupId = tgct.TargetGroupId;
GO
