USE [SUSDB_Reports]
GO
/****** Object:  View [dbo].[vw_Dev_MissingPatches_CountByComputerName2]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_Dev_MissingPatches_CountByComputerName2]
 AS

Select tg.Name as ComputerGroup, ct.FullDomainName as ComputerName, Count(*) As Needed
From [SUSDB].dbo.tbComputerTarget AS ct 
Join [SUSDB].dbo.tbComputerTargetDetail ctd on ctd.TargetId = ct.TargetId
Join [SUSDB].dbo.tbTargetInTargetGroup tgct on tgct.TargetId = ct.TargetId
Join [SUSDB].dbo.tbTargetGroup tg on tg.TargetGroupId = tgct.TargetGroupId
Join [SUSDB].dbo.tbUpdateStatusPerComputer as s on ct.TargetID = s.TargetID And SummarizationState In(2,3,6)
Group By tg.Name, ct.FullDomainName;
GO
