USE [SUSDB_Reports]
GO
/****** Object:  View [dbo].[vw_UpdatesNeededByComputer]    Script Date: 5/14/2024 6:24:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_UpdatesNeededByComputer]
AS

	SELECT 
		U.UpdateID,
		vU.DefaultTitle AS UpdateTitle,
		CT.FullDomainName AS ComputerName,
		CT.ComputerID,
		[SUSDB_Reports].[dbo].[fn_GetSummarizationState](USPC.SummarizationState) as SummarizationState,
		vU.[DefaultTitle],
		vU.[DefaultDescription],
		vU.[IsDeclined],
		vU.[MsrcSeverity],
		vU.[UpdateType],
		vU.[SecurityBulletin],
		vU.[InstallationCanRequestUserInput],
		vU.[InstallationRequiresNetworkConnectivity],
		vU.[InstallationImpact],
		vU.[InstallationRebootBehavior],
		vCGM.[ComputerTargetGroupId],
		vUEAPC.[UpdateApprovalId],
		ISNULL(UA.[Action], 'NotApproved') AS Action,
			CASE 
			WHEN CHARINDEX('(', vU.DefaultTitle) > 0 AND CHARINDEX(')', vU.DefaultTitle) > CHARINDEX('(', vU.DefaultTitle)
			THEN SUBSTRING(
				vU.DefaultTitle, 
				CHARINDEX('(', vU.DefaultTitle) + 1, 
				CHARINDEX(')', vU.DefaultTitle) - CHARINDEX('(', vU.DefaultTitle) - 1
			)
			ELSE NULL
		END AS KB,
		TG.Name as TargetGroupName,
		dbo.fn_ExtractDomain(CT.FullDomainName) AS [ComputerDomain]
	FROM SUSDB.dbo.tbUpdate U
	INNER JOIN SUSDB.dbo.tbUpdateStatusPerComputer USPC ON U.LocalUpdateID = USPC.LocalUpdateID
	INNER JOIN SUSDB.dbo.tbComputerTarget CT ON USPC.TargetID = CT.TargetID
	LEFT JOIN SUSDB.[PUBLIC_VIEWS].[vUpdate] as vU ON U.UpdateID = vU.UpdateId
	LEFT JOIN SUSDB.[PUBLIC_VIEWS].[vComputerGroupMembership] as vCGM ON CT.ComputerID = vCGM.ComputerTargetId
	LEFT JOIN SUSDB.[PUBLIC_VIEWS].[vUpdateEffectiveApprovalPerComputer] as vUEAPC ON U.UpdateID = vUEAPC.UpdateId AND CT.ComputerID = vUEAPC.ComputerTargetId
	LEFT JOIN SUSDB.[PUBLIC_VIEWS].[vUpdateApproval] AS UA ON vUEAPC.UpdateApprovalId = UA.[UpdateApprovalId]
	LEFT JOIN [SUSDB].[dbo].[tbTargetGroup] AS TG on TG.TargetGroupID = vCGM.[ComputerTargetGroupId]
	WHERE USPC.SummarizationState IN (2,3,5,6)
		--AND CT.ComputerID = 'd76c95f8-6a8f-4769-b349-af31c53e041b'
		AND vCGM.ComputerTargetGroupId <> 'A0A08746-4DBE-4A37-9ADF-9E7652C0B421' -- exclude the 'All Computers' target group

GO
